[2020-04-14 23:11] CreepySkeleton opened #1825 "Subcommand cannot be preceeded by positional argument if its value is a prefix of a subcommand"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fcbfba45a027cf74524f5a1480f5eac4)

[code]

### Steps to reproduce the issue

Run `cargo run -- ap` (or `ba`, or any other prefix)

### Version

*

[2020-04-15 00:32] casey commented on #1820
Right, but with access to `positional(true)`, they wouldn't need to be two different args, they could be the same arg, and be configured in a single place.

None taken! I think the proposal is relevant, because if you could do `positional(true)` the somewhat error prone duplication could be avoided, and done in a single place.

Here's a concrete example:

[code]

Then, the following would both be

[2020-04-15 06:17] pksunkara commented on #1825
Duplicate of https://github.com/clap-rs/clap/issues/878.

[2020-04-15 06:17] #1825 closed

[2020-04-15 06:19] pksunkara commented on #1823
There is much reason because `help` in `App` is different semantically than `help` in `Arg` which would end up confusing the users. This should fix it and make it consistent.

[2020-04-15 20:26] davidMcneil commented on #1721
@CreepySkeleton could we check if the next token matches a subcommand and if it does stop parsing the argument and instead parse the subcommand? Essentially, remove this [line](https://github.com/clap-rs/clap/blob/4805de02edd10454b7bb9819fdb4ce306c841b2b/src/app/parser.rs#L941). It looks like this used to be the behavior, but was changed due to #1063

My personal opinion is that handling (1) "mult

[2020-04-15 22:02] pksunkara commented on #1721
We are happy to add support for something like this with an AppSetting. But it would have to be something for later and not a priority for 3.0

[2020-04-15 22:28] CreepySkeleton commented on #878
Hm ,weird name. I doubt it's easy since it's a bug in parsing algorithm.

[2020-04-15 22:31] CreepySkeleton commented on #1823
As a compromise, we can rename it but leave the old `help`, deprecating it.

[2020-04-15 22:51] intgr opened #1828 "multiple_values() documentation flat out wrong"
### Clap version

master branch (d210b9fcedba48c997e8e83ce06f0c18dacb8d55)

### Where

https://github.com/clap-rs/clap/blob/master/src/build/arg/mod.rs#L3729-L3777

### What's wrong

The `Arg::multiple_values()` method doc talks about **empty values** instead (?!) is this a copy-paste error?
[code]

PS: I also find the distinction between `MultipleValues` and `MultipleOccurrences` very confusing a

[2020-04-15 22:57] pksunkara commented on #1828
There's another issue for that #1026

[2020-04-16 00:58] CreepySkeleton commented on #1721
If we remove that line, positional with multiple values would stop working at all; the logic over there looks far more complicated.

1. I believe, when it comes to defaults, this kind of decisions should not be based on personal opinions, yours and mine all the same. For example, my experience is exactly contrary here.

2. *This* is a good argument.

I'd go for changing the default behavior (becau

[2020-04-16 06:14] pksunkara commented on #1721
I wouldn't change the default but introduce an `AppSetting`. I feel the default should be how it is behaving now.

[2020-04-16 07:24] CreepySkeleton commented on #1721
Maybe we should conduct a survey of sorts? Ask on users forum or something, "Here's the problem, which default would you like and why?". Our opinions... well, they are *our* opinions, and we are not the majority here, despite we are indeed the greatest!

[2020-04-16 07:57] pksunkara commented on #1721
Adding `--` after multi value options is the standard in CLI tools. We had said this many times in the past to people who came to us with this issue. And this is also the main reason we should keep it as a default.

[2020-04-16 09:30] CreepySkeleton commented on #1721
No no, these are different problems.

* `--` is about "everything after this delimiter belongs to a single clap Arg, no matter what it starts from (subcommand name, `-`, whatever). It is used as *the last* option in CLI, no option can possibly follow it because it would be considered as a value.
[code]
* This problem is about "if an option taking unrestrained number of values contains something th

[2020-04-16 13:14] #836 closed

[2020-04-16 15:10] CreepySkeleton opened #1835 "Environment variable fallback is in fact not a fallback but an additional source for values"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

cargo run

### Version

* **Rust**: 1.42
* **Clap**: 2.33 and master

### Actual Behavior Summary

It passes, effectively appending the value from environment to command line values.

###

[2020-04-16 17:45] #1364 closed

[2020-04-17 01:20] CreepySkeleton commented on #1820
@casey Sorry for the delay.

The whole point of "different types - different arg" is that we want to keep it *simple*. In clap, an arg defines one entity, whether it's an option or a positional arg. Your proposal introduces a magical switch that goes against this unspoken policy (I repeat, I might have got it wrong), and what's more, a switch for a thing that does something that is already doable

[2020-04-17 01:29] CreepySkeleton commented on #1361
@NickHackman Sorry for the delay, so many things to do 😭

The problem is: how to pass long and short name in?

Options:

* Add `long` and `short` methods to `App` that are usable only in this contaxt (and panic otherwise). Dirty.
* Pass them right to constructor: `App::flag_subcommand("sub", Some("-S"), Some("--sync"))`. Not so handy, and have to panic if both are `None`.
* Another builder?

Regar

[2020-04-17 05:09] NickHackman commented on #1361
@CreepySkeleton completely on the same page, so I want to preserve the current interface and its consistency as much as possible, but it feels like all the options are fairly hacky.

Completely agree, this feels dirty.

I had a similar idea `App::new_flag<Into<String>>(short: char, long: S)`, I was thinking of using the `long` as the `App.name`, overall doesn't feel good. Mostly because `App` is a

[2020-04-17 06:34] pksunkara commented on #1361
This is actually super easy with the replace field added in #1697. The only design issue is that you would have define the subcommand (which we already do) and then define the flags for it again (instead of defining them with subcommand).

[2020-04-17 07:11] cecton commented on #1772
Here is a use case where I find structopt very confusing: https://github.com/paritytech/substrate/pull/5677/commits/6b0eed4b7df70a1c88c5e17df96064c122ca8671

When I read the struct I see that listen_addr is a required argument and port is optional. But the structopt parameters shows me that both arguments are conflicting. Before that commit, the parameters weren't declared as conflicting and I had

[2020-04-17 08:29] lu-zero opened #1837 "Implement update_from_arg_matches()"
`clap_derive` has only methods to create a new structure from scratch.

Provide a set of methods that can use ArgMatches to update a previously instantiated struct

[code]

From the [discussion](https://github.com/clap-rs/clap/discussions/1836):

[2020-04-17 09:41] CreepySkeleton commented on #1837
A note for other maintainers: this is not the same https://github.com/clap-rs/clap/issues/748 , this one is very derive-centric.

This is about updating a preexisting `#[derive(Clap)]` struct from a preexisting `ArgMatches` instance, not about updating a preexisting `ArgMatches` form <whatever>

[2020-04-17 18:30] alexschrod commented on #1338
I'm in a somewhat similar situation, didn't feel different enough to create a whole new issue. I do this in my code:
[code]
Since I set all those there, I figured I could leave them out of the YAML file. But no. `name` is mandatory in the YAML, *even if* you provide it some other way. So for now, my YAML file looks like this:
[code]
😜

[2020-04-18 00:41] casey commented on #1820
No worries!

I think that part of the issue is that that's not how my mental model of clap works. I think of args as being the same kind of thing, whether by position, by long flag, or by short flag, and that in the same way that the same arg can have both a long flag and a short flag, they should also be able to be positional as well.

[2020-04-18 02:11] CreepySkeleton commented on #1338
@alexschrod Well, this is inevitable. `clap::App` needs a name because it's a central concept - there's no application without a name. So, in order to being able to create an `App`, the YAML loader needs a name. There's also no way for it to know that you are going to override it in your code one line below.

[2020-04-18 03:25] CreepySkeleton commented on #1820
Our mental models of clap - and perhaps mindsets - are different, indeed. Let me try to explain it to you (and let's hope you're into math 🙏 ).

A developer comes up with a set of command line options (`X`) at his fancy. `clap` needs to *map* these options to a set of `Arg`s (`Y`). What does this *mapping* look like?

Your mental model is *surjective mapping*:

![image](https://user-images.githubu

[2020-04-18 08:32] NickHackman commented on #1361
[code]

Is a partial test case using `replace`, sadly I don't believe it handles the cases of `pacman -Sy` or `pacman -yS`, please correct me if I'm improperly using it in any way. Do you have any suggestions on how to handle this to keep the current Clap interface consistent? 🙂

[2020-04-18 09:25] pksunkara commented on #1361
Try using this and extending it. Long options are working now, so, see if you can use this replace while parsing the short options and replace stuff there. If not, try something in a similar way.

Also, `pacman -yS` means `pacman -y sync` or `pacman sync -y`?

[2020-04-18 10:06] CreepySkeleton commented on #1772
Pff, it took me some time to get back to, sorry for the delays guys.

That issue is related here indeed, but we can't leave it out of this discussion because this is about *defaults in derive*, not about distinguishing between the two.

@TeXitoi I see your point about `Option<Vec<T>>` vs `Vec<T>` ergonomics. I agree with you, simple `Vec` is much more handy than `Option<Vec<T>>` to work with.

But

[2020-04-18 11:00] pksunkara commented on #1772
I don't agree with this. Maybe all of them tried `Option<Vec<T>>` first and then decided that it didn't make a difference so they optimised it back to `Vec<T>`.

Also, we are not technically breaking this because this a separate library `clap` and not `structopt`. I would opt for it easier to understand w.r.t semantics in how to use the types for the fields and being different with each other rath

[2020-04-18 11:20] CreepySkeleton commented on #1361
@pksunkara `pacman -yS` means `-y -S` (two simple flags) since `-y` is not a subcommand. Most likely, this is an error. Replace won't do here due to `-Sy` cases (subcommand chained with an option).

@NickHackman

Regarding API: the number of possible variants is 3, so we can make something akin `SubCommand` in clap 2.x used to be:
[code]

Note: they all return `App`.

We can also go this way

Dirt

[2020-04-18 12:45] CreepySkeleton commented on #1772
Sounds very unlikely, but maybe. @TeXitoi , has anybody ever told you something like "I tried `Option<Vec>` first, but settled with `Vec` because it's handy"? I remember only one such message: https://github.com/TeXitoi/structopt/issues/285 .

I agree, absolutely. But we aren't talking just about breaking changes, we're talking about good defaults and whether it's worth to change them. If we find

[2020-04-18 12:46] CreepySkeleton commented on #1772
***This part of reply ended up being literally drenched in sarcasm, an therefore was moved to it's own comment. I'm not blaming anyone and neither I mean to offend anybody. Just stating that the state of affairs is ridiculous.***

Sure thing. According to 2.x docs. Well, let's test it! [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a52bc95aa38855c6c8c7e3be9446

[2020-04-18 12:53] TeXitoi commented on #1772
`Option<Vec>` is a very recent feature. No one asked anything about `Option<Vec>` for several years.

I've never seen any question about `Option<Vec>` except from @cecton as far as I remember. Just one but report saying that `Option<Vec>` was a breaking change because someone was using `Option<Vec<u8>>`.

[2020-04-18 13:09] CreepySkeleton commented on #1772
Also, the last like of @pksunkara 's table is impossible unless user explicitly specified `takes_value = false`. All of the variants should be `takes_value = true` by default (`multiple_values` implies it).

`app -ff` | `[]` | `Some([])` | `[[], []]` | `Some([[], []])`
-- | -- | -- | -- | --

[2020-04-18 13:29] CreepySkeleton commented on #1717
Moving it to `3.0` milestone since this would be a breaking change theoretically.

[2020-04-18 13:30] CreepySkeleton commented on #1682
This change would be breaking if implemented after 3.0 is out, so triaging for 3.0

[2020-04-18 13:56] pksunkara commented on #1772
In that case, assume that I meant `multiple_occurrences` only when I said `multiple` in my earlier comment.

What do you mean by `takes_value = true` by default? Does all the types we mentioned above has that as default? Then doesn't it mean that `app -f` is not allowed too? `Vec<T>` would never be allowed 0 values.

[2020-04-18 15:25] CreepySkeleton commented on #1772
In clap 2: it does so explicitly, this is documented:

In clap 3: not explicitly, I haven't been able to locate the place this is handled in, but I just checked this program:
[code]

And yes, it works just like if `takes_value(true)` has been set:
[code]

`app -fff` from the table would have been parsed as (also checked with master)
[code]

[2020-04-18 18:12] CreepySkeleton commented on #1771
Yay! Benches are set up!

Btw, maybe just require the validators (and possibly other user-facing hooks as we introduce them) to be `Send + Sync + Clone`? I *guess* most of those functions are clonable and sendable.

[2020-04-18 23:50] dylni commented on #1594
Hi! I created [OsStr Bytes] a while ago, but today I [removed all unsafe code](https://www.reddit.com/r/rust/comments/g3v5jc/osstr_bytes_is_now_completely_safe/). This issue [came up](https://www.reddit.com/r/rust/comments/g3v5jc/osstr_bytes_is_now_completely_safe/fntsbh4/) on that thread, so I was wondering if you would be open to a PR that uses this crate to perform the conversions.

If so, ther

[2020-04-18 23:54] Dylan-DPC commented on #1594
@dylni ya sure, you can go ahead and make a PR  :) Safety comes first

[2020-04-19 00:02] dylni commented on #1594
Great :) I'm a bit busy recently, but I'll send a PR when I can find some time. Plus, that will give this some time to gather opinions on implementation.

[2020-04-19 00:04] Dylan-DPC commented on #1594
That works for us :) Thanks

[2020-04-19 04:09] CreepySkeleton commented on #1594
@dylni We are totally open to ~~push~~ entrust this job to someone else! 😃 You and your PR are very welcome here!

1. That would be a bit sad, but I'm seconding Dylan here: correctness is more important than performance, especially in a command line parsing library. Send your PR and, as long as the regression is even a bit reasonable (i.e it's not something crazy as + 10 seconds), we will accept i

[2020-04-19 14:40] Dylan-DPC commented on #1823
Help is more synonymous with CLIs and the usage is understood. I don't see the value of this tbh

[2020-04-19 16:04] dylni commented on #1594
@CreepySkeleton Thanks for the responses and interest! I don't expect the performance hit to be large, but I am interested to see how measurable it is. Some basic testing has shown the methods to be as fast as the standard library's implementation.

[2020-04-19 16:18] pksunkara commented on #1823
Help is about the full help message for programs. About concerns only the description.

I don't want to keep `Arg::help` behaviour the same and keep it deprecated. I want to make it similar to how `App::help` behaves, by making it replace the full help text of an argument rather than the generated one.

The generated help contains other things like possible values, default values etc.. which shoul

[2020-04-19 16:39] NickHackman commented on #1361
Actually, it propagates the `-y` down to the subcommand, this behavior definitely sounds more permissive and less performant. Clap doesn't provide this behavior (as far as I know) nor should it, it's a weird case for Command line argument parsing.

I like this idea. I'll work on this and have it done by at least next weekend. (Setting a deadline for myself that's fairly lenient)

Yeah, integrating

[2020-04-19 16:43] CreepySkeleton commented on #1823
So, you are going to change the behavior of a very frequently used function without changing its signature. If you ask me - or don't, but I'll tell you anyway - this is spectacularly bad idea. Just because old habits die *hard*. This will spread a lot of confusion among users, a lot more than the benefit from having the API unified will ever be. If you want to pull such a drastic change - rename t

[2020-04-19 17:57] pksunkara commented on #1823
I agree which is why it took me such a long time to create the issue. I had been thinking about this since I started working on clap. It kept bothering me that the help related stuff is very inconsistent between `App` and `Arg`. I want to do a `HelpBase` which extracts the common stuff and make it customisable.

[2020-04-20 03:22] casey commented on #1820
I think it's mostly a matter of perspective: Clap already supports mapping short flags, long flags, and aliases, which could be be considered to be a surjective mapping.

[2020-04-20 08:51] CreepySkeleton commented on #1740
Here's the situation:
* Empty values are disallowed by default
* User can allow them on per-arg basis via `ArgSetting::AllowEmptyValues`: https://github.com/clap-rs/clap/blob/aae96236b27d43ede24bd7e58668786cd1073c21/src/build/arg/settings.rs#L40
* There's no way to allow empty values globally, for all the app.

I think we should allow empty values by default (as it used to be in clap 2) and add `F

[2020-04-20 08:52] pksunkara commented on #1740
I don't think we should allow them by default because it would conflict with default values.

[2020-04-20 08:54] CreepySkeleton commented on #1740
No, it wouldn't.

[code]

[2020-04-20 08:57] CreepySkeleton commented on #1740
See also https://github.com/clap-rs/clap/pull/1587#issuecomment-568829343

[2020-04-21 08:01] pksunkara opened #1846 "Add IsExternalSubcommand setting"
We need to perfect the external subcommand story. Let's take an example of `cargo` and its plugin `cargo-sample`. We have support for building `cargo` but we don't have proper support for building `cargo-sample`.

[code]

That is how the external subcommands are built. This is okay if we call using `cargo`.

[code]

But, if we call the binary directly:

[code]

We should add a setting such that wh

[2020-04-21 09:15] CreepySkeleton commented on #1846
@pksunkara Could you please describe the semantics of `IsExternalSubcommand`. How does it work and what does it do?

[2020-04-21 09:26] elichai opened #1847 "Feature Request: Parsing unknown arguments"
Hi,
I'm writing a wrapper around another program, I have my own flags and inputs and the rest I want to pass through to the other program without knowing what are they.
I managed to do that using something like this:
[code]
https://play.rust-lang.org/?gist=21efe2e89012e9b0583d3eb96d872ef8

It would be a lot nicer if I could get both the `ArgMatches` and the unknown arguments.
Thanks!

[2020-04-21 09:31] CreepySkeleton commented on #1847
The standard way to do that in Unix world is `-- external_args`. Take a look at `Arg::raw`

[2020-04-21 09:41] elichai commented on #1847
Right. but I'm wrapping git, so it also has a ` -- `, and I want to have the same interface as `git-diff`

[2020-04-21 09:48] CreepySkeleton commented on #1847
From git-diff man page:
[code]

You'd be having the same interface as `git-diff` with `--`, right?

[2020-04-21 09:51] pksunkara commented on #1846
I haven't figured out that implementation but I described the behaviour above. I am not sure why you were asking about what it does.

[2020-04-21 09:52] elichai commented on #1847
Raw is pretty cool, but I'm not sure if it solves my problem.

yeah, so I want to be able to do `my-git HEAD HEAD^ --my-command -- file` for that I need to be able to parse `--my-command` but forward everything else into git-diff

[2020-04-21 10:00] CreepySkeleton commented on #1846
Because you described the problem at hand you've been having (different help from bare `cargo` and `cargo-sample`), and then you concluded that it can be resolved via some new setting. But what does this setting should do to solve your problem - this is what unclear to me?

An example of a program with this setting and without it - along with description of behavior differences - would probably he

[2020-04-21 10:05] CreepySkeleton commented on #1847
Then I believe [`AppSettings::AllowMissingPositional`](https://docs.rs/clap/2.33.0/clap/enum.AppSettings.html#variant.AllowMissingPositional) is what you are looking for.

[2020-04-21 10:06] CreepySkeleton commented on #1847
The only other way is to reimplement git' cli

[2020-04-21 10:08] CreepySkeleton commented on #1846
One way of solving your problem is `cargo bloat` way https://github.com/RazrFalcon/cargo-bloat/blob/bb8c5b10644ed185533b5e4536a996ff6b720fe3/src/main.rs#L137-L140

[2020-04-21 11:14] CreepySkeleton commented on #1230
@jrakow It's been a long tomorrow, but, all all thing do, it has come to an end.

Turns out, in the end, it was you who made a mistake: `get_matches_from` expects the name of the binary to be passed as the first argument, as `std::env::args()` does. In other words, your reproducer should have been `get_matches_from("app", "-a")`. And let me inform you: it works rather fine. Everything is working a

[2020-04-21 11:14] #1230 closed

[2020-04-21 11:24] Dylan-DPC commented on #1230
We are not writing a book here so can't you drop the philosophy

[2020-04-21 11:34] CreepySkeleton commented on #1794
Yes. I would expect all of the following to be valid invocations:
[code]

Working on the fix, might take a while.

[2020-04-21 11:39] nayeemrmn commented on #1794
Small correction that `--option1` doesn't take a value in my example but that would make for a better one.

[2020-04-21 12:16] spacekookie commented on #1230
@CreepySkeleton is there a chance you can keep the vitriol out of your comments in the future? Getting angry at reporters, issues, or code is just childish and makes the project's atmosphere a lot less pleasant to engage with for everybody. Also...please don't talk _about_ people like they're not in the room, even though they can clearly read what you're saying.

[2020-04-21 12:25] pksunkara commented on #1230
I think there's some miscommunication here. From what I understand of his post, he didn't write anything angry at anyone. He was only angry at himself. Just to clarify, @spacekookie Are you saying that he shouldn't be angry at even himself when commenting?

[2020-04-21 12:25] Dylan-DPC commented on #1230
if someone wants to be angry at themselves, they can do it in private, dont need to rant on any issue. And reading the comment, it is clear it is not a case of a self-rant. Don't try to justify it, the intention is pretty clear on this one

[2020-04-21 12:30] spacekookie commented on #1230
@pksunkara There's a difference between saying "Oh I did a bad, couldn't figure it out" or whatever and "I wasted time because I assumed the report was correct". One is targeted at nobody, the other is clearly targeted at the reporter.

And I feel the fact that we keep having to have these conversations shows that there's a problem. This is not how Rust projects communicate and it goes against the

[2020-04-21 12:33] pksunkara commented on #1230
@spacekookie Thanks, I understand what you mean now.

[2020-04-21 17:05] #1721 closed

[2020-04-21 17:13] CreepySkeleton commented on #1230
@Dylan-DPC @spacekookie

The sky on a sunny day is clear. Intentions rarely are.

If I may clarify the intention behind my comment:

* First sentence: a slight ironic apology for the time it took us to get to the issue. A matter of politeness, nothing more, nothing less.
* Second paragraph: explanation why the report was false positive. I believe it consist of facts that everybody can check.
* Thi

[2020-04-22 08:34] pksunkara commented on #1418
Unfortunately, this is not enough. The `from_str` needs to also care about `case_insensitive` which is not supported by strum. You can see the linked PR for the trait's function signatures.

[2020-04-22 09:16] pksunkara commented on #1846
It's not just help. The binaries behaviour is different. `cargo-sample sample` is now same behaviour as `cargo sample`. What I want is a setting such that `cargo-sample` is the same behaviour as `cargo sample`.

[2020-04-22 09:19] #1835 closed

[2020-04-22 09:33] CreepySkeleton commented on #1846
Than you can simply check

[code]

cargo always sets this variable, see https://github.com/rust-lang/cargo/issues/7976#issuecomment-596236762

If detected, proceed as normal. If not, apply [`AppSettings::NoBinaryName`](https://docs.rs/clap/2.33.0/clap/enum.AppSettings.html#variant.NoBinaryName) and proceed.

I see no need for a yet another option to be honest.

[2020-04-22 09:35] CreepySkeleton commented on #1846
That got me thinking: `cargo sample args...` is supposed to be transformed to `cargo-sample args...`.

From doc: https://github.com/rust-lang/cargo/wiki/Third-party-cargo-subcommands

Are you really getting this problem?

[2020-04-22 09:46] CreepySkeleton commented on #1846
OK, I was wrong, the env var won't let to to differentiate between the invocations since it's always set.

But what do you think about this (adapted from cargo bloat)
[code]

[2020-04-22 18:24] #1418 closed

[2020-04-22 18:24] #1451 closed

[2020-04-22 18:24] #1659 closed

[2020-04-22 18:24] #1662 closed

[2020-04-22 18:24] #1748 closed

[2020-04-22 18:42] pksunkara commented on #1748
[Single Alias](https://github.com/clap-rs/clap/blob/c1cb0ce3591e16dd05942fc224565649fd3dfa6b/clap_derive/tests/arg_enum.rs#L192-L217) and [Multiple Alias](https://github.com/clap-rs/clap/blob/c1cb0ce3591e16dd05942fc224565649fd3dfa6b/clap_derive/tests/arg_enum.rs#L220-L251)

[2020-04-22 18:43] pksunkara commented on #1662
Default is [kebab case](https://github.com/clap-rs/clap/blob/c1cb0ce3591e16dd05942fc224565649fd3dfa6b/clap_derive/tests/arg_enum.rs#L42-L69). You can also rename the case into [others](https://github.com/clap-rs/clap/blob/c1cb0ce3591e16dd05942fc224565649fd3dfa6b/clap_derive/tests/arg_enum.rs#L72-L92). Also, there are [aliases](https://github.com/clap-rs/clap/blob/c1cb0ce3591e16dd05942fc224565649fd

[2020-04-22 18:44] pksunkara commented on #1659
https://github.com/clap-rs/clap/blob/master/clap_derive/tests/arg_enum.rs

[2020-04-23 02:18] xoac commented on #1418
@pksunkara
The idea was just to use separate crate (not exactly strum) that just works with string and enums. The case_insensitive feature could be added to that external crate if author would like to cooperate. But it looks like more complicated task (for example there is also need support for aliases).

For example [EnumString](https://github.com/Peternator7/strum/wiki/Derive-EnumString) do some

[2020-04-23 07:35] yaa110 opened #1854 "Yaml has security issue"
[code]

[2020-04-23 07:51] pksunkara commented on #1854
Duplicate of #1569

[2020-04-23 07:51] #1854 closed

[2020-04-23 07:59] CreepySkeleton commented on #1854
Yes, we [know](https://github.com/clap-rs/clap/issues/1569) about it. But it's not a security issue because
1. `yaml-rust` ever receives only *trusted* input from `clap`. Those `.yml` files are included via `include_str!` at compile time. There's simply no avenue of attack to exploit.
2. As much as we would be willing to simply bump the version, it wouldn't be backward compatible because some type

[2020-04-23 08:03] yaa110 commented on #1854
@CreepySkeleton The problem is that the CI (`cargo audit`) is failed due to security issue of `yaml-rust`.

[2020-04-23 08:06] CreepySkeleton commented on #1569
To be fair this is not a vulnerability. Vulnerability in computing is defined as (emphasis mine)

There's no such tool for an attacker because `yml` files are included at compile time via `include_str!`; it's a trusted input. I'm totally for fixing this - as soon as it's fixed upstream, but the `T: vulnerability` label is uncalled for.

[2020-04-23 14:54] #1594 closed

[2020-04-24 10:43] CreepySkeleton opened #1859 "Regression in error messages when two args from a non-multiple group were passed"
This is what it used to look like:
[code]

After https://github.com/clap-rs/clap/pull/1856 has landed, it looks like
[code]

This is undesirable and must be corrected, but the bugfix is more important.

[2020-04-24 14:05] CreepySkeleton commented on #1780
I suspect this is fixed by https://github.com/clap-rs/clap/pull/1852 . @wucke13 Could you please help confirm that? Or perhaps provide precise instructions on how to reproduce this? My cargo build fails with
[code]

[2020-04-24 15:13] CreepySkeleton commented on #1601
I was able to reproduce it with 2.33 but not with the `master`. Neither your example neither multiple `.print_help()` calls failed, so I'm going to close it as solved in 3.0.

[2020-04-24 15:13] #1601 closed

[2020-04-25 11:07] wucke13 commented on #1780
@CreepySkeleton
Regarding

[code]

You need to install the target, to be able to compile to it:

[code]

Other than that: Yes, the original error is fixed, though in exchange for a new one: the `os_str_bytes` crate fails to compile on `wasm32-wasi`. I guess, this can be circumvented at least partial, as the compiler points out that there is a use which might work:

[code]

[2020-04-25 11:14] pksunkara commented on #1780
@dylni Could you look into this issue and fix it in your crate?

[2020-04-25 12:24] CreepySkeleton commented on #1780
@wucke13

Brains may be different 😉. No problemo.

Basically, the `os_str_bytes` crate we rely on needs to make some assumptions on how the underlying `std::ffi::OsString` is represented on the target platform. It does so in a platform-specific manner, basically distinguishing between Windows and Unix.

I _suspect_ OsString on `wasm` is the same as on Unix, right? If so, A small upsteam patch shou

[2020-04-25 12:58] dylni commented on #1780
@pksunkara This is a language limitation. There's no safe way to get anything lossless from `OsStr` on wasm32 targets. However, it's also [not possible to receive arguments](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/wasm/args.rs#L11-L13) for that target, so I'm not sure how Clap could be used.

I haven't found anywhere else that `OsStr` is created for that target, so it might be

[2020-04-26 01:19] dylni commented on #1780
Ignore my previous comment. I was looking at code for `wasm32-unknown-unknown`.

The API looks compatible with Unix, so I'll work on an update to add support for the target this week.

[2020-04-26 10:14] CreepySkeleton commented on #1461
Turns out this is another instance of "indescriptive panics in 2.x suck". The example is incorrect because `requires_if` takes the expected value of the arg _first_, and the name of the arg _second_. After I corrected it, if worked as expected:

[code]

Sidenote: this order of arguments in `requires/required*` is non-intuitive. Perhaps we should change it.

[2020-04-26 10:14] #1461 closed

[2020-04-26 11:36] #1359 closed

[2020-04-26 18:53] #1605 closed

[2020-04-26 19:57] bradwood commented on #1206
Hi all, I'm also looking to use something like this. I'd like to process my args in a functional fashion. The PR, however, seems to have died a death. Given that 3.0 is on the horizon how much of a bad idea is it for me to just use `matches.args.iter()` in 2.x?  Also, will this make it into 3.0?

PS, I don't need ordering.

[2020-04-27 07:59] CreepySkeleton commented on #1206
@bradwood Not as bad as you'd think: 2.x branch is frozen. I'd be really surprised if we change something regarding publicity of those fields because there is plenty of code out there relying on those, ugh. So, if you aren't planning on switching to 3.0 and you're OK with the fact that every time you use private API god kills a kitten, you can do that, yes.

Beware: those will be truly private in

[2020-04-27 08:29] CreepySkeleton commented on #1611
This was fixed by https://github.com/clap-rs/clap/pull/1850

[2020-04-27 08:29] #1611 closed

[2020-04-27 08:32] CreepySkeleton commented on #1798
I can't reproduce it with master. Don't know what exactly fixed this, but something did. If somebody runs into this again, please create a new issue.

[2020-04-27 08:32] #1798 closed

[2020-04-27 12:32] bradwood commented on #1206
i am trying to call `map()` on each arg I find to invoke the appropriate handler function based on the argument passed...

And, as regards the kittens, I'm cool with that!  :)

[2020-04-27 12:39] CreepySkeleton commented on #1206
clap has `Arg::validator` that is called on every _value_ passed in. And of course, you can always iterate over `std::env::args()` and map it as you please; you don't really need clap for that.

[2020-04-27 13:19] pksunkara opened #1871 "Regression: version option not working on master"
### Steps to reproduce the issue

[code]

### Actual Behavior Summary

No output

### Expected Behavior Summary

Version to be printed

### Additional context

Definitely related to the termcolor refactor

[2020-04-27 13:47] CreepySkeleton commented on #1871
Likely has something to do with `exit(0)`. We need `.flush()` somewhere.

[2020-04-27 14:48] pksunkara commented on #1206
I think I can see a certain use case for this where people want to do dependency injection pattern for evaluating their args.

[2020-04-27 15:37] kbknapp commented on #1206
For a while I was floating around the idea of adding filter/map capabilities to arguments themselves, in a similar manner to the current `validator`. In essence it's just a chance for people to call a function when a particular argument/value is used and do something with its value persistently. Some use cases were, "I want my CLI to accept options `yes|no` but I want the value held my context str

[2020-04-27 16:52] #1823 closed

[2020-04-27 17:02] CreepySkeleton commented on #1206
Resolved by derive (and partially by `value_of_t*` methods).

I'm not sure I get your "handlers" idea, I imagine it's something akin https://github.com/clap-rs/clap/issues/1185:

Some thoughts:
* When is it ran, exactly? Before default values/environment variables were populated or after? What about required/conflicts stuff? How does it interact with old-style validators? With groups? Possible val

[2020-04-27 17:33] dylni commented on #1780
[Version 2.2.0](https://github.com/dylni/os_str_bytes/releases/tag/2.2.0) supports this target.

[2020-04-27 17:38] bradwood commented on #1206
FWIW, I'm not needing these `map()`s to run _during_ arg parsing, I'm happy to pass an iterator of matched arguments into a function pipeline. I'll take a look at the `validator`, as I've not really looked properly at that. It might work for my use case.

[2020-04-27 17:38] CreepySkeleton commented on #1780
@dylni We are very grateful for the quick fix. Thank you a lot.

@wucke13 After the PR is merged, could you please confirm that the build is actually fixed?

[2020-04-27 17:47] CreepySkeleton commented on #1206
@bradwood Out of morbid curiosity, what is the core problem you're trying to solve? Whay do you think `map` is  a good way to approach this kind of problem?

I suspect you're just "doing it wrong".

[2020-04-27 17:52] dylni commented on #1780
@CreepySkeleton No problem. I would prefer that it supports as many targets as possible.

I think all buildable targets that take arguments are covered now, but let me know if you find any others.

[2020-04-27 18:13] wucke13 commented on #1780
@CreepySkeleton Indeed, compilation succeeds now!
Thank you all for this fast and straightforward process. Let's hope the best for wasm-wasi!

[2020-04-27 18:13] #1780 closed

[2020-04-27 18:48] kbknapp commented on #1206
Exactly. I'm describing a problem/issue that existed prior to derive macros. The "handlers" was just a common theme that popped up every so often, especially when people were moving from Python based CLIs which offer a "when this argument is used, run this function." Although that's a totally different way to build/design a CLI and thus I don't think it's really applicable to how clap runs.

100%

[2020-04-27 19:02] bradwood commented on #1206
Heh. Given that I'm only 3 weeks in and coming from Python, I'm almost _certainly_ doing it wrong! :smile:

Here's the situation:
* I have a subcommand with 1 positional and about 20 non-positional arguments (some are just flags, and some take 1 or more values).
* I want to drive another builder API with arguments passed in via clap. There is (almost) a 1-to-1 relationship between clap argument an

[2020-04-27 19:17] kbknapp commented on #1206
Yours is not a super common case. Essentially, your CLI is a facade for a builder API? A few things about what you mention stood out to me (emphasis mine):

1)

Unless you have a way of mapping those non 1:1 arguments, you'll end up with errors. So dealing with those errors is the *fallible* requirement I mentioned above.

2) In your example you use `println!` which kind of hides the problem, but

[2020-04-27 19:21] kbknapp commented on #1206
Although it's a more advanced topic, and probably defeats the purpose of what you're trying to do, you could combine your own Custom Derive macro, and do something like `#[derive(Clap, IntoMyBuilderApi)]` which would instead impl `Into<MyBuilderApi> for MyRawOpts` automatically, and using things like the `syn` crate loop through the struct fields of `MyRawOpts` simply applying them to your builder

[2020-04-27 19:27] bradwood commented on #1206
I'm still reeling from everything you just wrote below the horizontal rule 2 comments above... :thinking:.  I'm going to have to do a whole lot of research on this, which is no bad thing... Thanks for your help (and patience) here!

As a final question, if I may, where would I look for examples of Clap and derive macros. Is this documented somewhere? I'm digging through the docs but not finding mu

[2020-04-27 19:37] #1871 closed

[2020-04-27 19:39] kbknapp commented on #1206
The clap derive macros are the new big feature of clap 3.x which is still in beta and thus not formally released yet. So the documentation is still lacking.  The source is under the `clap_derive` crate in the root of this repository. You can look at the [examples directory of `clap_derive`](https://github.com/clap-rs/clap/tree/master/clap_derive/examples) for some ideas.

If you'd prefer, you can

[2020-04-27 19:51] bradwood commented on #1206
Okay.

I'm still using clap 2.x and have been holding off going to 3.x... I had a cursory look at `structopt` a week or 2 ago, but decided I'd go for vanilla clap 2.x.  I've also read some of your blog posts on merging the 2 and the rationale for that, which makes a lot of sense to me. I'll have a dig through both the 3.x codebase and `structopt` again and have a further think. As regards macros,

[2020-04-28 09:24] CreepySkeleton commented on #1206
@bradwood Should you decide to take a stab at proc-macros, I recommend to start with [`proc-macro-orkshop`](https://github.com/dtolnay/proc-macro-workshop/) which is a set of very good intro-level (and not so intro) exercises .

[2020-04-28 10:09] CreepySkeleton commented on #1847
@elichai Have you found a solution?

[2020-04-28 10:24] elichai commented on #1847
I'm using my original solution for now, but I might reimplement git-diff's CLI arguments and flags.

[2020-04-28 10:31] CreepySkeleton commented on #1847
Then I'm closing this because I don't thin there's any more left for us to do here. Good luck!

[2020-04-28 10:31] #1847 closed

[2020-04-28 10:38] CreepySkeleton commented on #1837
@lu-zero Would you be interested in implementing this?

[2020-04-28 12:37] CreepySkeleton commented on #1165
Having looked at the the code, this is the only place validators play:

https://github.com/clap-rs/clap/blob/5b9dbee5db540f44c336c2db54ece444624c30ef/src/parse/validator.rs#L138-L159

Essentially, we could just replace
[code]

with
[code]

And change the signature for `Validator`.

This kind of change won't give us any perf improvement, but it will make the API uniform (both `os` and `str` version

[2020-04-28 13:33] Kixunil commented on #748
If anyone needs this feature more than some other fancies like native subcommand support, you might be interested in my crate [`configure_me`](https://github.com/Kixunil/configure_me). From my experience, this is very common if you write long-running services instead of command line tools.

The whole crate took a lot different approach than clap. Mainly it's declarative-first, no stringly manipula

[2020-04-28 14:08] kbknapp commented on #748
Agreed.

I think we *could* combine the two, but I see them as different things. This issue (#748) is about allowing the consumer code to essentially make their own argfile impl if they choose. It's about making it possible to update matches from multiple argv sources (those sources are handled by user code).

I may have already said it elsewhere, but I tend to see this issue being more of just ad

[2020-04-28 14:10] kbknapp commented on #748
Also, just throwing my two cents into the ring; if I had to pick between this issue and #1693 I'd pick this issue. As implementing this issue would allow users who want an argfile to do so in thier own code, but the other way around isn't as easy.

[2020-04-28 14:13] pksunkara commented on #748
Yup, #1693 can use the implementation here. And then this issue could use the implementation for `replace` #1697. Which is why I said they are related.

[2020-04-28 14:25] kbknapp commented on #1693
Couple of thoughts:

* I like that this is gated behind an `AppSettings` variant because, although rare `@foo` does come up in CLIs. I wouldn't want us supporting argfiles to break some CLI. The cross section of CLIs that use `@foo` *and* want to use this new feature is probably so minimally niche that its fine that there is a minimal conflict here.
* Comments is probably easy enough to implement.

[2020-04-28 14:53] lu-zero commented on #1837
I would, I will need probably some code tour on what's already available though.

[2020-04-28 18:39] CreepySkeleton commented on #1693
Agreed. Whatever we'll end up with, it must be opt-in.

I have a bad feeling about comments/blank lines.

* I don't remember clearly, but a few years ago I was working on a CLI app which was receiving URL parts through command line args (among other things), like `docs.rs #anchor`. As you see, there are (possibly rare) cases where arguments are expected to start with `#`. I'd say I'm OK with this

[2020-04-28 18:46] CreepySkeleton commented on #1740
@kbknapp While you're still here, I'd love to hear your feedback on this one. Why did you decide to disallow empty values by default in 3.0? For instance, [argparse allows them](https://stackoverflow.com/questions/13558964/passing-empty-string-to-argparse). What do you think about my comment above?

[2020-04-28 18:49] CreepySkeleton commented on #1837
@lu-zero Basically, you need to add
[code]

into every trait except `IntoApp`. You can start from here: open a PR and I'll answer any of your questions regarding code, tools, moon phase,, etc...

[2020-04-28 19:41] kbknapp commented on #1693
Good point on the argument values that begin with `#`. However, that would only possibly apply to positional arguments, because `--foo=#bar` wouldn't be parsed as a comment with explicit disallowing of inline comments. Pragmatically, if encountering this error, I would change the line to `"#value"` and see if that fixed the issue. Either way I think it's such a small area that this little hiccup s

[2020-04-28 20:08] kbknapp commented on #1740
I'll preface this with I don't have strong feelings either way on the matter.

The main reason the were removed was that in 2.x they were a source of confusion and complicated the parsing rules solely because of the way clap was implemented. If clap had parsed values slightly differently it may have been less an issue.

The problem was only with implicit empty values (`--foo=` and `--foo` [with no

[2020-04-29 02:45] kbknapp commented on #1828
I've started a branch (v3-docs) where I'm trying to go through and finally knock out some of these docs issues and update all the examples and such.

[2020-04-29 03:02] kbknapp commented on #1694
If your `enum` implements `Default` you can simply use `#[clap(default_value)]` on that field.

Full example:

[code]

[2020-04-29 03:06] kbknapp commented on #1694
@emilazy it's not 100% what you asked for, but in your example it's at least part of the way there. I need to re-familiarize myself with the derive macros we made, but I think the underlying issue is that it just calls `Arg::default_value` underneath which only accepts a string. Now since we're already doing it where values have a valid default, we may be able to extend that case more generally...

[2020-04-29 03:22] kbknapp commented on #1846
This is how 2.x worked as well. There was an issue (I can't seem to find right now) that asked for "default subcommands" which is more in line with what you're asking for. Basically it said that not calling any subcommand would default as if a particular one was called, in this case `sample`.

The only thing that a default subcommand wouldn't do is allow one to let arguments "fall through" i.e. `c

[2020-04-29 03:24] kbknapp commented on #1846
I changed the milestone as this isn't required for a 3.x release, and wouldn't be a breaking change so could happen any time after 3.0

[2020-04-29 03:32] kbknapp commented on #1807
This might be pretty hairy to implement, especially if we end up trying to detect loops (`A` says display after `B`, and `B` says display after `A`).

I'm leaning towards closing this feature, as it'd significantly impact the code used to generate help messages for (my subjectively) little benefit.

@I60R could you elaborate on why doesn't `DeriveDisplayOrder` work in your case? Or `Arg::help_head

[2020-04-29 03:42] kbknapp commented on #1837
This *might* be able to start as just an addition to the `FromArgMatches` trait. I need to re-familiarize myself with the derive code, but off the top of my head it wouldn't need to propagate through the other traits as well.

[2020-04-29 07:51] pksunkara commented on #1694
Implementation wise, this would just adding one more method to the ArgEnum trait.

[2020-04-29 08:35] pksunkara commented on #1828
@kbknapp Thanks. Just wanted to let you know that I am working on updating the README.

[2020-04-29 08:41] pksunkara commented on #1772
@kbknapp Since we have you here, please take a look at this issue.

[2020-04-29 08:44] pksunkara commented on #1634
Wanted to note that I am now a maintainer of https://github.com/mitsuhiko/dialoguer which means it will be easy to add compatibility for clap if needed.

[2020-04-29 09:35] lu-zero commented on #1837
I started looking at `FromArgMatches`. `gen_constructor` probably could be refactored so I can reuse part of it.

[2020-04-29 12:01] CreepySkeleton commented on #1740
Regarding to typoproof  behavior - sorry Kevin, but it never worked anyway :)

As @rivy pointed in [that thread](https://github.com/clap-rs/clap/pull/1587#issuecomment-568829343):

So basically, there's no way to differentiate between `--foo=""` and `--foo=` on most systems. I even took some time to tests it :)

[code]

Windows:
[code]

Ubuntu:
[code]

As you see, they are the same from clap's sta

[2020-04-29 12:26] CreepySkeleton commented on #1772
Actually, if you wrap your head around the terminology a bit, it becomes quite clear:
* Non-special types are required by default. (For instance, `String` is not special)
* `bool` is an example of special type, it's not required by default,
* `Vec`, `Option`, arrays, tuples and such can be considered "adapter" for other types. Precise behavior depends on adapter and the type it wraps.

It's a prob

[2020-04-29 12:37] CreepySkeleton commented on #1837
@kbknapp I'm afraid this is inevitable because we can't "know what's on the other side" in case of flatten , subcommand, etc... I'll explain in the PR thread.

[2020-04-29 12:42] lu-zero commented on #1837
I confirm that subcommand needs an update variant as well.

[2020-04-29 12:50] BurntSushi commented on #1693
It sounds like the argfile support being discussed here is roughly where I landed for ripgrep's configuration file:

* [Specification in the guide.](https://github.com/BurntSushi/ripgrep/blob/master/GUIDE.md#configuration-file)
* [Implementation](https://github.com/BurntSushi/ripgrep/blob/master/crates/core/config.rs)
* [Handling invalid UTF-8 on Unix](https://github.com/BurntSushi/ripgrep/blob/a2

[2020-04-29 13:21] kbknapp commented on #1694
We would also potentially need to impl `Display` for the enum as well...the downside being that prevents the consumer from doing this if they had some specialized version of `Display` they wanted to use.

[2020-04-29 14:00] kbknapp commented on #1693
Thank you!

I think this is where I'm landing too. It's also historically how some of my decisions have gone, so I'm ok with this so long as it's documented somewhere.

This might be slightly different in clap's case becase of the intrinsic support for env vars already. A hypothetical argfile (ignoring the need for some escape):

[code]

Is semantically equivilant to `foo_arg.env("SOME_ENV_VAR")`

[2020-04-29 14:05] kbknapp commented on #1740
I agree empty values should be allowed.

Thanks for taking the time to test/report all that!

[2020-04-29 14:11] BurntSushi commented on #1693
That requires one to tell clap to allow using an env var though right? If you don't, users might still want to use their own env vars, or use them to build more values. e.g., `--ignore-file=$HOME/something.ignore`. For example: https://github.com/BurntSushi/ripgrep/issues/1484#issuecomment-586458477

[2020-04-29 14:33] kbknapp commented on #1693
Ah yes, you're correct. I was assuming the CLI creator added the `env("..")` to an argument. In the case they didn't (which is probably the most likely assumption) then yes, an argfile would allow the CLI *user* to specify a var to pull the value from.

Hmm...

So my initial thought is while I can see the value in that, I also think it may lead to some gotchas when that env var is unset, etc. In b

[2020-04-29 15:20] camsteffen opened #1879 "Flag implies other flags"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I have an application that generates a bunch of files depending on several flags. I want to have a "save-all" flag that **implies** all of the more granular "save-x" flags. I'm surprised that I can't find any si

[2020-04-29 15:26] kbknapp commented on #1693
When going through the ripgrep specs, it got me thinking; what are the thoughts on instead of dedicated CLI syntax `@foo`, what if we just add support to the `App` instance? Such that the `App` instance would support a list of paths in which to look for the argfile (in order presumably). This way we essentially side step all the syntax issues (help messages, conflicting with existing CLIs, etc.).

[2020-04-29 15:33] pksunkara commented on #1879
On master branch, you should be able to do this with the following:

[code]

[2020-04-29 15:38] kbknapp opened #1880 "Partial / Pre Parsing a CLI"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

A way to declare a subset of arguments to be parsed, then return from parsing early. With the expectation that parsing will be called again, and run to full completion.

This most often comes up when you want so

[2020-04-29 15:42] kbknapp commented on #1879
@camsteffen once you can confirm the proposed solution works for you and meats your intent we can close the issue :smile:

[2020-04-29 16:22] kbknapp commented on #1772
Whew ok that was a read!

Ever time I see issues pop up around `multiple` I cringe a little inside. In clap 1 there was only the concept of `multipe = true`, and I only ever really cared about `-f v v -f v v` (i.e. both occurrences and values) for no other reason than having not put a lot of thought into it.

Then clap 2 came around and there was confusion when people wanted multiple values, but n

[2020-04-29 16:29] kbknapp commented on #1634
I'd second the prompts being too far out of scope for clap. A hook I think is OK.

As for the serialization problem, I'm fine with just saying, "This one feature can't be serialized" to avoid the `eval` type issues, just like validators.

[2020-04-29 16:52] kbknapp commented on #1165
I don't think it would make sense to have both, as all `validator_os` can handle anything `validator` can, but the reverse is not true. So I'm not sure there'd be a reason for a user to have both?

[2020-04-29 17:39] CreepySkeleton commented on #1165
None I can think of. I'll make it panic in case both have been passed.

[2020-04-29 19:12] camsteffen commented on #1879
Interesting, that might work. Just some minor concerns.

The example given in the [docs](https://github.com/clap-rs/clap/blame/5b9dbee5db540f44c336c2db54ece444624c30ef/src/build/app/mod.rs#L861-L877) for `replace` is to create what I would call a "subcommand alias" where "install" is an alias for "module install". For a "subcommand alias" I would expect it to only work when the alias is the _first

[2020-04-29 19:22] kbknapp commented on #1820
@casey I'm sympathetic to your situation, but I'm afraid it will create some additional confusion and complicate the parsing rules for what subjectively is a niche problem set.

I can see where you come from about all arguments being simply "arguments" and the way they're accessed (via short, long, or position) is just an implementation detail. I'd submit that both you and @CreepySkeleton are corr

[2020-04-29 19:40] kbknapp commented on #1879
@camsteffen we're in the process of going through all docs, so I'll make sure that one gets some additional explanation to make it clear that it's not just for subcommands. You can think of it literally replacing/inserting the left hand side item (`--save-all`) with all of the right hand side items (`--save-image --save-stats --save-text`)prior to parsing.

You're correct it doesn't automatically

[2020-04-29 21:34] camsteffen commented on #1879
@kbknapp Sounds good.

I'm still wondering about the example for `replace` though. Would `app module install` become `app module module install`?

[2020-04-30 00:25] casey commented on #1820
That all makes sense, although even considering the maintenance burden of keeping two arguments in sync, I think I probably won't deprecate the option:

- If all arguments can be passed by option, then the user doesn't need to remember which arguments are passed by position.

- I personally sometimes find it hard to remember what positional arguments do, and find options easier to remember.

- For

[2020-04-30 01:17] kbknapp commented on #1879
`replace` is not an alias function. We will find a better way to word the example, but the example isn't creating an alias, it's creating a "shortcut" so to speak.

Imagine `app` has one subcommand `module`, and `app module` has a subcommand `install`. What the example is doing is creating a fake second subcommand of `app` called `install` which actually invokes the `app module install` subcommand

[2020-04-30 01:17] #1879 closed

[2020-04-30 01:22] kbknapp commented on #1820
100% agree. A good general rule of thumb is to have no more than two positional arguments per command or subcommand for exactly that reason.

[2020-04-30 02:51] pksunkara commented on #1879
That's true for for all the other conditions too. `requires*`, `conflicts*` similarly doesn't set any help text.

It does the replacing during parsing which allows to let it work only on certain apps (or subcommands)

`app module install` would not change because replacer is checking for `install` on the `app` `App`. Here `install` appears at the `module` subcommand `App`.

I am actually using it

[2020-04-30 15:41] kbknapp commented on #1879
You can already use it via [git dependency](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-git-repositories) in Cargo.toml

[code]

You can specify by branch or version (`replace` is in version `3.0.0-beta.1`). Once we finish up the 3.0 release, it will be uploaded to crates.io as well.

[2020-04-30 16:10] camsteffen commented on #1879
Alas, I finally tried it and it did not work as expected.

[code]

[2020-04-30 16:13] kbknapp commented on #1879
You're missing the binary name. It should be:

[code]

If you don't want to include a binary name you must use [`AppSettings::NoBinaryName`](https://docs.rs/clap/2.33.0/clap/enum.AppSettings.html#variant.NoBinaryName)

[2020-04-30 16:40] camsteffen commented on #1879
🤦

[2020-04-30 18:26] pksunkara opened #1885 "Improvements to `Arg::new`"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

`Arg::new` has been suggested to use (along with `App::new`) in one of the roadmap issues. It is implemented but there are still a lot of `Arg::with_name` usages.

### Describe the solution you'd like

* Remove

[2020-04-30 18:36] kbknapp commented on #1885
I'm :+1: on this and it was the intent for 3.0. My *only* concern is it makes churn for upgrading from 2.x to 3.x with no functional difference.

One proposal is to simply deprecate `Arg::with_name` and remove in 4.x. Of course, the counter argument is there are other breaking changes, so some churn is expected.

It's such a small function that I'd honestly be fine either way (deprecate for 3.x or

[2020-04-30 18:43] CreepySkeleton commented on #1885
Spoiler: @pksunkara and I have been talking about some sort of automatized update tool based on `rust_analyzer` 😏  Click the button, become happy!

We'll get to it as soon as we deal wit more pressing stuff.

[2020-04-30 18:49] kbknapp commented on #1885
That would be awesome. I had considered some kind of upgrade script, but there certain cases where the intent isn't 100% known because clap 2.x didn't allow enough granularity (`multiple(true)`, etc.). Looking forward to see how this progresses!

[2020-04-30 21:33] pksunkara commented on #1885
I had the idea for auto-upgrade tool long before working in rust. But with rust-analyzer doing most of the heavy lifting and me also needing it for another project of mine, I started to seriously consider this and try to see if I can do an MVP for clap v3. I have some workflow and API designs, but haven't written them down anywhere.

https://github.com/pksunkara/cargo-up. I should be working on it

[2020-05-01 03:04] cole-h opened #1889 "`print_help()` and `--help` differ when using the derive macro"
NOTE: This could very well be present without the `Clap` derive; I didn't test that.

### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run -- --help`
2. Run `cargo run`
3. Notice that the two helps are different

### Versi

[2020-05-01 12:10] #1165 closed

[2020-05-01 14:15] kbknapp commented on #1889
Looks it could be as simple as the `true` needs to be `false` in [this line](https://github.com/clap-rs/clap/blob/65ee7f6df16ed6165c8eef7c80d0af462eea5cc6/src/build/app/mod.rs#L1119).

[2020-05-01 14:21] pksunkara commented on #1889
Sounds about right.

[2020-05-01 16:16] #1889 closed

[2020-05-01 16:22] cole-h commented on #1889
@kbknapp Thanks for the pointer of what to change. I wasn't feeling very motivated to trawl code yesterday. Good thing it was just a 4 character change!

[2020-05-01 16:59] pickfire commented on #1642
[code]
Can we only keep two flag since we can use just two flags to represent 3 of the real flags which can save up some bits for the future? Similar this can be applied to `COLOR_ALWAYS`, `COLOR_AUTO`, `COLOR_NEVER` as well.

@CreepySkeleton I planned to change it to `BlankLineAlways`, `BlankLineAuto` and `BlankLineNever` since that can make these in the documentation side by side and easier to d

[2020-05-01 18:05] CreepySkeleton commented on #1642
That would be cool.

Regarding to concrete representation, I truly believe that the decision here should not be based on "let's save a few bits/bytes" considerations. This bitfield is not part of public API, if we decide that `u64` is not enough at some point, we can simply bump it to `u128`. *128 bits ought to be enough for anybody*.

I kind of don't know what would be the best solution here. The

[2020-05-01 18:19] #1672 closed

[2020-05-01 19:26] kbknapp commented on #1642
Perhaps I'm under-thinking it, but I don't think this should be consumer configurable. These rules seem pretty simple and rely on already implemented rules of just determining if multi-line help should be displayed or not:

* If clap decides something should have a multi-line help, it should insert a blank line directly following the message.
* If at least one argument in a heading is determined t

[2020-05-01 19:36] kbknapp opened #1891 "Sub-optimal help wrapping with long messages by default"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

#### Default (no `wrap_help`)

First the short help

[code]

Next long_help

[code]

#### With `wrap_help` enabled

Short help:

[code]

Long help:

[code]

### Version

* **Rust**: `rust

[2020-05-01 19:40] kbknapp commented on #1891
Forgot to mention, actual terminal width must be less than 120.

And I know it's due to us inserting hard line breaks at 120, but then attempting to re-calculate where to start printing again.

The motivating factor behind this issue is to discuss if there is a better way to handle small terminals by default.

[2020-05-01 19:48] kbknapp commented on #1891
Full disclosure, I'm perfectly OK if we say, "This behaviour isn't perfect but it's better than nothing." Or even, "This behaviour isn't perfect, but the alternative is too complex or not worth the effort."

[2020-05-01 20:35] alerque commented on #380
I've come *very* close to achieving a localized CLI interface using Clap & [Fluent](https://projectfluent.org/). However there are a couple points that are a bit hackish and could use some first class support.

The main ugly bit about my solution is I have to parse args twice. I have a `-l`/`--language` parameter that can override any detected locale (not appropriate for most CLIs, useful for my c

[2020-05-01 21:00] kbknapp commented on #380
@alerque See #1880 and if something like that would fit your use case if we implement it.

This might be useful outside of i18n context. I'm imagining a `help_with(Fn)`. However, a few non-trivial questions would be need to be ironed out to make it general enough for inclusion:

* Should the `Fn` accept a context? I.e. an `ArgMatches`, `Id`, or a `String` perhaps? No context makes it easier to imp

[2020-05-01 21:23] alerque commented on #380
@kbknapp

1. I'm not sure my understanding of Rust is developed enough to meaningfully address this question. I think the answer is having a context would introduce many more possibilities, but it would be useful even without — but I'm still struggling with Rust's variable lifetimes (I'm about 4 days in teaching myself through a pet project that I'm RIIR).

   Note that for my usage I've had to mo

[2020-05-01 21:27] pksunkara commented on #1891
I think we should not wrap at all if `wrap_help` is not enabled.

[2020-05-01 21:29] kbknapp commented on #380
@alerque no worres, I should have been more clear. I wasn't posing those questions for you to have to answer. They were more abstract thoughts, primarily for the other maintainers of clap :wink:

[2020-05-01 21:48] kbknapp commented on #1891
That was the original functionality, and only changed later as people requested a smaller default. I can't remember if the `max|mix_term_width` came before or after those requests though. It's possible those didn't exist at the time and picking some sane-ish default (120) is what we landed on.

The counter argument to no wrapping is that if your help string is over whatever the average full screen

[2020-05-01 23:03] CreepySkeleton commented on #1891
It had me thinking: why don't we just query the terminal width and use it to insert breaks instead of a preset/hardcoded default? Oh right, `wrap_help` is optional... which raises the question of why it's optional.

Compilation time? Nope, it was the same with and without the feature on the build server (release build).

Code size? Lol, enabling the feature _decreased_ the size by ~ 0.1Kb.

That s

[2020-05-01 23:16] kbknapp commented on #1891
While I'm *very* inclined to agree with you, there is a non-negligible portion of the Rust community that is anti-dependency, or at least wants their dep graph as small as possible. I don't really agree with that line of thinking, other than cutting out dependencies that actually can cause bloat for little gain.

Based off those stats, perhaps we add it to the default list of features, which still

[2020-05-01 23:19] kbknapp commented on #1891
Along those same lines but also a separate issue entirely, at some point I would like to have the discussion about aggressive cargo feature use. Ideally, all non-essential sections of clap could be disabled (but enabled by default) to allow small binary sizes when desired. I've had quite a few people / companies approach me about clap's binary size being their only issue. In fact, I believe that i

[2020-05-02 00:34] CreepySkeleton commented on #1891
On the other hand, people from this anti-dependency camp likely see clap as bloat-full and having too much allegedly unneeded deps irrespective of `term_size`. Clap already pulls 7 crates in `--no-default-features` mode, 22 in `default-features` mode, and 27 in `all-features` mode; one extra crate - very tiny and very useful btw - won't change their opinion. It's kind of all-or-nothing situation,

[2020-05-02 00:37] Dylan-DPC commented on #1891
Given how popular clap is, the number of dependencies is definitely a huge concern. I've been planing of tackling a lighter clap in some form or the other post the 3.0 release. That discussion is beyond the scope of this issue.

[2020-05-02 01:19] kbknapp commented on #1365
Re-energizing this topic. Not necessarily for action prior to 3.0 release, but something to keep in our mind and begin to tackle as available.

My comment from #1891

@CreepySkeleton's comment from that same issue:

Finally, @Dylan-DPC's comment from that issue:

[2020-05-02 01:42] kbknapp commented on #1365
Just so my thoughts are known, I don't believe we need to remove all dependencies and features for the smallest possible size. What I *do* think is that we should know which dependencies have a low "weight to functionality" ratio.

"Weight" can assessed in two manners, code size added to clap, and compile time.

"Functionality" should be self evident.

I am definitely *not* in the camp of "make su

[2020-05-02 01:47] kbknapp commented on #1891
Moved the discussion about code size, deps, and modularity to #1365 so this issue can stay on topic about what we do with wrapping the help message by default.

[2020-05-02 02:03] kbknapp commented on #1365
Doing a `--no-default-feautres --features std` build on a simple:

[code]

Gives us this output via `cargo bloat`:

[code]

Discounting clap and std, it looks like `text_wrap` and `indexmap` need a close eye. If either has better alternatives, or is simple enough to not use/pull internal I'd say those may be on the chopping block.

Also, if we did something drastic like make auto help messages opt

[2020-05-02 02:07] CreepySkeleton commented on #1365
Before we more any further, would you please test it in release mode 😄? Nobody cares about debug binaries, release the  ones of concern here.

[2020-05-02 02:08] kbknapp commented on #1365
Literally just edited the comment with that info :laughing:

[2020-05-02 02:41] pickfire commented on #1642
That three values could be fitted into two bytes since only one of of the three can be used, so it is either the following options:

- `10` auto
- `01` always
- `00` never

And also, we can just read 2 bytes, of course it is already in memory but I don't see why we do that since it is not possible to have auto but with the other flag set.

[2020-05-02 02:46] pickfire commented on #1891
Shouldn't this be the default? My terminal is just lightly over 80 characters width, lesser than 90 characters. T_T

[2020-05-02 06:24] pksunkara commented on #1642
Since this is now a bug and not an enhancement, we don't need the flags at all.

[2020-05-02 06:27] pksunkara commented on #1365
Did you enable `lto`? I think we should assume with that.

[2020-05-02 08:02] pickfire commented on #1642
@pksunkara Err, so what should I do here? Anything that I can help with?

[2020-05-02 11:31] pksunkara commented on #1642
Try to fix the bug? In the test case of first comment of this issue, there should always be an empty line.

[2020-05-02 13:47] CreepySkeleton commented on #1365
main.rs
[code]

With lto enabled (release build, no default features)
[code]

What interesting here is that the size of the `main.rs` crate increased from `307B` to `4.7KiB`. Basically, some code from std has been inlined and this is the biggest difference.

The overall difference is less than 10Kb (clap and its deps only) and it will thin as more features are actually used. All the further runs w

[2020-05-02 15:27] pksunkara commented on #1365
I don't think we should be saying that. We should be using cargo feature flags to make sure all the fields can use clap.

[2020-05-02 15:43] TeXitoi commented on #1365
To make it work on embedded, you'll need do be alloc free (usable wIthout, String, Vec and such kind of collection).

[2020-05-02 15:57] Dylan-DPC commented on #1365
There's a post 3.0 plan for that already which is why added the `no_std` feature

[2020-05-02 16:44] CreepySkeleton commented on #1365
To clarify my statement about embedded:
* On something like Rabspery PI clap will fly marvelously; you won't even need no-std there. It's close to a real PC after all.
* If you have a chip with a hundred megabytes of ROM on board, you _may_ be able to squeeze clap in. `no_std`, `alloc`, and accurate fine tuning (see modularization) will be required.
* 128 KiB is all you've got? Too bad! Take a loo

[2020-05-02 17:04] TeXitoi commented on #1365
Even getopts requires `Vec` and `String`. I personally don't see why I would need clap in embedded, that's a very niche usecase.

[2020-05-02 17:05] TeXitoi commented on #1365
(embedded = bare metal on microcontroller)

[2020-05-02 20:17] connorskees opened #1896 "Alias short arguments"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I have a project that needs to offer 2 shorthand flags (`-s` and `-t`) for the same argument in order to conform to a reference implementation from another language. The latter of the two is hidden and exists on

[2020-05-02 22:02] alerque opened #1897 "Generating via derive leaves in different state than via into_app()"
Experimenting with the current Git HEAD and using `#[derive(Clap)]`, I'm getting different results that I expect. The docs are still a bit sparse on these interfaces so there may be something in transition, but for the sake of people like me who will be trying to port from StructOpt I'm raising this issue so there are no surprises.

Generating an app from a Struct works much as expected this way:

[2020-05-02 22:34] alerque opened #1898 "generate_to ignores given argument and derives its own"
Trying to get shell completion generators working on my app (porting from StructOpt) I ran into trouble using the `generate_to()` function.

https://github.com/clap-rs/clap/blob/306dc830361438fbe140e55863b75924bff1b74c/clap_generate/src/lib.rs#L124-L139

Even with code pretty much copied out of the docs (marked as ignore):

[code]

This code explicitly passes a value for `bin_name`, yet it is unus

[2020-05-02 22:48] alerque opened #1899 "AppSettings::InferSubcommands disables #[clap(external_subcommand)]"
I'm porting an app from StructOpt to Clap using the derive methods in the current Git HEAD version. The original app used `clap::AppSettings::InferSubcommands)`, and also later made use of `#[clap(external_subcommand)]`. This combo wasn't a problem in StructOpt, but it fails with Clap derive.

[code]

[2020-05-02 22:49] alerque commented on #1899
Sorry, didn't mean to post this. I started writing the report the other day but it seems to have been fixed in Git in the last 2 days. I can't replicate the issue I was having any more.

[2020-05-02 22:49] #1899 closed

[2020-05-02 23:03] alerque opened #1900 "Type no longer available for shells"
Using StructOpt, I was able to parse an option like this:

[code]

(Where `clap` here was the re-exported one StructOpt provided.)

This made it really easy to parse `myapp --completions zsh` while only accepting valid shells with completion generators. Nothing like `myapp --completions foo` would be accepted, but all the known shells were. This was really easy to pass to the generator.

Using the

[2020-05-02 23:36] kbknapp commented on #1365
A lot to reply to here :) I don't think we need to be concerned with embedded (bare metal) right now. Maybe one day, but there are many things we can do that will improve clap before we worry about embedded.

I'm more concerned with embedded *like*, i.e. resource constrained devices, like small arm based (Pi, SBC, phone, etc.). I spoke with some Google employees who were looking at clap for that e

[2020-05-02 23:41] CreepySkeleton commented on #1897
You seem to imagined the whole process having two steps:

1. Given a struct (enum, collection of structs, irrelevant for the purposes of this explanation), generate a corresponding  `clap::App` (`IntoApp::into_app` in your mental model, ).
2. Fill the struct with values taken form CL args, using the `App` as scheme (`App::get_matches` in your understanding, INCORRECT).

Did you notice that the sec

[2020-05-02 23:41] #1897 closed

[2020-05-02 23:47] kbknapp commented on #1896
I agree it's a gap in what we currently offer. I can't say it'll make the cut for the 3.0 release, but it should be added shortly after.

Thanks for issue.

[2020-05-03 06:51] pksunkara commented on #1896
Does that mean we need to rename `alias` to `long_alias` and other methods similarly?

[2020-05-03 06:59] pksunkara commented on #1900
We made it `clap_generate` separate and rewrote it a bit. There's no `Shell` anymore because I made the generator agnostic and to be able to generate for other stuff and not only shells. If you need an enum like that you should probably write one yourself.

[2020-05-03 07:02] pksunkara commented on #1898
Thanks for reporting. This actually ties into https://github.com/clap-rs/clap/issues/1764. We might want just one file name but different bin names.

[2020-05-03 07:27] alerque commented on #1897
Thanks @CreepySkeleton! The teacher vibes are strong with you. That finally makes sense.

I understand the state of documentation in Git HEAD isn't expected to be ready for the 3.0 release just yet, but for the sake of other people that will be migrating from StructOpt it might be worth going out of the way a little bit to clarify how `Cli::parse()` is equivalent to those three stages. Many places

[2020-05-03 07:31] alerque commented on #1900
I understand the refactoring was to make it more extensible to other types of things in the future, but this is also an ergonomics regression coming from StructOpt. Given that the modules does have a fixed list of shells that are supported out of the box it seems like providing an enum and the ability to type cast like this would be an appropriate thing to do as part of the module.

[2020-05-03 16:15] jeffka11 opened #1903 "add {before/after}_help_{short/long} to App struct"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I'm looking to use the help menu to replace creating a separate man page. To not bombard users with info, I'd like to include detailed information when they use the long --help flag for sections that need more d

[2020-05-04 16:52] kbknapp commented on #1898
I'm trying to remember exactly, but I *think* the reason I originally had the user pass in the binary name was because the `App`'s `bin_name` doesn't get determined until runtime, however many shell completion script generations happen in a `build.rs` at compile time. So we need a way to tell the generating code what the binary would be called.

Of course this can be fixed by making `App::bin_name

[2020-05-04 17:08] kbknapp commented on #1903
I think this would be implemented as `{after,before}_help_long` and allow the current `{before,after}_help` serve as the `short` so that we don't have redundant APIs. This also would go along with the `short` somewhat being the default in `clap` as with all other settings that where both a `long` and `short` co-exist.

[2020-05-04 17:15] kbknapp commented on #1900
@pksunkara I like the re-write, but I also think it'd nice to add a shell enum that dispatches the proper completion type. I haven't dug into it too deep yet, so it's hard for me to say if it should only include the currently supported shells, or all completion types...

Alternatively, we could so something as simple as provide an example, or clearly in the docs show how to create this enum and di

[2020-05-04 17:18] kbknapp commented on #1896
I hadn't thought that far yet.... ugh. :worried:

... [ thinking intensifies ] ...

I'd say no. So long as the docs are explicit that `alias` is for longs, and if they wish to find something similar but for shorts, look for `short_alias` I think it's fine.

[2020-05-04 18:46] pksunkara commented on #1900
Yeah, I think we should probably provide `clap_generate::Shell` enum for the ones we have autocompletions available.

[2020-05-04 19:12] CreepySkeleton commented on #1900
This enum will need to be `#[non_exhaustive]`. Who knows which shells we will add in future?

[2020-05-04 20:01] sondr3 commented on #1398
After having used Rust for a while now I think this is something I might be able to implement myself, are there any thoughts on how this should work? Should I create a `AppSetting::MergedAliases` for example or just outright change how aliases are displayed? @pksunkara @CreepySkeleton

[2020-05-04 21:59] pksunkara commented on #1398
Outright change is probably not a good idea. A setting sounds good but I am wondering if we are taking this too far. What if people want it in a different kind of way?

[2020-05-05 06:12] oconnor663 opened #1905 "failure to parse invalid Unicode on Windows in v2.33.0 (but not master)"
The following is for the current release version of Clap, v2.33.0. (The bug does not appear to repro in Clap `master`. More on that below.) I've set up a repository containing a minimal repro of this problem: https://github.com/oconnor663/clap_unicode_test. You can see a CI run demonstrating the failure here: https://github.com/oconnor663/clap_unicode_test/runs/645077320. To repro the failure your

[2020-05-05 07:53] alerque commented on #1880
This feature would also be immensely useful for implementing #380, localizing a CLI interface.

This is not _quite_ true. You already mentioned some exceptions such as in the case of parse errors, but there is one more road block that makes that technique unworkable. A number of things happen in `get_matches()` that have the potential to short circuit the rest of the application life-cycle. For ex

[2020-05-05 08:38] pksunkara commented on #1905
I don't think we will be backporting this fix because 2.x branch is frozen and only security fixes are going to be allowed. We are working hard on clap v3 and I am confident to say that the full release will be no more than 3 months away if we keep up the current pace of development.

[2020-05-05 13:11] ckaran commented on #1569
@CreepySkeleton you're right that this isn't a true vulnerability, but @Licenser is **definitely** correct when he said:

False positives waste time and lead to fatigue, which can lead to people finding ways of turning off the warnings, which leads to true positives getting through.  So this needs to get fixed as quickly as possible, even if it isn't a vulnerability.

[2020-05-05 14:01] CreepySkeleton commented on #1569
@ckaran Well yes, except [we can't fix it unless it's backported to yaml 0.3](https://github.com/clap-rs/clap/issues/1854#issuecomment-618245009), not really, because doing so would be a breaking change and potentially break god knows how many crates out there for **no** benefit.

We _might_ be willing to publish a breaking change to fix a _real_ vulnerability, but this one does not qualify as suc

[2020-05-05 14:08] oconnor663 commented on #1905
If I was able to figure out a fix on the 2.x branch, and it didn't look too hairy, would you be willing to release it? I'm interested in fixing this for my own work (it's a blocker for properly testing `b3sum --check`), and it might be valuable for other command line apps that never bother to upgrade out of the 2.x series.

[2020-05-05 14:40] ckaran commented on #1569
I don't think so, but I've just started using it.  @tarcieri, is there a way to mark a vulnerability as a false positive?

[2020-05-05 14:47] CreepySkeleton commented on #1569
Clarification:  @tarcieri, is there a way to mark a specific vulnerability in a specific version or range of versions of a specific crate that depends on a vulnerable crate but never triggers the vulnerability as a false positive?

[2020-05-05 14:51] tarcieri commented on #1569
The main way to flag vulnerabilities as false positives is either via a command line `--ignore` argument to `cargo audit` or [via its configuration](https://github.com/RustSec/cargo-audit/blob/master/audit.toml.example#L6).

Regarding transitive dependencies where the vulnerable code path is never called (which appears to be what's happening here?), detecting these scenarios is a long-time request

[2020-05-05 14:54] CreepySkeleton commented on #1905
@oconnor663 I say we wouldn't because the code in question is a few years old code. The last time someone touched it was a year ago or so, nobody here (maybe short of @kbknapp) is familiar with that codebase. We simply can't review your fix and be certain that it won't break something else, even if it's just a few lines.

[2020-05-05 15:14] CreepySkeleton commented on #1569
Not quite. The allege vulnerability in question is unrestrained recursion that leads to stack overflow, and this code is indeed called here. But the input we ever feed to the yaml parser (the one with that triggers recursion) is **trusted** (is included via `include_str!` at compile time) and the nesting level is  never big enough to trigger the overflow, not even close. So yeah, it's pretty subtl

[2020-05-05 15:28] tarcieri commented on #1569
I'm afraid there aren't presently any good solutions for that other than publishing a release which is able to use a non-vulnerable transitive dependency.

[2020-05-05 15:33] kbknapp commented on #1905
@oconnor663

We appreciate the very detailed bug report!

@pksunkara is correct, 2.x is currently frozen except security fixes. However, I'm willing to take a look at a PR to fix the issue, since I'm familiar with the codebase. I can't promise a merge if it looks to be too high a maintenance burden. Lets at least see how far reaching the fix is, since causing a crash on valid input *could* be cons

[2020-05-05 15:50] kbknapp commented on #1569
Just throwing my thoughts in the ring as well. I 100% agree with @CreepySkeleton here, there isn't much we can do unless `yaml_rust` backports the fix into a 0.3.x branch linked above. I think the clap team has put in a lot of effort here, as a clap maintainer has backported the fix to `yaml_rust` and opened the PR. Realistically the only thing we can do next is wait for the PR to be merged, or ma

[2020-05-05 15:53] ckaran commented on #1569
Assuming that the PR the backport is accepted soon, this might be the best answer.

[2020-05-05 16:03] tarcieri commented on #1569
I'd also be fine with adding this same text to the advisory itself.

[2020-05-05 16:04] CreepySkeleton commented on #1569
This kind of solution is unlikely to change anything because users get the warning from `cargo audit`. They don't even have to know that this API - and the attached note - exists in the dirst place. t\all they see is
[code]

Which doesn't mention anything about the relevant API.

In order to be useful, this attachment must be visible. I'd suggest put it in readme and docs.rs front page, somewhere

[2020-05-05 16:04] CreepySkeleton commented on #1569
_That_ would be marvelous.

[2020-05-05 16:09] ckaran commented on #1569
OK, so just so I'm 100% clear, this is going to be in `cargo audit`'s database itself, correct?  How do you handle a situation where a crate is using both `clap` and `rust-yaml`?  That is, this is not a vulnerability for `clap`, but for other uses it may be, so you want to make sure that you don't accidentally turn off all auditing against `rust-yaml` just because you happen to include clap in you

[2020-05-05 16:11] sondr3 commented on #1398
Any suggestions for how you'd approach this in that case?

[2020-05-05 16:14] CreepySkeleton commented on #1569
Right, it must be worded in a way that explicitly conveys that `clap` is NOT vulnerable, but `rust-yaml` IS.

[2020-05-05 16:14] tarcieri commented on #1569
@ckaran this would just be in the description of the advisory. `cargo audit` shows a dependency tree of how crates with advisories are used in the project, allowing the user to see whether it's just `clap` pulling in `yaml-rust` or something else.

For what it's worth, I also opened a ticket about potentially doing some sort of structured whitelisting in advisories as well:

https://github.com/Rus

[2020-05-05 16:17] ckaran commented on #1569
@tarcieri that's perfect!  The description can be a stopgap, and the ticket can be a future enhancement.

[2020-05-05 16:47] oconnor663 commented on #1905
Thanks for all the prompt replies. It looks like the fix can be quite targeted, essentially a one-line change to the existing `OsStr::starts_with` method, plus a new pure helper function and some tests. I haven't tried to comb the codebase for all the places where `OsStr` is assumed to be valid Unicode, but this single change at least seems to fix my use case. I want to add a couple more tests, th

[2020-05-05 16:50] kbknapp commented on #1905
There shouldn't be many places where `OsStr` is assumed valid Unicode. Also see the potentially relevant PR #1893 the underlying code is different since its on the 3.x master branch, but deals with `OsStr::starts_with`

[2020-05-05 17:37] pksunkara commented on #1398
I am honestly stumped regarding the design here. @kbknapp What do you think?

[2020-05-05 17:39] pksunkara commented on #1905
I think this was fixed in master because of the recent refactor done on OsStr by @dylni. It was a pretty big change (IMO).

[2020-05-05 18:08] CreepySkeleton commented on #1398
I personally like this one more

[code]

[2020-05-05 18:17] pksunkara commented on #1398
I don't think we should be defaulting to that. But I too like it, which is why I am saying that we should come up with a way to allow users to format the help messages.

[2020-05-05 19:03] pksunkara opened #1906 "Argument with default_values conflict when inside groups"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

## Version

With `master` branch.

### Actual Behavior Summary

[code]

### Expected Behavior Summary

Should work.

### Additional context

Related to #1605 which was recently fixed.

### Debug output

Compile clap with

[2020-05-05 19:04] pksunkara commented on #1906
@CreepySkeleton You might want to look into this.

[2020-05-05 19:24] kbknapp commented on #1398
The difference between the two versions is aesthetic only and not structural, so I'd prefer to have one way to display it and stick to that. I don't think it's worth the overhead to provide an option to switch between whichever way is the default and the other way.

The same could be argued for options/flags, however the average `long` flag (and especially options) take up far more room than subco

[2020-05-05 20:16] oconnor663 commented on #1905
I've submitted https://github.com/clap-rs/clap/pull/1907. Despite appearances, I think this is a targeted fix :) Most of the code in there is new tests. The meat of the change is that I've defined the `windows_osstr_starts_with` standalone function on Windows only, and I've changed `OsStr::starts_with` to call that instead on Windows. This fixes the simplest cases of invalid Unicode parsing, but i

[2020-05-05 20:25] pksunkara commented on #1398
It is the main reason I prefer not to change the current way of showing aliases.

But, we can allow a `help_generate` hook which could be filled by individual clap programs if they want a different aesthetic. This could work similar to `clap_generate`.

[2020-05-05 20:38] dylni commented on #1905
Thanks for the ping @pksunkara. Yes, this was fixed in [this pull request](https://github.com/clap-rs/clap/pull/1852).

[2020-05-05 23:33] CreepySkeleton commented on #1846
It's been my concern too, but after giving it some thinking, I feel like we may consider this feature to help cargo plugins work "out-of-box". Cargo plugins are pretty common case in Rust world.

The idea is to add `cargo_plugin` method that takes the name of the plugin:
[code]

When we start the pasing, we check for this name. If it's present, we look at the second CL argument (or the first if `N

[2020-05-06 05:44] pksunkara commented on #1846
Yeah, that is behaviour I want but your proposal is too specific to `cargo`. I would lean towards more abstraction. Normal binaries works if the external command works like `git`. It's only `cargo` like external commands that have an issue. We should fix this by enabling the binaries to ignore some args at the beginning.

[2020-05-06 06:42] I60R commented on #1807
Okay, I understand.

I actually use it. The problem was that it don't play well with `structopt` flattening, more specifically it doesn't allow to move argument into separate struct while keeping its order in --help message. This could be easily `structopt` problem, however it also seems that it occurs because current `display_order` functionality in `clap` is somehow limited.

`Arg::display_after

[2020-05-06 08:30] sassman commented on #952
Can this issue be tackled now?

[2020-05-06 08:31] pksunkara commented on #952
Yes, please. Which is why I added it to the rust weekly.

[2020-05-06 08:33] sassman commented on #952
There I saw it and it might be an easy candidate.

[2020-05-06 12:31] fbecart opened #1910 "Compute argument possible values based on other arguments"
I would like to be able to compute the possible values of an argument dynamically, based on the values provided for some other argument(s).

### Use case

I'm working on a CLI which has a goal similar to `make`.

[code]

The file lists the available targets. Given a value of `FILE`, I am able to load a list of available target names. I would like to use that list as the possible values for `target

[2020-05-06 15:11] pksunkara commented on #1910
I think this can be achieved by the hooks proposal mentioned in #1471.

[2020-05-06 15:17] pksunkara commented on #1906
There is one more snippet that is giving the same issue. Might be just common bug or different.

[code]

resulted in

[code]

<details>
<summary>Debug Output</summary>
<pre><code>
[            clap::build::app] 	App::_do_parse
[            clap::build::app] 	App::_build
[            clap::build::app] 	App::_derive_display_order:conflict
[            clap::build::app] 	App::_create_help_and_version

[2020-05-06 15:55] CreepySkeleton commented on #952
Regarding certain traits:

* Default is meaningless for `Arg`, `App`, `ArgGroup`.
* Implementing `PartialOrd + Ord` is _probably_ next to impossible because they aren't implemented  for `IndexMap`

[2020-05-06 16:10] kbknapp commented on #952
With #1365 we should look at how much this increases the binary size and probably feature gate this (it's ok if it's in the default features) if it negatively effects the size. I *think* LLVM is pretty good about dead code elimination and removing any trait impls that we impl (or derive) but aren't actually used in the resulting binary...but I'm not 100% certain in all cases. I know there are spec

[2020-05-07 06:55] fbecart commented on #1910
Thanks @pksunkara for looking into it. I see how https://github.com/clap-rs/clap/issues/1471 is related, as it suggests to have a closure returning the default value of an argument.

This issue remains unique in the following ways:

- It is about computing the possible values of an argument.
- It requires access to the arguments that have already been provided.
- It should influence auto-completio

[2020-05-07 12:24] pksunkara commented on #1910
It is related because we can extend the hook proposal to allow defining possible values too. Prompts is a tangential issue.

Auto completion will probably be tied into the dynamic completion issue.

[2020-05-07 18:19] kbknapp commented on #1905
Yeah that's why I referenced the other PR (part of the refactor). I haven't had time the last day or so, but I'll look at this new PR by this weekend and see if it's something that could go on the 2.x branch with the understanding that if v2-master is currently broken, so long as we don't *break more* we're in a slightly better spot even if its not a total fix.

Once v3 is fully released I fully i

[2020-05-08 02:41] publicarray opened #1915 "v3 App Options no longer work on subcommand arguments"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run -- -v bar --baz` error: Found argument '--baz' which wasn't expected, or isn't valid in this context

### Version

* **Rust**: rustc 1.44.0-nightly
* **Clap**: master

#

[2020-05-08 03:08] CreepySkeleton commented on #1915
This is because `bar` is considered as a value for `-v` instead of subcommand. See https://github.com/clap-rs/clap/issues/1721, https://github.com/clap-rs/clap/issues/1031, and https://github.com/clap-rs/clap/pull/1834.

TL;DR: use `SubcommandPrecedenceOverArg` settings.

Personally, I would recommend you to redesign the CLI. This kind of "values vs subcommand" may cause more harm than goon in lon

[2020-05-08 03:09] #1915 closed

[2020-05-08 03:36] publicarray commented on #1915
Thanks very @CreepySkeleton, that works nicely & Thanks for the advice. Any ideas on how to design it better ?

I'm going to have some wine now 🤣

[2020-05-08 04:57] CreepySkeleton commented on #1915
Well, if you truly intend `-v` to take value, I recommend to go `cargo --features "f1 f2"` way. Can be achieved via [`value_delimiter(" ")`](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.value_delimiter) and [`require_delimiter(true)`](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.require_delimiter).

But I bet your intention was to allow multiple number of occurrences, not val

[2020-05-08 09:54] publicarray commented on #1915
Thank you! I'm going to pick live happily ever after `multiple_occurrences(true)`. Your comment does have lots of useful information and I did not find this in the manual. Maybe this can be included or maybe I need to get my eye sight checked.

Haha, well played..

True, You could give it go but it might stain your ribs: https://www.youtube.com/watch?v=1fzXmJyolfY&t=33

[2020-05-08 10:35] pksunkara commented on #1915
We are still working on changelog and documentation. You are not supposed to use v3 yet.

[2020-05-08 20:27] fbecart commented on #1910
To illustrate the issue, here's a link to the project I'm working on: https://github.com/fbecart/zinoma/blob/9d2ea034d566a92a7464a7ca58c0b75cb87d7072/src/main.rs#L32-L37

[2020-05-11 08:01] CreepySkeleton commented on #1906
I know what the problem is but fixing it would require changes in the way how the matches stored. Actually, I've been looking into many bugs here, and fixing them would require changes in `ArgMatches`.

In short, arguments, global arguments, and groups must be stored and processed separately.

[2020-05-11 08:12] pksunkara commented on #1906
I think we would need to do it like that anyway to fix a few more global args bugs.

[2020-05-11 16:37] #1896 closed

[2020-05-11 16:41] pksunkara opened #1918 "Short aliases in completions"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/clap-rs/clap/issues/1918)

### Describe the solution you'd like

#1901 implemented short aliases for args. They should also be supported in completions.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $5.00)

- [<img src='https://avatar

[2020-05-11 16:42] #1905 closed

[2020-05-11 18:41] kbknapp commented on #1807
Aaah ok, I understand. Yeah to me that sounds like either a feature/bug we could work on as part of `clap_derive` (what was `structopt`).

I'm open to others opinions as well, but even when flattening the order should be preserved. That sounds like a new issue to me, or perhaps we re-name this issue and update the OP with this new constraint/requirement.

[2020-05-11 18:43] kbknapp commented on #1910
Also potentially related #1880

[2020-05-11 18:43] pksunkara commented on #1807
@I60R Could you provide us a sample code where it doesn't work? AFAIK, even flattening should make it work.

[2020-05-11 19:09] pksunkara opened #1919 "Decide on cherry picking commits from v2"
So, I am working on the CHANGELOG which means looking at the commit history. I found the following commits which looks like that wasn't cherry picked to v3.

- [ ] ~ef92e2b639ed305bdade4741f60fa85cb0101c5a~
- [x] bada4f525acf9434518ac4bb3d0e1638a10163a0
- [x] e531182e22bc598da1ca327b434be4f85a6eaf4e
- [x] eaa2d8144ff704c8a4215edc1a51f700ebaf9761
- [x] fed0e85ac18bf2ea0f5adde5b71cff8afaadfd16
- [x]

[2020-05-11 22:03] pksunkara commented on #1919
Note: Jan 22, 2018 is when the v2 branch has diverged.

[2020-05-12 01:26] CreepySkeleton commented on #1919
I reimplemented https://github.com/clap-rs/clap/commit/9601c95a03d2b82bf265c328b4769238f1b79002 in #1883

[2020-05-12 01:28] pksunkara commented on #1919
Yup, which is why I only cherry picker the test from that commit.

On Tue, May 12, 2020, 03:27 CreepySkeleton <notifications@github.com> wrote:

[2020-05-12 01:58] kbknapp commented on #1919
ef92e2b is not implemented on v3, but I also don't have strong feelings about it. It changes the error message when `suggestions` are enabled. The old v2 and current v3 implementation will suggest a subcommand with the appropriate args even when no subcommand is used. Whereas that commit only suggest a subcommand when that subcommand is used.

I think the current v3 (and old v2) is fine, but if we

[2020-05-12 08:37] pksunkara opened #1922 "Implement `From<Yaml>` for Arg"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/clap-rs/clap/issues/1922)

### Describe your use case

We already have `From<Yaml>` for `App`, but `Arg` is still using `Arg::from_yaml`.

Also search for `from_yaml` and update them all to `from`

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers

[2020-05-12 08:52] pksunkara opened #1923 "Cherry pick ef92e2b"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/clap-rs/clap/issues/1923)

ef92e2b is not implemented on v3, but I also don't have strong feelings about it. It changes the error message when `suggestions` are enabled. The old v2 and current v3 implementation will suggest a subcommand with the appropriate args even wh

[2020-05-12 08:52] pksunkara commented on #1919
I moved it to a separate issue.

[2020-05-12 13:56] pksunkara commented on #1365
There are some good arguments regarding inclusion of deps in this reddit thread today, https://www.reddit.com/r/rust/comments/gi7v2v/is_it_wrong_of_me_to_think_that_rust_crates_have/

[2020-05-12 15:18] BurntSushi commented on #1365
@kbknapp [invited me to participate in this issue](https://github.com/clap-rs/clap/commit/739e7048a50d14023ef9ec20cba3cd844f6d4748#r39117357), but I have to say, from reading the comments, it seems like there's an undercurrent of counter-productive "us vs them." If I'm coming from (your perspective) the "anti-dependency" camp and you already believe that you can't sell clap to me

then is it reall

[2020-05-12 15:25] kbknapp commented on #1365
Thank you for the detailed response! Before I can finish reading the comment and add any thoughts, let me address something real quick as a moderation note:

I want to be very clear with everyone reading these messages (especially including the clap team) that this is *not* what I want to portray or the tone I want to encourage. Internet communications via text are hard, especially when we start c

[2020-05-12 15:35] BurntSushi commented on #1365
Also, one other note: IIRC, `cargo bloat` has an option to list binary size by function. That might also be useful to look at for decreasing binary size. Sometimes you can get big wins by tweaking the inlining strategy used, for example.

[2020-05-12 15:44] pksunkara commented on #1365
I strongly agree with this.

Unfortunately, I only started using Rust this year (maybe Dec last year), so I missed all the deps related discussions and am still trying to catch up on understanding the pros and cons related to rust ecosystem. That is why I was asking you the recent question on deps in termcolor @BurntSushi.

In Javascript before, while I do try to reduce our usage of deps, I still

[2020-05-12 16:28] kbknapp commented on #1365
My understanding is there are several concerns that can also overlap with each other, and not everyone has the same concerns. As mentioned above, some of those include:

* Binary Size
* Compile Time
* Transitive Deps (which repeats points 1-2 for each dep)

Adding a dep can have negative impacts on points 1 and 2, or *both*. Some people care about point 1, some people about point 2, and some about

[2020-05-12 17:49] BurntSushi commented on #1365
You _probably_ want to stick with `os_str_bytes`. `os_str_bytes` re-implements WTF-8 and gives you 100% correctness on both Unix and Windows. The only help `bstr` gives you with OS strings are utility functions for converting between `&OsStr` and `&[u8]`, which is zero cost on Unix but does lossy decoding on Windows, so it sacrifices some correctness. (`bstr` does not re-implemented WTF-8.)

I don

[2020-05-12 17:51] pksunkara commented on #1365
I think using `indexmap` in place of `vec_map` would make the performance worse. And we need `indexmap` for ordered map IIRC.

There was a PR in the v2 commit history which removed `bitflags` but then you reverted it back @kbknapp. Not sure what happened but it was around 2 yrs ago.

[2020-05-12 17:57] kbknapp commented on #1365
That's entirely possible. I haven't done any investigating on the matter yet.

That was switching `bitflags` for a `HashSet` which had a significant negative performance impact which was the reasons for the revert.

[2020-05-13 02:32] pickfire commented on #952
@sassman are you working on all of it or do you need some help?

[2020-05-13 06:04] #1919 closed

[2020-05-13 07:50] CreepySkeleton commented on #1365
I actually looked at the list long time ago and found that
* there are about 5 big (10KiB - 33KiB) functions, they hold ~90KiB of clap. Maybe we can shrink them a bit, but I wouldn't expect any breakthrough here.
* there are *a few dozens* of pretty small but non-negligible functions (500B - 5KiB) that are responsible for the most of the bloat. This is where I'd expect we can get a win.
* clap doe

[2020-05-13 08:46] sassman commented on #952
@pickfire I started by `PartialEq` on `ArgGroup` and `App` and wrote some little tests for it. But I'm not sure if tests would be necessary for those standard traits.

[2020-05-13 08:48] pksunkara commented on #952
Tests are not needed. Just write `derive(PartialEq)` and if it compiles, then it's okay. That is why this is a beginner issue 😄

[2020-05-13 08:49] pksunkara commented on #952
Tests are only needed if there is a custom implementation somewhere.

[2020-05-13 09:22] pickfire commented on #952
@pksunkara It would be fun if beginners are able to claim parts of this issue like https://github.com/rust-dc/fish-manpage-completions/issues/2

[2020-05-13 10:37] BorisDRYKONINGEN opened #1924 "Missing generated help for --help and --version with `clap::App::write_help`"
### Code
This code shows the differences between calling this program with `--help` and displaying the help with `clap::App::write_help`.

[code]

### Steps to reproduce the issue

Just run `cargo run -- --help`

### Version

* **Rust**: rustc 1.43.1 (8d69840ab 2020-05-04)
* **Clap**: 2.33.1

### Actual Behavior Summary

`clap::App::write_help` writes the following to the given argument (`std::io:

[2020-05-13 11:55] BorisDRYKONINGEN commented on #1924
Oops, not noticed issue #808 (which is closed), and actually, the doc mentions it. Sorry, I close this

[2020-05-13 11:55] #1924 closed

[2020-05-13 21:57] Will-Low commented on #1463
I'll take a look at this

[2020-05-14 09:08] #1922 closed

[2020-05-15 06:30] #1885 closed

[2020-05-16 04:20] pickfire commented on #1642
@casey Can we see the source code for the output? Are you perhaps using `long_help`?

[code]

Or do you do it?

[code]

[2020-05-16 04:57] casey commented on #1642
I no longer use `long_help`, but I think this is the last version of my code which had separate `help` and `long_help`: https://github.com/casey/intermodal/commit/4fffa777b4af5afee208cfffb7d6de5b4972aaf6

[2020-05-16 13:53] pickfire commented on #1642
I believe the issue is related to `long_help`. I cannot seemed to reproduce this, is this still reproducible?
[code]

[2020-05-16 21:06] strega-nil opened #1933 "Suggestion: Could this project have a JSON schema for the YAML CLI options?"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I am writing a clap YAML (which is a superset of JSON) file, and I wish to get errors and warnings from VS Code if my YAML file is not a valid clap YAML file.

### Describe the solution you'd like

There is a `c

[2020-05-17 10:15] CreepySkeleton commented on #1933
Why not? @strega-nil would you like to make a PR?

[2020-05-18 10:16] #1933 closed

[2020-05-18 20:11] I60R commented on #1807
Done. I also think that I've found what argument positioning I want:

1) With `DeriveDisplayOrder` we increment each arg `display_order` starting from 1000 but only for those that had it unspecified. Then, if multiple args sharing the same `display_order` they would be sorted alphabetically (default behavior).

2) Instead or alongside with we may provide `display_all` method for `App` and `ArgGrou

[2020-05-18 20:22] pksunkara commented on #1807
We have them. `help_heading`.

You are not exactly giving us a sample of the code where `DeriveDisplayOrder` is not working in clap_derive. As I said before, flattening the struct should work with the option well.

[2020-05-18 20:44] I60R commented on #1807
The whole point isn't in having them, but in having them in the same place and not using them explicitly.

That's actually the problem e.g. if you have this unflattened struct:

[code]

and then refactors it to flattened

[code]

you may find that the original order is messed up (b-a-c) and there's no straightforward way to fix it

[2020-05-19 01:40] bjeanes commented on #1607
I also want to do this in order to tap into the completions logic and allow users to do something like:

[code]

However, `clap_generate` is (understandably) underdocumented at the moment, so y'all might already have plans on standardising how shells get access to those completions.

[2020-05-19 08:39] pksunkara commented on #1807
Yes, that can be implemented.

[2020-05-19 21:54] tech6hutch commented on #1634
Is there currently any way to make prompts in Clap, manually if necessary? I just don't want to repeat myself with arg parsing and error messages.

[2020-05-20 03:49] retep998 commented on #992
To avoid issues with whether the shell included the `.exe` in `argv[0]` you can just get the executable name directly on Windows via `GetModuleFileNameW`.

[2020-05-20 06:03] danieleades commented on #1634
Negative. But it looks like there's a reasonable concensus as to how to fit the pieces together.

Clap can add hooks which all you to populate fields using a function. Then crates like `dialoguer` can handle the prompt. This might involve some interior mutability to lazily populate the value.

But then you run into questions like
- if interactive prompts, why not config files too?
- what is the *p

[2020-05-20 06:10] danieleades commented on #1634
@tech6hutch if you absolutely *must* have interactive prompts, you can try an approach I used. (I used [structopt](https://github.com/TeXitoi/structopt)).

- define an `Args` struct
- define a `PartialArgs` struct (derive `StructOpt`) which is the same as the `Args` struct, but with `Option`al fields
- implement `From<PartialArgs> for Args` with a bunch of `unwrap_or_else(|| //prompt user)` calls

[2020-05-20 07:33] CreepySkeleton commented on #992
Are there safe bindings to it?

[2020-05-20 07:46] retep998 commented on #992
Actually, it turns out `std::env::current_exe()` on Windows already does exactly that.

[2020-05-20 14:11] pksunkara commented on #992
Will you be sending a PR?

[2020-05-20 14:13] pksunkara commented on #1801
Closing this PR. Please reopen when ready.

[2020-05-20 14:14] pksunkara commented on #1801
Better way to fix this would be implementing the following way

[2020-05-20 15:23] CreepySkeleton commented on #992
It's actually more complicated than it sounds.

With `current_exe` in mind, we have two competing sources for the application name:
* The first element of the iterator (if `NoBinaryName` wasn't set)
* `current_exe()`

Which one to choose? Do we just discard the element and use `current_exe`?

[2020-05-20 15:42] retep998 commented on #992
What are the reasons for using `argv[0]` instead of `current_exe()`?

[2020-05-20 15:52] CreepySkeleton commented on #992
The iterator `clap` parser gets may or may not be from `env::args()`. It can be a user-provided array with it's own first item which is _supposed_ to be used "as if" it was `argv[0]`. It should probably be prioritized over `current_exe`.

`get_matches` must use `current_exe` and `get_matches_from` must use `iter.nth(0)`, I think.

[2020-05-21 15:12] patrickelectric commented on #1406
That's a really important feature!

[2020-05-21 15:51] mrusme opened #1938 "error: cannot produce proc-macro for `clap_derive v3.0.0-beta.1` as the target `x86_64-unknown-linux-musl` does not support these crate types"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[Here](https://github.com/mrusme/cmdr).

### Steps to reproduce the issue

[Here](https://github.com/mrusme/cmdr/blob/master/Dockerfile).

### Version

Environment: `1.43.1-alpine3.11`
Clap: `3.0.0-beta.1`

### Actual Behavior Su

[2020-05-21 16:17] pksunkara commented on #1938
https://github.com/rust-lang/rust/issues/40174#issuecomment-538791091

[2020-05-21 16:18] CreepySkeleton commented on #1938
@mrusme As a general rule, please avoid linking to someone's `github.com/<user>/<repo>/master` because master (and other tags/branches) are not permalinks. You push a new commit, and the link now points to another piece of code.

Ideally, you should copy-paste the relevant code into the issue. If you think that the code sample is too large, you can use permalinks:

![image](https://user-images.git

[2020-05-21 16:18] #1938 closed

[2020-05-21 16:21] mrusme commented on #1938
@CreepySkeleton thank you, Sir!

[2020-05-21 16:24] CreepySkeleton commented on #1938
I'm a Sir, yay!

[2020-05-24 09:01] pickfire commented on #552
@pksunkara I would like to help out with man page generation, maybe I will try generating `mandoc` format first then `troff` since I like that format.

[2020-05-24 09:08] pksunkara commented on #552
IIRC @codesections is working on it.

[2020-05-24 10:11] pickfire commented on #552
@pksunkara I believe I am working on a different man page format here which most likely @codesections is not using which is `mdoc`.

[2020-05-24 11:58] spacekookie commented on #552
I think what is important to consider is that man page generation only
partially has to be integrated with clap.  A man page isn't just a set
of options with the same help text as --help (well, some of them are and
they're utterly useless!)

Instead, a man page need to be more long-form text that is merged with
the structure of the clap arguments, with some sections just being
free-form explanatio

[2020-05-24 15:13] pickfire commented on #552
@spacekookie I understand since man pages will usually have more items not even in help. Thanks for sharing traduki. But from my personal point of view, I prefer writing man pages either mdoc or troff by hand at the expense of duplicated help.

[2020-05-24 15:57] Dylan-DPC commented on #552
I think for something that is a bit of complex, It's better that it is done separately as a separate crate so that we can iterate and find the better solution. I remember as Katherina said, that codesections is working on something so I'd wait on that to decide where this goes after that.

[2020-05-26 05:58] Demi-Marie opened #1943 "Placing `--` before a subcommand fails with a confusing error"
### Rust Version

`rustc 1.43.1 (8d69840ab 2020-05-04)`

### Affected Version of clap

2.33.0

### Expected Behavior Summary

If `x` is a subcommand, then `./some_binary -- x` should give a message stating that `--` before a subcommand name is not allowed.

### Actual Behavior Summary

`./some_binary -- x` suggests that I re-run `./some_binary -- x`.

### Steps to Reproduce the issue

Include `--`

[2020-05-26 09:55] spacekookie commented on #552
@pickfire sorry, I'm not sure I understand what you mean by "building all the man pages" here. Could you clarify that a bit maybe?

Also regarding traduki: I picked yaml as a format because it's flexible enough to do all the things without much syntactic overhead. I'm not opposed to add more format support, if there's something you're more comfortable with.

[2020-05-26 10:00] ssokolow commented on #552
@spacekookie I reiterate my earlier opposition to YAML that got [buried in the fold](https://github.com/clap-rs/clap/issues/552#issuecomment-572862739).

[2020-05-26 10:11] pickfire commented on #552
@joshtriplett While trying out some tests cases in mdoc, I believe we should have multple manpages instead of sticking everything into one man pages. I think it would be better to split each subcommands into their own manpages instead since subcommands usually have their own flags, options and description.

The naming of other files could be `myapp-subcommand` and we could have a `SEE ALSO` sectio

[2020-05-26 22:04] kbknapp commented on #1943
Upgrading to 3.0-beta.1 provides a better, but still not perfect message:

[code]

[2020-05-26 22:06] kbknapp commented on #1943
Basically, we shouldn't include this line:

[code]

if `--` was used.

[2020-05-26 22:27] kbknapp commented on #1607
Traditionally the only way to do something like this was to make `--doc` a global argument, use `required_unless` and then in consumer code check for `--doc` prior to actually doing any real work.

Since `exclusive` is a 3.x addition, we could downgrade it to *override* all other arguments instead of hard conflict and error. Reason being, we can't enforce process ending (minus error) without some

[2020-05-26 22:33] kbknapp commented on #992
The purpose of that setting was to start parsing immediately as arguments, instead of skipping `argv[0]`. i.e. such as a REPL or other prompt where the consumer code is continually passing an `argv` direct to clap that doesn't include the binary.

That's the incorrect bit :wink: clap assumes the binary name was set manually when `NoBinaryName` is used, it doesn't re-interpret `argv[0]` as a new bi

[2020-05-27 00:07] CreepySkeleton commented on #1943
And check the first arg after the `--`. If it's a subcommand, show a friendly hint.

[2020-05-27 05:36] connorskees commented on #1918
I will have some time after June 5th to work on this if no one beats me to it.

[2020-05-27 12:40] erdii opened #1946 "Website is not linking back to github repo"
Nice community work here btw!

### Clap version

---

### Where

[https://clap.rs](https://clap.rs)

### What's wrong

The website https://clap.rs/ does not include a link to this github repo (at least I couldn't find it).

### How to fix

Maybe you can add one or more links so that people can come here :)
I'd suggest one link in the site footer, next to the other social media icons. and at least

[2020-05-27 14:29] pksunkara commented on #1922
@lanesawyer Sorry about being late. I didn't get any notification that you submitted output. I was waiting for the notification.

[2020-05-27 15:10] spacekookie commented on #552
@ssokolow :

Yea  me too.

& @pickfire: regarding yaml, it was the first format I picked because _I_ personally find it easy to work with. But I know that many people have different preferences and that's totally fine. I am in no way opposed to writing other parser backends. `json`, `toml`, `MO`, some web tool, whatever...

Regarding the structure of additional documentation: the problem is that t

[2020-05-27 16:10] pickfire commented on #552
@spacekookie I believe using `yaml` is not slim and may introduce a lot of old missing translation. If they would not want `fluent`, they could always fallback to gettext which is widely used from what I see.

Yes, when separating man pages into `tool-subcommand`, fish is able to detect the man page when the user press `a-h` to display the correct man page.

[2020-05-27 18:24] alerque commented on #552
YAML is not a terrible option for describing a bunch of meta data. I'm aware of its shortcomings, but it is also flexible and powerful and pretty easy to use (if you're not the programmer working on the edge cases). On the other hand it's a terrible way to represent translation data.

If the main use of YAML was to describe the interface I'd be all for it, but if the main use case is providing alt

[2020-05-28 12:11] spacekookie commented on #552
@pickfire can you please stop trying to derail the conversation with talk about yaml? I get it. We all get it. It's secondary to the actual point and at this point honestly off-topic.

The point of having a central translations crate was exactly not to pick favourites. You have your opinions on how to handle assets, others have theirs. I think it's not out of scope for a language ecosystem to have

[2020-05-28 12:13] pksunkara commented on #552
The consensus in clap was that we export the doc strings you give us into whatever format the generator needs.

[2020-05-28 12:18] ssokolow commented on #552
@spacekookie Normally, I would, but I just realized that I don't remember an explicit mention of the intersection of these three facts:

1. We're talking about translations.
2. One of YAML's known flaws is that its "do what I mean" approach to strings and quoting makes it very easy for someone to intend Norway's ISO 3166 code (`no`) or Norwegian's ISO 639-1 code (also `no`) but get a boolean false

[2020-05-28 15:04] pickfire commented on #552
@spacekookie I am not trying to derial the conversation talking about YAML (in fact this came secondary to me). Of course we can switch to any other format but I would say using any serialization format would probably be bad against battle tested translations such as gettext and fluent. I also did mentioned the other facts like internationalization should be something out of scope for this discuss

[2020-05-28 15:55] spacekookie commented on #552
@pickfire

But that's not how man pages work!  Have you ever looked at a man page? What, do you want to embed pages and pages of documentation into your Rust code? Because Rust is so famous for being amazing to write multi-line strings in. Give me a break.

If we go down the route of "just add this one line" Rust applications are going to have man pages that are utterly and completely useless. And

[2020-05-28 16:05] ssokolow commented on #552
Not necessarily.

If we were to follow the approach of [GNU help2man](https://www.gnu.org/software/help2man/), then the "this one line" would take an optional `include` argument that would be appended below the auto-generated stuff as part of the manpage build process... and that *does* feel very structopt-ish.

[2020-05-28 16:54] CreepySkeleton commented on #552
***Moderator note:*** *Please keep in mind that this discussion is about __manpages generation__ in clap, not file formats. I'm answering certain yaml criticism below because it's quite objective but misleading, but please, try to stay on topic. . Please also keep in mind that [traduki has it's own bug tracker](https://git.open-communication.net/spacekookie/traduki/-/issues). If you think there's

[2020-05-28 17:02] CreepySkeleton commented on #552
It looks like we're throwing out the same arguments again and again. For the sake on moving _somewhere_, let's try to come to some sort of consensus on the following topics:

* Should/can man pages be the same as `--help` or they should be more descriptive?
* Should manpage generator use the same input as `--help` messages generator?
* Should the data be compiled into the executable or be a separa

[2020-05-28 17:09] Dylan-DPC commented on #552
Please do not post moderation notices.

Here is what i'm going to do. This discussion is going nowhere so I'm closing this issue. If either party feels they know the right way, create a proof of concept as a separate repository (or use a clap fork) and we can discuss from there.

[2020-05-28 17:12] pksunkara commented on #552
Please don't close the issue when it's not resolved. And people can still comment on a closed issue.

I have locked the issue now.

[2020-05-28 17:43] Dylan-DPC commented on #552
I'm sorry i'm closing it since the discussion is going nowhere. Please do not overrule.

[2020-05-28 17:48] pksunkara commented on #552
Which is why I locked the issue which means no more discussion.

I as a developer and the other users would like to track this issue as non
completed which means it should stay open as part of issue tracker.

Or do you mean to say this is now implemented in clap?

On Thu, May 28, 2020, 19:44 Dylan DPC <notifications@github.com> wrote:

[2020-05-28 21:27] kbknapp commented on #552
## Admin Note

The discussion here got a little heated and derailed, which is totally possible and common with online discussions.

Just a reminder for everyone to remain civil, even when differences of opinion exist. We can, and *I expect* us to debate technical issues, but those debates must remain calm and professional.

This issue will remain **locked** for the next 48 hours to allow everyone

[2020-05-30 03:24] kbknapp commented on #1891
[Linus Torvalds the issue](https://lkml.org/lkml/2020/5/29/1038)

[2020-05-30 15:10] CreepySkeleton commented on #1891
Hmm... Hmm... Uhuh.

Well, the `grep` argument isn't really applicable to clap's help output because help descriptions tend to be multi-line anyway. The only thing people grep from the `--help` output would be the name of an option or subcommand or whatever, and you _do_ expect the description to be multi-line in many cases, wrapping or not.

I pretty much agree with everything else.

Honestly, I

[2020-05-30 15:36] pickfire commented on #1891
Can we make it depends on the terminal width user have rather than giving our own opinion of default?

Sadly, I am still using 106 or 87 columns width so application from nodejs that expects even a mere 100 do wrapping that makes my eye bleed. I am probably similar to one of the guy that he mentioned complained about compiling the kernel from raspberry pi 4 with 4GB of RAM, I compile rust from a 1

[2020-05-30 15:39] pksunkara commented on #1891
That's when `wrap_help` is enabled. This issue is about a sane default when it is disabled. Of course we can use `$COLUMNS` but it's not always available. This issue is about the default when it's not available.

[2020-05-30 15:58] pickfire commented on #1891
Then I believe 100 is good, especially when rust uses 100 too haha.

[2020-05-30 16:23] kbknapp commented on #1891
Sorry, it was late and I should have clarified I didn't post that link because I agree or disagree, just because it was some recent discussion on the topic :stuck_out_tongue_winking_eye:

[2020-05-30 16:42] CreepySkeleton commented on #1891
It doesn't matter, I guess. It's just the problem is pretty much non-pressing, it generates much more discussion than it worth, and it's not like we're making some sort of hard decision here - we can always revise it in future. We're all in agreement that 100 is a good choice, so let's just get it over with.

[2020-05-30 17:24] #1891 closed

[2020-05-30 17:30] pksunkara commented on #1946
I would actually take over this issue to discuss a much need refactor of our website clap.rs

I would take inspiration from https://diesel.rs. @CreepySkeleton has been wanting to write some guides which we can host there too.

A good project needs to have 4 kinds of documentation as described [here](https://documentation.divio.com/). We already have the "Reference" at docs.rs. So, let's host the o

[2020-05-30 17:32] kbknapp commented on #1946
I'm fine with someone working on a refactor. I just don't personally have time to work on it. The current implementation is just a barebones wordpress site. It *used* to have a lot more content, but due to some shenanigans the old site was lost and I stood up just a bare bones version.

I'll fix the link on the current site so we can close this issue, but I'm good with opening an issue to refactor

[2020-05-30 20:29] FauxFaux opened #1952 "derive docs should link to derive/examples, where all the docs are"
### Clap version

3.0.0-beta.1

### Where

Readme, module docs, docs.rs homepage.

### What's wrong

All of the docs for derive appear to be in the examples folder, which you have to know is different to the main examples folder, and that it follows a different strategy. The docs for the derive module are not useful.

Please link https://github.com/clap-rs/clap/tree/master/clap_derive/examples fro

[2020-05-30 20:42] CreepySkeleton commented on #1952
Yeah, we know about it. And about a million of other things. We will be sweeping through the documentation when the time comes, but right now we're preoccupied with other stuff to deal with.

I'm closing this particular issue in favor of #1652 , but if could give us a hand and fix a link or two, we would very much appreciate it!

[2020-05-30 20:42] #1952 closed

[2020-05-31 15:43] CreepySkeleton opened #1955 "help_heading doesn't seem to work"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

Initially reported as https://github.com/clap-rs/clap/discussions/1954

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`

### Version

* **Rust**: 1.43.1
* **Clap**: 3.0.0-beta.1

### Actual Behavior Summary
[code]

#

[2020-06-01 10:14] #1955 closed

[2020-06-01 14:38] Oxyriser opened #1959 "Specify the default --sort option in the configuration file"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

It would be great if the configuration file was able to configure the default for the `--sort` cli option as it does for the `--type` option for example.

### Describe the solution you'd like

With a `.tokeirc`

[2020-06-01 14:38] #1959 closed

[2020-06-02 04:06] woodruffw commented on #1232
I'd also like to register interest in this. It's not as conceptually clean, but an approach that injects the results of a subshell would be sufficient for many CLIs.

Borrowing the `with_completion` terminology above:

[code]

would go from something like this in the `bash` completions:

[code]

to this:

[code]

[2020-06-02 06:21] CreepySkeleton commented on #1232
I must admit I like the "special option to autocomplete" approach *very* much, but I've also came up with a number of tricky questions.

Let me summarize the prior discussion and outline the desired solution that _should_ work and satisfy everybody.

We want this facility _somewhere_ in clap:
[code]

Where to squeeze the `fn` in? I believe it should be a method in `App`, and this method should onl

[2020-06-02 14:16] Manishearth commented on #1232
Yeah, this is essentially what I proposed above, with the small tweak that I was using `--` as an argument separator instead of quoting the entire thing (I find quoting to just be very messy), and also I was havng the completion function live on the `Arg`. I do think having a completion function on the `Arg` (_and_ one that lives on the whole command) is good: this way it is very easy to write dyn

[2020-06-02 20:11] CreepySkeleton commented on #1880
As a minimal viable solution, we could simply allow ignoring unknown or missing positionals and options.

[code]

This kind or partial parsing would allow for most, if not all, cases and would be fairly easy to implement.

[2020-06-02 20:16] CreepySkeleton commented on #1232
No quoting the _entire_ string here (we simply don't know what the string was with most shells). We pass the args array as is, quoting each arg to guard against spaces. But using `--` is probably a good idea so, if user used `--` on his own, it would be accounted for.

[code]

User needs to reparse all args in any case. The "partial parsing" problem was reported as https://github.com/clap-rs/clap/

[2020-06-02 21:17] alerque commented on #1880
Yes that does indeed sound like a MVS, and something along the lines of what I expected to be able to hack together already and failed. It's not the most elegant solution maybe, but it would get me by for my use case of localization.

[2020-06-04 06:34] samtay commented on #1133
I think this is biting me now, but I'm not sure if it's the same issue. I think the functionality I want is currently impossible. I have an `app` that will take any arbitrary string (that is, a required arg with `multiple(true)`), but also has a subcommand `config` that would take precedence:
[code]
Is this possible in `clap-2.33.1`? Using the `ArgsNegateSubcommands` and `SubcommandsNegateReqs` he

[2020-06-04 07:27] samtay commented on #1133
Oh wow. Oddly, this works
[code]
I'm not familiar with the internals of clap, but this seems like an interesting detail, might help you all in the 3.0 implementation.

[2020-06-04 07:55] pksunkara commented on #1133
Subcommands are not allowed after `--`

[2020-06-04 08:16] CreepySkeleton commented on #1133
@samtay What you want is _optional_ positional argument with `min_values(0)` and `setting(ArgSettings::AllowLeadingHyphen)`. Unfortunately, there's no way for subcommands to take precedence over options in clap 2.33, but 3.0 will have `AppSettings::SubcommandPrecedenceOverArg`

[2020-06-04 09:37] samtay commented on #1133
@pksunkara I think you are misreading my comment. I do not want subcommands after `--`, I want to use `--` as intended:  everything after `--` should be interpreted as positional arguments. Using `app -- config fine here too` _should_ treat `config` as a positional argument, instead of as a subcommand.

@CreepySkeleton Your suggestion doesn't work for me unfortunately, the same faulty error messag

[2020-06-04 11:10] tailhook opened #1960 "Default `--version` doesn't include newline"
In version 2.33.0: `cargo run --example 01a_quick_example -- --version` prints version with the final newline. In the current master (f4ace424) it doesn't include the newline which makes it inconvenient in some shells:
[code]

I couldn't find an issue about that. Was the change intentional?

[2020-06-04 18:49] sourcefrog commented on #1772
I just came here from https://github.com/TeXitoi/structopt/issues/396 and wanted to say, I really hope in a v3 breaking change, Clap can address the `multiple` / `number_of_values` confusion, both for the API and for the new derive macros.

+100 this bit. It really sticks out as a trap in what's generally a friendly API, and is exacerbated by the fact that you can easily not notice the bug is ther

[2020-06-05 04:29] dynaxis commented on #1206
I've arrived here trying to write a crate to adapt some or all of command line arguments matched with Clap into a configuration to be built with config-rs. I just don't want to let users specify the same argument specifications as given to Clap twice. That is, arguments information from Clap + rules to map arguments to configuration items should minimize hassles from user side.

For my case, it's

[2020-06-05 06:11] CreepySkeleton commented on #1206
@dynaxis What you described sounds  a lot like `get_name`, `get_subcommand`, `get_...` methods in clap 3. you can just take the `App` and query all the info you might need.

And that is the big question: what the specification would be?

[2020-06-05 06:32] dynaxis commented on #1206
@CreepySkeleton yes, those `get_...` methods are what I want. Thank you very much. I only looked into the doc of `3.0.0-beta.1` and they seem added afterwards.

And regarding "argument specifications", I just mean specifying what arguments are expected (i.e. in the form of YAML, calls of builder methods, or whatever `Clap` supports).

[2020-06-06 11:56] pksunkara commented on #1740
Found the commit which removed this. https://github.com/clap-rs/clap/commit/cacc23473c64ec8a57471285b3978face05b4d86

[2020-06-06 13:24] pksunkara commented on #1740
Just found that `AllowEmptyValues` flag is still available in settings [here](https://github.com/clap-rs/clap/blob/v3.0.0-beta.1/src/build/arg/settings.rs#L83)

[2020-06-06 13:43] pksunkara opened #1962 "Arg::require_delimiter doesn't make sense in code"
Code from v2 branch is:

[code]

[2020-06-06 15:46] pksunkara opened #1963 "Remove `_clap_count_exprs` macro"
We don't need it to be public anymore.

[2020-06-07 00:47] lucasfernog commented on #1206
I'm also interested in this feature, because I'm writing a library that uses Clap and since everything is dynamic, I'd also to know the "big picture" of the matched args, so something like exposing the IndexMap `args` inside `ArgMatches` would be useful to me. What's the status here?

[2020-06-07 05:50] CreepySkeleton commented on #1206
The status is, we need to decide on this problem:

Maybe we could export `Id` as an "opaque identifier" so you can iterate over them, but that would be as far as we can go.

I'm currently working on rearranging the layout so that global arguments are stored separately from normal ones. I am opposed to exposing these details since there are plans to change them (inside my head mostly), but could yo

[2020-06-07 12:30] lucasfernog commented on #1206
I'd like to have something like a JSON serialization of ArgMatches, so a mapping between each arg name and its value, number of occurrences, etc. The reason is that I'm trying to expose the parsed results to a different language (JavaScript), and this kind of structure would help me, since I can't just expose Clap's interface because it's recursive (subcommands inside subcommands).

[2020-06-07 14:10] wabain commented on #1880
@alerque It sounds like [get_matches_safe](https://docs.rs/clap/2.33.1/clap/struct.App.html#method.get_matches_safe) could be what you're looking for? That would address the immediate problem of clap prematurely exiting with help or an error.

[2020-06-07 15:10] CreepySkeleton commented on #1880
@wabain But it wouldn't give you the partial mach, see the color example above

[2020-06-07 15:22] CreepySkeleton commented on #1206
`Id`, not name.

Anyway, stable serialization of ArgMatches is beyound the scope of this issue. I encourage you to file a separate issue for that. Frankly, if I were you, I would just conver the matches into `HashMap` or something.

[2020-06-07 19:51] lucasfernog commented on #1206
Writing the matches to a `HashMap` is exactly what I need.

But the thing is, i'm extending clap with my library, so the dev gives me a structure defining its CLI args, and I'd like to give them back a HashMap with every id and its value. But I'd prefer not iterating over this structure and calling `ArgMatches::get_value_of` or something like that, since there's a lot of edge cases to cover (like

[2020-06-08 05:22] stedingan opened #1965 "Example code of README.md using builder pattern results in panic"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`

### Version

* **Rust**: rustc 1.45.0-nightly (47c3158c3 2020-06-04)
* **Clap**: 3.0.0-beta.1

### Actual Behavior Summary

If i use the above example code from the cl

[2020-06-08 10:18] stedingan commented on #1965
After some research it looks like the field [arg.name](https://github.com/clap-rs/clap/blob/master/src/build/arg/mod.rs#L60) is always `""`

So
[code]
returns always a `false`.

Due to my still little knowledge of Rust i'd be happy to help and learn.
Would someone provide some information where i should look? Probably I need to investigate

[code]

[2020-06-08 11:54] CreepySkeleton commented on #1965
In the first snippet, the condition must be `x.id == arg.id`.

Where did you get the second snippet from? I can't find it in the codebase.

[2020-06-08 11:56] pksunkara commented on #1965
I don't get it. Our tests should be failing if the condition is wrong.

On Mon, Jun 8, 2020, 13:55 CreepySkeleton <notifications@github.com> wrote:

[2020-06-08 11:58] stedingan commented on #1965
Hello @CreepySkeleton ,
it's from [here](https://github.com/clap-rs/clap/blob/v3.0.0-beta.1/src/build/arg/mod.rs#L137)
It also looks like it's already fixed on the master branch?

[2020-06-08 12:04] CreepySkeleton commented on #1965
Ah, yes. There used to be `Arg::new` method different from `with_name`.  We eventually decided to ditch the old `new` and just rename `with_name` to `new`. it happened after  the `beta` release.

This is fixed in master. The condition must be fixed though - it's not _wrong_, but it would be "more correct" to check `id`. We would appreciate such PR!

[2020-06-08 12:10] stedingan commented on #1965
Alright.
Thanks for the feedback.
I'll set up a PR if nobody minds? :-)

[2020-06-08 20:33] jen20 commented on #1946
Potentially of note here is that the Wordpress installation on https://clap.rs appears to be compromised - https://clap.rs/?page_id=46 for example seems like spam?

[2020-06-09 01:33] catleeball opened #1968 "Validate argument with regex"
### Describe your use case

It would be nice to have a clap feature for argument validation via a regex. This would be handy and flexible for users, allowing them custom validations without writing a [custom validator](https://github.com/clap-rs/clap/blob/master/examples/15_custom_validator.rs) to do so, and hopefully without requiring too large of overhead for implementation and testing in clap i

[2020-06-09 04:44] CreepySkeleton commented on #1946
Hm, I don't see any spam there, but rather a stub:

![image](https://user-images.githubusercontent.com/50968528/84106876-f1c53800-aa24-11ea-8ff8-cb78dc38242e.png)

Probably related to

[2020-06-09 05:22] CreepySkeleton commented on #1968
My first thought was: "This is pretty trivial with normal validators!". And indeed:
[code]

But on the other side, validators cannot be deserialized from YAML, and "matches a regex" does sound common enough to warrant a special case.

I say we might gate it behind `regex` feature.

Unresolved questions: what about error messages? I have doubts that "value <val> doesn't match <re> regex" is good us

[2020-06-09 05:50] #1965 closed

[2020-06-09 06:47] catleeball commented on #1968
Agreed on your point about needing a more helpful error, @CreepySkeleton . I personally like the example function you provided where the user supplies an error string.

[2020-06-09 09:58] promethe42 commented on #1026
@pksunkara any update on this? Thanks 3000!

[2020-06-09 10:35] pksunkara commented on #1026
Nothing yet. Still working on some other stuff first.

[2020-06-09 11:13] CreepySkeleton commented on #1026
I'm working on it, but I'm as well working on other stuff concurrently  (clap book, sane global args representation, sane default values, some groups bugs) so don't expect it to be dealt with soon.

[2020-06-10 06:13] stedingan commented on #1963
Hello,

what do you mean with hiding?
Right now I don't see the macro being used in the current master, am I missing something here?

[2020-06-10 06:16] pksunkara commented on #1963
You are right. I removed it's usage when I removed `arg_enum` macro. In that case, we can remove the macro completely.

[2020-06-10 07:23] #1963 closed

[2020-06-10 07:52] stedingan commented on #1960
Hello,
@tailhook which shell do you use?

On my `zsh` or `bash` right now i cannot confirm the bug for version `2.33.0`

Best regards.

[2020-06-10 07:58] pksunkara commented on #1960
He's talking about master

[2020-06-10 08:14] CreepySkeleton commented on #1960
This reproduces on linux (bash and zsh) but not on windows (CMD)

[2020-06-10 08:56] stedingan commented on #1960
Oh I see. Sorry my bad.

I still digged into the code and probably
[code]

Is lacking some `\n` for the `write!()` macros isn't it? If i add them i get a new line in my bash.

[2020-06-10 08:58] pksunkara commented on #1960
Yeah the fix is as simple as that. Please make you add a test or update one if it already exists.

[2020-06-10 10:37] pscott opened #1971 "Panic with structopt `requires` magical methods"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run -- --first 3 --criterion foo`
2. PROFIT!!!

### Version

* **Rust**: rustc 1.43.1 (8d69840ab 2020-05-04)
* **Clap**: 2.33.1
* **StructOpt**: 0.3.14

### Actual Behavior

[2020-06-10 10:51] pksunkara commented on #1971
What's the panic message you are getting?

[2020-06-12 07:47] bb010g commented on #1365
@kbknapp

Would also exposing static help generation via a build script and/or macro be feasible?

[2020-06-12 10:57] ssokolow commented on #1365
I'd disagree with that perception. For writing little scripts that are meant to be tiny, I'd be willing to sacrifice functionality if the gains are proportionate to what's lost, and there do even exist argument parsers designed to be tiny that do `--help` generation in about 1/20th the size of clap. (pico-args has a [comparison chart](https://github.com/RazrFalcon/pico-args#alternatives) and, of t

[2020-06-13 21:46] lanesawyer commented on #1815
Is this still an issue? On the `master` branch, all usages of `.short()` appear to be taking in a single character.

[2020-06-14 16:38] CreepySkeleton commented on #1815
This works fine with current master:

[code]

It MUST have been a `'c'`, but there's [the hack](https://github.com/clap-rs/clap/blob/81457178fa7e055775867ca659b37798b5ae9584/clap_derive/src/attrs.rs#L150-L154) supporting this blasphemy. The hack must be removed, `#[clap(short)]` must be fixed to work with chars and not strings, and examples/tests must be adjusted.

[2020-06-18 15:02] loewenheim commented on #1968
How would the error message be written in a YAML file?

[2020-06-18 15:36] CreepySkeleton commented on #1968
Just as any other tuple would
[code]

[2020-06-19 12:10] fatemender opened #1978 "Relative path in `clap_up/Cargo.toml` breaks some tools"
In `clap_up/Cargo.toml` there is a dependency on `cargo-up` expected to be locally available.

https://github.com/clap-rs/clap/blob/81457178fa7e055775867ca659b37798b5ae9584/clap_up/Cargo.toml#L31

While this is not a problem for most workflows because this crate is not part of the workspace, some tools are affected.  E.g. `cargo-outdated` fails for anything that depends on `clap` now when doing it

[2020-06-19 12:11] pksunkara commented on #1978
It is still in development. Will be fixed before release.

[2020-06-19 12:12] pksunkara commented on #1978
`cargo-outdated` should definitely not be doing recursive sweeps. It should be relying on `cargo_metadata`.

[2020-06-25 12:46] ewilazarus opened #1984 "Typo on 'Build Your Own Binary' section at 'README.md'"
### Clap version

**branch**: `master`
**Cargo.toml version**: `3.0.0-beta.1`

### Where

[Build Your Own Binary](https://github.com/clap-rs/clap/blob/master/README.md#build-your-own-binary)

### What's wrong

The `README.md` has a typo. On the bullet point at line 413, it is written `* Writer your program as described in the quick example section.`.

### How to fix

Just remove the **R** after **

[2020-06-25 21:10] bradwood commented on #572
FWIW, I'm quite keen on this feature as well. Not so much dynamic dispatch per se, but more simply the ability to be able to pass in a parameter of my own choosing to the validator _in addition_ to the what clap itself passes.

[2020-06-25 22:12] CreepySkeleton commented on #572
I see that we've got *two* different questions on the table here:

1. Using trait objects vs using multiple functions
[code]

    I don't see _any_ difference. Arguably, multiple fns are better.

2. Ability to pass some user-defined context to the validator. Guys, maybe I'm missing something and is about to say something stupid again, but why can't you just... *capture the context*???
[code]

Mayb

[2020-06-25 22:28] ssokolow commented on #572
It's been over two years and I can't remember what situation I specifically needed this for, given that the simple case is adequately satisfied by how Clap prefixes the validator-returned message with `Invalid value for '<placeholder name>':`

Heck, given that I've moved to StructOpt (and am about to test out Clap 3.x's derive API), it'd probably be a good idea to think up a more declarative-API-f

[2020-06-25 22:52] CreepySkeleton commented on #572
I suppose your understanding of what "generic validators" being is different from mine. Could you elaborate? Preferably with (pseudo) code examples.

Why and in what do you see validators being not flexible or friendly enough for the derive?

[2020-06-25 22:55] #1984 closed

[2020-06-26 00:01] ssokolow commented on #572
By "generic validators", I mean things like `path_readable_file` in the [`validators.rs`](https://github.com/ssokolow/rust-cli-boilerplate/blob/master/template/src/validators.rs) from my rust-cli-boilerplate. Reusable validators designed for recurring roles.

For example, I might have a script which takes two or three positional arguments and want more than just the `<metavar>` in the clap-provide

[2020-06-27 01:32] #1815 closed

[2020-06-28 03:34] Moongoodgirl opened #1990 "AllowMissingPositional + trailing multiple(true) arg imposes weird requirement"
### Make sure you completed the following tasks

- [*] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [*] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. `cargo run` (see actual and expected behavior sections)

### Version

* **Rust**: `rustc 1.44.0 (49cae5576 2020-06-01)`
* **Clap**: `2.33.1`

### Actual Behavior Summary

a. `cargo run

[2020-06-29 05:06] CreepySkeleton commented on #1990
`AllowMissingPositional` is often a bad idea. It's just a workaround for some use cases needed because clap's parser is too dumb to populate positional args properly.

Without it, [everything's working pretty much as expected](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e4a4a6dcfb0972a2ffedeecae76acf63)

[2020-06-29 20:49] davepacheco opened #1993 "Unix style line endings in error message on Windows"
### Code

[code]

### Steps to reproduce the issue

1. On Windows 2019 (e.g., GitHub Actions CI), run `cargo run 2>&1 | xxd` (using xxd just so that you can see the line endings)

### Version

* **Rust**: `rustc 1.44.1 (c7087fe00 2020-06-17)`
* **Clap**: 2.33.1

### Actual Behavior Summary

Line endings in the output are Unix-style (`\n` only):

[code]

(see line 14, address a0)

### Expected Beha

[2020-06-30 08:56] CreepySkeleton commented on #1993
Yes, I think we've never been paying attention to line endings. On the other hand, considering that:

* Clap errors and help messages are meant to be user-facing, printed to Console/TTY. The precise format must not be relied upon, so there's very little use saving it to a file or piping to another program.
* Windows CMD on Win 10 seems to handle `\n` just fine.

With the bullet points in mind, is

[2020-06-30 09:05] CreepySkeleton commented on #1993
By the way, even if you were saving it to a file, you would need to try _very hard_ to find a modern text editor that doesn't handle `\n` properly. Meh, even [notepad has learned to do that](https://devblogs.microsoft.com/commandline/extended-eol-in-notepad/)!

[2020-06-30 09:27] CreepySkeleton commented on #572
And that's a _third_ question on the table, and I think it's quite irrelevant to trait objects - clap would use it's own prefix indefinitely. I suggest you to open a separate issue for that.

From what I've picked from `validators.rs`, I can see you use the "multiple fns" approach, but I really fail to see how trait objects could help you there. (Frankly, I don't really get what you need help with

[2020-06-30 09:54] CreepySkeleton commented on #1846
And now I  need to write a cargo plugin, too.

But right then you noticed that

So the `cargo_plugin` method I described should serve for... about every real use case out there. We may need to have it take `&[&str]` because some people alias the plugin name (`cargo workspaces & ws`), but otherwise I see no reason in generalizing it further.

Also, the `cargo_plugin` name is so _fitting_, it basica

[2020-06-30 10:12] CreepySkeleton commented on #1729
Closing as inactive. Nobody showed any interest.

[2020-06-30 10:12] #1729 closed

[2020-06-30 10:13] CreepySkeleton commented on #1723
Closing as inactive. I don't think this feature is of any use, and, evidently, almost nobody wants it.

[2020-06-30 10:19] Dylan-DPC commented on #1723
Please don't close any issues just because nobody commented they needed it. There could always be a future feature request.

[2020-06-30 11:29] CreepySkeleton commented on #604
Emphasis on:

This is pretty much the same as what we do for `Id`. Piece o'cake, I'll take it.

[2020-06-30 11:57] CreepySkeleton commented on #920
Um, `trust` is all about binary releases, and we don't do any as clap is a library :)

[2020-06-30 11:57] #920 closed

[2020-06-30 12:41] CreepySkeleton commented on #1205
This sounds like a logic problem to me: having a default value implies that the arg or group is NOT required - why the hell would it have a default value otherwise? If a default value was specified, it's implied that there's circumstance this default value would be used in, but if the arg was also required, than the default value would never be used - user would be forced to supply their own value

[2020-06-30 13:07] CreepySkeleton commented on #1246
The linked `textwrap` issue has been closed, so this is _probably_ fixed. We would need to check again nonetheless.

[2020-06-30 13:29] CreepySkeleton commented on #1287
I can't reproduce it with master:
[code]

[code]

So let's say it was fixed somewhere along the way :)

[2020-06-30 13:29] #1287 closed

[2020-06-30 13:41] CreepySkeleton commented on #1323
And that's what you get with master:
[code]

[2020-06-30 23:06] pksunkara commented on #1323
So, the behaviour has changed but it's still not correct, right?

[2020-06-30 23:08] pksunkara commented on #1246
I removed the colors from being sent to textwrap. That still doesn't solve this issue because we are now not coloring the possible/default values. Let's keep this open until that is fixed.

[2020-06-30 23:26] #1990 closed

[2020-07-01 01:36] CreepySkeleton commented on #1323
Right

[2020-07-01 02:27] CreepySkeleton commented on #810
@pksunkara @kbknapp So can we finally decide whether we want this or not? More specifically, are we open to inclsion `clap_generate` as a clap module? If we aren't, than we can close this as impossible.

[2020-07-01 02:53] CreepySkeleton commented on #1441
I believe this is solved by `Arg::exclusive`.

[2020-07-01 02:53] #1441 closed

[2020-07-01 08:15] pksunkara commented on #810
I will take care of this. I have a few ideas on how to fix this.

[2020-07-01 08:17] pksunkara commented on #1205
This is how a normal `Arg` behaves too. If you specify `required(true)` and `default_value` it will still pass when no value is provided.

[2020-07-01 10:45] CreepySkeleton commented on #1476
Here's what I propose:
* `Arg::env` no longer implies `takes_value(true)`. It's up to user to set it.
* If `env("ENV") IS set:
  * if `takes_value(true)` IS NOT set (the arg is a flag), than the flag is considered raised if `ENV` is defined. Its precise value doesn't matter, empty or not, its precise value will not be recorded.
  * if `takes_value(true)` IS set, than `ENV` behaves just like it doe

[2020-07-01 21:18] ssokolow commented on #572
I wasn't specifically talking about trait objects. I was explaining a use case which, ideally, shouldn't require that a second feature be implemented, given the overlap. (The ability to specify a custom error message for a specific use of a general-purpose validator.)

If anything, it was an argument to not settle on the idea of using trait objects too quickly.

[2020-07-01 22:23] CreepySkeleton commented on #572
@ssokolow Here's your problem as I perceive it:

Clap validators don't have the full control over the error message displayed. The message consists of two parts: the `Invalid value for <arg_name>: ` prefix, and the string returned from the validator as `Err`. Validators have full control over the latter - they conceive it, but they have no control over the prefix which is displayed no matter what.

[2020-07-01 23:35] acheronfail commented on #1880
I am building an app which spawns another process, and needs to "sniff" if certain flags were passed to the subprocess. Having an `AppSettings::IgnoreErrors` would be invaluable, since I only want to match some specific args, and leave the rest alone.

Right now I believe this is impossible with `clap`, and I have to parse the args manually.

---

For some more detail, my app is used like this:

[

[2020-07-02 02:46] CreepySkeleton commented on #1321
@pksunkara IF you have a linux machine, could you please run the example above and see if the warnings still trigger?

[2020-07-02 03:27] ssokolow commented on #572
No, my desire is to minimize the boilerplate involved in per-field customization of failure messages on fields that share the same stock validator.

I mentioned it here because the initial poster's rationale is:

...and that's how I'd have accomplished it in Python.

[2020-07-02 03:40] CreepySkeleton commented on #572
And then we're back to the question of why you can't just capture the "custom data" in the closure. I took a closer look and found that the validator fns have `'static` restraint, thus making captures virtually useless. In the linked PR above, I tried to address the issue, and from now on you should be able to just use closures. I'll add an example shortly.

[2020-07-02 03:50] CreepySkeleton commented on #572
@ssokolow Do you need the ability to mutate the context? Is `impl Fn` enough or you need `FnMut`? I'm asking because mutable would conflict with `Send + Sync`.

[2020-07-02 03:57] CreepySkeleton commented on #572
Ugh, I'm struggling to come up with a meaningful example. @ssokolow Could use your help here.

[2020-07-02 06:25] ssokolow commented on #572
Assuming you want something minimal enough that a working example could be presented, you could do a generic "positive, non-zero integer" validator where the failure message is overridden to something specific like "Number of archive volumes must be a positive integer".

[2020-07-02 08:34] CreepySkeleton commented on #572
I mean something that would demonstrate usefulness of the context, I can't come up with an example that doesn't look made up. Since you're asking for the context passing ability, I assume you have a good idea of what the example would be. It doesn't have to be too concise, 50 (or maybe even 100) LOC will do.

[2020-07-02 13:28] therealprof commented on #1365
Just randomly stumbled across this ticket and I do find one argument rather weird in this discussion which is "performance": How is that even a topic worth making size tradeoffs for?

In the end, a command line parser (typically) runs once per application invocation while bloat is evident even when the application is not used at all.

For this kind of crate size should always have a way higher pri

[2020-07-02 13:32] BurntSushi commented on #1365
@therealprof No, performance matters, a lot. This is a problem `docopt` had (and probably still has), where in certain configurations, its performance could be quite bad because of how its matching algorithm worked.

The main reason why performance matters for CLI parsers is when a lot of arguments are passed to the command, or when the command is repeatedly executed. This can happen pretty easily

[2020-07-02 13:48] therealprof commented on #1365
Sure, I wasn't implying that abysmal performance was acceptable. But you don't need superfancy order-preserving hashmaps to get perfectly fine CLI parsing speeds for 99+% of all applications, a regular `Vec` would do just fine. And for the rest we can always have a separate opt-in performance option which uses highly optimized external crates to cater for crazy fast 2 MB CLI arguments parsing need

[2020-07-02 13:55] BurntSushi commented on #1365
I see, I didn't realize you were talking at that level of detail. I think at that point, you need a benchmark. I do share your skepticism on that specific point, but would definitely want to subject it to testing.

[2020-07-04 11:05] ssokolow commented on #572
I'll see what I can do, but life has been busy the last few days and I haven't even been able to get to things I specifically chose to take on in as timely a fashion as I expected.

[2020-07-05 16:07] adragott opened #2001 "When taking in an input file as "tes.txt" or "test.txt", clap tries to treat it as a subcommand and it fails"
### Code

[code]

### Steps to reproduce the issue

1. build as normal with `cargo build`
2. run with `./target/release/<bin> <subcommand name here>.txt`
3. PROFIT $$$$$
### Version

* **Rust**: rustc 1.44.1 (c7087fe00 2020-06-17)
* **Clap**: "~2.33.1"

### Actual Behavior Summary

I'm following the example from this video: https://www.youtube.com/watch?v=7z9L6NOjbqM&list=PLza5oFLQGTl2Z5T8g1pRkIyn

[2020-07-05 16:44] CreepySkeleton commented on #2001
Yeah, this is a bug, but it appears to be fixed in master:
[code]

[code]

We don't really work on `clap 2` anymore (unless it's a security vulnerability), so I guess you're going to have to wait for `3.0` to be released. Sorry.

[2020-07-05 16:44] #2001 closed

[2020-07-05 16:49] adragott commented on #2001
I'm perfectly fine with using the version 3 even if its in beta. I'm just new to rust and didn't know if beta meant not working. Thanks for the quick response!

[2020-07-05 16:57] CreepySkeleton commented on #2001
"Beta" means "you're outside of normal semver guarantees and we still hold the right to break public API until proper `3.0.0` is released". It also documented poorly.

But otherwise, it works, mostly fine.

[2020-07-06 11:06] CreepySkeleton opened #2002 "Use a default template instead of separate code path in Help::write_help"
As @kitlith noticed in https://github.com/clap-rs/clap/pull/1986#issuecomment-653928929,:

In other words, instead of using some sort of hardcoded template, we use a separate function that acts like a hardcoded template.

I think that it worth exploring simply using a hardcoded template instead of a separate code path. We may also export this template as `pub static: &str DEFAULT_TEMPLATE`, but I'

[2020-07-06 17:14] CreepySkeleton commented on #1993
OK, after consulting with a few friends, I'm leaning very strongly to considering this a far-fetched problem. @davepacheco Did it cause any actual inconvenience or something?

[2020-07-06 18:14] kitlith commented on #2002
I agree. The precise contents of that template should be able to change. The guarantee I was going for is not "this is *the* template that will always produce the default output" but "this is the template that produces the default output for this version".

[2020-07-07 02:46] fragrans opened #2003 "multiple verbose (-vvv) parsed wrong in 3.0 beta release"
This following yaml file could recognize multiple level verbose argument (-vvv); but broke in 3.0 beta release.
Please check this sample repository:

https://github.com/fragrans/clap_error_2020

[code]

![image](https://user-images.githubusercontent.com/102768/86695324-03f3bf80-c03f-11ea-82de-2254c8176e7c.png)

[2020-07-07 06:53] CreepySkeleton commented on #2003
It's not wrong, it's you need `multiple_occurences` instead because `multiple` implies `takes_value`.

Dear, I thing we need a **BOLD WARNING: this is very likely not what you want** attached to `multiple`. And good docs. I'm back to writing the book...

[2020-07-07 06:53] #2003 closed

[2020-07-07 07:21] fragrans commented on #2003
changing multiple to multiple_occurences gave panic.

[code]

[code]

[2020-07-07 07:38] CreepySkeleton commented on #2003
Ugh, doesn't work with YAML yet... For now, use `multiple: true takes_value: false` in that order.

[2020-07-07 07:39] fragrans commented on #2003
Thanks.

[2020-07-07 14:33] CreepySkeleton commented on #751
It does seem like the vast majority of non-utf8 offenders in CLI args are filesystem paths, and otherwise there's little sense to be on guard against invalid utf-8, correct? Maybe introducing some sort of path-specific getter (as described in #1723 for instance) is the way to mitigating the issue?

That might not be a bad idea, but it's not really feasible implementation-wise. That's just very far

[2020-07-07 15:05] CreepySkeleton commented on #1614
This is fixed in master because the only way to get `description() is deprecated; use Display` is to explicitly call `description()`, and my grep-fu suggests we don't do that. This is fixed in master, and we don't plan on backporting it to 2.x.

[2020-07-07 15:05] #1614 closed

[2020-07-07 16:03] davepacheco commented on #1993
@CreepySkeleton thanks for taking a look.  "inconvenience" is about it -- I was building a test to verify that my program produces a useful help message when run with invalid arguments.  The easiest thing was to store the expected output in a file.  (I know the output is not stable, but I'm okay with the tradeoff in this case.)  I'm able to work around this by converting line endings on Windows on

[2020-07-07 16:18] CreepySkeleton commented on #1993
That is the part I don't get - why do you need to convert them? Don't you just compare expected and actual outputs byte-after-byte? Or is it your test system that adores `\r\n` and can't live without them?

That all sounds a lot like there's the [`XY` problem](https://en.wikipedia.org/wiki/XY_problem) involved at some point...

[2020-07-07 16:30] CreepySkeleton commented on #1993
Another drop in the bucked - people often hardcode `\n` (and not `\r\n`) in the help messages that clap displays "as is". It's really common out there and I have yet to see somebody accounting for `\r\n` on Windows.

[Even Rust std doesn't bother with it](https://stackoverflow.com/a/47541878/11966336).

[2020-07-07 16:42] davepacheco commented on #1993
More details, if you want to know: I want an automated test that ensures that my (cross-platform) executable produces a useful help message when run with no arguments.  An easy way to do that is to run it with no arguments, save the stderr output to a file, and write an automated test that runs the executable and compares its output against the contents of the file.  (I understand this means if I

[2020-07-07 18:07] CreepySkeleton commented on #1993
Oh boy! That rings a bell.

Listen to me for I am telling truth: thou shalt not set `autocrlf = true`. There are some [great](https://jessitron.com/2019/11/11/line-endings-in-git/) [explanations](https://stackoverflow.com/questions/2825428/why-should-i-use-core-autocrlf-true-in-git) of why this is useless nowadays and hazardous in some cases, like yours. Long story short: use `autocrlf = input` in

[2020-07-07 18:07] #1993 closed

[2020-07-08 00:17] pictographer commented on #1535
Not a weird corner case. Man pages are essentially this.

[2020-07-09 01:30] leotaku opened #2005 "Use enum as subcommands in a subcommand"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

#### Output
[code]

### Steps to reproduce the issue
1. Run `cargo run --`
2. Observe that the application panics

### Version

* **Rust**: rustc 1.46.0-nightly (0c03aee8b 2020-07-05)
* **Clap**: 3.0.0-beta.1

### Actual

[2020-07-09 10:07] CreepySkeleton commented on #2005
OK, got it.

Some (modified) code from discussions that works:
[code]

The thing is, OP wants to omit the shim struct and use the enum directly:
[code]

That kind of makes sense. But it doesn't work because of [this](https://github.com/clap-rs/clap/pull/1681#issuecomment-584840564). I'll be working on it once I'm done with my current backlog.

[2020-07-09 13:10] CreepySkeleton commented on #1433
I was thinking along these lines in the context of https://github.com/clap-rs/clap/issues/1790. Something like
[code]

or more generally
[code]
And maintain the list of supported colors.

I don't want to support any RGB-or-something notations because Windows CMD has only a set of predefined colors and implementing the RGB code => winapi color mapping is something I very much like to avoid.

[2020-07-10 10:13] #1962 closed

[2020-07-10 12:52] pksunkara commented on #1321
I don't, I use Mac. But the VM provided by Kevin should be linux IIRC.

[2020-07-10 12:54] pksunkara commented on #2003
@CreepySkeleton  We should probably keep this issue open, right?

[2020-07-10 12:59] pksunkara commented on #1993
@davepacheco I had the same issue as you when I was doing the same thing on a project I was using clap in. I fixed it by modifying the test helper to replace the `\r\n` to `\n` in fixtures and the tests were then passing in Windows CI.

[2020-07-10 13:12] #1597 closed

[2020-07-10 13:55] CreepySkeleton commented on #1993
Frankly, I don't understand why people even use CRLF these days and keep biting the bullet (outside of `.bat` files and such, but those are covered by `.gitattributes`). Out of curiosity, could anybody explain me that?

Whatever the case, the universal solution to this problem would be creating a `.gitattributes` in your project's repo with the following content:
[code]

Super fast to set up, work

[2020-07-10 15:41] davidMcneil opened #2006 "Rename ErrorKind::{VersionDisplayed, HelpDisplayed} to present tense"
Using clap version `2.33.1`. See the following program:

[code]

The current output I get is:
[code]

The output I expect is:
[code]

The `--help` option behaves as expected.

[2020-07-10 18:19] davepacheco commented on #1993
@pksunkara Thanks!  I did the same.

@CreepySkeleton Defaults are pretty influential (and for good reason).  Not only does autocrlf=true appear to be the default in the Git for Windows installer, but it's also the default in the GitHub Actions Windows runner, which is how I got here.  [GitHub also recommends that Windows users set autocrlf=true.](https://docs.github.com/en/github/using-git/configu

[2020-07-11 11:58] CreepySkeleton commented on #2006
This is fixed in 3.0.
[code]

[code]

We do need to rename the kind to `DisplayVersion` (and probably `HelpDisplayed`). I'm re-purposing the issue.

[2020-07-11 15:05] pksunkara commented on #2005
It used to work on structopt, right? How can we fix this?

[2020-07-11 15:08] pksunkara commented on #1476
Agreed. Marking this for 3.0

[2020-07-11 16:35] CreepySkeleton commented on #2005
I believe the best way is to change the syntax:
[code]

[2020-07-11 19:28] cpick opened #2009 "`clap_generate::generate()` panics on subcommands"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

[code]

### Steps to reproduce the issue

1. Run `cargo run generate`
2. The following panic is produced:

### Version

* **Rust**: rustc 1.44.1 (c7087fe00 2020-06-17)
* **Clap**: 3.0.0-beta.1 for `clap` and `clap_generat

[2020-07-12 09:11] pksunkara commented on #2005
Your snippet is not exactly giving me the full context. But I can wait for the PR to review it properly.

[2020-07-12 10:13] pksunkara commented on #1133
Have you tried it with the master branch?

Yes, that is what should happen. Subcommands should not be parsed after seeing `--`, so all of them will be just normal arguments IIRC.

[2020-07-12 18:39] samtay commented on #1133
No, I'm not on `master`. I think we have some miscommunication problems though. Above, when I say _should_, I mean this is the behavior I _expect_, but not the behavior I _observe_.

In particular, my shell snippet above directly contradicts this:
[code]
This shows that clap is trying to parse subcommands after `--`. If you use any word other than `config` the above will not error. If you use `con

[2020-07-12 20:20] CreepySkeleton commented on #1133
@samtay Could you please post the reproducer so I can tinker with it?

[2020-07-12 22:50] pksunkara commented on #1133
I get that. But we need to know what the current behaviour is to understand if this is actually a bug or not. And to do that, you would need to check with master.

[2020-07-13 17:33] nickelc opened #2011 "Help subcommand behaves different than help flags when `App::replace` is used"
Using clap `master`
### Code
[code]

### Steps to reproduce the issue
1. Run `cargo r -- install --help`
2. Run `cargo r -- help install`

#### `cargo r -- install --help` Output
[code]
#### `cargo r -- help install` Output
[code]

I expected the replacement of `help install` with `help module install`

[2020-07-14 16:22] muuvmuuv opened #2014 "Generating auto completion for zsh-prezto does not work with Deno project"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

Ref: https://github.com/denoland/deno/issues/6309

[code]

### Steps to reproduce the issue

1. Install deno
2. Run `deno completions zsh > /Users/marvinheilemann/.zprezto/modules/deno/init.zsh`
3. Print `_deno:12: command not fo

[2020-07-14 18:01] pksunkara commented on #2014
This is an issue with zsh version IIRC. Please paste your zsh version. Also can you please try with clap master branch?

[2020-07-14 18:16] muuvmuuv commented on #2014
I am running the default apple zsh: zsh 5.7.1 (x86_64-apple-darwin19.0)

Sorry but I am not familiar with Rust :/

[2020-07-15 04:56] samtay commented on #1133
Confirmed, this behavior does not work on `2.33.1` but **does work** on `master` branch ([relevant gist](https://gist.github.com/samtay/1d4e18ba55f05a4d616e4427570b3f7b)):
[code]

[2020-07-15 12:37] pksunkara commented on #1133
So, I think we can close this issue since it's fixed. We will not be backporting it to v2.

[2020-07-15 13:11] #1133 closed

[2020-07-15 20:06] kenoss commented on #1880
Let me have some examples because my English is poor and I might miss points.

The original problem is "lax position of arguments."

[code]

I think this is solved by adding option to `Arg`.  No tricks.
There's possibility the implementation of parsing become little complicated, but developer using clap can use intuitively.
This is also glad with the viewpoint of https://github.com/clap-rs/clap/is

[2020-07-15 22:20] kenoss commented on #1232
A few weeks ago I saw completion approaches of `git`, `kubectl`, `pyenv` and `clap_generate` and I found that dynamic completion will be suitable for clap.

I agree with th CreepySkeleton's first observation.  But, I vote Manishearth's point.  I prefer the completion function live on the `Arg`.
I think forcing users to parse args themselves decrease clarity of clap.  We should provide structural w

[2020-07-15 22:22] kenoss commented on #1232
Note that clap can automatically derive completion for short/long options in many cases, i.e., if one doesn't need special treatment.

[2020-07-15 23:05] marcospb19 opened #2018 "[Doc] Obscure behavior of Arg.multiple method"
I'm trying to learn how to use Clap but I'm having a **very hard time** with the documentation, here I will try to explain my struggle only for the sake of improvement.

I might just be dumb for the time I wasted stuck on my task xD, but then let's try to understand how a dumb person deals with the documentation and how can we make it better.

### Where

https://docs.rs/clap/2.33.1/clap/

---

I h

[2020-07-17 09:23] ssokolow commented on #572
Sorry for going silent. One of my hard drives started to give signs that it may fail soon, and I'm due for a bunch of hardware replacement anyway (eg. can you believe I still don't have an SSD?), so, I've been busy double-checking my backups and preparing for an all-at-once large-scale system upgrade when the new hardware arrives.

[2020-07-17 16:48] CreepySkeleton commented on #572
Mate, I found you. We should unite and start a new brand movement "weirdos who don't upgrade hardware while it works fine". Affiliate it with bitcoin and bigdata and the world will succumb!

[2020-07-17 19:21] ssokolow commented on #572
\*chuckle* I wouldn't say "works fine". It's quite annoying when my nightly backups push everything out of the disk cache and the system then chugs as I have to deal with the consequences of having so many of my applications depending on a forest of small files that need to be seek-time'd back into the cache from all around the platter.

That, and I have another drive from the same production run

[2020-07-17 22:25] SirWindfield commented on #1694
This would still be useful for cases where the underlying default of the application differs from the default of the type:

[code]

This is currently IIRC not possible. The default of `PathBuf` isn't useful here.

[2020-07-18 07:30] leighmcculloch opened #2021 "ArgRequiredElseHelp and SubcommandRequiredElseHelp don't result in clap::ErrorKind::HelpDisplayed"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

This is an example with `AppSettings::ArgRequiredElseHelp`. This also occurs with `AppSettings::SubcommandRequiredElseHelp`.

[code]
[code]

### Steps to reproduce the issue

1. Run `cargo run`

### Version

* **Rust**: `rustc 1.

[2020-07-18 13:16] CreepySkeleton commented on #2021
This one is complicated.

First thing to notice: `HelpDisplayed` is __past tense__. The help has _already_ been printed to stdout/stderr; the `ErrorKind` is just a way to notify the developer about that, not a way to give control over the process. This was quite annoying and counter-intuitive, so we changed this - 3.0 doesn't print anything preemptively, and I will rename the error kinds shortly,

[2020-07-18 14:28] #1361 closed

[2020-07-18 14:40] CertainLach opened #2022 "Obscure panic with heading and default value"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`

### Version

* **Rust**: rustc 1.46.0-nightly (346aec9b0 2020-07-11)
* **Clap**: master at 48d308a8ab9e96d4b21336e428feee420dbac51d

### Actual Behavior Summary

Code

[2020-07-18 15:31] leighmcculloch commented on #2021
Sounds good. Will this just be in v3 and be a feature change, or should it change in v2 as well?

[2020-07-18 15:37] CreepySkeleton commented on #2021
Changing that in v2 would be breaking (low impact, but still). v3 only.

[2020-07-19 10:37] pksunkara commented on #1264
@CreepySkeleton you were working on default stuff recently, right? Can you take a look at this last comment?

[2020-07-19 12:50] pksunkara commented on #2011
I am still deciding whether this is intended or not. `replace` is similar to aliases but for more args than just one.

[2020-07-19 12:51] #1903 closed

[2020-07-19 15:38] CreepySkeleton commented on #1264
I find myself agreeing with @Kayvlim . Default values aren't ephemeral, they are very real values. Clap treats them in almost exactly the same way as any other value (barring conflict resolution which they are exempt from, or at least should have been).

That is a good question. My answer would be no, there aren't, and in this case we should panic if `ArgRequiredElseHelp` is set and _any_ of the a

[2020-07-20 01:00] siyopao commented on #2006
This looks like something I can probably handle if that is okay? I suppose `HelpDisplayed` should be renamed to `DisplayHelp`?

[2020-07-20 08:30] colemickens commented on #1649
If there's a workaround someone could share, that would be great (I was wondering if maybe it's possible with the builder, or a custom parser? It seems like structopt has a way, but I can't find such functionality in clap at first glance).

To elaborate on justification for this bug... It *is* more than just surprising behavior. From what I can tell, it actively prevents certain designs. For examp

[2020-07-20 19:00] CreepySkeleton commented on #1649
You couldn't find this functionality because it doesn't exist.

The key is that flags do not take value in clap, period. Flags that take value are called options. Options can be either present (possibly with a number of values following) or not. There's no notion of "if this option has one value and the value equals `false` then pretend that the option wasn't present".

`structopt` can do it becau

[2020-07-21 09:51] intgr opened #2031 "Rant: MultipleValues considered harmful"
Sorry, but a rant here... I accept that other people might have a different view on this, but let me make my case.

I've only been scratching the surface of clap, both as CLI application developer and hacking clap itself. And I'm already losing count of the number of times I've been confused by the distinction between `MultipleValues` and `MultipleOccurrences`.

### As positional arg

I was trying

[2020-07-21 09:58] pksunkara commented on #2031
It's better to have them both for normal args, but for positional args, I guess they both mean the same.

[2020-07-21 10:08] #1918 closed

[2020-07-21 14:02] CreepySkeleton commented on #2031
Before I follow with a rant of my own - because of course I will, but I need to gather my thoughts or it will be nasty - @intgr , could you check if `multiple_occurences(true).takes_value(true)` works for you?

[2020-07-22 01:06] Kayvlim commented on #1264
@CreepySkeleton I suppose you are only agreeing with how I think clap works, but not with how I think it should be changed?

I don't agree that `ArgRequiredElseHelp` should panic if any arg has a `default_value`. It's a perfectly legitimate use case:

If the user runs my application without arguments, I want them to see the help, but if they run it with the single required argument, I want the app

[2020-07-22 05:35] colemickens commented on #1649
Thank you for the detailed explanation @CreepySkeleton, I hadn't quite understood the important distinction between "options" and "flags". It turns out, this also works, since I prefer explicit boolean options over "flags" -- https://github.com/clap-rs/clap/blob/dd5e6b23131f16ef8b090a8482f1b97c6a693498/clap_derive/examples/true_or_false.rs

[2020-07-22 19:44] marcospb19 commented on #2018
I'm willing try helping with the documentation and create a PR, but I don't know how to build the documentation for this project.

[2020-07-23 11:14] tmankita commented on #1968
Hi,
I would like to pick up this issue if no one is working on it yet.

[2020-07-23 14:13] TGotwig commented on #1264
Yeah it would be really cool if it could just return 0 instead of error-code 2 after showing the help along with `ArgRequiredElseHelp` without passing required arguments 🤯

[2020-07-24 03:25] CreepySkeleton commented on #1264
Well, let's see what we can do about that...

[2020-07-24 17:53] sjackman opened #2033 "Expand template macros found in Rust comments [feature request]"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I'm using the `clap` with its derive macros. The same library code is used with two separate executables. I'd like to include the name of the executable in the about text of a command line argument. For example.

[2020-07-24 20:36] CreepySkeleton commented on #2033
I think this is one of those feature requests which are, while unquestionably useful, very hard to design and implement properly.

### Why derive-only won't do

For starters, this cannot be derive macro only feature because

* The binary name (for example) is unknown until runtime, and `#[derive(Clap)]` works at "macro expansion time". There's no `{bin}`  we could replace the placeholder with, or

[2020-07-24 22:20] sjackman commented on #2033
Yes, I agree that the expansion would happen at run time.
Thanks for your quick response!

I specifically want this feature when using Clap with its derive macros. When using the builder pattern, `format!` can easily be used.
[code]

When using the derive macro
[code]
the expansion of `{bin}` would be done at run time when the user invokes `command --help`.
[code]

https://docs.rs/clap/2.33.1/clap

[2020-07-24 22:22] pksunkara commented on #2033
You should be able to use `format!` with derive macros too since doc strings are just syntactic sugar for `#[doc = ""]`

[2020-07-24 23:04] sjackman commented on #2033
@CreepySkeleton pointed out above…

[2020-07-25 11:40] LoganDark opened #2035 "Create own error message in clap's style"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

`clap` emits its own error messages. They look quite nice, they have color, all that good stuff. Maybe I want to take advantage of this feature - perhaps instead of using `panic!`, or manually emitting a message

[2020-07-25 20:43] CreepySkeleton commented on #2035
You can create a custom error with `Error::with_description` (I think better rename it to `custom`). It doesn't cover coloring though.

I like the proposal, but I think I would wait until after we're done with the refactorings and stuff.

[2020-07-25 20:45] LoganDark commented on #2035
That is a reasonable goal, but you are in the process of refactoring, why not make this change while you can? Major version 3 still isn't fully released, so you have more freedom.

[2020-07-25 20:55] CreepySkeleton commented on #2035
Because it's not yet decided what the colorizer will look like. Once we're settled on that, we can make it public and document.

If you have any alternative solutions, I'm all ears.

[2020-07-26 07:58] #2006 closed

[2020-07-26 18:46] c-x-berger commented on #1971
... I have the same issue with actually matching names in the `requires`method:

[code]
Invoking with `cargo run -- -r test` produces a panic:
[code]
Full backtrace:
<details>
<summary><code>RUST_BACKTRACE=full cargo run -- -r test</code></summary>
<pre>
thread 'main' panicked at 'Fatal internal error. Please consider filing a bug report at https://github.com/clap-rs/clap/issues', /home/caleb/.car

[2020-07-26 19:37] CreepySkeleton commented on #1971
@c-x-berger `blog_url` is renamed to `blog-url` by default, so you need to use `requires("blog-url")`

[2020-07-26 22:45] c-x-berger commented on #1971
Ah. That... makes sense, though it's still frustrating.

[2020-07-27 17:29] TeXitoi commented on #2033
That's not totally true: the code is generated at expantiin time, but the given string can be generated at run time. See the lazy_static hack

[2020-07-28 11:47] CreepySkeleton opened #2037 "Reduce compilation time"
[All features](https://gistpreview.github.io/?8ee8a91bfe081221672908eb57fcf723)
[No features](https://gistpreview.github.io/?2e3e54008f987749cd1cbf31f8f1f0e9)

The `clap` crate (not counting dependencies) takes about 11 seconds to compile. All dependencies put together take roughly the same amount of time.

I have a few thoughts on how to improve the situation. Generally, compile time wins these d

[2020-07-30 11:31] SirWindfield commented on #2037
Hey!
If you want I can tackle down the trait implementation features :) How fine-grained do you want it to be though?

[2020-07-30 11:33] SirWindfield opened #2040 "Specifying a default value but no help text results in the default value being pushed one space to the right inside the help screen"
## Output

[code]

Take a look at the `-t,--to` option. It's one space too much aligned to the right :)

### Code

[code]

### Steps to reproduce the issue

1. `cargo run -- -h`

### Version

* **Rust**: rustc 1.41.0 (5e1a79984 2020-01-27)
* **Clap**: 3.0.0-beta.1

### Expected Behavior Summary

The default value should be aligned with the help text, i.e. one space to the left.

__Edit:__ I know,

[2020-07-30 11:45] SirWindfield commented on #1790
Wouldn't an API be better that can be passed to items. This would allow for noop implementations on unsupported platforms. There are enough crates out there that already do that, there would just be the need to create an API around it. Maybe something like this?
[code]

[2020-07-30 17:12] pickfire commented on #1790
But how does this API works with some more advanced? Like command description where one needs to change the style of some text partially? I bet it would be complicated.

[2020-07-31 12:24] CreepySkeleton commented on #2037
Sure, you can try, but keep in mind that the real goal is to reduce compilation time. If the measurements will show no real difference (at least half second, everything below the threshold is noise), I will say "well we tried" and move on to other ideas.

[2020-07-31 13:35] SirWindfield commented on #2037
Sure thing! Could you tell me how to managed to time the compilation? And create the visuals for it as well :)

[2020-07-31 14:23] CreepySkeleton commented on #2037
The invocation was
[code]

This will create `cargo-timing-<HASH>.html` file that you can open in your web browser and see the adorable stats you were so excited about :) Then I uploaded the raw html on `gist.github.com` and linked it through `gistpreview.github.io` so you see the rendered version instead of raw HTML guts.

[2020-07-31 15:16] pickfire commented on #1790
@pksunkara IIRC currently clap filters out ansi escapes codes like @SirWindfield mentioned. I wonder if there is a reason behind it?

[2020-07-31 16:54] 3NdR1m opened #2042 "Can't compile with 3.0.0-beta.1: "error: linking with `cc` failed: exit code: 1 [...]""
When trying to build a project using "3.0.0-beta.1", I get the following error:

[code]

Am I missing any library or config?

## Code relevant to clap
[code]

## Environments
cargo 1.44.1 (88ba85757 2020-06-11)
rustc 1.44.1 (c7087fe00 2020-06-17)
clap 3.0.0-beta.1

[2020-07-31 18:12] CreepySkeleton commented on #2042
That's weird. Could you run` cargo clean` and try again? And what is your OS?

[2020-07-31 19:51] 3NdR1m commented on #2042
@CreepySkeleton `cargo clean` solved the issue, thanks a lot!

[2020-07-31 20:04] #2042 closed

[2020-07-31 21:22] jgarvin opened #2043 "specifying default value makes field required"
### How to reproduce

With this declaration passing the argument is not required:

    #[clap(short, long)]
    cores: Vec<u32>,

with this declaration it is:

    #[clap(short, long, default_value = "")]
    cores: Vec<u32>,

I would expect specifying a default value to imply optional, so this doesn't seem like it can be intentional.

### Version

* **Rust**: rustc 1.46.0-nightly (16957bd4d 2020-

[2020-07-31 21:53] pksunkara commented on #1790
I am not sure if we filter or remove it. I would need to check. But the current behavior you are describing is intentional. Having non display chars was messing with the help message indentation.

[2020-07-31 21:56] pksunkara commented on #2043
I think you are trying to assign your own semantics to clap here. Having a default value makes the arg optional but the value of the arg will not be undefined but will instead be the default value.

[2020-08-01 09:16] pickfire commented on #1790
But these escape codes for coloring are not adding any spaces or changing the indentation, maybe we can explicitly whitelist the escape codes for coloring (except those that mess with the cursors).

[2020-08-01 12:29] CreepySkeleton commented on #1790
Pasting my own comment from elsewhere

---

I was thinking along these lines in the context of #1790. Something like

[code]

or more generally

[code]

And maintain the list of supported colors.

I don't want to support any RGB-or-something notations because Windows CMD has only a set of predefined colors and implementing the RGB code => winapi color mapping is something I very much like to avoid

[2020-08-01 12:54] pickfire commented on #1790
@CreepySkeleton Does windows support for coloring and codes similar to the one in linux? I wonder if it would be good to do it this way, the API looks interesting but I think it may be a bit limited for linux where people cannot use something special like blinking cursors (I rarely see people using it but it could be done). Or maybe should we still allow an API to let people paste raw text for dif

[2020-08-01 14:22] CreepySkeleton commented on #1790
Wait, we were talking about coloring and __bolding__ and _italicizing_ arbitrary parts of the template and then we somehow ended up talking about blinking cursors??? How on earth does this stuff relate to help messages?

As for the question, yes, windows has support for text coloring. Specifically, we use `termocolor` for cross-platform handing of all this insanity, so I'd say [this enum](https://

[2020-08-01 14:35] SirWindfield commented on #1790
That doesn't hold true for all Windows versions. Windows 10 does support RGB values the same as Linux does. I did find and use a crate that had support for it, not sure what it's name was though.

[2020-08-01 15:39] pickfire commented on #1790
Yes, we are talking about coloring, **bolding** and _italicizing_ (or maybe underline too). I just wanted to talk about the extensibility which probably we won't need because we are limited to cross platform support but I am just wondering if there is a possibility that we are able allow that.

[2020-08-01 15:56] CreepySkeleton commented on #1790
That's all nice and dandy, but let's imagine you're on Windows 7 or 8 or pre-escapes-supported win 10 (was about 35% of market share last time I looked) and you're trying to set the RGB color, say `{color:#ef432a:TEXT}`. What is clap supposed to do? What _can_ clap do? Only ignore the setting - there's no sane way to map an RGB code to one of the 16 colors and make it look good.

If we implemented

[2020-08-01 16:25] SirWindfield commented on #1790
I do get your point, but what is wrong with having the developer decide if they want to map the RGB colors back to the 16 if needs arises due to platform restrictions? I guess for a first implementation RGB can be ignored for sure. But I don't see why this couldn't even be an optional feature people can opt in to.

[2020-08-01 16:46] CreepySkeleton commented on #1790
Hm, I guess what we need is some sort of (optional) fallback: `{color:#ef432a(yellow):TEXT}` which means "if the platform does not support rgb, set it to yellow". If no fallback specified, you're out of luck and colors.

[2020-08-03 09:34] CreepySkeleton commented on #2043
`default_value` doesn't work with `Vec`. I don't think it should because it implies "only one value" while Vec is all about multiple values. Ideally, this should be a compile time error.

But `default_valueS` must work as described - its presence should not affect requiredness. This is a bug in derive.

[2020-08-03 09:36] CreepySkeleton commented on #2043
@jgarvin The temporary workaround is `#[clap(required = false)]`.

[2020-08-04 04:17] ccqpein opened #2044 "May Clap has ability to define `short` have more than one letter in #[clap] macro?"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I am trying to define my struct with `#[clap]` macro with Clap 3.

Like:
[code]

`dd` and `dir` have a conflict when I compiling it.

### Describe the solution you'd like

I expand code and figure out `dir` expa

[2020-08-04 08:31] CreepySkeleton commented on #2044
That would be it.

[code]

Anyway, I don't think we want to commit to something like that. I saw only so many (very few) CLIs that use something resembling sevearl-letter short flags and it never looked good.

[2020-08-04 08:31] #2044 closed

[2020-08-05 00:25] tadman commented on #484
This also works with the generator: `#[clap(multiple=true)]`.

[2020-08-05 08:49] CreepySkeleton commented on #484
`multiple` will fail on `--help` or unknown options. You'd be better with `raw = true`.

[2020-08-05 15:23] ClementNerma commented on #1971
This bug is still present, and it's actually quite frustrating to not know _where_ the error comes from :/

[2020-08-05 15:39] kenoss commented on #1880
Sorry for late reply.

I read the issue again and I've got the point.  Thanks to catch me up the argument.

Sorry.  I misunderstood by `get_matches_safe` and `app <args sent to subprocess>`.

Yes.

I've found that this is a critical blocker of https://github.com/clap-rs/clap/issues/1232 and I should parsing implementation.

[2020-08-05 17:19] fbecart commented on #1910
Closely related to https://github.com/clap-rs/clap/issues/1232, if not duplicate.

[2020-08-06 05:11] jensim opened #2050 "tag/release v2.33.2 in github?"
### Clap version

2.33.2

### Where

https://crates.io/crates/clap
https://github.com/clap-rs/clap/tree/v2.33.2

### What's wrong

Latest 2.x.y-release 2.33.2 in crates io is not tagged in github, so i cannot directly see the release notes for it.

### How to fix

Create a GH release with release notes

[2020-08-06 11:06] #2050 closed

[2020-08-06 11:14] jensim commented on #2050
Great @CreepySkeleton 👍😃

[2020-08-06 15:53] ClementNerma opened #2053 "[Clap v3] Nested sub-commands don't propagate `global` arguments"
### Code

When an argument is marked as `#[clap(global = true)]`, it is correctly propagated down to the sub-command if there is any, but not to sub-commands' own sub-commands.

Here is a sample code:

[code]

### Steps to reproduce the issue

1. Run `cargo run -- test test --global-flag --global-str "hello" --sub-flag --sub-str "world"`
2. Wrong output is shown.

### Version

* **Rust**: `rustc 1

[2020-08-06 18:57] CreepySkeleton commented on #2053
Duplicate of https://github.com/clap-rs/clap/issues/1385

[2020-08-06 18:59] CreepySkeleton commented on #2053
To elaborate a bit: the args do propagate and register, but you can't _access_ the from anywhere except the place of definition. I'll be working on fixing it.

[2020-08-06 19:03] ClementNerma commented on #2053
What do you mean? The arguments are not available from anywhere here, as you can see in the Debug output. Even if I try to read the arguments directly from the Opts itself and not from its sub-command objects, arguments show the wrong values.

[2020-08-06 19:22] CreepySkeleton commented on #2053
Um... Your output was:
[code]

It does work.

[2020-08-06 20:26] ClementNerma commented on #2053
But then:

[code]

Unless I'm not understanding how Clap is supposed to behave, as I supplied `--subflag --sub-str "world"` the "sub_flag" and "sub_str" fields are not set properly.

[2020-08-06 21:43] CreepySkeleton commented on #2053
Oh right, this is a separate bug. It's not even derive-specific:
[code]
[code]

[2020-08-06 21:54] ClementNerma commented on #2053
Indeed, sorry if I wasn't clear about the problem.

And I'm surprised no one caught up this bug, this seems like a not-very-common but still plausible scenario for a big CLI-based application.

[2020-08-09 05:45] pickfire commented on #2033
Templating doc comments is a bit hard even when using a macro but there is a tool on that https://github.com/dtolnay/paste. Not sure if this is useful.