[2017-04-04 23:29] kbknapp commented on #922
Ah ok, then that *is* a bug!

[2017-04-05 00:50] #909 closed

[2017-04-05 04:39] #873 closed

[2017-04-05 12:58] #869 closed

[2017-04-05 12:58] #919 closed

[2017-04-05 12:58] #922 closed

[2017-04-05 12:59] kbknapp commented on #899
Closed now that `long_version` is a thing

[2017-04-05 12:59] #899 closed

[2017-04-05 18:11] kbknapp commented on #900
Closed with v2.23.1

[2017-04-05 18:11] #900 closed

[2017-04-05 18:27] kbknapp commented on #874
I've done some thinking on this, and with the recent feature of distinguishing between `-h`/`--help` I'm going to close this.

I'm still not totally opposed to adding this feature, it's just a somewhat niche case that I don't personally have the bandwidth to maintain right now. There are still questions like, should `:` be unconditionally the separator? I'm less inclined to add something like `Arg

[2017-04-05 18:27] #874 closed

[2017-04-05 18:34] kbknapp commented on #235
Closed due to inactivity. I don't personally see myself working on this anytime soon with so much else to work on. Perhaps this will come back up someday.

[2017-04-05 18:34] #235 closed

[2017-04-05 18:35] kbknapp commented on #202
Closed since the `clap_app!` basically does exactly this minus all args being in a single string.

[2017-04-05 18:35] #202 closed

[2017-04-05 18:36] kbknapp commented on #216
Closed in favor of the `serde` transition. Will re-address once that's complete

[2017-04-05 18:36] #216 closed

[2017-04-05 18:38] kbknapp commented on #489
Closed with the `serde` transition.

[2017-04-05 18:38] #489 closed

[2017-04-05 18:43] kbknapp commented on #805
I did some playing with this and ergonomics aren't great. It's also a huge rework of how clap writes a help message and thus I'm gonna have to close this for now as it's not feasible to include in the current version. Perhaps 3.x will make this more doable, but it's still unlikely.

I am, however, still open to suggestions on how this could work.

[2017-04-05 18:52] RazrFalcon commented on #805
Ok. I've ended up thinking that a custom help is the best solution.

[2017-04-05 19:01] kbknapp commented on #805
Bah, I'm gonna keep this open. It *is* something I'd like to have. It probably won't happen soon, but I do want this style of feature.

[2017-04-05 19:55] kbknapp commented on #897
This should be closed with v2.23 that was just released

[2017-04-06 22:01] ssokolow commented on #849
I finally got around to looking at this and it seems you implemented `default_value_if_os` and `default_value_ifs_os` but, despite the commit message saying it should be there, you neglected to implement `default_value_os`.

I can't find any evidence of it in the diff and here are the search results from locally-built docs for clap 2.23.1:
![2017-04-06-180023_956x248_scrot](https://cloud.githubuse

[2017-04-06 22:07] kbknapp commented on #849
Oh wow!

[2017-04-06 22:08] kbknapp commented on #849
Thanks for letting me know, I'll get this added shortly!

[2017-04-09 16:39] mitsuhiko commented on #897
I just saw that you added `long_about`. Sadly it works nothing like what this ticket suggests. Here is how it works currently:

If you pass `--help` the subcommand list shows the long about, if you pass `-h` it shows the short about. On the subcommand's help page only the short about is shown at all times.

Instead what I am looking for is that a) `-h` either does not exist or does the same thing

[2017-04-09 18:23] kbknapp commented on #897
@mitsuhiko in that case, if you don't use `about` and *only* use `long_about`, it should do what you'r elooking for.

[2017-04-09 18:25] mitsuhiko commented on #897
Bit then it shows thevlong help texts in the subcommand list which is what
I do not want.

Regards,
Armin

On Sun, Apr 9, 2017 at 11:23 Kevin K. <notifications@github.com> wrote:

[2017-04-09 18:34] kbknapp commented on #897
Ah ok, I misunderstood. Then using templates is probably the best way.

[code]

[2017-04-09 18:36] mitsuhiko commented on #897
That's a massive amount of work though and scales badly with large number
of subcommands. Also requires to customize the template manually depending
on the configuration of the command.

I am aware of that option and I decided against it which is why I opened
this ticket.

Regards,
Armin
On Sun, Apr 9, 2017 at 11:34 Kevin K. <notifications@github.com> wrote:

[2017-04-09 18:46] kbknapp commented on #897
Understood. I've re-opened this issue in order to find a better solution. Thanks for the clear up!

[2017-04-10 11:34] torkleyy opened #927 "Suggest to use flag before subcommand if not used correctly"
Suggesting to use the flag *before* the subcommand would make the application a bit more user-friendly.

### Sample Code

[code]

[code]

### Actual Behavior

[code]

### Expected Behavior

[code]

[2017-04-11 00:34] cardoe opened #928 "SSL cert invalid for book.clap.rs"
I see that the certificate was recently renewed per #887 and #890 but it appears that https://book.clap.rs was left off. To compound the issue the site uses HSTS so there's no way to override it temporarily and get to the content.

<img width="917" alt="screen shot 2017-04-10 at 7 35 00 pm" src="https://cloud.githubusercontent.com/assets/8839/24887872/d9e1d4e4-1e24-11e7-85de-2c42ac247063.png">

(e

[2017-04-11 15:54] RazrFalcon opened #929 "Panic when Arg::requires_if contains an unknown argument"
### Rust Version

rustc 1.16.0 (30cf806ef 2017-03-10)

### Affected Version of clap

clap 2.23.2

### Sample Code

[code]

### Output

[code]

### Debug output

The `debug` feature didn't change anything.

[2017-04-11 17:39] RazrFalcon opened #930 "Differences between App::is_present and App::occurrences_of"
I have an option with a default value and I want to check that this value was set explicitly. How can I do this?

Example:
[code]

[code]

So `is_present` returns `true` even when a value is not set explicitly but has a default value. And `occurrences_of` processes such case "correctly".

The idea is that I want an option like `--no-defaults`, which will reset/ignore default values, but that I hav

[2017-04-11 19:53] elirnm opened #931 "Error with Powershell tab completion script"
Reposted from https://github.com/BurntSushi/ripgrep/issues/445

---

Attempting to import the _rg.ps1 tab completion script into Powershell throws an exception:

[code]

There's an empty switch statement there that seems like the cause.

$PSVersionTable:
[code]

This is with ripgrep version 0.5.1

Here's the ps1 file.
[code]

[2017-04-12 22:34] TedDriggs opened #932 "Document macro usage of arg groups"
### Rust Version

rustc 1.18.0-nightly (3b5754e5c 2017-04-10)

### Affected Version of clap

2.23

### Missing Documentation

The macro syntax for declaring applications doesn't make clear how to use arg groups. I attempted to follow the rules for args, such as using `+required`, but this failed saying an ident was expected. I've tried a variety of different formats without success, so this is a g

[2017-04-12 23:11] TedDriggs commented on #915
I've forked the repro to start looking at adding this. The macro doesn't currently support `OsStr`, so I'm not planning on doing that in method form. I am looking at `values_of`, since there is a `values_t!` macro today.

I have some questions about the desired return type.

## Error Type
There are 3 options for the error type:

1. `clap::Error` - this is consistent with the current `values_t!` ma

[2017-04-18 00:03] kbknapp commented on #915
@TedDriggs thanks for taking a swing at this! Apologies for the late reply, I was travelling the past week. As for your questions, here's my thoughts:

I would lean option 1 because we could also add an impl to resolve the error [as we do with errors arising from `std::fmt`](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/errors.rs#L880-L884).

There's two opti

[2017-04-18 00:34] kbknapp commented on #927
Apologies for the late reply, I was travelling the past week.

This would be a cool feature! I'd be willing to mentor anyone who wants to take a swing at this, although I'd change the wording slightly:

[code]

The key code to add would be:

* Adding a variant [here, to `DidYouMeanMessageStyle`](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/suggestions.rs#L70

[2017-04-18 00:39] kbknapp commented on #928
Thanks for reporting this. Would you mind moving this to the kbknapp/clap-www repo?

[2017-04-18 00:41] kbknapp commented on #929
This is a known "issue" or rather by design, but I should add it to a `# Panics` section in the docs for that method. Thanks! #604 is also relevant here.

[2017-04-18 00:45] kbknapp commented on #930
Yes you can rely on it. This this (one of) the primary reasons for `occurrences_of`, i.e. to know how many times a particular arg was explicitly used.

`is_present` is primarily meant to be used with flags (i.e. args with no associated value).

[2017-04-18 00:46] #930 closed

[2017-04-18 00:50] kbknapp commented on #932
Good point! Thanks. This is because those [shorthand tricks only work with args](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/macros.rs#L705).

Although I guess there's really no reason why those couldn't be [added for groups here](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/macros.rs#L650-L659).

[2017-04-18 00:59] kbknapp commented on #931
Thanks for reporting! This is because ripgrep has no subcommands. I think simply adding a default will fix this. If someone wants an easy first PR this is one!

So adding [a line here](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/completions/powershell.rs#L44-L46):

[code]
or `default { break }` if PowerShell doesn't support empty braces (can't remember).

[2017-04-18 04:43] elirnm commented on #931
Hmm, adding `default { }` into the script makes it load without throwing exceptions, but I still don't get any tab completion functionality.

[2017-04-18 07:52] RazrFalcon commented on #929
I see.

It says *Please consider filing a bug report* so here I am.

[2017-04-18 10:55] kbknapp commented on #929
Yep that's the default internal error message for any panic. In this case it worked too, because you filing the bug report reminded me to add a blurb in the docs and also switch from the default internal error message :-)

[2017-04-18 16:43] kbknapp commented on #931
Ok, I did some testing and it looks like it's a double issue.

* Adding `default { break }`
* it's using the `App` name `ripgrep` and not the binary name `rg` which is [a bug here](https://github.com/kbknapp/clap-rs/blob/3f44dd4b91d15ec9287eb236e2d3a2fd068afad1/src/completions/powershell.rs#L74) (should be using `bin_name` not `name`)

[2017-04-18 16:45] kbknapp commented on #931
Here's the excerpt of the generated script using the name, when it should be using the bin name:

[code]

[2017-04-19 12:35] #931 closed

[2017-04-19 12:36] kbknapp commented on #931
Fixed in 2.23.3

[2017-04-20 10:42] golddranks opened #935 "Provide a way to produce empty Values and OsValues iterators (possibly implement the Default trait?)"
Why? Because sometimes I need to be able to produce placeholder values to represent the case where there were no values. Currently this is possible using `Option<Values>`, but this is clunky since iterators support naturally the case of "length zero", iterating zero times.

I'd imagine that implementing the `Default` trait would be a good solution.

[2017-04-20 15:06] sharazam opened #936 "How does one preserve the order of arguments?"
### Actual Behavior Summary

I want my application to have arguments in a certain order. Clap reorders them.
Example:
[code]
Output when called directly:
[code]

### Expected Behavior Summary

Please make the arguments appear in order, not random or based on "if the value is required". Or at least have an option to display them in order. How it should be:

[code]
Where `[FLAGS]` would be `--host`

[2017-04-20 16:36] TedDriggs commented on #936
@kbknapp can correct me, but I'm guessing this is "by design" and that clap is designed to be opinionated on how arguments are ordered/declared. It does seem strange to me that the required items _must_ come first.

[2017-04-20 16:49] sharazam commented on #936
I just noticed that the arguments are sorted alphabetically by their name. This is not documented anywhere.

Like this:

[code]

These values will be sorted (look at the `Arg::with_name()` component). If this is by design, then I propose a change, because it is confusing.

[2017-04-20 17:33] kbknapp commented on #936
@sharazam clap orders them alphabetically (by name) unless you specify a [manual ordering](https://docs.rs/clap/2.23.3/clap/struct.Arg.html#method.display_order). You can also tell clap, ["Use the order I define them in"](https://docs.rs/clap/2.23.3/clap/enum.AppSettings.html#variant.DeriveDisplayOrder) instead of manually putting in an order for each one.

[2017-04-20 17:36] kbknapp commented on #936
@TedDriggs

This is only true of positional arguments (with [two](https://docs.rs/clap/2.23.3/clap/enum.AppSettings.html#variant.AllowMissingPositional) [exceptions](https://docs.rs/clap/2.23.3/clap/struct.Arg.html#method.last)). However, required positional arguments do *not* need to come before all other arguments, only before non-required positional arguments. This is simply because clap has no

[2017-04-20 17:40] kbknapp commented on #935
Seems doable. Thanks for the suggestion!

[2017-04-20 19:40] sharazam commented on #936
Alright. Sorry, I seem to have missed those two arguments. Thanks for your answer.

[2017-04-20 19:40] #936 closed

[2017-04-20 20:23] kbknapp commented on #936
@sharazam no worries! :smile:

[2017-04-21 00:50] cardoe commented on #928
Moved to kbknapp/clap-www#6.

[2017-04-21 00:50] #928 closed

[2017-04-21 05:22] golddranks opened #937 "What is the correct way to do cargo subcommands?"
I have a crate `cargo-flamegraph` for which I'm trying to implement the command line argument parsing. It is used like this:

    cargo flamegraph [binary name] [-- <user arguments>...]

I set the bin_name as "cargo", but after that I'm in troubles. If I go directly as the binary name as the first argument, it takes "flamegraph" as the first argument. If I set the bin_name as "cargo flamegraph" it

[2017-04-21 06:03] golddranks commented on #937
Ah, wait a minute, should I specify `.takes_value(true)` for positional arguments too to be able to get what was typed there?

[2017-04-21 06:09] golddranks commented on #937
Ugh, after adding some short-flag options this is getting even uglier:

    USAGE:
        cargo [OPTIONS] [flamegraph] [bin name] [-- <pass through args>...]

[2017-04-21 14:36] kbknapp commented on #937
Your first example is correct. Add a dummy subcommand called "flamegraph" and all your args under this subcommand.

[code]

---

Do you mean you *also* want to be able to run `$ ./cargo-flamegraph [bin name] [-- <user args>...]`? If that's the case you need to go about it a different way and use a dummy *positional argument* that only accepts the value "flamegraph" and isn't required instead of a

[2017-04-21 15:49] kbknapp commented on #937
@golddranks Note you can also [set the usage string manually](https://docs.rs/clap/2.23.3/clap/struct.App.html#method.usage) to whatever you'd like. This doesn't affect functionality, only how the usage string gets displayed to the user. You can even do [multi-line usage strings](https://github.com/BurntSushi/ripgrep/blob/362abed44a000da3b31e5dd027e16eb4e36e1bed/src/app.rs#L16-L20) if you like.

[2017-04-24 00:54] #935 closed

[2017-04-24 03:51] golddranks commented on #937
I am not trying to get `$ ./cargo-flamegraph [bin name] [-- <user args>...]` to work, just `$ cargo flamegraph [bin name] [-- <user args>...]`.

Here's an updated version:

    let matches = App::new("cargo flamegraph")
        .version("0.1")
        .bin_name("cargo")
        .about("Profiles your program and draws a nice flamegraph!")
        .author("Pyry Kontio")
        .setting(AppSettings:

[2017-04-24 04:20] golddranks opened #940 "Bug/inconsistency with the help formatting"
Not sure if this is intended or not, but I can't see any reason for this: the value name of trailing var arguments is printed differently in the usage string from how it's printed in the argument list.

### Rust Version

rustc 1.18.0-nightly (2bd4b5c6d 2017-04-23)

### Affected Version of clap

clap 2.23.2

### Expected Behavior Summary

    $ cargo flamegraph --help

Should print out:

[code]

##

[2017-04-24 04:20] kbknapp commented on #937
This is because the matches are a [recursive tree-like hierarchy](https://docs.rs/clap/2.23.3/clap/struct.ArgMatches.html#method.subcommand_name) to allow multiple child subcommands to contain args with the same name. If they all existed in a flat namespace there would be conflicts.

This code should work:

[code]

[2017-04-24 04:24] golddranks commented on #937
Ah, that explains it! Fixed and problem solved. Thank you.

[2017-04-24 04:24] #937 closed

[2017-04-24 04:25] kbknapp commented on #937
No problem :-)

On Apr 24, 2017 12:24 AM, "Pyry Kontio" <notifications@github.com> wrote:

[2017-04-25 23:05] mitsuhiko opened #942 "Consider supporting clicolors_control"
I pushed up this crate because I'm a bit tired of having to configure many different things for CLI color support. What do you think of having something like this?

https://docs.rs/clicolors-control/0.1.0/clicolors_control/

The idea is that there is a standardized crate that figures out if ANSI colors are support to be used. Now that Windows 10 has ANSI color support (which that crate turns on) i

[2017-04-26 10:19] golddranks opened #943 "Could you release a new version (minor bump)?"
With the addition of the new `Default` impl for the iterators, could you release a new version (minor bump)? This would help me a lot! Thanks.

[2017-05-02 12:31] drusellers commented on #459
Stoked to see this coming along. Type safety FTW

[2017-05-03 19:47] netvl commented on #897
I also encountered this problem. I expected that `about` and `long_about` behave like this:
* if one of `about` or `long_about` is specified, then it is used for the help message after version/author and for the subcommand description in the parent command;
* if both of them are present, then `about` is used for the subcommand description and `long_about` is used for the help message after version

[2017-05-03 20:20] netvl opened #944 "Two multiple positional arguments with one being "last" are displayed in usage incorrectly if the "last" one is required"
### Rust Version

rustc 1.19.0-nightly (afa1240e5 2017-04-29)

### Affected Version of clap

2.23.3

### Expected Behavior Summary

Expected this usage text:

[code]

### Actual Behavior Summary

Got this usage text:

[code]

### Steps to Reproduce the issue

Configure two positional required multiple-type arguments, with the second one being the "last". See the code below.

Also, adding an explic

[2017-05-05 00:57] #849 closed

[2017-05-05 01:00] kbknapp commented on #940
Sorry for the long wait. Would doing this solve it?

[code]

Although this still probably a bug because it *should* be using the value name.

[2017-05-05 01:01] kbknapp commented on #943
Will do, especially since #941 is merging.

[2017-05-05 01:03] kbknapp commented on #944
Interesting, thanks for taking the time to file this!

[2017-05-05 04:02] Mark-Simulacrum opened #946 "Flag also parsed as positional argument"
### Rust Version

N/A, but tested on latest nightly

### Affected Version of clap

2.22.1

### Expected Behavior Summary

With a single, optional positional argument and a flag, we don't parse the flag as the positional argument. I also set `AllowLeadingHyphen`, since some of my arguments start with `-C`.

### Actual Behavior Summary

The optional positional argument is parsed as `Some("--verbose"

[2017-05-06 07:06] golddranks commented on #940
That does the as a workaround, and actually this didn't provide any real problem to *me* 😄 I just thought this might be an unintended inconsistency, so I reported it.

[2017-05-06 17:48] kbknapp commented on #943
2.24.0 is out

[2017-05-06 17:48] #943 closed

[2017-05-06 17:59] kbknapp commented on #942
Awesome, I like it! Yeah, I *really* want to rework the color control (see #836). I've looked briefly at `termcolor` but I haven't had much time this year due to my paid job. Since I haven't yet put a ton of research into either yet, do you happen to know how this compares to termcolor? Or are they doing completely different things?

[2017-05-06 18:12] kbknapp commented on #946
Thanks for taking the time to file this! I've confirmed the bug, and it should be an easy one to fix.

Also, just to note `AllowLeadingHyphen` is for when *values* may start with a hyphen, and should be used sparingly if possible. A better option is to use [`allow_hyphen_values`](https://docs.rs/clap/2.24.0/clap/struct.Arg.html#method.allow_hyphen_values) only on the args who's values may start wi

[2017-05-06 18:35] Mark-Simulacrum commented on #946
Great! Thanks for pointing out that there's a difference between `AllowLeadingHypen` and `allow_hyphen_values`, but I think I'm confused (feel free to tell me I should move this to another issue). The documentation for [`AllowLeadingHyphen`](https://docs.rs/clap/2.24.0/clap/enum.AppSettings.html#variant.AllowLeadingHyphen) suggests that I *have to* set that globally: "NOTE: This can only be set ap

[2017-05-06 18:48] kbknapp commented on #946
They do the same thing, one is globally (`AllowLeadingHyphen`) and the other is per argument (`allow_hyphen_values`).

The documentation is out of date (*embarrassed*). That was true before `allow_hyphen_values` was introduced. I'm updating it as we speak.

[2017-05-06 22:45] kbknapp commented on #897
I think the argument can be made that `about` should *always* be used for the subcommand list. If one wanted more details you can view that subcommand's help message (which isn't possible in args, hence the `long_help`).

[2017-05-07 14:46] #940 closed

[2017-05-07 14:46] #944 closed

[2017-05-07 14:46] #946 closed

[2017-05-07 14:47] kbknapp commented on #946
2.24.1 is on crates.io

[2017-05-07 14:48] kbknapp commented on #944
2.24.1 is on crates.io

[2017-05-07 14:48] kbknapp commented on #940
2.24.1 is on crates.io

[2017-05-07 15:53] Dragonrun1 opened #948 "Panic for std::os::unix::ffi::OsStrExt on windows"
### Rust Version

rustc 1.19.0-nightly (06fb4d256 2017-04-30)

### Affected Version of clap

clap-2.23.3

### Expected Behavior Summary

Not panic with using my '-n' option.

### Actual Behavior Summary

thread 'main' panicked at 'Fatal internal error. Please consider filing a bug repor
t at https://github.com/kbknapp/clap-rs/issues', src\libcore\option.rs:794
stack backtrace:
   0: std::sys_commo

[2017-05-07 17:09] Dragonrun1 commented on #948
Just updated to the latest Rust nightly and clap v2.24.1 still has same issue. After some more testing it does seem to only happen with the '-n' option.

[2017-05-07 19:39] kbknapp commented on #948
Thanks for filing! I'll look into this and should have it fixed shortly.

Also, side note, you can use [`AppSettings::DeriveDisplayOrder`](https://docs.rs/clap/2.24.1/clap/enum.AppSettings.html#variant.DeriveDisplayOrder) instead of manually doing `Arg::display_order` for each arg.

[2017-05-07 19:49] kbknapp commented on #948
Alright, so this might be a double issue. The first the issue is your `-n` defines `overrides_with("config")` (line 105) but there is no arg named `config`.

By adding an arg named `config` does this fix the issue for you?

The debug compilation issue may be a different issue and I'll have to test it on my windows box when I get a chance.

[2017-05-08 17:09] Dragonrun1 commented on #948
Your right about the name I forgot I'd changed it above but what I've noticed is even without the override line it seems to just not like '-n' for some reason but I'll fix my oops and see if it helps.

[2017-05-08 20:04] Dragonrun1 opened #949 "AppSettings::DeriveDisplayOrder not ordering options by defined order."
### Rust Version

rustc 1.19.0-nightly (f4209651e 2017-05-05)

### Affected Version of clap

clap 2.24.1

### Expected Behavior Summary

Options and flag appear in same order as they are defined.

### Actual Behavior Summary

Some options are moved into a seemingly more alphabetical order instead.
Good example the '-d' option is moved before the '-n' option even though they are define in opposite

[2017-05-08 22:00] BurntSushi commented on #942
@kbknapp It seems like `clicolors_control` is something `termcolor` might want to use. For example, [`termcolor`'s interface lets you specify a preference](https://docs.rs/termcolor/0.3.2/termcolor/enum.ColorChoice.html) for colors, and then it will take over from there. It could use `clicolors_control` to make its choice smarter. In particular, it looks like the key thing it could benefit from is

[2017-05-08 22:12] kbknapp commented on #949
This is because you don't have [`AppSettings::UnifiedHelpMessage`](https://docs.rs/clap/2.24.1/clap/enum.AppSettings.html#variant.UnifiedHelpMessage) set.

I understand you're using the `{unified}` in the template. Without getting into the weeds, what happens is clap orders flags and options separately (unless `UnifiedHelpMessage` is set, in which case it merges them at declaration time). Then whe

[2017-05-09 19:50] kbknapp opened #950 "Lib Blitz Style Summary and Overhaul"
In an effort to get 3.x underway this will be the summary issue linking to all tracking issues. Many of the issues that will come out of this will be excellent "first time" issues that I'd be willing to mentor!

I will be updating this summary periodically (in addition to working on all the other issues in the queue) as well as linking to tracking issues for individual tracking issues as I create

[2017-05-09 21:51] kbknapp opened #951 "Move completions / manpage generation to sub-crate"
Specifically the shell completion and manpage generation (once it lands).

Since the Custom Derive bits are in `clap_derive` I'd like to move the completions and manpage generation parts to `clap_generate`

Anyone who wants to start on this I'll add to the `clap-rs` Github org which is also where this repo and all clap related sub crates will eventually be moved to.

[2017-05-09 22:06] kbknapp opened #952 "Implement and Derive common traits"
Eagerly derive/implement common traits for all public types. I haven't yet looked at which ones would actually be appropriate to implement. The list below is just a quick list.

I'm not 100% sure, but I think adding these would be a breaking change?

 - [ ] App
   - [ ] Clone
   - [ ] Eq
   - [ ] PartialEq
   - [ ] Ord
   - [ ] PartialOrd
   - [ ] Hash
   - [ ] Debug,
   - [ ] Display
   - [ ] Def

[2017-05-09 22:08] kbknapp opened #953 "Add CI badges to Cargo.toml"
Cargo.toml publishes CI badges for tier 1 platforms (C-CI)

The Rust compiler regards tier 1 platforms as "guaranteed to work."
Specifically they will each satisfy the following requirements:

    Official binary releases are provided for the platform.
    Automated testing is set up to run tests for the platform.
    Landing changes to the rust-lang/rust repository's master branch is gated on

[2017-05-10 17:59] Dragonrun1 commented on #949
Okay adding the other setting did the trick thanks. Yeah probably a good idea to document it so you don't end up with another bug report down the road from someone else :)

[2017-05-12 18:47] nicholastmosher opened #959 "Option to pass execution of external subcommands to implementing binaries."
I'm trying to create an application with a top-level interface that's extensible by third-party applications, similarly to how `git` and `cargo` work. I've posted a more detailed explanation of my use case on the [users forum](https://users.rust-lang.org/t/using-external-subcommands-with-clap/10753).

I'd like to see if there is any interest in adding machinery to clap such that if the `AllowExter

[2017-05-12 19:27] kbknapp commented on #959
While I agree it would be nice and ergonomic for end consumers I think it'd be quite hard to actually implement correctly. Unfortunately, that'd be a ton of work to make generic and secure enough for all users and something I just don't have the time to do right now. This would be a great case for something built *on top of* clap that does this, but I don't have the bandwidth to maintain a feature

[2017-05-15 05:21] nateozem commented on #847
I wonder if someone can reference `TERM=dumb` is standardize across applications. Is there any documentation that explains how it should behave?

[2017-05-15 10:49] BurntSushi commented on #847
@nateozem This is the best I could find: https://linux.die.net/man/7/term --- TL;DR the `TERM=dumb` convention is quite old. The behavior today is to treat `TERM=dumb` as "don't emit escape sequences because the terminal being used won't know how to use them."

[2017-05-15 17:39] kbknapp opened #960 "`--` takes (incorrectly) takes precedence over allowing hyphen values"
See BurntSushi/ripgrep#482

The error stems from [`src/app/parser.rs#803`](https://github.com/kbknapp/clap-rs/blob/34a7436dd366da1a046e00310e96357ccf2dd533/src/app/parser.rs#L803) which isn't considering if we're currently parsing a value or not and whether that value allows leading hyphens.

My only concern is args like ripgrep's `-e` which allow multiple values, is there a case where `-e -- -- a

[2017-05-16 02:22] nateozem commented on #847
@BurntSushi, interesting.
Seem like the behavior would depend on each individual machine. In most probability, everyone has the same capability for `dumb`, but there can be an instance where someone can change how the terminal type behaves by using the `tic` command.
On my system, I can do this to check the definition: `$ infocmp -L dumb`

	$ infocmp -L dumb
	#       Reconstructed via infocmp from

[2017-05-16 02:28] BurntSushi commented on #847
@nateozem Consulting terminfo is certainly one path. It's a complex one, but it's valid. On the other hand, just respecting `TERM=dumb` will solve a good number of problems. Perhaps not all of them, but some of them. :-)

[2017-05-16 02:43] nateozem commented on #847
We could do almost the same thing as they have done

http://git.savannah.gnu.org/cgit/grep.git/tree/lib/colorize-posix.c:

	/* Return non-zero if we should highlight matches in output to file
	   descriptor FD.  */
	int
	should_colorize (void)
	{
	  char const *t = getenv ("TERM");
	  return t && strcmp (t, "dumb") != 0;
	}

It's very simple. Think this would work for us?

[2017-05-16 11:23] #917 closed

[2017-05-16 11:23] #949 closed

[2017-05-16 11:23] #960 closed

[2017-05-16 11:23] #932 closed

[2017-05-16 16:09] pitkley opened #962 "Show usage of subcommand in global help"
I don't know if this feature exists, if so, I have not found it yet. What I'm looking for is a way to see the usage of a subcommand in the help shown by the `help` subcommand or the global `--help` flag. Compare the actual behavior to the expected behavior for an example.

-----

### Rust Version

`rustc 1.17.0 (56124baa9 2017-04-24)`

### Affected Version of clap

`2.24.1`

### Actual Behavior Su

[2017-05-17 15:16] alexcrichton opened #964 "Compatibility policy vs crate graph resolution in Cargo"
Hello! I've noticed that in the [compatibility policy section of the README](https://github.com/kbknapp/clap-rs/blob/2923515a0aec80a7ebd4b1fc3430aad859bcda8a/README.md#compatibility-policy) you recommend a tilde dependency such as:

[code]

First off it's awesome the level of detail given here to version compatibility, hats off to that! Unfortunately though this is an over-constrained version depe

[2017-05-19 15:07] kbknapp commented on #964
Sorry for the late reply! That makes perfect sense, I'll add a small gotcha/warning to the README for this case. Is there an official stance or policy on how updating minimum required versions of Rust affects version or Cargo's version resolution, or are there any RFCs to make cargo aware of these issues? I've heard it discussed a few times, but I think this issue (requiring a more recent version

[2017-05-19 15:10] kbknapp commented on #962
Thanks for the suggestion and all the details! 👍

This feature doesn't exist (yet) could be added as an `AppSettings` variant, although my only concern is recursively following that chain with multiple nested subcommands.

Since I'm actively working on 3x I think this is something I'll try to add then, because the code clean ups I've done so far would make this far easier to implement, and/or peop

[2017-05-19 16:30] pitkley commented on #962
Thanks for the reply.

1. Regarding your concerns on recursion: I personally think that the first usage level "down" would be enough, I wouldn't even be sure how to print another level without the output getting crowded or illegible.

   I.e. for this code:

[code]

   I would simply expect the usage on `subcommand` to gain `[SUBCOMMAND]`:

[code]

   But if you could think of a way to cleanly pri

[2017-05-19 16:55] alexcrichton commented on #964
Nah I think using `~` to denote rust compatibility versions is pretty nifty actually! We don't have a great policy around supporting historical versions of Rust right now, though, unfortunately. The libs team generally has a rule of thumb that:

* The latest version of a crate always supports at least 2 versions of rust back
* Otherwise bumping the version of rust required does not constitute a br

[2017-05-19 16:56] BurntSushi commented on #964
@alexcrichton While that's our current policy, in practice I think we're quite a bit more conservative than that. :-)

(I am of the opinion that there's just no good choice...)

[2017-05-21 15:27] Booteille opened #965 "Clap doesn't parse correctly a YAML file if 2 spaces are used (for indent) instead of 4."
Please use the following template to assist with creating an issue, and getting a speedy resolution. If an area is not aplicable, feel free to delete the area, or mark with `N/A`

### Rust Version

* 1.17.0 (56124baa9 2017-04-24)

### Affected Version of clap

* 2.24.2

### Expected Behavior Summary

Clap should correctly handle YAML files where indents are made by 2 spaces instead of 4.

### Actu

[2017-05-25 14:08] craigzour opened #968 "Unable to add a validator to an arg from a subcommand using YAML"
Hi,

I am not able to make my validator work with an argument attached to a subcommand. I would like to attach a validator to something I declared in my YAML file.

### Rust Version

rustc 1.17.0 (56124baa9 2017-04-24)

### Affected Version of clap

clap 2.23.2

### Expected Behavior Summary

Validator error should be thrown when my argument is not valid

### Actual Behavior Summary

When I run th

[2017-05-27 00:35] ericbn opened #970 "Aliases the other way around (POSIX style)"
Clap 2.24.1 and rust 1.12 are currently being used.

Suppose I have defined these:

    .arg(flag("foo"))
    .arg(flag("no-foo").overrides_with("foo"))
    .arg(flag("bar").overrides_with("bar").takes_value(true).possible_values(&["0", "1"]))

And I want to have two other options that work as aliases for the previous ones:

* `--baz` = `--foo --bar=1`
* `--no-baz` = `--no-foo --bar=0`

and they w

[2017-05-27 17:26] drusellers opened #971 "Example supporting a "slop" style parse"
Would it be possible to get an example of using the `--` argument parsing concept?

`my-command -f -p bob -- a whole bunch of stuff`

Is there a way to do this already in clap? Or should I write up a feature request?

[2017-05-29 17:10] #964 closed

[2017-05-29 18:42] kbknapp commented on #971
Absolutely, it's already possible but adding a new example would be great!

You can add the example to the `examples/` directory, and I'd call it something like "stop_parsing_with_--" or similar.

A quick example is:

[code]

[2017-05-29 19:27] kbknapp commented on #970
This accomplishes 95% of what you're looking for:

``rust
        .arg(flag("foo"))
        .arg(flag("no-foo").overrides_with("foo"))
        .arg(flag("bar")
             .takes_value(true)
             .possible_values(&["0", "1"])
             .default_value("0")
             .default_value_if("baz", None, "1")
             .default_value_if("no-baz", None, "0"))
        .arg(flag("baz"))

[2017-05-29 20:56] kbknapp commented on #965
Thanks for taking the time to report this! This should get fixed "for free" upon the move to using `serde` which is an active work in progress 😄

[2017-05-29 21:01] kbknapp commented on #968
Thanks for the details and taking the time to file this! This is a known issue, but the workaround is decently simply. Any args which contain validators, will need to be defined in the Rust source.

I'm actively working on a solution to allow mutating args once they've been added which will solve this particular issue.

[2017-05-29 22:20] ericbn commented on #970
The `flag("bar").default_value_if("baz", None, "1"))` will yield a bar with value 0 if `--bar=0 --baz` are provided, but I would expect the last to override the first, so to have a bar with value 1 (because baz is an "alias" for `--foo --bar=1`.

Also, if I just provide the option `--baz`, it will only yield the bar with value 1, but no foo (and I could not use default_value_if() with foo, because

[2017-05-29 22:35] hcpl opened #975 "Default subcommand"
## Feature request

This is a proposal to add a means to reduce verbosity of command-line calls.

The API presented here is `App::default_subcommand()` method. It is used to show how this feature can be employed, so feel free to implement the functionality however you find suitable.

### Description

Arguments of the default subcommand are merged into arguments of the enclosing app-like entity (su

[2017-05-29 22:44] hcpl commented on #975
This proposal can be extended to something like `App::merge_subcommand()` and `App::merge_subcommands()` methods which can be applied to many subcommands instead of one.

For this case, it should be noted that the order in which subcommands are merged matters. Otherwise, their descriptions are the same as the one for `App::default_subcommand()`.

[2017-05-29 23:02] ericbn opened #976 "Support overrides_with("itself")"
Suppose I have defined these:

    .arg(flag("foo").overrides_with("foo"))
    .arg(flag("bar").overrides_with("bar").takes_value(true).possible_values(&["0", "1", "2"]))

I'd like to allow the options to be able to be defined multiple times, the last one overriding previous ones.

So a call with options `--foo --foo --foo --bar=0 --bar=1 --bar=2` will not fail with `error: The argument '--foo' wa

[2017-05-29 23:08] ericbn commented on #970
As for the separate issue, I opened #976.

[2017-05-30 00:24] kbknapp commented on #976
Thanks! I like the `AppSettings` idea too as defining all args as overridable by themselves would be handy.

[2017-05-30 00:35] kbknapp commented on #970
I greatly appreciate the additional details! 👍

The parts that jump out at me are going to be things like `--baz` implying `--foo`. Currently that's not possible and happens purely in user code. I.e. If I'm designing a CLI and I know `--baz` implies foo, I just add that check manually when I'm checking for `foo`

[code]

That isn't to say I *can't* make a feature to imply another arg, as requiring

[2017-05-30 00:54] kbknapp commented on #975
I think this is an interesting concept, but I'd be worried it could create confusion args from the "default" subcommand are intermixed with args from the parent subcommand such as `program --parent --default --parent2` etc.

Using [`AppSettings::InferSubcommands`](https://docs.rs/clap/2.24.2/clap/enum.AppSettings.html#variant.InferSubcommands) does *almost* the same thing, but with less confusion

[2017-05-30 12:06] ericbn commented on #976
Cool. Actually the [POSIX specifications](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html) don't state nothing about overriding arguments. But the way the [POSIX implementation](http://pubs.opengroup.org/onlinepubs/9699919799/functions/getopt.html) usually involves a loop through the arguments, same arguments just get a count increment or override the previous assigned one.

[2017-05-30 12:26] drusellers commented on #971
A: Awesome - I have it working.
B: My current use case looks like `my-command rc abc def -- ping google.com`
`<PROGRAM> <COMMAND> <POS ARG...> -- <SLOP...>

Clap doesn't seem to know about `--` as it is saying that two multiple args are no bueno. I'll be adding the example shortly, but I wonder if we couldn't teach clap about `--`

[2017-05-30 13:10] ericbn commented on #970
In a usual [POSIX implementation](http://pubs.opengroup.org/onlinepubs/9699919799/functions/getopt.html) I would be able to do so with something like (replaced foo, no-foo, bar, baz, no-baz by a, b, c, d, e respectively):

[code]

The loop iterating the options in order guarantees that later options will override previous ones, and I'll get the result from the table above, in the previous comment,

[2017-05-30 13:29] craigzour commented on #968
@kbknapp Great ! Thank you :)

[2017-05-30 13:29] #968 closed

[2017-06-01 11:16] matthiasbeyer commented on #552
As far as I can see, this was moved to the `3.x` release for clap? Either way, I'd like to pronounce interest in this feature. Not only for [git-dit](https://github.com/neithernut/git-dit/) but also for [imag](https://github.com/matthiasbeyer/imag/)

[2017-06-03 13:38] sgrif opened #978 "`ArgMatches::value_of` should include arguments to subcommands"
In Diesel CLI we are using a global argument in combination with subcommands. I'd expect `matches.value_of("ARG")` to return the argument regardless of where it appeared. However, in Diesel CLI (which is using clap 2.24.2), running `diesel migration run --database-url something` will complain that the argument isn't present. Running `diesel migration --database-url something run` works.

[2017-06-09 11:41] drusellers opened #983 "Website SSL Issues"
![image](https://user-images.githubusercontent.com/63355/26973950-9f1a715c-4cde-11e7-9709-6a3b9ad412fd.png)

[2017-06-09 11:58] mantal opened #984 "takes_value does not always works"
[code]
Launching this program with `-a -b` does not produce error as it should.

`clap 2.24.2` with `rustc 1.17.0`

[2017-06-10 05:29] nerdrew opened #986 "Thoughts on a different format for zsh completions?"
I have a custom zsh completion file for rustup that I like. I have attached my custom one and the clap generated completions. Objections to using a different zsh completion format?

Other questions: for rustup it is nice to have completions that are context specific, i.e. when using `rustup run <toolchain> <blah>` it is nice to have toolchain completed to the actually installed toolchains `rustup

[2017-06-10 15:31] polybuildr commented on #983
The site seems to be using a Let's Encrypt certificate that expired on the 8th of June. Because the site uses HSTS, this has made it inaccessible. Ping @kbknapp

[2017-06-10 21:37] kbknapp commented on #983
Should be fixed now, thanks! 👍

[2017-06-10 21:37] #983 closed

[2017-06-10 21:38] #971 closed

[2017-06-11 18:47] Aaron1011 opened #987 "Allow collecting/capturing 'raw' arguments"
Issue https://github.com/kbknapp/clap-rs/issues/484 describes how to use clap to capture all arguments after a `--` delimiter. However, these arguments are still parsed by clap, which can lead to issues when creating a program which wraps a command-line tool.

For example, clap will condense multiple usages of a single argument (e.g. `-v -v -v`) into a single argument with multiple usages. However

[2017-06-13 08:58] lu-zero opened #988 "Is it possible to support arg specifiers?"
I'm trying to write a cli tool that is compatible with `avconv`.

The syntax peculiarity is to have specifiers `:`-separated
[code]

would all map to `codec`, applying to all, only the `video` streams or only to the `video` stream with index `1`.

I'm not sure if there is a way in clap to mimic this or how hard and/or acceptable to extend clap to support this kind of pattern.

[2017-06-16 14:33] kbknapp commented on #970
This was the piece of information I was missing. In my mind, a flag being either present or not doesn't really matter *when* it appeared in the argv, just that it either did or didn't. What you're saying that it matters *where* it appears, as to whether or not it should be counted as present (i.e. if another flag overrides it, etc.)

This change is doable by me relaxing the requirements for flags.

[2017-06-16 14:41] kbknapp commented on #978
@sgrif apologies for the late reply, I've been out of town. Looking at the diesel source, this looks like a bug on clap's end. It should be a quick fix though. Let me see if I can get it put together today.

[2017-06-16 14:51] kbknapp commented on #978
I've reproduced it and confirmed it's a bug on my end 😢

[2017-06-16 15:20] kbknapp commented on #978
@sgrif can you add [`AppSettings::PropagateGlobalValuesDown`](https://docs.rs/clap/2.24.2/clap/enum.AppSettings.html#variant.PropagateGlobalValuesDown) and see if it still gives you an error?

Why isn't this the default you ask? It wasn't possible a long time ago, so it was added after the fact 😜

[2017-06-16 15:24] kbknapp commented on #984
This should be:

[code]

[2017-06-16 15:33] kbknapp commented on #986
I'm totally open to new and better formats for ZSH completions. In fact, I'm a ZSH completion expert by **no means** 😄 My problem is finding time to not only implement them, but also the time to learn them first.

If you'd like to dive into the ZSH generation, I'd be more than willing to mentor you through clap's internal workings. All the ZSH related bits can be found in [`src/completions/zsh.rs`

[2017-06-16 15:41] kbknapp commented on #987
Using a combination of [`Arg::last`](https://docs.rs/clap/2.24.2/clap/struct.Arg.html#method.last), [`Arg::multiple`](https://docs.rs/clap/2.24.2/clap/struct.Arg.html#method.multiple), and [`Arg::allow_hyphen_values`](https://docs.rs/clap/2.24.2/clap/struct.Arg.html#method.allow_hyphen_values) you should be able to achieve what you're looking for. I'd also be OK with something like `Arg::raw(true)

[2017-06-16 15:46] kbknapp commented on #988
That's not directly possible in clap, due to being pretty niche. However, a small variation *is* possible in clap.

[code]

This is possible by simply using [`Arg::value_delimiter(":")`](https://docs.rs/clap/2.24.2/clap/struct.Arg.html#method.value_delimiter).

By default this would also automatically work:

[code]

If that's not desired, you can also set [`Arg::require_equals`](https://docs.rs/cl

[2017-06-16 16:28] lu-zero commented on #988
I was investigating it to have a compatibility mode with existing scripts, so I'd really enjoy to have that as-is.

I know that's a fringe syntax and I'm enjoy clap so much I could probably just drop the idea of having a compatibility mode and just use an already supported syntax.

[2017-06-16 16:28] Aaron1011 commented on #987
@kbknapp: It's my understanding the `Arg::multiple` would require the user to manually expand out the condensed string (e.g. changing 3 captured occurrences of `-v` back into `-v -v -v`). It's certainly doable, but it adds additional boilerplate to the process of wrapping a process.

That sounds fine to me - I just think that it should be possible to get such an iterator without needing to undo an

[2017-06-16 20:18] kbknapp commented on #987
Nope, it'll happily accept multiples without parsing them:

[code]

Notice after the `--` it didn't try to parse `-b` even though that's a valid arg for this test.

[2017-06-16 20:33] kbknapp commented on #988
Actually I'm mistaken...it does work! I'd completely forgotten about this syntax:

[code]

Note, that you'll have to handle the splitting of `":"` and what those mean in user code...but Rust makes that super easy with matching and such.

[2017-06-16 20:39] kbknapp commented on #552
@matthiasbeyer yes, this is a feature I want, but need to get 3.x out the door first because otherwise it'll just keep getting pushed off and pushed off.

[2017-06-16 20:39] lu-zero commented on #988
Amazing! Thank you a lot! I'll experiment with it during the weekend :)

[2017-06-17 20:32] sgrif commented on #978
I won't get to it for a few days, but yes I will see if that works. :)

[2017-06-18 17:46] Vinatorul commented on #952
I can work on this. I am not sure about breaking change right now, it depends from associated changes.

[2017-06-18 18:01] kbknapp commented on #952
Yeah I'm concerned with the breaking changes implications. I've got a local 3x branch that I've been working on the past few days. Once I get it to a state where it actually builds I'll push the branch and you can run through the types making sure they're all deriving the traits they should. :+1:

I've got one more work trip coming up soon, but I'm hoping to have this branch pushed sometime this c

[2017-06-18 18:18] Vinatorul commented on #952
Nice, is there any issues I can work on while you will be away? Are you still using `gitter`?

[2017-06-19 13:11] messense commented on #971
Is it possible to make the `--` mandatory for the slop args?

[2017-06-19 13:11] drusellers commented on #971
I too would like that. :)

[2017-06-19 13:13] messense commented on #971
With that it would be a break change if I add some other args in the future before the `--`.

[2017-06-19 17:05] kbknapp commented on #971
@messense and @drusellers

Look into using [`Arg::last`](https://docs.rs/clap/2.24.2/clap/struct.Arg.html#method.last) it does what you're looking for 😄

[2017-06-20 03:00] kbknapp commented on #988
I'm going to close this issue, feel free to re-open if a problem arises 😄

[2017-06-20 03:00] #988 closed

[2017-06-20 03:05] kbknapp commented on #952
@Vinatorul The gitter is still up, and I get pinged on mobile (usually) when new messages are posted. Really any of the current feature requests *could* get knocked out, but 3.x is being heavily refactored, so it'll probably just be easier to wait until I get it building.

I now have a 3x-dev branch up, but it doesn't compile yet as it's a messy state of partially refactored. I'm hoping to get a l

[2017-06-20 10:15] mantal commented on #984
The documentation state that explicit empty values are allowed but this is implicit.
But if they are allowed too, that mean that `-b -a` incorrectly produce an error.

[2017-06-20 15:30] chriscoomber opened #990 "Fatal internal error when misusing requires/conflicting rules"
I provided the following misconfigured matches:

[code]

and got a fatal internal error (suggesting I raise here), rather than a well handled error.

I should have put as my matches:

[code]

### Rust Version

rustc 1.18.0 (03fc9d622 2017-06-06)

### Affected Version of clap

2.24.2

### Expected Behavior Summary

A graceful error, possibly explaining my mistake.

### Actual Behavior Summary

[cod

[2017-06-25 10:15] bachp commented on #814
@Mange I like your suggestion 2 as it would allow to make a parameter required and make sure it is either set as a parameter or as an environment variable. I'm looking for something like this to pass the authentication token via env variable for my [gitlab-mirror](https://github.com/bachp/gitlab-mirror) project.

[2017-06-30 18:45] Arnavion opened #992 "Subcommand bin_name on Windows contains ".exe" in the middle instead of at the end (or not at all)"
### Rust Version

`rustc 1.20.0-nightly (f590a44ce 2017-06-27)`

### Affected Version of clap

`2.25.0`

### Steps to Reproduce the issue

1. `Cargo.toml`:

[code]

1. `src/main.rs`:

[code]

1. `cargo run -- bar --help` (This runs `target\debug\foo.exe bar --help`. Note the `.exe`). Alternatively, run `.\target\debug\foo.exe bar --help` in cmd or PS. Both these will set `argv[0]` to something end

[2017-06-30 19:01] Arnavion commented on #992
Just stripping `.exe` from the end of `argv[0]` if `#[cfg(windows)` should be fine, I think.

Of course this will lead to the wrong output from `foo.exe --help` if someone names their binary `foo.exe.exe` (it'll strip the `.exe` and print `foo`, which won't work), but that is an unlikely situation.

[2017-07-04 03:46] sagiegurari opened #993 "help takes project name instead of command when printing help for sub command"
### Rust Version

rustc 1.20.0-nightly (05b579766 2017-07-01)
binary: rustc
commit-hash: 05b5797664d6aeaa0c7d0606610f336fe0b57e97
commit-date: 2017-07-01
host: x86_64-unknown-linux-gnu
release: 1.20.0-nightly
LLVM version: 4.0

### Affected Version of clap

[dependencies]
clap = "^2.25.0"

### Expected Behavior Summary

cargo subcommand -h will print in both name and usage

command subcommand ...

[2017-07-04 18:49] PlasmaPower opened #994 "Make the Shell enum non-exhaustive"
(sorry for not using the template, but I don't think it's applicable here)

Currently, the `clap::Shell` enum (as defined [here](https://github.com/kbknapp/clap-rs/blob/e27a6ffbde87a35a367cd3c5b7369ef8173d0e7a/src/completions/shell.rs#L8)) can be matched against, which means that supporting a new shell is a breaking change. I'd like to propose making the enum nonexhaustive. Until rust-lang/rfcs#20

[2017-07-05 19:12] salpalvv opened #995 "Bug with hyphenated long arguments using macro"
### Rust Version

rustc 1.20.0-nightly (2fbba5bdb 2017-07-04)

### Affected Version of clap

 "clap 2.25.0 (registry+https://github.com/rust-lang/crates.io-index)",
name = "clap"
"checksum clap 2.25.0 (registry+https://github.com/rust-lang/crates.io-index)" = "867a885995b4184be051b70a592d4d70e32d7a188db6e8dff626af286a962771"

### Expected Behavior Summary

hyphenated long arguments should work whi

[2017-07-07 09:26] TomasTomecek opened #996 "How does one pass a dynamic `String` to the `version` function?"
### Rust Version

rustc 1.18.0

### Affected Version of clap

[code]

### Actual Behavior Summary
I am getting a compilation failure due to lifetimes mismatch. I am trying to
add commit hash from an environment variable and pass it to `version` function
of `App`.

### Sample Code or Link to Sample Code
[code]

### Output

[code]

Can I get some help here please?

[2017-07-15 16:24] halostatue commented on #995
The macro docs suggest that your code should be:

`(@arg test: -m --"mattermost-channel" ... "this should work")`

[2017-07-16 17:08] fulara opened #1000 "clap::Values should implement Default<'a>"
Problem:
[code]
with error:
[code]
Root cause:
[code]
### Rust Version
rustc 1.20.0-nightly (b2c070787 2017-07-13)
### Affected Version of clap
2.25.0

[2017-07-16 17:20] TomasTomecek commented on #996
I managed to figure this out by not meddling with lifetimes and have one single function which contains `App` instance and it's not passed anywhere else.

[2017-07-16 17:20] #996 closed

[2017-07-17 23:32] g2p opened #1001 "Positional arguments similar to command names get confused with commands"
### Rust Version

rustc 1.20.0-nightly (6d9d82d3d 2017-07-14)

### Affected Version of clap

clap 2.25.0

### Expected Behavior Summary

`program file subcommand` runs

### Actual Behavior Summary

[code]

### Steps to Reproduce the issue

Call a clap_app with a positional argument that looks like a command name.

### Sample Code or Link to Sample Code

[code]

[2017-07-18 16:59] euclio opened #1002 "Provide a `default_values` method taking `&[&str]` to parallel `default_value`"
There should be a way to provide a default list of `&str` to be returned by `values_of` in matches if no argument is supplied.

[2017-07-18 17:51] shepmaster opened #1003 "Upgrade dependency on unicode-segmentation"
As you noticed, I had to remove clap from the crates on the playground. After trying to update the crates again, it still failed, so I did a bit of digging.

Right now, unicode-segmentation is one of the top-100 downloaded crates, as is clap. The playgrounds logic is to take the newest version of all available crates and resolve them together.

Unfortunately for this case, [clap 2.25.0 disallows t

[2017-07-19 21:05] salpalvv commented on #995
`(@arg test: -m --("mattermost-channel") ... "this should work")` with the parens seems to work per the docs.

Perhaps this could be made a little more visible in the docs. I'm going to close this since it's a "limitation of rust macros"

[2017-07-19 21:05] #995 closed

[2017-07-20 03:05] kieraneglin opened #1005 "Allow conditional usage of positional arguments"
This is version agnostic, but I am using the YAML option.

I am working on an app [here](https://github.com/kieraneglin/diecast) for reference.

___

Simply, I want to be able to change the possible arguments and whether they're required or not based on the value of a preceding positional argument.

Here's an example.  The program's name will be `program`.  The first argument will be the subcomman

[2017-07-21 03:45] kbknapp commented on #984
I've re-opened this as a docs issue, but it should be moot shortly as I'm trying to fix this for 3.x :wink:

[2017-07-21 13:39] #911 closed

[2017-07-22 22:44] AlexanderThaller opened #1010 "PropagateGlobalValuesDown not working when arg has default value"
Please use the following template to assist with creating an issue and getting a speedy resolution. If an area is not applicable, feel free to delete the area, or mark with `N/A`

### Rust Version
rustc 1.19.0 (0ade33941 2017-07-17)

### Affected Version of clap
2.25.1

### Expected Behavior Summary
The subcommand arg should inherit the set value instead of using the default value.

### Actual Beh

[2017-07-22 22:50] AlexanderThaller commented on #1010
I also ran the test in a small program with the debug feature enabled:

[code]

[2017-07-22 23:03] AlexanderThaller commented on #1010
I also wrote a test programm with the debug feature enabled:

[code]

[code]

[2017-07-22 23:04] AlexanderThaller commented on #1010
I also wrote a small test programm with the debug feature enabled:

[code]

[code]

[2017-07-23 11:33] mgeisler commented on #1003
Hi @shepmaster -- I just saw that it was me who introduced the version restriction in https://github.com/kbknapp/clap-rs/commit/dd4c41e23785322f001d6c432596c649940596cf.

I saw somewhere that clap is committed to supporting the two previous stable versions of Rust, which these days means Rust 1.17 and later. So perhaps this is easy to resolve by dropping support for the older versions of Rust. @kb

[2017-07-23 11:35] mgeisler commented on #953
Fixed by https://github.com/kbknapp/clap-rs/commit/78498bd82c0a72af9c220e31affb11a0b79075e1.

[2017-07-23 17:10] shepmaster commented on #1003
Perhaps it is! To be clear, as a *user* of clap, I'm not in need of this change, just wanted to give the heads up. Of course, if it's upgraded, my life as playground maintainer would be made easier 😈

[2017-07-24 08:32] marmistrz opened #1011 "Clap doesn't allow a short last argument"
### Rust Version

1.19.0

### Affected Version of clap

2.25.1

### Expected Behavior Summary
I want to accept one of the following command lines:
[code]
[code]
There may be 0,1,2,... `-l` arguments.

So I did
[code]

### Actual Behavior Summary
This panicks with
[code]
It's unclear to me why the library dislikes flags having a `last` option. I could not find another way of achieving the command l

[2017-07-24 10:40] marmistrz commented on #1011
I got it. I'll contribute an example so that other can avoid that pitfall.

[2017-07-24 10:40] #1011 closed

[2017-07-25 10:40] marmistrz opened #1013 "The help message offset is inconsistent"
### Rust Version

1.19.0

### Affected Version of clap

2.25.1

### Issue description
Take this Rust project: https://github.com/marmistrz/randmockery/commit/3fa575f6642a9679c5fe0f7432803e21de4566dd

(I specify the commit because the app may be developed further). When launching `randmockery --help` I get
[code]

I'd expect all the help messages to be aligned to each other:
[code]

[2017-07-26 02:05] kahing opened #1014 "--help misaligned if one option only has long flag and one only has short flag"
### Affected Version of clap

2.25.0

### Expected Behavior Summary

[code]

### Actual Behavior Summary

[code]

[2017-07-29 08:31] 8573 opened #1015 "Short/long help distinction seems unclear to the end-user"
FLAGS:
        -h, --help       Prints help information
        -V, --version    Prints version information

This default help message, produced by `clap` version 2.25.1, seems to
me to imply that `-h` and `--help` do the same thing, when they don't
necessarily. For [`Arg`]s defined with both `help` and `long_help`,
`--help` may provide much more information than `-h`, but as far as I
can tell the

[2017-07-29 17:47] kbknapp commented on #1000
Closed with #998

[2017-07-29 17:47] #1000 closed

[2017-07-29 17:52] kbknapp commented on #1003
I'm good with moving the minimum version of Rust to 1.13, so long as we also bump the minor. Yes, 1.17 is *technically* as far back as I'm guaranteed to support, but in practice I've been ****FAR**** more conservative.

As I've been saying for nearly 6 months now, I was hoping to get 3.x out the door and wait until then to bump the minimum required version of Rust. Buuut, life has been getting int

[2017-07-29 19:31] kbknapp commented on #953
Thanks, forgot to close this 😉

[2017-07-29 19:31] #953 closed

[2017-07-29 19:35] kbknapp commented on #1015
True, but then again they *might* do the same thing. Programs that opt in to differences (via `Arg::long_help` and friends) can also change the default help message to reflect those differences, such as how [`ripgrep`](https://github.com/BurntSushi/ripgrep/blob/d4b790fd8d979591cee058e7014957b9f579380d/src/app.rs#L59) does it.

I do believe this should be marked as a documentation issue.

[2017-07-29 21:08] kbknapp commented on #1003
Closed with v2.26.0

[2017-07-29 21:08] #1003 closed

[2017-07-29 21:10] kbknapp commented on #994
Since I'm actively working on v3 (see v3-master branch) I can just incorporate this into the new version. Actually I'm trying to pull out all the completion code into `clap_completions` so that changes such as this can be breaking and bump the major without changing `clap` proper.

Sorry for the long wait on a response :\

[2017-07-29 21:12] kbknapp commented on #994
Oh and no worries with the template. If it doesn't apply, no need to use it :wink:

[2017-07-29 21:13] kbknapp commented on #1002
Good point! This will probably be rolled up into the v3 push. Thanks for suggesting!

[2017-07-29 22:14] 8573 commented on #1015
Oh huh, I'd never noticed that in ripgrep; thanks for the tip.

Okay.

[2017-08-04 19:19] kballard commented on #976
There definitely should be an `AppSetting` for this (`POSIX` isn't a good name for this, maybe `AppSetting::AllowDuplicateFlags`?). And I suppose a per-arg setting as well, in case you want to e.g. allow it in general but disallow it on certain flags that take arguments (for example, you'd probably want to allow it on flags that take arguments specifying config values, e.g. sort options, but disal

[2017-08-05 16:39] wabain opened #1018 "Incorrect suggestions for flag under subcommand"
### Rust Version

`rustc 1.19.0 (0ade33941 2017-07-17)`

### Affected Version of clap

version 2.26.0

### Expected Behavior Summary

When a flag is passed for which no suggestions are found, but for which there is a suggested flag under a subcommand, clap suggests invoking the subcommand with the flag. A message might look like:

### Actual Behavior Summary

The suggestion is misformatted -- it p

[2017-08-08 09:38] peterbraden opened #1020 "error: unexpected token: `ansi_term` on install."
Cannot install clap: error: unexpected token: `ansi_term`

### Rust Version
rustc 1.21.0-nightly (ba1d065ff 2017-08-06)
Linux 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### Affected Version of clap

2.26.0

### Error

From cargo install:
[code]

[2017-08-08 16:04] rtsuk commented on #805
Adding my vote for this feature. My Fuchsia-specific cargo wrapper [Fargo](https://fuchsia.googlesource.com/fargo/) could really benefit from it.

[2017-08-09 02:31] kbknapp commented on #805
I'm trying to get 3.x out the door in the coming weeks so I can start knocking out all the current feature/bug reports. This particular feature is high on my list though :wink:

[2017-08-09 03:26] Phlosioneer opened #1023 "Feature Request: Override setting for groups"
There are many instances of command line utilities that have groups of flags, all able to override each other.

For example, as mentioned in [this issue](https://github.com/uutils/coreutils/issues/1006), the `od` utility has 10 flags that all override each other: `abcdfilosx`. The last appearing flag is the one that is used. Likewise, the `ls` utility has similar "groups" of overriding flags: (ls

[2017-08-09 11:36] droundy opened #1024 "Support positional arguments in `clap_app!` macro"
I would like for the `clap_app!` macro to support positional arguments.  If it does support them, then I would love for this to be documented.

[2017-08-11 12:50] droundy commented on #568
I would suggest rather than an enum that multiple methods setting completion possibilities would be a better and more extensible API.  So rather than

    Args::complete_with(enum)

you would have

   Args::complete_with_files()

and a whole set of other `complete_with_XXX` methods.  This removes the requirement that you foresee every possibility on the first version of the API (since you can't ad

[2017-08-11 12:59] droundy commented on #568
Here is an example of a bash completion that simply calls command-line flags that return the possible completions for [darcs](https://github.com/kbknapp/clap-rs/files/1217871/darcs.txt).  darcs does no shell-specific munging in its Haskell code (since it is usable by multiple shells), just outputs a `'\n'`-delimited list of completions.  Then the bash code handles spaces and colons specially for b

[2017-08-14 04:06] soumya92 opened #1026 "Distinguish between multiple sets of values for a multiple, min_values arg"
### Rust Version

rustc 1.19.0 (0ade33941 2017-07-17)

### Affected Version of clap

clap 2.25.0

### Expected Behavior Summary

It would be nice to be able to distinguish between `-a A B C D E` and `-a A B -a C D E`, where `-a` is an arg with `min_values(2)` and `multiple(true)`.

From [`clap::Arg::min_values`](https://kbknapp.github.io/clap-rs/clap/struct.Arg.html#method.min_values)

This seems

[2017-08-14 04:41] kahing opened #1027 "support -oflag style arguments"
Some programs allow both -o key=value and -okey=value and -oflag arguments (ex: mount). How would one do the same thing in clap?

[2017-08-14 23:47] Arnavion commented on #993
That is by design. It uses the binary name set via `App::bin_name()` which defaults to the crate name.

[2017-08-15 00:45] kbknapp commented on #1027
clap supports each of those already, minus the automatic parsing of `key=value`. Instead it will make `key=value` a single "value" that user code is then expected to parse further (such as splitting on `=`, etc.).

[2017-08-15 02:41] #1018 closed

[2017-08-15 07:07] sagiegurari commented on #993
So why 'cratename-subcommand' and not 'cratename subcommand'?
Anyway, the bin_name was a good clue and I see I can modify that, so i'll close the issue and just set it manually.
thanks

https://docs.rs/clap/2.26.0/clap/struct.App.html#method.bin_name

[2017-08-15 07:07] #993 closed

[2017-08-15 07:17] darnir opened #1030 "Support argument aliases that set multiple arguments"
## Problem Description

In my projects, I often have a scenario where there is a single shortcut switch which sets values for multiple switches. For example, in my current project, I have (taken directly from my code):

[code]

Now what I would like it for the argument `UTILIZATION` to explicitly set values for `UBEGIN`, `USTEP` and `UEND`.

As you can see, I currently have a overrides and conflic

[2017-08-15 07:58] Arnavion commented on #993
It's a convention that if you want an application `foo` to use a subcommand `bar`, the implementation of the subcommand is a file named `foo-bar`. For example that's why external cargo subcommands like clippy have a binary named `cargo-clippy` (hyphen) that you invoke using `cargo clippy` (space).

Even when the subcommand is not actually a separate binary, the convention is still used in its help

[2017-08-16 14:14] axelchalon opened #1031 "Argument value should take precedence over subcommand with the same name"
_rustc 1.18.0 / clap 2.26.0_

When using the `argument value` notation (as opposed to `argument=value`), when a top-level argument has a value with the same name as a subcommand, Clap parses this as running the subcommand and using the top-level argument with no value (even though one is required).

### Sample Code / Steps to Reproduce the Issue
[code]

[code]

Thanks!

[2017-08-17 02:52] kahing commented on #1027
Ah, I had a problem with it because multiple(true) would slurp positional arguments, which can be worked around by passing `--` before the positionals.

[2017-08-17 02:52] #1027 closed

[2017-08-18 20:50] Binero opened #1032 "feat: Allow specifing argument types"
It would be useful if one could specify the type of an argument, something like so:

[code]

[2017-08-19 17:03] GreeeneJD opened #1033 "ArgMatches get raw args"
I can't send all arguments after subcommand to another program. Need implement functionality to get raw args form ArgMatches

### Link to Sample Code
https://play.rust-lang.org/?gist=c258708d0b78040cb6e2d90356175882&version=stable

[2017-08-20 00:30] #1033 closed

[2017-08-21 02:31] netvl opened #1034 "Support for default value in args_from_usage?"
Right now I have the following thing in many of my projects:
[code]

Here I want to specify a default value for one of the arguments. However, I cannot define the default value if I use the "from usage" format of arguments definitions, so since I use it for all other arguments it quite nastily breaks the uniformity of the arguments definitions.

Ideally, I would like to write the above as follows

[2017-08-21 04:47] jaccarmac opened #1035 "`clap_app!` can't have default arguments with numbers/some characters."
### Rust Version

`rustc 1.21.0-nightly (8c303ed87 2017-08-20)`

### Affected Version of clap

`2.26.0`

### Expected Behavior Summary

The `clap_app!` macro can have arguments with defaults which are numbers or contain special characters, possibly with some quoting.

### Actual Behavior Summary

No amount of quoting can stop Clap from failing to parse the macro form properly.

### Steps to Reprod

[2017-08-21 04:53] jaccarmac commented on #1024
I've been able to use the following pattern to get positional args:

[code]

If they are required as positional args often are `(@arg first: * "first")` will make it so, and can be used like so: `(@arg first: * default_value[default] "first")` to get a default value simultaneously (thus the arg shows up in the command line documentation as if it is required but in fact is not required).

[2017-08-21 21:51] yoni386 opened #1036 "C++"
Hello,

Thanks for the library. Are the plans or a way to use this in c++?

Thank you

[2017-08-21 22:12] kbknapp commented on #1036
I don't currently have any plans to expose a C API, but I'm also not opposed to the idea. Once 3.x is released, I'd be willing to consider contributions to make this happen.

[2017-08-21 22:18] kbknapp opened #1037 "Tracking Issue for 3.x"
**UPDATED**: [3.0 Milestone](https://github.com/clap-rs/clap/milestone/76)

---

This an internal tracking issue for what I'd like to get done in order to release 3.x. Granted not all of these things must happen in order for a release to happen, but it gives a good idea of what is left to do.

Also, this isn't a fully comprehensive list, or may not even make sense...it's mainly meant as an interna

[2017-08-21 22:22] kbknapp commented on #990
Thanks for the heads up and sorry it's taken me so long to reply, I'm trying to blind myself to get 3.x released which should actually take care of this issue. I'm going to leave it open though to verify that it's fixed before finishing 3.x

[2017-08-21 22:24] kbknapp commented on #1034
I like this idea! I do the same in many of my programs so I know it'd be useful. I'm doing my best to get 3.x out the door, and in order to do that I need to put digital blinders on, which means I'll have to wait until 3.x is in a releasable state before adding this feature. It shouldn't be too much longer now though!

[2017-08-21 22:26] kbknapp commented on #1035
Thanks for reporting! I'm in the process of trying to get 3.x out the door, so I'll verify/fix this issue on that branch.

[2017-08-22 04:06] yoni386 commented on #1036
Ok. Do you know if this library is similar to c++ clap or tclap
?

On Tue, 22 Aug 2017 at 1:12 Kevin K. <notifications@github.com> wrote:

--

Best Regards,

Yoni Shperling

[2017-08-22 04:27] kbknapp commented on #1036
It looks like tcclap is based on CLAP (C++). Both look pretty different from clap-rs. This library was a from scratch write, although it very loosely originates from clapp-py (by me) and ideas from one of Go's popular argv parser.
I'm not super familiar with the C++ world so it's hard for me to say much more about those two libraries you mention. :/

[2017-08-22 05:20] yoni386 commented on #1036
Did you had a chance to compare how efficient rust is compared the a
similar python library?

On Tue, 22 Aug 2017 at 7:28 Kevin K. <notifications@github.com> wrote:

--

Best Regards,

Yoni Shperling

[2017-08-22 10:28] nabijaczleweli commented on #1036
Borderline indefinitely? How fast is running optimised assembly as compared to *parsing and compiling code in real time*?

[2017-08-24 16:43] snowe2010 commented on #1011
I'm seeing this issue but with no `last(true)` setting

[code]

[code]

[2017-08-25 13:46] snowe2010 opened #1038 "Issue passing short option as last"
### Rust Version

`rustc 1.21.0-nightly (469a6f9bd 2017-08-22)`

### Affected Version of clap

[code]

but this was also happening on 2.21 as I tested on that before upgrading

### Expected Behavior Summary
[code]

### Actual Behavior Summary

[code]

### Steps to Reproduce the issue
pass multiple short options

### Sample Code or Link to Sample Code

#### examples/test.rs
[code]

#### examples/te

[2017-08-26 20:24] kbknapp commented on #1038
I believe (but could be wrong) your initial test should be `$ cargo run -- start -g -i -s --blah` in order to get the same results.

[2017-08-26 20:27] kbknapp commented on #1038
I'm not seeing where you defined `-b` anywhere? Are you saying you'd like to be able to use `-b` as a value? If so, try `Arg::allow_hyphen_values(true)`.

[2017-08-27 21:50] snowe2010 commented on #1038
![facepalm](https://media.giphy.com/media/gnJgBlPgHtcnS/giphy.gif)

[2017-08-27 21:50] #1038 closed

[2017-09-07 13:32] Rupsbant opened #1041 "Lifetimes of App, Arg, ArgGroup: removing or relaxing"
### Affected Version of clap
All 2.x. Breaking API change

### Expected Behavior Summary
I want to decouple groups of options to several structs. I want to have a pair functions: one that adds arguments to an App with generated names, one that generates a structure with the added arguments.

### Actual Behavior Summary
Uncompilable: the types don't allow to create String in a function and return a

[2017-09-09 01:46] chrisvittal opened #1042 "blog.clap.rs styling is malfunctioning"
I don't know where else to put this, but when trying to connect to the [clap.rs](https://clap.rs) website. I am getting an invalid certificate error. The error message is below.

Thanks!

[code]

[2017-09-12 13:39] chrisvittal commented on #1042
Okay, it seems like clap.rs is fixed, but there are still issues with [blog.clap.rs](https://blog.clap.rs). There is no styling to the website and all the posts are giving me 404 errors.

Thank you!

[2017-09-13 18:38] kbknapp commented on #1042
Unfortunately this happened while I'm traveling for my day job :worried: The certificate is fixed, but the styling of `blog.clap.rs` is still messed up. I'm going to look at migrating it soon.

In the mean time I'm going to change the title of this issue to reflect the blog styling.

[2017-09-13 18:39] kbknapp opened #1043 "App::long_about can't be used"
`App::long_about` is never applied to help output

[2017-09-13 18:42] kbknapp opened #1044 "require_equals(true).min_values(0) doens't work as expected"
Complains about missing value

[2017-09-14 14:37] #1043 closed

[2017-09-14 14:37] #1044 closed

[2017-09-14 14:52] jonhoo opened #1046 "Subcommands help header displayed with no visible subcommands"
### Rust Version

rustc 1.22.0-nightly (ddd123ed9 2017-09-09)

### Affected Version of clap

2.26.1

### Expected Behavior Summary

If there are no visible subcommands, the `SUBCOMMANDS` section in help output should not be displayed. Similarly, the `help` subcommand should not need to be hidden if there are no visible subcommands.

### Actual Behavior Summary

The `SUBCOMMANDS` section is always

[2017-09-14 14:55] kbknapp commented on #1041
This is a focus of 3.x so stay tuned. I've been able to get some work done in spurts during lulls in my day job (which have been few and far between this year). Watch the 3x-master branch for details :wink:

[2017-09-14 15:01] jonhoo opened #1047 "Incorrect default value behavior with require_equals and min_values(0)"
### Rust Version

rustc 1.22.0-nightly (ddd123ed9 2017-09-09)

### Affected Version of clap

2.26.1

### Expected Behavior Summary

When a `require_equals` + `min_values(0)` argument is given on the command line without a value, the default value should be set as its value in matches.

### Actual Behavior Summary

If the argument is given without a value, `occurs` is 1, but `vals` is `[]`.

### St

[2017-09-14 15:03] jonhoo commented on #1047
And because @kbknapp raised it during discussion: adding another dummy argument and passing it after `-d` (as in `-d -x`) does not change this outcome.

[2017-09-15 18:09] #1046 closed

[2017-09-15 18:09] #1047 closed

[2017-09-18 12:55] artemshein opened #1049 "Hidden subcommand"
Is there a way to define a hidden subcommand?

[2017-09-18 12:57] AdrienChampion commented on #1049
With [`hidden`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.hidden).

[2017-09-18 13:03] artemshein commented on #1049
@AdrienChampion I don't get it: subcommand is not an Arg, it's an instance of App, right?

[2017-09-18 13:05] AdrienChampion commented on #1049
My bad, I answered too quickly.

It sounds like you can do that with [`AppSettings`](https://docs.rs/clap/2.26.2/clap/enum.AppSettings.html). See `AppSettings::Hidden` and `AppSettings::HidePossibleValuesInHelp` for instance. I have to say I've never used that though.

[2017-09-18 13:10] artemshein commented on #1049
Oh, thank you, it's exactly what I need! Missed it somehow...

[2017-09-18 13:10] #1049 closed

[2017-09-19 09:31] Frederick888 opened #1050 "Using `number_of_values` and `default_value` together"
Found this issue with `clap 2.26.2`

It seems that currently the default value is implemented by appending it to the existing matches. But it causes issues if a combination of  `number_of_values` and `default_value` is used.

For instance,

[code]
[code]

Changing `number_of_values(1)` to `number_of_values(2)` would make it work if the argument is correctly given but the error message is still off

[2017-09-20 09:27] Frederick888 commented on #1050
[code]
...fixes it for me. But I'm not really clear about the purpose of the codes here.

[2017-09-20 14:14] zolnov opened #1052 "Could the setting and requiring value delimiter automatically reflect in the help messages?"
### Rust Version

* rustc 1.20.0 (f3d6973f4 2017-08-27)

### Affected Version of clap

* clap 2.26.2

### Expected Behavior Summary

Set some required delimiter:

    .arg(
                Arg::with_name("volume")
                .short("v")
                .long("volume")
                .value_names(&["SOURCE","DESTINATION"])
                .value_delimiter(":")
                .require_delimit

[2017-09-25 21:24] sgrif commented on #978
It's been a lot of days, but I finally got around to trying this. The setting improves things, but still doesn't fix the problem.

| Command | `diesel --db-url="" db drop` | `diesel db --db-url="" drop` | `diesel db drop --db-url=""` |
| --- | --- | --- | --- |
| Without Setting | Arg not found | Arg not found | Fine |
| With Setting | Fine | Arg not found | Fine |

| Command | `diesel --db-url=""

[2017-09-25 22:22] kbknapp commented on #978
No worries, I've been incredibly busy too. Thanks for all the details, once I'm back at a computer (I'm on mobile) I should be able to figure this one out quickly

[2017-09-27 08:08] H2CO3 opened #1054 "Potentially unjustified `unsafe`"
There are a couple of uses of `unsafe` in the code that I think are not strictly necessary. The prime example is this:

https://github.com/kbknapp/clap-rs/blob/6e948994a61e389c8f3b6726435d3d14bdd328bb/src/app/parser.rs#L1350-L1362

I understand that this instance of `unsafe` might have been introduced for performance reasons, however I don't think giving up safety is a clear win here. When printin

[2017-09-27 17:04] beardedeagle commented on #1032
It would be _GREAT_ if we could declare it in the argument declaration itself. ex:
[code]

[2017-09-27 17:20] Binero commented on #1032
I don't think using types like `i32` is a good call, because stuff like filesizes are written differently than say time is, yet both are u64.

[2017-09-27 17:40] H2CO3 opened #1055 "Make `textwrap` an optional dependency"
It would be nice to make the `textwrap` crate an optional dependency, so that those who don't care that much about the nice formatting wouldn't need to install the transitive closure of the dependencies of `textwrap` (most notably, `libc` and `winapi`).

This would also cut down on the quantity of `unsafe` used (again, transitively) by the dependent crates, should they choose to opt out of pretty

[2017-09-28 07:29] Screwtapello opened #1056 "default_value() and multiple(true) interact in surprising ways."
### Rust Version

rustc 1.20.0 (f3d6973f4 2017-08-27)

### Affected Version of clap

clap 2.26.2

### Steps to Reproduce the issue

I want to write a program that's a little bit like `ssh`: it does some setup, then runs the rest of the command-line arguments as a new process. If there are no other arguments, it just runs a shell. Looking at the clap documentation, I came up with the following patt

[2017-09-28 11:34] willmurphyscode commented on #978
Do you know whether anyone is already working on this? If not, I'd like to try to fix it over the next few days.

[2017-09-28 14:02] kbknapp commented on #978
@willmurphyscode

I get home from my travel tomorrow and was planning on checking it out then, but if you'd like to take a swing at it I'd be more than happy to mentor it and assist where needed. :+1:

[2017-09-28 17:58] bluejekyll commented on #814
Is anyone working on this? I've implemented annoying work arounds for this enough that I'd be willing to put together a PR, my preference being for Suggestion 2

[2017-09-29 11:49] willmurphyscode commented on #978
@kbknapp I'll take a swing at it. I confirmed the issue locally with diesel, so I was going to write some failing tests to start with. What's the best place to reach out if I need hand or have a question?

[2017-09-29 14:16] Mange commented on #814
I, for one, is not working on it. I opened this issue when I didn't feel confident enough in Rust to even try to implement it.

I feel different about it now, and could *also* take a stab if required.

[2017-09-29 16:23] bachp commented on #814
I'm currently not working on this but a PR would be welcome 😉

[2017-09-29 19:04] bluejekyll commented on #814
I decided on from_env, but if people like the env_fallback terminology I can change it.

[2017-09-30 17:27] kbknapp commented on #814
Some important comments from #1057

[2017-09-30 17:29] kbknapp commented on #814
I made the appropriate comments in #1057 but I'll copy them here too, so everyone is tracking:

[2017-10-02 12:12] willmurphyscode commented on #978
@kbknapp I've written some failing tests that show the issue: https://github.com/willmurphyscode/clap-rs/blob/propagate-values-down/tests/propagate_globals_down.rs#L52 but I'm a little bit lost trying to figure out exactly what to change needs to be made to make them pass. I've commented the tests in that link. Would you mind providing a little help when you have a chance?

[2017-10-04 02:23] kbknapp commented on #978
@willmurphyscode

[Your hypothesis](https://github.com/willmurphyscode/clap-rs/blob/9872a82ff9618f45a54907e8961ba29ddd383896/tests/propagate_globals_down.rs#L66) is correct which was initially by design.

To fix it, you'll have to bubble all these values back up just [prior to validation occurring](https://github.com/kbknapp/clap-rs/blob/3224e2e1cd4927935f44081c1ca686d95f267790/src/app/parser.rs#L

[2017-10-04 02:24] kbknapp commented on #978
I believe one or both of these cases are actually already fixed in 3.x just due to being a more clean code base...but I'll add this to the 3.x issue tracker just in case.

[2017-10-04 02:30] kbknapp commented on #992
When building the subcommand name, I'd be fine with stripping the `.exe` *only* when we do the "concat with subcommands" titling. This would be a very easy fix if someone wants a quick PR.

[Relevant function to fix](https://github.com/kbknapp/clap-rs/blob/3224e2e1cd4927935f44081c1ca686d95f267790/src/app/help.rs#L614-L634)

[2017-10-04 02:34] kbknapp commented on #1001
While I agree this is annoying, if the values supplied have the possibility of being close to a subcommand, I'd compile *without* the `suggestions` feature. If that isn't an option, there are several [`AppSettings`](https://docs.rs/clap/2.26.2/clap/enum.AppSettings.html) variants that help with this issue, such as making subcommands required, or disallowing args between subcommands.

I'm open to s

[2017-10-04 02:38] kbknapp commented on #1005
Sorry for long wait, I've been swamped and just trying to get 3.x out the door :disappointed:

You could also use [`Arg::requires_if`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.requires_if) if the value equals either `save` or `load`

If that doesn't work, make them flags, and use the [`Arg::requires`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.requires) for each.

Final

[2017-10-04 02:39] #1005 closed

[2017-10-04 02:41] #229 closed

[2017-10-04 02:41] #808 closed

[2017-10-04 02:42] #1036 closed

[2017-10-04 02:45] kbknapp commented on #1010
Sorry for the long wait, I've been swamped with work traveling for the past month and a half. This may also be related to #978

[2017-10-04 02:48] kbknapp commented on #1013
The alignment is per *section* (i.e. `ARGS`, `FLAGS`, etc.). In small programs like the example, I agree it looks better aligned as a single unit, but in large programs this actually looks worse (subjective opinion I know).

I'm going to close this as just by design. But I'm open to discussing the issue if there is an argument to be made.

[2017-10-04 02:50] kbknapp commented on #1014
This is subjective, I know, but personally I think that'd be a good more code to maintain for only a little benefit. In small programs this may look nicer, but in larger scenarios I think it'd get lost in the noise.

I'm going to close this since I don't have the bandwidth to maintain code doing this, but I'm open to discussion if there's an argument to made as to why it'd be better (in all cases)

[2017-10-04 02:50] #1014 closed

[2017-10-04 02:53] kbknapp commented on #1054
Agreed! I think those were either left over from old code, or under assumptions that only ascii code would be supported. Both of which seem wrong now.

The debug code one I actually want to look up `git blame` and see if that's something I did :stuck_out_tongue_winking_eye: as I *normally* don't care at all about debug performance. Even if I didn't write it, I still accepted it, so there's no esca

[2017-10-04 02:55] kbknapp commented on #1024
Thanks @jaccarmac :+1:

I'm going to close this. Feel free to re-open if it needs further discussion.

[2017-10-04 02:55] #1024 closed

[2017-10-04 02:56] kbknapp commented on #1020
I'm not sure how you got that? There is no `ansi_term` feature. It's a dep of the `color` feature. Can you explain more how this came about? I need to be able to reproduce it.

[2017-10-04 02:59] kbknapp commented on #1032
This is something I'd like too, but it won't be added until 3.x. I've been playing with ideas on how to accomplish it, and have also landed on your `ArgType` style enum. This will also place very well with completion generation code.

I can't say *when* this will land, but I *do* want it.

As for using `types` directly, I agree it's probably not the best idea although it could be simulated and usi

[2017-10-04 03:03] kbknapp commented on #1030
Using [`Arg::default_value_if`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.default_value_if) will probably get you about 90% of what you're looking for. Otherwise, you'll have to go with defining these aliases in user code. I'm not against adding something like this feature in the future, but it's not something I can work on right now as there are about 1,000 other things I need to fi

[2017-10-04 03:04] kbknapp commented on #1055
I'd be fine with this, if someone wants an easy PR.

:+1:

[2017-10-04 03:08] kbknapp commented on #1056
This is a bug, thanks for reporting!

I'd be willing to mentor someone to fix this, which should be a super quick fix if someone wants an easy PR. Otherwise I can try and knock it out this week once I get a little caught up.

If anyone is interested, the code to potentially fix this issue [is here](https://github.com/kbknapp/clap-rs/blob/3224e2e1cd4927935f44081c1ca686d95f267790/src/app/parser.rs#L

[2017-10-04 03:14] kbknapp commented on #1050
Yep, I just saw this when going through #1056

I'm not sure why it's doing the same thing in both branches :confused:

[2017-10-04 03:15] kbknapp commented on #1056
See #1050 as this may actually be a somewhat duplicate issue. Fixing one, will probably fix the other.

[2017-10-04 03:18] kbknapp commented on #1023
I like this idea! It would also help with a similar issue I had when converting `exa` to use clap. I can't say I'll implement this tomorrow, as my plate is super full, but I *do* want this feature think it'd making specifying these large groups of overrides *much* easier.

Thanks for the details and the suggestion! :+1:

[2017-10-04 03:23] kbknapp commented on #1026
hmm, perhaps adding a new setting that allows grouping values? So when iterating these values it'd be:

`["arget1 file1 file2 file3", "target2 file4 file5 file6 file7", "target3 file8"]`

[2017-10-04 03:26] kbknapp commented on #1052
Yes it could. This would be a quick and easy PR if someone is interested!

[Relevant lines](https://github.com/kbknapp/clap-rs/blob/3224e2e1cd4927935f44081c1ca686d95f267790/src/app/help.rs#L297-L331)

[2017-10-04 03:30] kbknapp commented on #1031
Agreed. Sorry for the delay, I've been traveling for work for the past month and a half. I'll mark this as a bug.

A workaround in the meantime is to use [`Arg::require_equals`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.require_equals) which requires `--ui-path=signer` and disallows `--ui-path signer`

Another workaround is to disallow subcommands when a valid arg has been found. I.e

[2017-10-04 05:36] soumya92 commented on #1026
I like the idea of adding an option to enable grouping.

`[["target1", "file1", "file2", "file3"], ["target2", "file4", "file5", "file6", "file7"], ["target3", "file8"]]` would be perfect, just because that would require less processing on the app side. Otherwise the app authors would have to shell split the strings to get individual arguments.

[2017-10-04 05:46] Phlosioneer commented on #1023
Note: another option is to simply have a method like ArgMatches::values_of_group that just lists the command matches, in order, within the group, and their values. Then the application can worry about overrides; this would help in particular with nasty corner cases like the above "except that -l always overrides -g" etc.

[2017-10-04 08:26] marmistrz commented on #1013
Since it's subjective, what about making it configurable?

[2017-10-04 09:21] H2CO3 commented on #1054
Awesome, in this case I'll open a PR soon!

[2017-10-04 09:22] H2CO3 commented on #1055
Sure thing, I'll make the PR for this one as well.

[2017-10-04 09:57] H2CO3 commented on #1054
There are two more instances of `unsafe` I'd like to address separately, if possible. First one is:

https://github.com/kbknapp/clap-rs/blob/1ef6e62e1e05f3a1c5dee4d946eb85c9778e4065/src/macros.rs#L430-L442

If this is `static` for performance reasons, it could be realized using the dedicated `lazy_static` crate instead to avoid reinventing the wheel.

*However,* better yet, `static`ness could also

[2017-10-04 10:05] H2CO3 commented on #1054
The second one is:

https://github.com/kbknapp/clap-rs/blob/53f3b65d2469a00eefa3cbad5a2650d602dbbfc8/src/osstringext.rs#L26-L32

Wouldn't be it better to, instead of creating our own `from_bytes` method, use the already-existing one provided by `OsStr` itself, and use `OsStr`s instead of `&OsStr`s? There aren't many places this is being used (https://github.com/kbknapp/clap-rs/search?utf8=%E2%9C%9

[2017-10-04 14:30] kbknapp commented on #1054
I'm good trying this method if it can be implemented in a non-breaking manner. Even as unfortunate as it is, if we can't do this in a non-breaking way it'll have to wait.

This was written before the actual `from_bytes` was stablized. Now that we're well beyond the stable minus two releases from when `from_bytes` was stablized, I'm good with updating it so long as we ensure we bump the minor versi

[2017-10-04 14:33] kbknapp commented on #1023
Values can already be checked by group, but since it's a relatively unused feature (or rather undocumented feature) I can't speak to any edge case bugs that exist.

`matches.value_of("group")` should work for testing purposes.

[2017-10-04 14:39] H2CO3 commented on #1054
"Non-breaking" meaning retaining the incorrect behavior with regards to the separator, or leaving it `static`? And if the former, wouldn't this classify as a bugfix rather than a breaking change? (AFAIK semver allows breaking changes without major version bump if they are actually bugfixes.)

Sure, will try to do that as well, then!

[2017-10-04 14:52] kbknapp commented on #1054
I mean non breaking, meaning change of user code *with the exception* of correcting a bugfix like you stated. Specifically, I'm talking about removing `static`ness altogether. For the bug about using crate_authors multiple times, it seems unlikely to me. I agree, its a bug per-se but only due to implementation or lack of being documented. I have yet to have anyone actually complain about this bug.

[2017-10-04 15:08] kbknapp commented on #1026
I don't think we could do a `Vec<Vec<&str>>` in a non-breaking way just do to the signature of `ArgMatches::values_of`, however *in user code* one could do:

[code]

Granted, I just typed that off the top of my head, so some tweaks may  be required to make it compile

[2017-10-04 15:13] H2CO3 commented on #1054
Oooh, alright. Sure thing – of course I'm advocating for making this changes without user code having to change. My suggestion about "giving users the control over `static`ness" might have sounded contradictory to that, in fact.

And indeed there may be no non-breaking way to remove `static`ness since the macro yields a pointer. I'll see — but I'll try very hard to do it anyway.

And, as always —

[2017-10-04 17:58] soumya92 commented on #1026
I assumed you were talking about adding ArgMatches::grouped_values_of or something similar.
Splitting on " " is not ideal because it will then prevent user code from being able to handle arguments that themselves contain spaces, since that information will be lost. Or it will require some weird form of escaping to distinguish between spaces used to join arguments and spaces already present in the

[2017-10-04 19:15] kbknapp commented on #1026
Splitting on " " is just an example, and would be determined by the user. My point being, I don't think adding a `ArgMatches::grouped_values_of` would be easy because of the internal structure of matched values.

This isn't to say it's not possible, just that it'd be kind of a hacky solution (from the implementation point of view).

Personally I'd be more inclined to change the CLI slightly instea

[2017-10-05 08:15] H2CO3 commented on #1055
Looks like we'll need to discuss this one a bit more. Here's the complete problem scenario:

* The doc says that with feature`wrap_help` enabled, it will wrap the text respecting the actual with of the terminal rather than assuming 120 columns. It also says that this feature will build the `term_size` crate as a dependency.
* This would make me assume that `term_size` is not necessary when this fe

[2017-10-05 14:13] Phlosioneer commented on #1023
good to know, thanks.

[2017-10-05 18:46] H2CO3 commented on #1055
The issue referred above has been resolved lightning fast. 👍 Once the next release of `textwrap` is out, I'll write up the necessary changes as a pull request.

[2017-10-06 21:27] willmurphyscode commented on #978
@kbknapp You say "one or both of these is fixed in 3.x." Does that mean that there's nothing to do here and people should just wait for 3.x? I'm going to open a PR with the tests in case someone else wants to follow up, but beyond that I'm probably out of time to work on this issue.

[2017-10-07 08:32] Freyskeyd opened #1061 "Potential regression on global args"
### Rust Version

`rustc 1.22.0-nightly (417c73891 2017-10-05)`

### Affected Version of clap

`clap 2.26.2`

### Expected Behavior Summary

Using a YAML definition with an `arg` named `quiet`, defined as `global` I'm expecting to be able to use it in any subcommands.

### Actual Behavior Summary

The `quiet` flag are only usable on default command, but disapear in subcommands.

### Steps to Repro

[2017-10-07 16:57] kbknapp commented on #1055
Thanks @mgeisler for being flexible and helping with this!

[2017-10-07 16:57] #1055 closed

[2017-10-07 17:01] kbknapp commented on #978
Since I'm not sure when I'll be able to finalize 3.x with my crazy work schedule right now, I'd rather fix them in 2.x in the mean time. I saw your comment in the PR about lack of time as well, so I can pick up where you left off. Thanks for starting this though 👍

[2017-10-07 17:03] kbknapp commented on #1061
Thanks for filing this! I'll add it to the list as it might be related to #978  and the associated PR #1060

[2017-10-07 19:02] H2CO3 commented on #1055
@kbknapp @mgeisler Thanks for your responsiveness and collaboration!

[2017-10-07 19:04] H2CO3 commented on #1054
This has been resolved via https://github.com/kbknapp/clap-rs/pull/1058.

[2017-10-07 19:04] #1054 closed

[2017-10-08 00:03] #814 closed

[2017-10-08 10:21] mgeisler commented on #1055
Happy to help! I want my little crate to be useful in as many scenarios as possible.

[2017-10-09 22:50] kbknapp commented on #1042
The blog has been migrated to the new site!

[2017-10-09 22:50] #1042 closed

[2017-10-10 17:11] Freyskeyd commented on #978
@kbknapp I also can contribute to this issue.

I need some input to get started.

[2017-10-10 17:42] kbknapp commented on #978
@Freyskeyd thanks! 👍

I would take the failing tests in #1060 and start with `second_subcommand_can_access_global_arg_if_global_arg_is_in_the_middle` as it will probably be easier to solve. It *may* be as easy as looping through all *matched* subcommands and recursively calling `propagate`.

If you run into any questions, feel free to ping me on Gitter since I'll get those notifications on my cell

[2017-10-10 17:43] kbknapp commented on #978
@willmurphyscode off topic, I saw your name on the upcoming Meetup this week I didn't know you were in the area! Looking forward to meeting you guys. 😄

[2017-10-10 17:56] nabijaczleweli commented on #1042
While it has probably so, now https://blog.clap.rs errors on HSTS:
![blog.crap.rs SS](https://user-images.githubusercontent.com/6709544/31402042-0ff29e5a-adf5-11e7-9868-389edd22b06b.png)

[2017-10-10 21:53] kbknapp commented on #1042
Ah yeah, I haven't redirected that subdomain yet, same with book.clap.rs. Thanks for reminding me!

[2017-10-11 21:50] sharkdp opened #1064 "Selectively hide arguments from '-h' text (but not '--help')"
I really like clap's feature to distinguish between a short and concise help text via `-h` and a longer and detailed help text via `--help` (see [`Arg::long_help`](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.long_help)).

It would be great if whole arguments (e.g. options that are not commonly used) could be hidden from the `-h` text but still show up on the detailed `--help` text.

I

[2017-10-12 15:34] axelchalon opened #1066 "AppSettings::AllowLeadingHyphen makes app silence unknown unexpected arguments"
_rustc 1.18.0 / clap 2.26.0_

When the global setting AllowLeadingHyphen is set and the app has at least one argument registered, Clap doesn't return an error if the program is called with an unknown, unexpected argument (it doesn't even have to start with a hyphen)

### Sample Code / Steps to Reproduce the Issue
[code]

[code]

[2017-10-12 18:26] kbknapp commented on #1066
This *should* only happen if there is something expecting a value, i.e. if the unknown/unexpected argument could *possibly* be a value to some other argument (either positional or option). This is because clap can't really know if something starting with a hyphen is supposed to be a value, or just an incorrect flag/option.

If this *isn't* the case, i.e. there's no possible way it could be a valid

[2017-10-12 23:26] #1052 closed

[2017-10-15 03:01] nodakai commented on #892
It would be great if a brief note about this use case could be added to `Arg::min_values()`.

Also, in this use case the difference between `ArgMatches::value_of()` returning `Some` and `ArgMatches::is_present()` returning `true` is important, and I think this part of the documentation of `value_of()` should be revised.

Because it seem to suggest that it returns `None` **iff** the option wasn't p

[2017-10-15 10:14] AlexanderThaller commented on #1010
No worries. I saw the other issue that's where I got option from but was unsure if it was related. Thx for your amazing work.

[2017-10-16 13:41] kbknapp commented on #892
@nodakai I'd be good adding that blurb or updating the docs if you could open a new issue for it. Could you point out a link to the sections which should be made more clear? I have the problem of guilty knowledge and it's hard to for me to see which parts aren't exactly clear since I wrote the library and am intimately familiar with it 😜

[2017-10-16 17:50] m-ou-se opened #1068 "Support multi-line custom usage strings"
### Affected Version of clap

2.26.2

### Steps to Reproduce the issue

[code]

### Actual Behavior

[code]

### Expected Behavior

[code]

[2017-10-16 20:35] Keats opened #1069 "Macro cuts arg name on hyphens"
### Affected Version of clap
2.26.2

### Expected Behavior Summary
An arg with a long name of `base-url` should create a `base-url` arg

### Actual Behavior Summary
The arg is called `base` in the compiled version.

### Sample Code or Link to Sample Code
[code]

Using the non-macro version of `App` does work.

[2017-10-18 14:42] kbknapp commented on #1068
This is a known issue, however there isn't a great way to solve it ergonomically for all cases in a non-breaking way. 3.x should be able to fix this.

For now you have to add `\t` manually.

[code]

[2017-10-18 14:44] kbknapp commented on #1010
@AlexanderThaller could you test this with the current master branch and see if it's fixed? #1070 just merged which may have helped. If not I can look into it.

[2017-10-18 14:44] kbknapp commented on #1061
@Freyskeyd could you test this with the current master branch and see if it's fixed? #1070 just merged which may have helped. If not I can look into it.

[2017-10-18 14:45] kbknapp commented on #978
#1060 fixes this. @sgrif could you test your use case against the current master branch? If it's good to go I can put out another version here soon.

[2017-10-18 17:40] kbknapp commented on #1069
This is an issue with the Rust macro system in general and not anything clap can affect (to my knowledge). The [workaround](https://docs.rs/clap/2.26.0/clap/macro.clap_app.html#shorthand-syntax-for-args) is to use `--("base-url")` which will result in `--base-url`.

[2017-10-18 17:40] #1069 closed

[2017-10-19 07:37] Freyskeyd commented on #1061
@kbknapp I will try it as soon as I can :)

[2017-10-19 22:03] pornel opened #1071 "Arguments with default values conflict even if not used"
### Expected Behavior Summary

I expect conflicts to happen only when conflicting arguments are explicitly present on the command line.

### Actual Behavior Summary

It's enough for an argument to have a `default_value` configured to cause a conflict.

### Sample Code or Link to Sample Code

[code]

I'd expect all of `prog --exclusive`, `prog --default` and `prog` (no args, meaning the default is

[2017-10-20 08:03] Freyskeyd commented on #1061
@kbknapp Unfortunately, it's doesn't work with #569ced1f

[2017-10-21 22:42] BurntSushi opened #1073 "suboptimal flag suggestion"
### Rust Version

`rustc 1.17.0 (56124baa9 2017-04-24)`

### Affected Version of clap

`2.26.2`

### Expected Behavior Summary

CLI error message suggests `--files-without-match`

### Actual Behavior Summary

CLI error message suggests `--files-with-matches`

### Steps to Reproduce the issue

[code]

### Sample Code or Link to Sample Code

See above.

### Debug output

[code]

### Other

This bug

[2017-10-22 00:31] kbknapp commented on #1073
Thanks for pinging me and taking the time to file this! I've been swamped lately and haven't viewed my notifications in quite some time :smile:

I'm *pretty sure* this is due to the heuristics used in [`strsim`](https://github.com/dguo/strsim-rs) which is actually quite tweakable. I'm currently using a [moderately arbitrary configuration](https://github.com/kbknapp/clap-rs/blob/569ced1f3d7036c3d6b

[2017-10-22 19:05] sgrif commented on #978
Yes, this resolves my issue

[2017-10-22 19:05] #978 closed

[2017-10-22 19:05] sgrif commented on #978
Would love a ping when a new version is released. :)

[2017-10-24 01:41] kbknapp commented on #1071
Default values are provided regardless of whether or not an argument was used, so it's as if the arguments are *always* used.

Perhaps what your looking for is [conditional default values](https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.default_value_if)?

What you're wanting can be accomplished in user code pretty easily as well.

[code]

[2017-10-24 01:42] kbknapp commented on #1071
Technically speaking it's possible for clap to know if it was a default value or not that was used and simply ignore conflicts if so...but I'd need to hear more arguments for it.

[2017-10-24 01:47] kbknapp commented on #978
@sgrif will do! The goal is to release before I leave for Rust Belt Rust :wink:

[2017-10-24 01:54] kbknapp commented on #1013
@marmistrz apologies I didn't get the ping that a comment was made!

In general I'm ok with making things configurable, and I'm not against adding a setting does exactly this. I'll re-open the issue but can't promise when it'll be done due to my work schedule lately. I'd be happy to help someone figure this out if they'd like to work on a fairly easy to implement issue.

[2017-10-24 11:00] tomprogrammer opened #1076 "Parser panics using global args and calling `get_matches_from_safe_borrow()` repeatedly"
### Rust Version

rustc 1.21.0 (3b72af97e 2017-10-09)

### Affected Version of clap

v2.26.2

### Expected Behavior Summary

A global argument (`Arg::with_name("vm name").global(true)`) should be usable when calling `get_matches_from_safe_borrow()` multiple times on the same `App`.

### Actual Behavior Summary

The second time clap parses some input it panics and reports "Non-unique argument name:

[2017-10-24 12:01] #1010 closed

[2017-10-24 12:01] #1061 closed

[2017-10-24 12:01] pornel commented on #1071
I'm using `.default_value()` in order to have this value printed in the help screen. I could put that info in my help text and handle defaults myself, but that's a workaround.

I presume from implementation perspective the current behavior is more straightforward, but from user perspective I don't see any argument in favor of it, since a set of flags configured in a way that never works is of no u

[2017-10-24 12:02] kbknapp commented on #1076
Would you mind testing this against the the current master branch? I just merged #1075 which deals with global args quite heavily and would like to know if that solves the issue.

[2017-10-24 12:16] kbknapp commented on #1071
I understand that, but I'm more wondering if there is a better way to solve this issue than adding additional logic in clap.

(Note: I'm not insulting your intelligence here because I know you're quite familiar with this project, but just to make sure we're on the same page :smile:) In clap speak:

* A default value is an argument that is always used, only the user is allowed to manually override

[2017-10-24 12:48] tomprogrammer commented on #1076
I updated the demonstration repository to use the current master branch. Unfortunately the PR doesn't fix this issue. I also updated the debug log in the gist linked above.

[2017-10-24 12:54] kbknapp commented on #1076
:+1:

[2017-10-24 14:30] pornel commented on #1071
My specific case is a CLI that can either be used by specifying arguments individually, or by specifying a JSON file that specifies all of them.

So I have a bunch of options, and a `--json` option that conflicts with everything else.

[2017-10-24 15:40] kbknapp commented on #1076
I have this fixed in a local branch, I'll upload and put in the PR once I get home today.

[2017-10-24 17:17] kbknapp commented on #1071
Makes sense to me. I think this is fairly easily classified as a bug the more I play with it. Thanks for taking the time to file this and hash it out with me :wink:

[2017-10-24 18:59] #1076 closed

[2017-10-24 19:13] tomprogrammer commented on #1076
Thanks for the fast fix and this convenient and powerful crate!

[2017-10-24 19:46] kbknapp opened #1078 "Dedupe Tests"
The test suite could use some massive amounts of de-duping. This could include everything from simply creating some common functions (per file) so calls to build `App`s are not duplicated, to simply removing some tests which all test the exact same functionality.

As for removing tests wholesale which are covered by other tests, I *do* want to be careful and make sure we don't remove any tests wit

[2017-10-25 01:49] #1050 closed

[2017-10-25 01:49] #1071 closed

[2017-10-25 01:49] #1031 closed

[2017-10-25 01:49] #1056 closed

[2017-10-25 01:49] #1066 closed

[2017-10-25 01:57] kbknapp commented on #978
@sgrif v2.27.0 is out on crates.io and contains these fixes :)

[2017-10-25 10:38] pornel commented on #1071
Thank you! :)

[2017-10-25 14:58] vityafx opened #1082 "`clap` procedural macroses as in python's `click` module"
Can `clap` do something like [this](https://realpython.com/blog/python/comparing-python-command-line-parsing-libraries-argparse-docopt-click/) with procedural macroses?

[code]

I don't if it is even possible in rust and sensible but it looks nice. If `clap` has all the things done for having such procedural macroses I'd like to implement them.

[2017-10-25 21:06] Pirh opened #1083 "Cannot compile 2.27.0 with `wrap_help` feature - unresolved import `term_size`"
Starting a blank project with clap 2.27.0 as a dependency, and enabling the `wrap_help` feature fails to compile.

### Rust Version

* rustc 1.21.0 (3b72af97e 2017-10-09)

### Affected Version of clap

* clap 2.27.0

### Expected Behavior Summary

Compiles successfully.

### Actual Behavior Summary

Fails to compile.

### Steps to Reproduce the issue

1.  Create a new binary project: `cargo init -

[2017-10-26 04:13] jpeddicord commented on #602
https://xkcd.com/979/

To everyone else: the answer appears to be yes, and if you want to specify them via yaml, just indent the `groups` keyword to a child of your subcommand key (same level as `args`, `about`, etc).

[2017-10-26 13:29] kbknapp commented on #1083
Thanks for filing! This is fixed in #1084 which might just be a temp fix until I find a better solution.

[2017-10-26 13:32] kbknapp commented on #1082
Not exactly, but using `clap_app!` or `structopt` (which uses `clap` internally) and [`Arg::validator`](https://docs.rs/clap/2.27.0/clap/struct.Arg.html#method.validator) will get you *close*. I'm open to ideas though!

[2017-10-26 15:05] #1083 closed

[2017-10-26 20:49] kbknapp commented on #1078
Using [assert_cli](https://github.com/killercup/assert_cli) would be awesome!

[2017-10-26 21:02] kbknapp opened #1085 "Add a section to readme on relevant CLI crates and tools (testing, assertions, etc.)"

[2017-10-27 16:36] durka opened #1086 "Deprecation warnings"
When compiling clap from git master, I get a bunch of warnings from within clap:

[code]

[The rest are included here.](https://gist.github.com/durka/e687271cc6b04d3af90f67565275453a)

[2017-10-28 14:56] #1086 closed

[2017-10-29 00:23] sergeyklay opened #1089 "[Question] Dynamic Flags"
Hi!

This is not a issue, but more a question. I'm sorry if I chose the wrong place to ask questions. Is it possible to create dynamic flags, if yes, could you please provide a small example of parsing and using such a flags.

Desired format:
[code]

Thus, for example, user will able to use `app` as follows:

[code]

Note: Here is one `-` and each flag definition provided in regexp form.

Thank yo

[2017-10-29 01:24] kbknapp commented on #1089
This is fine for questions, I welcome them anywhere :smile:

What you're looking for is supported as what clap calls options. Minus `-fno-([..])` which isn't supported exactly, but a sort of workaround exists.

If you make an option with only a short, it'll work exactly like you're looking for

[code]

Then one could also add a [`Arg::validator`](https://docs.rs/clap/2.27.1/clap/struct.Arg.html#me

[2017-10-29 09:11] sergeyklay commented on #1089
Looks really nice. Thank you very much! The last thing I need `-fno-`.

[2017-10-29 18:00] kbknapp commented on #1089
Sorry it took me so long I got home late.

Right now, when clap encounters a single hyphen it looks so see if the next character is a flag or an option. If it's a flag, it then looks at the next character to see if it's also a flag, and so on and so forth. As soon as it encounters an option, it looks at the next character and begins parsing the value.

In the case of `-fno-` clap will see `-f` is

[2017-10-29 18:05] kbknapp commented on #602
Thanks for taking the time to actually say the answer @jpeddicord

I'm also OK with people opening issues to ask the question again, or join the Gitter chat to ask 😄

[2017-10-30 02:00] sergeyklay commented on #1089
In fact, I wouldn't want you to change design of this awesome library. Do not worry. I will play with the capital `-F`. 👍

[2017-10-30 02:00] #1089 closed

[2017-10-30 02:12] kbknapp commented on #1089
It wouldn't be changing the design, that's the purpose of the AppSettings enum, to tweak behavior as an opt in feature :wink:

[2017-11-01 16:42] AlexanderThaller commented on #1010
Works fine thank you for your work.

[2017-11-03 03:16] kbknapp commented on #1085
Closed with #1090

[2017-11-03 03:16] #1085 closed

[2017-11-04 16:09] clux opened #1092 "Fatal internal error when using requires outside subcommand boundary"
There seems to be other similar issue related to `requires`, but just posting this simple one which seems to have a slightly different `SubCommand` origin:

[code]

The `requires` call inside the subcommand is what's causing the crash when you try to use the `query` subcommand on  your executable.

Rust 1.21.0, clap 2.27.1

[2017-11-04 16:16] clux commented on #1092
I thought it may have been related to the double require (I really wanted a `.requires` method on the `SubCommand` itself), but it seems to crash even without that. But with the double require, you can't even view the help without it crashing.

[2017-11-05 16:34] marmistrz opened #1093 "External subcommand is not printed"
### Rust Version

* `1.21`

### Affected Version of clap

`2.27.1`

### Actual Behavior Summary
Take the following code. Launching `./executable --help` displays the syntax to be
[code]

### Expected Behavior Summary
Something like:
[code]
How can the user know that there's a subcommand to be accepted?

### Sample Code or Link to Sample Code

### Debug output
[code]

[2017-11-06 03:25] kbknapp commented on #568
I'm copying some comments from @joshtriplett on gitter so the discussion is all in one place.

----

Here's my responses:

Agreed. However, I'm willing to "settle" for simply passing in argument to complete sans the argv, since the Rust code could essentially see the same thing by querying `std::env::arg[_os]` just like clap does. Another option is to allow "incomplete parsing" whenever `--_clap-c

[2017-11-06 03:30] kbknapp commented on #1092
clap treats `bah` and `query` as separate entities. There isn't currently a way to require that a parent argument was used. I would recommend either using [`Arg::global(true)`](https://docs.rs/clap/2.27.1/clap/struct.Arg.html#method.global) on `environment` or moving it into the `query` subcommand.

The `panic` is by design. If it did output the help message, this error could go undetected. `envir

[2017-11-06 03:37] kbknapp commented on #1093
Good catch, thanks for filing this bug! Should be a super easy fix if anyone wants a good first issue.

Relevant lines are in [src/app/parser.rs#L475-L477](https://github.com/kbknapp/clap-rs/blob/284d01bded1970416e299ccc2e9e8309c40e278a/src/app/parser.rs#L475-L477).

One should really only need to add `|| self.is_set(AS::AllowExternalSubcommands)` to that return.

[2017-11-06 03:40] #1082 closed

[2017-11-06 03:41] #959 closed

[2017-11-06 03:42] #948 closed

[2017-11-06 03:44] #975 closed

[2017-11-06 03:45] kbknapp commented on #1001
This may be fixed with 2.27.1 however my concerns above still stand :wink:

[2017-11-06 03:45] #1001 closed

[2017-11-06 03:46] #1020 closed

[2017-11-06 03:47] kbknapp commented on #1092
I'm going to close this for the reasons above, however I'm open to discussion if there is something that could be done better :wink:

[2017-11-06 03:47] #1092 closed

[2017-11-06 04:10] iology opened #1094 "-h, --help generate trailing spaces"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/clap-rs/clap/issues/1094)

### Rust Version

rustc 1.21.0 (3b72af97e 2017-10-09)

### Affected Version of clap

clap 2.27.1

### Expected Behavior Summary

The help info should not contain unexpected trailing spaces for any lines of text.

### Actual Behavior Summary

S

[2017-11-06 15:00] clux commented on #1092
Yeah, I think that makes sense. Didn't know there was a way to push it into each subcommand with `global`, that's a nicer solution that works. Thank you.

[2017-11-06 15:46] epage opened #1095 "`arg_enum` breaks on nightly"
### Rust Version

* rustc 1.23.0-nightly (3b82e4c74 2017-11-05)

### Affected Version of clap

* 2.27.1

[code]

See https://travis-ci.org/cobalt-org/cobalt.rs/jobs/298020332

[2017-11-06 17:41] epage commented on #1095
See https://users.rust-lang.org/t/psa-dealing-with-warning-unused-import-std-ascii-asciiext-in-today-s-nightly/13726

[2017-11-06 17:53] kbknapp commented on #1094
This is partly an implementation issue that doesn't have a good work around. The help generation is segmented off where each "section" is written in isolation. Without greater coupling (or a larger refactor), the section that writes the spaces between the flags/values and the actual help line can't look ahead to see if there is actually anything that requires those spaces.

For the `long_help` it

[2017-11-06 17:56] kbknapp commented on #1095
Ah great catch! This should be an easy fix once I get home. Adding a `cfg` to either remove the import or simply allow that lint on nightly is fine with me.

[2017-11-06 18:00] kbknapp commented on #1078
I tried playing with `assert_cli` a little, and for the internal clap tests it's difficult because we're not just running a single binary, it's the test binary that's generated. However, there probably still are so many places it could be used.

[2017-11-06 21:50] iology commented on #1094
Thanks for the details. No serious issue here. :)

[2017-11-07 01:18] kbknapp commented on #1095
As of #1096 you should compile clap with the `nightly` feature which fixes this issue. See the [commit f858aa2 message](https://github.com/kbknapp/clap-rs/commit/fb08bb5dd5760d2932e9f673abe23ea0df858aa2) for all the details.

I remember a while back some discussion lints not being transitive to your dependencies, but I don't know where that discussion went. I've adopted the approach of only denyin

[2017-11-07 01:57] epage commented on #1095
Thanks for being quick about this.

The downside to this approach is it requires clients to create a `nightly` feature so that we can successful build our strict CIs.  Is there a reason you didn't take the approach of disabling the warning for just that one `use`?

[2017-11-07 02:39] kbknapp commented on #1095
Because on stable that `use` is still required, and there isn't a built-in `cfg` to determine when you're building on stable/nightly unless you manually make a feature for it (that I'm aware of).

If there's a better way I'm open to ideas :wink:

[2017-11-07 02:48] #1093 closed

[2017-11-07 02:49] kbknapp commented on #1095
This issue was closed automatically via the PR, but if there is a better way to handle this issue I'm open to ideas and willing to consider them :+1:

[2017-11-07 03:37] epage commented on #1095
In the linked post on users, it suggests
[code]

[2017-11-07 04:42] kbknapp commented on #1095
Yep just saw that, I think I only saw your CI link in my haste. I'll try this out tomorrow and put in the new PR, thanks for pointing it out :+1:

[2017-11-07 20:42] behnam opened #1097 "Support trailing comma for arg_enum!()"
Would be great to support trailing comma for `arg_enum!()` macro, as Rust itself does and this error got me spend a few minutes trying to figure out if I got something (else) wrong in my definition.

Ref: <https://docs.rs/clap/2.27.1/clap/macro.arg_enum.html>

### Rust Version

rustc 1.23.0-nightly (e340996ff 2017-11-02)

### Affected Version of clap

2.27.1

### Expected Behavior Summary

Support

[2017-11-07 22:03] behnam opened #1098 "Ignore HYPHEN-MINUS (dash) in arg_enum!()"
Ref: <https://docs.rs/clap/2.27.1/clap/macro.arg_enum.html>

Would be great to support ignoring ASCII dash character (HYPHEN-MINUS) in the `FromStr` implementations inside the `arg_enum!()` macro.

The HYPHEN-MINUS character cannot be part of an enum variant name because of the limits of the language, and therefore, this won't be a breaking change to the current behavior, but only expanding accept

[2017-11-09 01:50] kbknapp commented on #1098
I would be hesitant to simply ignore `-` when matching as this could lead to typos, plus would cause us to match `Foo::SomeBar` to `s-omebar`, `so-mebar`, `som-ebar`, etc.

I would consider `Foo::Some_Bar` allowing `foo_bar` or `foo-bar` and this would be acceptable. Thoughts?

[2017-11-09 03:53] kbknapp commented on #1097
Thanks for filing this, I keep meaning to do this and have never actually implemented it! :stuck_out_tongue_winking_eye:

[2017-11-09 04:57] nabeelomer opened #1099 "`rustc` gets sigkilled while compiling Clap in release mode"
### Rust Version
`rustc 1.22.0-nightly (4750c1ec0 2017-10-19)`

### Affected Version of clap
`v2.27.1`

### Expected Behavior Summary
Clap should compile and run.

### Actual Behavior Summary
Clap does not compile, the compiler gets `SIGKILL`ed.

### Steps to Reproduce the issue
1. Include a crate that requires clap (in my case `comrak`).
2. Try to compile a release build.
3. See the magic happen.

[2017-11-09 15:36] kbknapp commented on #1099
I can't reproduce the issue. Could you compile single threaded, to ensure it's a clap issue? Also, what version of Rust are you using?

[2017-11-09 17:11] siddhanathan commented on #495
It works if you use

[code]

instead of

[code]

[2017-11-09 19:26] nabeelomer commented on #1099
I've updated my `rustc` to `rustc 1.23.0-nightly (02004ef78 2017-11-08)`,  upgraded clap to `v2.26.2` and it still doesn't compile. I'm on Ubuntu Server 16.04 (Linux 4.4.0-1039-aws).

Also, I don't know how to compile it single threaded.

[2017-11-09 19:28] BurntSushi commented on #1099
How much ram do you have on that machine? This smells like the OOM killer.

[2017-11-09 19:35] nabeelomer commented on #1099
512 MiB. Yeah... You are right... It is the OOM killer.

[2017-11-09 19:35] #1099 closed

[2017-11-09 19:52] behnam commented on #1098
Well, I see your point, @kbknapp.

I also like to point out that case-insensitive matching already has a similar issue, where value `AbcDef` is equal to `AbCedf`.

Ideally, instead of case-insensitive matching, we would use a case-aware matching, converting the input into CamelCase and perform exact match on the variant names.

`to_camel_case()` is provided by <https://crates.io/crates/case> and s

[2017-11-09 20:59] kbknapp commented on #1099
I hadn't looked at memory usage of compiling Rust programs...especially on low memory machines (VPSs, etc.). Compiling a bare `cargo new fake --bin` takes ~116mb of RAM on my machine. Adding clap bumps it to ~485mb.

[2017-11-12 18:11] Hoverbear opened #1103 "Feature: Custom Derive for ArgEnum"
Hey!

I had a bit of time, and a hankering to write a custom derive, so I got working on a custom derive for `ArgEnum`.

I've structured the crate so if we want to expand it, it should be easy. I think this is related to #835 but I didn't look too deeply into what the progress is with that.

The crate is https://github.com/Hoverbear/clap-derives and unpublished, and I'd be more than happy to trans

[2017-11-12 18:52] kbknapp commented on #1103
Hey!

cc @TeXitoi

Excellent! This is a great start towards my ideas for 3.x. I've cc'd @TeXitoi because I'd like to re-invigorate the move towards 3.x and finishing the CustomDerive piece is a big part of that movement. With my job monopolizing my time this kind of fell off in #835 but now that the [v3-master branch](https://github.com/kbknapp/clap-rs/tree/v3-master) is coming together it's worth

[2017-11-12 19:06] kbknapp commented on #1103
Here are the unknowns still, and what needs to be decided

### Supporting Subcommands via CustomDerive

We need to find out how to support a struct with arbitrary options/flags and also a subcommand, and how that gets represented via CustomDerive. I believe @TeXitoi suggested an enum, where each variant holds it's arbitrary struct representation. I'm good with this, and we just need to work toward

[2017-11-12 19:06] #1095 closed

[2017-11-12 19:28] Hoverbear commented on #1103
@kbknapp Please be aware custom derive crates must **only** contain custom derives. So we'd need a `clap_derive` crate with all of them in it separate from `clap`.

[2017-11-12 19:29] Hoverbear commented on #1103
For case sensitivity around `ArgEnum` we could have an attribute that is `#[case_insensitive]`, for example.

[2017-11-12 19:33] Hoverbear commented on #1103
@kbknapp You should have a transfer request in your inbox.

[2017-11-12 19:44] kbknapp commented on #1103
Ah ok I wasn't aware of this having not done much with CustomDerive. OK separate repos it is, I'm good with it :smile:  :+1:

[2017-11-12 19:49] kbknapp opened #1659 "Feature: Custom Derive for ArgEnum"
_From @Hoverbear on November 12, 2017 18:11_

Hey!

I had a bit of time, and a hankering to write a custom derive, so I got working on a custom derive for `ArgEnum`.

I've structured the crate so if we want to expand it, it should be easy. I think this is related to #835 but I didn't look too deeply into what the progress is with that.

The crate is https://github.com/Hoverbear/clap-derives and un

[2017-11-12 19:49] kbknapp commented on #1103
This issue was moved to kbknapp/clap-derives#1

[2017-11-12 19:49] #1103 closed

[2017-11-12 19:50] kbknapp commented on #1098
I'm going to move this over to the `clap-derives`]() repo as I intend on this being solved in 3.x via CustomDerive which will replace this macro call.

[2017-11-12 19:51] kbknapp opened #1662 "Ignore HYPHEN-MINUS (dash) in arg_enum!()"
_From @behnam on November 7, 2017 22:3_

Ref: <https://docs.rs/clap/2.27.1/clap/macro.arg_enum.html>

Would be great to support ignoring ASCII dash character (HYPHEN-MINUS) in the `FromStr` implementations inside the `arg_enum!()` macro.

The HYPHEN-MINUS character cannot be part of an enum variant name because of the limits of the language, and therefore, this won't be a breaking change to the cu

[2017-11-12 19:51] kbknapp commented on #1098
This issue was moved to kbknapp/clap-derives#3

[2017-11-12 19:51] #1098 closed

[2017-11-12 19:53] kbknapp commented on #146
This issue was moved to kbknapp/clap-derives#4

[2017-11-12 19:53] #146 closed

[2017-11-12 20:07] kbknapp commented on #1041
Personally, I'd like to move away from storing `&str`s inside the `Arg`s as the name. This would solve lifetime issues as I want 3.x to be able to remove the `Arg|App<'a, 'b>` lifetimes. This could be solved by moving to owned `String`s which takes a slight performance hit.

## History

clap has two lifetimes for both `Arg` and `App` which reference the name, or *key* of the struct and data relate

[2017-11-12 20:11] kbknapp opened #1104 "Allow Enum Variants as Arg|ArgGroup|SubCommand keys"
I.e. remove the "stringly typed" nature of clap

How this is done internally is up for debate and the reason for this issue. See the related topic #1041

Basically we want to Hash whatever key is given and store that instead of a `&str`/`String`/`Cow<_>`.

[2017-11-12 20:12] kbknapp opened #1663 "Add ability to derive ClapKey to use enum variants as keys"
Maintainer's notes:
- This presupposes enum variants, so this is bocked on #1104
---
See related discussion in kbknapp/clap-rs#1104

Once the details in that issue are hashed out, we could then add support for:

[code]

[2017-11-12 20:13] kbknapp commented on #1104
Even without a derivable component we'll need to iron out the constraints that are part of clap which `ArgMatches::value_of` accepts instead of `&str`

[2017-11-13 03:53] ExpHP opened #1105 "A `.required(true).takes_value(true)` arg is successfully assigned no value if followed by a recognized option"
### Rust Version

* `rustc 1.23.0-nightly (ee2286149 2017-11-07)`

### Affected Version of clap

* 2.27.1

### Expected Behavior Summary

If an argument has the following settings:

[code]

then `value_of("argument")` should never be `None`. (`get_matches` should fail before that ever happens)

### Actual Behavior Summary

If such an argument *is followed by a valid option*, then `get_matches()` s

[2017-11-13 04:00] ExpHP commented on #1105
Note: This looks suspiciously like #665 which was supposedly fixed.

Adding `.empty_values(false)` as mentioned by @kbknapp near the end causes it to (correctly) fail with

[code]

but I don't see how there is an empty value here.  (I would have to have written `["prog", "--pattern=", "-f"]` or `["prog", "--pattern", "", "-f"]`, not `["prog", "--pattern", "-f"]`)

[2017-11-13 14:39] focusaurus opened #1106 "Link to examples on crates.io is incorrect"
### Affected Version of clap
* 2.27.1

### Expected Behavior Summary
Viewing docs on [crates.io/clap](https://crates.io/crates/clap), clicking hyperlinks to the git repo, specifically to the "examples/" directory takes me to the correct URL.

### Actual Behavior Summary

Link is a broken 404 (due to the `.git` in the URL path).

### How to Fix

I think if we change the Cargo.toml `repository` link

[2017-11-13 19:45] kbknapp commented on #1106
Great catch thanks!

[2017-11-13 19:47] kbknapp commented on #1106
I'd venture that I'm not the only one affected by this, as it's anyone who uses the `.git` extension *and* relative links in their readme.

[2017-11-13 20:13] kbknapp commented on #1105
Thanks for reporting this and all the details!

You've correctly assessed everything. The problem stems from clap conflating two subjectively distinct versions of "empty values."

As time has gone on, I've grown more opinionated about what an "empty value" is, and what should be allowed by default. I'll spare the history of why it is the way it is currently, and just state what I think it should b

[2017-11-13 21:23] ExpHP commented on #1105
In my opinion, it feels funny to even be considering `""` as having its own meaning in arguments, since my mind just naturally runs through the shell expansion rules; when you write `-o""`, I see `-o`. :stuck_out_tongue_winking_eye:

I'm glad that you plan to change this case to an error, because it feels to me like a recipe for trouble to be trying to guess the user's intent based on quotes that

[2017-11-13 22:08] kbknapp commented on #1105
The way Rust (or shells in general?) pass the argv to clap, `--option ""` sends two distinct values, `--option` and `""`. Whereas `--option=""` the shell strips the `""` as you stated.

Some users want the ability to pass in empty values (i.e. when a value *should* be required, however sometimes a blank value is what is desired).

[2017-11-13 22:08] kbknapp commented on #1105
This is fixed in #1109

[2017-11-13 22:09] #1106 closed

[2017-11-14 00:03] kivikakk commented on #1106
@kbknapp I'd venture you're right. I'll think about a proper solution for this on crates.io itself.

@focusaurus thank you for the CC! :heart:

[2017-11-14 00:12] #1105 closed

[2017-11-14 08:30] andrewdavidmackenzie opened #1110 "Compiling clap 2.27.1 with yaml feature enabled fails"
### Rust Version
rustc 1.21.0 (3b72af97e 2017-10-09)
(also happened to me with 1.19.1)

### Affected Version of clap
clap = {version = "~2.27.1", features = ["yaml"]}

### Expected Behavior Summary
I add clap as a dependency to my Cargo.toml file, enabling the "yaml" feature as described in the documentation.
Cargo build of my project compiles clap without errors

### Actual Behavior Summary
cargo

[2017-11-20 02:25] frewsxcv opened #1112 "-h overridable in subcommand but --help is not"
### Rust Version

`rustc 1.23.0-nightly (a35a3abcd 2017-11-10)`

### Affected Version of clap

`2.27.1`

### Expected Behavior Summary

[code]

### Actual Behavior Summary

[code]

### Sample Code or Link to Sample Code

[code]

### Debug output

[gist](https://gist.github.com/frewsxcv/42318b0af3f2c5b2aaf1fa40c69b51f6)

[2017-11-22 07:41] kbknapp commented on #1112
Thanks for filing this, it should be an easy fix!

[2017-11-22 09:16] kbknapp commented on #1110
Ah yes, this is #747 popping up. I'm thinking of adding another feature flag to distinguish between the two options. I'll do some testing and report back.

[2017-11-22 12:19] #1112 closed

[2017-11-22 19:54] ignatenkobrain commented on #747
@kbknapp yaml-rust 0.4 has been released and now it uses only linked-hash-map, no more btreemap. Should not we change that too?

[2017-11-25 21:35] yoni386 opened #1115 "String + int"
Hello,

How to work with “combo type” (unit metric) values such as; 100KB, 512GB and etc?

[2017-11-26 13:19] kbknapp commented on #1115
I need some more context about what you're trying to do and how you'd like it work. Can you give me an example?

[2017-11-26 17:58] facingBackwards opened #1116 "The pre-built test example has moved"
Following the instructions [here](https://github.com/kbknapp/clap-rs#pre-built-test) doesn't seem to be working for me. Cloning and building work ok but the claptests executable is not created.

### Rust Version

Rust: 1.21.0
Cargo: 0.22.0

### Affected Version of clap

2.27.2

### Expected Behavior Summary
Following the three steps should run an example use case of clap

### Actual Behavior Summa

[2017-11-27 03:51] kbknapp commented on #1116
Apologies! Thank you for pointing this out! The `examples/` directory have taken over for the old test binary.

You can test them out by doing:

[code]

You can also do a single run via

[code]

I'll update the readme on the next PR. Thanks :+1:

[2017-11-27 15:12] kbknapp commented on #747
@ignatenkobrain I'm not against it...however that is technically a breaking change to the public API and any code using BTreeMap (or any code using `Arg::from_yaml`) will break. I'd very much like to hear from some of the YAML users as to if this breaks anything for them (as not many people should be using `Arg::from_yaml` directly, it was meant to be only be used internally by `clap` when buildin

[2017-11-27 15:15] kbknapp commented on #1110
I did some digging and it's strange because I can't reproduce it. With `yaml-rust` 0.4.0 I can, but not with 0.3.5.

See the discussion at the end of #747 as to what our delima is. I've been working on 3.x but I can't promise it'll be out soon, early 2018 is what we're looking at for a true breaking change. It's unfortunate, but it's also what happens when depending on pre 1.0 crates.

[2017-11-27 21:21] yoni386 commented on #1115
Thank you for the library and for this mail.

I would like to set flags similar to FIO application which allows to get
int and string for example 1M or 1MB 1G or 1g. Maybe this similar to
“subcommand” match library implementation.

How do you match string? With multiple if?

I find it difficult to use match outside main function. How to get value in
a function? Should I pass matches as argument or

[2017-11-28 01:28] kbknapp opened #1118 "Support case insensitve values"
via `Arg::case_insensitive(bool)` for use with  `Arg::possible_values`

If possible value is `foobar` and the user passes `FoObAR` the value saved will be `foobar` (or whatever the actual possible value is).

This is borderline required for `#[derive(ArgEnum)] enum Foo { FooBar }` due to rust naming rules and not wanting to stray too far outside the norm.d

[2017-11-28 15:35] #1118 closed

[2017-11-29 20:48] Freyskeyd commented on #878
I'm facing the same problem and none of the solution worked :/

[2017-11-29 21:27] kbknapp commented on #878
@Freyskeyd can you give me more details. Each CLI is unique with different constraints and solutions.

[2017-11-29 22:03] Freyskeyd commented on #878
@kbknapp
here's the cli.yml:

[code]

If I use: `cli depl.main deploy` it suggest deploy command.

[2017-11-30 14:47] lucab opened #1120 "Support for multicall binaries"
I did a bit of digging in the ticket tracker, but I didn't see this topic covered before. In short, I would like to explore how to support [multicall binaries](https://blog.flameeyes.eu/2009/10/multicall-binaries/) in clap.

Multicall binaries share a single codebase, but different codepaths can be activated based on `basename(argv[0])`. A good example to target would be the `hostname` util: https

[2017-12-02 20:02] kbknapp commented on #1120
Thanks for the suggestion!

This could be done in two ways, either an external crate that uses clap internally and just matches `argv[0]` and calls the appropriate `clap::App` or a new `AppSettings::Multicall` variant.

If you'd like to test the `AppSettings` way here's how you could do it:

The basic premise would be `argv[0] would be matched in [`src/app/mod.rs`](https://github.com/kbknapp/clap-

[2017-12-02 20:14] kbknapp commented on #1120
Note this also somewhat similar to #975

[2017-12-05 17:21] lucab commented on #1120
Thanks for the feedback, it was more detailed than expected! I started code-wrangling based on your hints and I have a few more questions.

This seems to be the busybox-style applets approach, where `busybox foo` and `foo` are both fine and equivalent. I've called it `MulticallApplets` for the moment and I think it makes sense to implement as you suggested. However my multicall usecases are more s

[2017-12-06 20:58] WaDelma commented on #459
I would also be happy to have this. Custom derives are even stable now!

[2017-12-06 23:13] kbknapp commented on #459
See kbknapp/clap-derive#6 for related discussion

[2017-12-07 21:45] #1097 closed

[2017-12-08 23:13] rsertelon opened #1125 "Multi valued flags and required argument do not work together very well"
### Rust Version

* 1.22.1

### Affected Version of clap

* 2.29.0

The [habitat project](https://github.com/habitat-sh/habitat) uses clap for its command line parsing. There are currently two issues opened related to how clap generates help message and/or how it parses the command line arguments.

Issues are:
* https://github.com/habitat-sh/habitat/issues/2221
* https://github.com/habitat-sh/habi

[2017-12-12 04:54] 8176135 opened #1126 "Question/Feature request: Any way to do required_ifs "flags exists"."
Clap version: 2.29.0

I'll start with the problem I am trying to solve:
I have the flags -A, -B, -C, which are all optional by themselves. However, if **both** -A, and -B are used, -C must also be used. (-C takes some values that -A and -B need)

- Clap has `required_unless_all(name)`, but doesn't have the opposite of that e.g. `required_if_all(name)`?

- I know clap has `required_ifs()`, but that

[2017-12-12 10:45] kkayal opened #1127 "Using -? for help in addition to -h"
### Rust Version

rustc 1.22.1 (05e2e1c41 2017-11-22)

### Affected Version of clap

2.28.0

### Expected Behavior Summary

The -h option has a good built-in behaviour. It is desireable that -? would do exactly the same.

### Actual Behavior Summary

-? is not recognised as a built-in option as -h. Calling the hello world example with `hello -?` produces an error message:

[code]

### Steps to Rep

[2017-12-13 16:50] HiDefender opened #1128 "Typo in readme file"
The readme file includes this line:

Simply change your clap = "2.29" to clap = {version = "2.87", features = ["yaml"]}.

Version 2.87 of clap does not exist.

[2017-12-16 11:41] fluffysquirrels opened #1129 "Bug: Bash completion is broken when sub-command names have hyphens"
### Rust Version

`rustc 1.22.1 (05e2e1c41 2017-11-22)`

### Affected Version of clap

`master` at time of discovery (e0f8479e0f6522af24484abc79aee24d60b939d2)

### Expected Behavior Summary

Bash completion should suggest parameters for a sub-command with a name that contains hypens.

### Actual Behavior Summary

Bash completion suggests parameters for a higher level sub-command, or none at all.

[2017-12-18 16:15] RazrFalcon opened #1131 "-h flag is missing"
### Rust Version

1.22.1

### Affected Version of clap

2.29.0

### Expected Behavior Summary

[code]

### Actual Behavior Summary

[code]

[2017-12-18 16:18] RazrFalcon commented on #1131
Oh wait, it's was automatically removed, because I already have `-h` flag... My bad.

[2017-12-18 16:18] #1131 closed

[2017-12-20 01:06] smarter opened #1132 "Compilation failure under rust nightly webassembly target"
### Rust Version

* rustc 1.24.0-nightly (dc39c3169 2017-12-17)

### Affected Version of clap

* 2.29.0

Rust now has a [webassembly target](https://www.hellorust.com/setup/wasm-target/), trying to use it in a project that depends on `clap` results in a build failure:
[code]

It might be impossible to actually use clap for anything with the wasm backend right now, but it would be nice if it still

[2017-12-20 19:54] glfmn commented on #1129
[code]

Hyphens also fail when using the `clap_app!` macro.  Removing the hyphen works as expected.

[2017-12-20 21:26] glfmn opened #1133 "Subcommands impossible to use with required arguments with ArgsNegateSubcommands"
### Rust Version

rustc 1.22.1 (05e2e1c41 2017-11-22)
cargo 0.23.0 (61fa02415 2017-11-22)

### Affected Version of clap

clap 2.29.0 (registry+https://github.com/rust-lang/crates.io-index)

### Expected Behavior Summary

When setting `ArgsNegateSubcommands`, subcommands should work without required arguments that do not belong to the subcommand as it will be impossible to invoke the subcommand if

[2017-12-20 21:48] 6A opened #1134 "Cannot parse strings that start with hyphens"
### Rust Version
* rustc 1.24.0-nightly (dc39c3169 2017-12-17)

### Affected Version of clap
* Clap 2.29.0

### Expected Behavior Summary
For an input such as `program --argument "---..--"` or `program "-something"`, both "---..--" and "-something" should be considered values.

### Actual Behavior Summary
Those strings are considered as arguments:
[code]

### Debug output
[Gist](https://gist.githu

[2017-12-22 10:43] gbear605 opened #1135 "Issue with Arg::required_unless_one()"
### Rust Version

rustc 1.24.0-nightly (7eb64b86c 2017-12-20)

### Affected Version of clap

clap 2.29.0

### Expected Behavior Summary

With the given sample app, I should be able to have the arguments:
`-a -c -e`
`-a -c -f`
`-a -d -e`
`-a -d -f`
`-b -c -e`
`-b -c -f`
`-b -d -e`
`-b -d -f`

The overall goal of the program is that I should have to call `-x` or I should have to call one from each o

[2017-12-26 16:20] willmurphyscode commented on #1135
I believe this is an issue where `short()` conflicts with `required_unless_one()`. In the original code sample, removing `short("x")` will produce the expected behavior. Here's a PR with a failing unit test: https://github.com/kbknapp/clap-rs/pull/1136 @kbknapp Do you have any thoughts on how/where to address this issue?

[2018-01-03 04:02] kpcyrd commented on #568
I think it's important that the function that is called my `.get_matches()` needs to act like a 2nd main. There are some usecases where initialization is needed even in this case, for example to make sure the sandbox is active even in those cases. I don't think this is going to be an issue, just my 2 cents. :)

I'm about to add completion to two of my programs, mostly because the values that the u

[2018-01-05 18:16] RazrFalcon opened #1139 "The executable size impact"
A minimal *Hello World!* application after `strip -s` is 427 KiB on my machine. But `01b_quick_example.rs` is 1155 KiB which is almost 3x bigger.

It's a pretty huge impact and I think it worth creating an issue because such kind of libraries should be tiny (in my opinion).
Maybe it's worth investigating what causes such impact on the size.

I've also tested with my own library, `svgdom`, which is

[2018-01-05 22:04] albel727 opened #1140 "`takes_value()` parameters with `default_value()` are shown in USAGE like mandatory"
### Affected Version of clap
clap 2.29.0

### Expected Behavior Summary
When command line parsing fails, a USAGE section is shown. This usage section should NOT contain non-required parameters with default values. Suppose there are two parameters, "required" and "defaulted", and the user didn't specify the required one. The output should be as follows

[code]

### Actual Behavior Summary
Defaulted

[2018-01-05 22:28] albel727 commented on #1140
It's particularly annoying that this shadows all other flags. So

[code]

produces

[code]
instead of
[code]

[2018-01-06 09:28] segevfiner commented on #868
The way, I think, you are supposed to handle positional arguments that you don't know how to complete is to complete nothing  but popup a message, or better yet, default to completing files (Which is what most bash completion scripts do by using `-o default`). Like this (For `_arguments`, not `_describe` that is used now):
[code]

This is what most completions that I know of do. Completing the met

[2018-01-06 12:42] segevfiner opened #1142 "Redundant code in Zsh completion when there are no subcommands"
### Rust Version

`rustc 1.23.0 (766bd11c8 2018-01-01)`

### Affected Version of clap

`2.29.0`

### Expected Behavior Summary
There shouldn't be redundant code in the generated Zsh completion code.

### Actual Behavior Summary
There is some redundant code when there are no sub-commands.

**Generated from the sample:**
[code]

Notice the double `_clap-test_commands` part.

### Steps to Reproduce t

[2018-01-07 04:52] gbear605 commented on #1135
From testing, this also occurs with `long()`.

[2018-01-07 04:59] gbear605 commented on #1135
Also, having multiple `required_unless_one()` doesn't work as I hoped it would - it combines them so that it just requires one of `a`, `b`, `c`, `d`, `e`, `f`, when I wanted it to required one of `a`, `b`, one of `c`, `d`, and one of `e`, `f`. Is there any way to do this with clap?

[2018-01-09 15:48] #1129 closed

[2018-01-09 16:33] kbknapp commented on #1125
@rsertelon sorry for the long delay! Holidays and travel have had me gone for a while.

Although this isn't a trivial problem (how to tell clap when `--bind` is done and `<PKG_IDENT>` starts), there is a trivial fix *if it works with your use case*.

* Limit `--bind` to a single value *per occurrence*. So for example, `--bind value1 --bind value2` is legal, but `--bind value1 value2` is not. This

[2018-01-09 16:35] kbknapp commented on #1125
I have some ideas on things that could fix this...but I'm far from implementing them yet and they wouldn't probably happen until v3. I'm thinking of things like filters, where one could say, "This particular arg only accepts values that meet some criteria...if they don't fit, look at other args."

[2018-01-09 16:51] kbknapp commented on #1126
I'm not opposed to adding something like that, however I'll explain why it doesn't exist (yet).

When dealing with flags and requirements, since they are a simple on/off switch, if you know `-A` and `-B` requires `-C` (as the programmer), you could just act *as if* `-C` was used. I'd recommend telling the user via a help message or something, ("using `-A` and `-B` together *implies* `-C`", etc.).

[2018-01-09 17:06] kbknapp commented on #1127
There's no reason you can't use `-?` as the help short, [by changing the default help short of `-h`](https://docs.rs/clap/2.29.0/clap/struct.App.html#method.help_short). If you want to use *both* `-h` and `-?` [that's also possible manually](https://docs.rs/clap/2.29.0/clap/struct.App.html#method.print_help). However, I don't really want to add `-?` as a default alias to `-h` because there are peo

[2018-01-09 17:10] kbknapp commented on #1128
Thanks! Should be fixed in #1143

[2018-01-09 17:11] kbknapp commented on #1132
I agree. I haven't really put any thought into wasm because I can't imagine parsing arguments in the browser, but you're right it'd be nice if it still builds.

This would probably be an easy fix, and if anyone wants to add a non-default cargo feature `wasm` and do the fixes I'd be happy to mentor it.

[2018-01-09 17:14] kbknapp commented on #1133
I agree it can be confusing. I'm going to file this a docs issue as I think that's the best way forward for the time being. Simply adding a line in the docs explaining how requirements work with those two AppSettings should work for now.

I don't want to implicitly set one or the other because there could be times when you *don't* want both settings applied.

[2018-01-09 17:18] kbknapp commented on #1134
This has to do with shell quoting rules. `--argument "---..---" is the exact same as `--argument ---..---` to most shells.

The fix is to use [`Arg::allow_leading_hyphen(true)`](https://docs.rs/clap/2.29.0/clap/struct.Arg.html#method.allow_hyphen_values) for just `--argument` or globally for the entire program (not usually recommended) with [`AppSettings::AllowLeadingHyphen`](https://docs.rs/clap/

[2018-01-09 17:18] #1134 closed

[2018-01-09 17:21] kbknapp commented on #1135
Thanks for filing! I'll start to take a look. I've been away for the holidays and traveling. @willmurphyscode I saw your test cases in the PR. Do you want to continue with this?

[2018-01-09 17:43] kbknapp commented on #1139
This is the exact purpose of #1143 :smile:

The `01b_quick_example` is probably due to the usage parser, but I'll investigate more later.

I would however kind of like to keep things in perspective. While I agree binary sizes should be as small as possible, clap does *a lot* especially when compared to minimal arg parsers like `getopts`, `pirate`, or `argparse` where you end up implementing all th

[2018-01-09 17:45] kbknapp commented on #1139
Also, I forgot to add that I would expect opt-leve=3 and lto=true to increase binary sizes. Which I know is the default for clap, but this is also because the perf gains typically outweigh a few kb in size IMO. And if they don't, it's easy to change.

[2018-01-09 18:01] kbknapp commented on #1142
@segevfiner since you're already on a roll for these completions PRs, do you want to take a swing at this one? :smile:

[2018-01-09 18:08] kbknapp commented on #1140
The error messages show "used arguments" i.e. "this possibly what the command you just tried running *should* have been run"

But yes, defaults get thrown in there too. I can do some work to remove default values from error messages. This wouldn't however "turn off" the shadowing. With that fix

[code]

Would become

[code]

I'm open to adding an option to *turn off* this "smart usage" so that the

[2018-01-09 18:08] kbknapp commented on #1140
If someone wants to add this setting to disable the "smart usage" I'd be happy to mentor it. Removing the defaults from the usage string is probably more complicated than just adding this setting.

[2018-01-09 19:19] kbknapp commented on #1115
I'm sorry, I still don't know exactly what you're trying to do. I understand the 1MB 5GB, etc. but I don't see what you're trying to do with CLIs.

[2018-01-09 19:19] #1115 closed

[2018-01-09 21:09] rsertelon commented on #1125
Hey @kbknapp no problem! Thanks for your answer. I'll discuss this with the dev team at habitat. The workaround might be a good solution, filters might be nice too! :)

[2018-01-09 21:55] #1128 closed

[2018-01-10 02:50] rtsao commented on #1132
I think the clap use case for the wasm target would be consuming it from Node.js. I guess in theory you could build a CLI entirely in Rust then ship it to npm.

[2018-01-10 05:58] segevfiner commented on #1142
I probaby will 😉

[2018-01-10 11:25] willmurphyscode commented on #1135
@kbknapp I will start digging today. I'll ping you if I get stuck.

[2018-01-10 20:33] albel727 commented on #1140
I see. I'll consider the possible ways to proceed from here, after I take a look at the clap sources when I'm done with other things. For the time being, I have another alternative to posit.

How hard would it be to, at least, make the defaulted but non-required arguments be printed in square brackets, so as to convey their non-mandatory nature? I.e. something like

[code]

Or do you think that th

[2018-01-11 13:08] kkayal commented on #1127
Thanks, but I was unable to to add -? as a new option properly. Maybe I miss something else.
I took the quick example from documentation, replaced the argument "config" with the following:

                          ...
                          .about("Does awesome things")
                          .arg(Arg::with_name("question_mark")
                               .short("?")

[2018-01-11 16:28] glfmn commented on #1133
When would both settings _not_ be appropriate, or even usable?  A simple program like mine likely lacks the complexity to require such a situation, and I haven't tried to write a more complicated command-line tool, and  I agree that updating the docs is a good fix in the interim, but the biggest problem is that the behaviour contradicts the usage string generated by `clap-rs`.  How can we address

[2018-01-11 17:34] glfmn commented on #1078
I'd like to give this a shot this weekend if classes and work allow.

[2018-01-12 01:51] rrichardson commented on #747
FWIW -  I am running 2.29.1 and `cargo tree` tells me that my only linked yaml dependency is `yaml-rust : 0.3.5` .

Loading via  `App::from_yaml(yaml);` fails in `Arg::from_yaml`.  It takes the `nth(0)` key and attempts to coerce it via `as_hash()` which fails, because the value is just `String(...)`
This *might* be the ordering problem mentioned,  but nothing in the entire vec that it is looping

[2018-01-14 05:03] segevfiner commented on #850
This might have been fixed by #1141. Needs testing.

[2018-01-15 16:51] #1142 closed

[2018-01-15 17:16] kbknapp commented on #1127
Which shell are you using? In ZSH `?` is used to match a single character and thus you have to do `$ program -\?`

For example on my machine:

[code]

Then:

[code]

It's the same if you simply want to add a flag which prints the help too (as in your example).

[2018-01-15 17:37] kbknapp commented on #1139
Here's the table for different build options (again using `ripgrep` as the test binary and `clap` as the crate to measure). Since I was curious :smile:

All build options were set in `ripgrep`s Cargo.toml, clean build in release mode

| Size  | LTO | Opt Level |
| :---: | :---: | :---: |
| 197.4KiB  | True  | 3 |
| 189.3KiB  | False  | 3 |
| 186.5KiB  | True  | 2 |
| 183.9KiB  | False  | 2 |
| 137

[2018-01-15 19:29] kbknapp commented on #1133
It's only an issue if there is a required argument, correct?

I'm not against having `ArgsNegateSubcommands` imply `SubcommandsNegateReqs`, I just meant for the time being a docs fix *far* quicker than a code fix. This week is going to be a busy one for me, so I may not be able to get to some low hanging fruit, but am more than willing to point some people in the right direction if they'd like to

[2018-01-15 19:36] kbknapp commented on #1140
It would be fine, but almost as much work as simply not printing the defaults (which is a *slightly* better solution IMO).

[In the source](https://github.com/kbknapp/clap-rs/blob/e078a5893b9cdc367fe1621d529dfbbcc93a9095/src/app/usage.rs#L22-L45) for either of these two fixes, when clap is printing the usage string, it doesn't know if something is a default value or not, it just sees an argument w

[2018-01-18 00:21] willmurphyscode commented on #1135
@kbknapp I've been experimenting with the tests, trying to discover what is different between the passing and failing test runs, and the differences begin at this line:
https://github.com/kbknapp/clap-rs/blob/b6f36f55a04f8ed963a524cf1b87c7e7869964c2/src/app/parser.rs#L295

When there are no short or long forms of the arg that is "required_unless_one," then the arg is added as a positional, but if

[2018-01-18 20:22] kbknapp commented on #1135
@willmurphyscode You're exactly correct about that line of code, but I'm not sure if that's the issue or not. You're right, the tests don't use an arg with a short as the one that defines (required_unless_one), but that shouldn't be the issue (at least it's not supposed to be).

There was recently a rework to how clap validates, so I've updated the debug output in the OP to v2.29.2 (where the erro

[2018-01-19 13:08] kkayal commented on #1127
Thanks, I just tried .help_short("?"). It works as desired, but unfortunately, the -h option becomes an invalid one.

I have no experience with zsh. I use bash as well as the standard os-x and windows 7 terminals. My examples are tar and python. tar understands  -? and it doesn't even understand -h. Python supports both. That shows to me that -? or -h is just a preference of the developer. I would

[2018-01-22 19:09] kbknapp commented on #1135
@gbear605 can you test this against the master branch and see if it fixes it for you? @willmurphyscode has come up with a fix, and if it works I'll release the new version.

[2018-01-23 03:56] gbear605 commented on #1135
My issue now is somewhat the opposite of before, although this may be intended behavior:

It now allows me to do all the arguments I want, but it also allows me to have just one or two of them. For instance, I can pass in "-a -c" or "-a" and it works, but I instead want it to require "-x" unless *all three* of the other argument pairs are provided.

That's what I was trying to achieve with the thr

[2018-01-23 13:29] kbknapp commented on #1127
If you want to use *both* `-h` and `-?`

[code]

[code]

[2018-01-23 20:57] kkayal commented on #1127
Thanks! This is exactly what I was looking for.

[2018-01-23 20:57] #1127 closed

[2018-01-25 13:29] willmurphyscode commented on #1135
@gbear605 Let me see if I understand this issue. You basically want this behavior (in some pseudocode here):

[code]

Is that correct? Right now, `required_unless_one` simply builds up an array of arguments and treats the argument it modifies as optional unless one of them is passed. This seems like a new feature, basically making `required_unless_one` able to build up multiple predicates if it is

[2018-01-25 13:32] gbear605 commented on #1135
That's correct.

So, it seems that the actual bug involved here was fixed by @willmurphyscode's fix and now this is just a feature request for that.

[2018-01-27 17:26] Aaronepower opened #1155 "Don't compile ansi_term on Windows"
`ansi_term` currently doesn't work on [32bit Windows platforms](https://github.com/ogham/rust-ansi-term/issues/31) and is not being maintained. `clap` being dependent by so many crates(mine included) needs to resolve this since there is no maintainer for `ansi_term`. There are two solutions I can think of.

- `clap` maintains a forked version of `ansi_term`.
- `clap` pulls required functionality o

[2018-01-30 22:33] SergioBenitez commented on #1155
Alternatively, migrate to [`yansi`](https://docs.rs/yansi/), a crate I created for Rocket. The API is fairly similar to `ansi_term`'s, so migrating should be very simple. If there's a feature missing in `yansi` that makes migrating difficult, I'm happy to adjust the API.

[2018-01-30 22:56] BurntSushi commented on #1155
@SergioBenitez Your crate only supports ANSI escape sequences, which won't work in Windows consoles that don't have ANSI support. (Your API is also appears fundamentally incompatible with how Windows console coloring works.)

[2018-01-30 22:59] SergioBenitez commented on #1155
@BurntSushi Yes, I'm quite aware of that; it's even part of the crate's name! This issue is about moving away from `ansi_term`, which _also_ doesn't support older Windows consoles.

[2018-01-30 23:03] BurntSushi commented on #1155
@SergioBenitez Let me rephrase: It would be great to move to a library that supports Windows console coloring.

[2018-01-31 01:35] kbknapp commented on #1155
@Aaronepower `ansi_term` [isn't used by `clap` on Windows](https://github.com/kbknapp/clap-rs/blob/969c3adb4107d7e2934d2721f8eda9992985301d/src/fmt.rs#L142-L153), as I just default to no color support on Windows. However, the plan is to move to [`termcolor`](https://github.com/BurntSushi/ripgrep/tree/master/termcolor) to enable color support for Windows. Progress can be tracked specifically in #83

[2018-01-31 12:19] Aaronepower commented on #1155
@kbknapp [It's still compiled on Windows](https://ci.appveyor.com/project/Aaronepower/tokei/build/1.0.264/job/9m5yfof69111sqdv#L124) which is the real problem.

[2018-01-31 18:12] kbknapp commented on #1155
@Aaronepower Ah, I see my mistake. I'll re-open this issue as "Don't compile `ansi_term` on Windows which should be totally possible with `cargo`.

[2018-01-31 18:13] kbknapp commented on #1155
I'd be willing to merge a PR for 2.29.3 that fixes this.

[2018-02-01 00:25] smcmurray opened #1158 "requires_all does not display all missing requirements"
### Rust Version

1.23

### Affected Version of clap

2.29.2

### Expected Behavior Summary

When an agument has a requires_all list, and that argument is present but multiple of its required arguments are missing, clap should print an error message that includes all missing required arguments.

### Actual Behavior Summary

clap will print out just one of the missing arguments. The user has to rep

[2018-02-01 00:49] smcmurray commented on #1158
To clarify, this is ArgGroup.requires_all

[2018-02-01 18:54] smcmurray commented on #1158
I'm trying to set up a command line something like:
``
    example --conf <FILE>...|<<ID> --x <X>... --y <Y> --z <Z>>
``

but I get:
[code]
and
[code]
In this case, --conf <FILE> is not required or missing. In fact, including it would cause a conflict.
I understand that \'example -h\' will put [OPTIONS] in there even though there are no other options. I can live with that. But it needs to get the

[2018-02-02 01:48] kbknapp commented on #1158
Apologies, I've confirmed this bug. I'm in a heated battle with getting v3 out the door (which will include this bug fix) but I might be able to squeeze the part of this bug fix that will at least remove `--conf` from the required list when `id` (or another of it's conflicts) is used. The deeper fix to fix all arg group related conflicts will have to wait until v3. This initial fix should be able

[2018-02-02 01:54] kbknapp commented on #712
This has already been implemented in v2 via [`Arg::env`](https://docs.rs/clap/2.29.2/clap/struct.Arg.html#method.env) and [`Arg::env_os`](https://docs.rs/clap/2.29.2/clap/struct.Arg.html#method.env_os). Guess I forgot to close this?

[2018-02-02 01:54] #712 closed

[2018-02-02 01:54] #738 closed

[2018-02-02 01:56] kbknapp commented on #801
Closed in v3-master

[2018-02-02 01:56] #801 closed

[2018-02-02 02:07] #1116 closed

[2018-02-02 03:01] Phrohdoh opened #1160 "Suggestion: Change the output of the `possible_values` help"
My suggestion is to change `[values: ...]` to `[possible values: ...]` to match the builder API.

[code]

[code]

[code]

[2018-02-02 19:20] quodlibetor commented on #712
Neat!

It would still be nice to have a similar `App::fallback_args_from_os(PREFIX)` flag that would make it so that every arg that has a `long` option would also accept `PREFIX_${to_screaming_snake_case(long_name)}`. It's a really useful paradigm for 12FA, and it's nice to be consistent.

[2018-02-03 03:19] kbknapp commented on #1160
I'm not against this, my only thinking is it makes the lines longer and I try to stick to no wrapping *by default* if possible on 80-100 width terminals. Having said that, if someone is using several values already, they're probably already wrapping.

I can mark this as mentored and a good first issue if someone wants to take a swing at it.

[2018-02-03 03:22] kbknapp commented on #976
[This tweet](https://twitter.com/burntsushi5/status/959624525368487939) got me thinking about this issue some more, and I'm thinking that because of the new lazy validation I'm doing this could actually be an easy add, and easily forward portable to the v3-master branch. I'm going to take a look at this tomorrow see and if it's as easy as I think it'll be.

[2018-02-03 18:31] da-x opened #1161 "All `--` parameters after the first `--` are dropped, not allowing nesting of programs?"
(clap-rs v2.29.2)

Hi,

Suppose I am writing a program that executes another program, then of course it is convenient to take the arguments of the subprogram after `--`,  as illustrated in the `22_stop_parsing_with_--.rs` example. However, if the subprogram itself wants to receive `--`, then `clap-rs` does not seem to currently allow it, and `--` is dropped.

To further explain, if I execute the `

[2018-02-03 20:20] da-x commented on #1161
I am currently testing the fix in [pty-for-each](https://github.com/da-x/pty-for-each).

[2018-02-04 17:12] #1161 closed

[2018-02-04 23:08] kbknapp commented on #1155
Turns out this is harder than I had first thought: https://github.com/rust-lang/cargo/issues/1197

[2018-02-05 01:10] kbknapp commented on #1158
This is fixed in #1164 however, the usage string isn't exactly what you want. So I would recommend using a custom usage string. The behaviour is correct though.

[code]

[2018-02-05 03:27] #976 closed

[2018-02-05 03:27] #1158 closed

[2018-02-05 03:42] kbknapp commented on #712
@quodlibetor I like the idea, but for now I'd rather stick with having to declare the args one would like to use with ENV vals. If an application wants to support what you're proposing, it's as simple as adding:

[code]

I'm not sure I'm comfortable adding code that goes through ENV vars matching a prefix, converting longs to screaming snake case, doing a match, etc. This is something that could b

[2018-02-05 07:59] oli-obk opened #1165 "`validator_os` takes `&OsStr`, but `validator` takes `String`"
If find it somewhat inconsistent that one function borrows the value, while the other takes it by value. It is very unlikely that anyone just forwards the argument passed to the `Err` return value, so there's no benefit of offering users an owned `String`.

Full disclosure: It clashes with a clippy lint, and I don't know how to act on it: https://github.com/rust-lang-nursery/rust-clippy/issues/243

[2018-02-05 08:16] bestouff commented on #712
Automatically reading env vars would be really nice, but guarded by a global switch, like `.auto_2fa(true)` or something like that.

[2018-02-05 15:16] kbknapp commented on #712
I'm not *necessarily* opposed to that feature/setting. But with the upcoming v3 and `mut_arg` I would like to start pairing back some settings that could be external crates and moving them out of the core clap code, or even creating a `clap_extras` crate that provides these one off, modification-only of an `App` or `Arg` instance and that don't rely on core clap internals to function.

If you'd li

[2018-02-05 15:23] kbknapp commented on #1165
This is kind of related to #848 and I plan on re-working the signature of these methods in v3 (see #1037).

The reason `validator` takes `String` by value is there is (was?) no way to convert from `OsStr` (which originates from `env::args_os`) to `&str` because of the utf-8 validation. But `validator_os` has no such stipulation and can just use the `OsStr` directly.

[2018-02-05 15:24] kbknapp commented on #1165
Bottom line, this is something I've been wanting to change and put more thought into but couldn't without a breaking change. Hindsight is always 20/20 and I wish I'd done it differently prior 😄

[2018-02-05 15:31] kbknapp commented on #748
This will be implemented as adding `App::argv` which clap will parse prior to the CLI, and the CLI will override options found in any of the `App::argv`s.

[2018-02-05 16:19] kbknapp commented on #868
This should be closed - the generated zsh script even for ripgrep is working and falls back to file completion as one would expect (this is all thanks to @segevfiner !)

[2018-02-05 16:19] #868 closed

[2018-02-05 16:49] quodlibetor commented on #712
@kbknapp yup, that's what I'm currently doing, it would just be nice if instead of:

[code]

I could just do:

[code]

It's not a *huge* deal, it's mostly a "every now and then I am lazy about
correctly specifying env and then it's annoying" deal.

[2018-02-08 05:05] yrashk opened #1169 "AppSettings::AllowExternalSubcommands [sometimes] triggers suggestions"
### Rust Version

rustc 1.23.0 (766bd11c8 2018-01-01)

### Affected Version of clap

2.29.4

### Expected Behavior Summary

The program executions to print:

[code]

### Actual Behavior Summary

[code]

### Steps to Reproduce the issue

src/main.rs:

[code]

Run with

[code]
### Debug output

[code]

[2018-02-10 00:05] MggMuggins opened #1170 "Support for 'Called as'"
In some (mostly systems programming) situations, links are used to move a whole bunch of executables into one, and let that one figure out how it was called in order to determine it's behavior. I haven't done a ton of digging (so I don't know if there is support for this), but it would be really cool if clap supported this in some way. Feel free to close this, it's just a thought, really. Let me k

[2018-02-10 03:44] kbknapp commented on #1170
This is supported in a somewhat hacky way, however this is something an external crate could do easily (one just doesn't exist yet).

I'll give each "application" a different argument so you can see what it would conceptually look like to have different args for each.

[code]

[code]

[code]

[2018-02-10 03:44] #1170 closed

[2018-02-10 03:54] kbknapp commented on #1169
Currently the fix is to not compile the `suggestions` feature.

[code]

This is a hard one to solve generally for the masses because clap has to match incoming arguments to *something* and if they happen to be close enough to trigger a "possible subcommand" there's no way for clap to know if this is what this particular use case wanted or not.

A future fix would be to add a `AppSettings::DontUseS

[2018-02-10 15:58] yrashk commented on #1169
Kevin,

Thank you so much for the detailed explanation.

I suspect this might be a good solution for my use case where I'm trying
(in the absence of a matching subcommand) to see if I can execute
myprog-given-subcommand. What I was trying to accomplish was along the
lines of "try to match these subcommands without suggestions first, if it
fails, try finding the external binary; if there is none, e

[2018-02-10 17:23] MggMuggins commented on #1170
I see. Thanks for the explanation!

[2018-02-10 18:31] stevepentland commented on #1132
@kbknapp I'm interested in taking this one on if no one else has started

[2018-02-10 19:02] kbknapp commented on #1169
Awesome! If you'd like to try this issue, I'd suggest adding a new setting (by following the examples of all other settings) in [`src/app/settings.rs`](https://github.com/kbknapp/clap-rs/blob/4005d93df952510c2dec98e48eb8eefd2b6502e4/src/app/settings.rs#L49), then to actually *use* this setting, you'd probably check if this setting was used in [`src/app/parser.rs`](https://github.com/kbknapp/clap-r

[2018-02-11 18:56] kbknapp commented on #1132
That would be great! Thanks @stevepentland

[2018-02-11 19:10] AndrewGaspar opened #1173 "Missing YAML for Arg::last"
### Rust Version
`rustc 1.23.0 (766bd11c8 2018-01-01)`
### Affected Version of clap
[code]

### Expected Behavior Summary
The YAML should allow you to specify an arg with `last: true`, marking it as the `last` argument
### Actual Behavior Summary
YAML fails to parse with this error:
[code]
### Steps to Reproduce the issue
Create a new clap App from a YAML file.

Example:

cli.yml
[code]

main.rs
[

[2018-02-11 19:19] kbknapp commented on #1173
Ah, thanks! I'm not at a computer right now, but this will be a quick fix once I can get to one.

[2018-02-11 20:05] stevepentland commented on #1132
@kbknapp I need to ask about what you meant with a non-default wasm cargo feature? I've been looking through the code at how to reconcile the changes and could use a little insight from you.

[2018-02-11 20:27] kbknapp commented on #1132
By non-default I just meant a cargo feature that it's not included in the default features array (and thus opt-in instead of opt-out). However, I now think there are better ways to solve this.

A better solution would be to add some additional OsStrExt traits inside `src/osstringext.rs` following the OsStrExt3 example for Windows, since Windows is essentially the same problem as wasm.

Actually...

[2018-02-11 20:28] AndrewGaspar opened #1174 "YAML multiple setting"
### Rust Version
`rustc 1.23.0 (766bd11c8 2018-01-01)`

### Affected Version of clap
[code]

### Expected Behavior Summary
Setting multiple settings in cli.yml via `setting` results in each setting being used.

Note: `settings` works as expected

### Actual Behavior Summary
Setting multiple settings in cli.yml via `setting` results in only the last specified setting being used.

### Steps to Repro

[2018-02-11 20:37] stevepentland commented on #1132
Alright sounds good, I’ll start there and see how it goes. Thanks!

[2018-02-12 19:14] #1173 closed

[2018-02-12 19:16] AndrewGaspar commented on #1173
@kbknapp Will this fix go into v2.*?

[2018-02-12 19:19] kbknapp commented on #1174
Ah yes, you're correct. The fix is to use `settings` (plural), but I know the docs aren't clear on that.

[code]

Although this could be fixed, the fix will be made moot once we move to serde in v3.

I'm going to close this for now, but using `settings` doesn't work for you please feel free to re-open and we can look into this further.

[2018-02-12 19:19] #1174 closed

[2018-02-12 19:21] kbknapp commented on #1160
This should be implemented, thanks to @etopiei 👍

[2018-02-12 19:21] #1160 closed

[2018-02-12 19:22] Phrohdoh commented on #1160
Woohoo thanks @etopiei! :D

[2018-02-12 19:54] kbknapp commented on #1173
Yes, I'll put out v2.29.5 shortly which will include it 😉

[2018-02-12 20:03] kbknapp commented on #1155
For those compiling *only* to windows, not using the `color` feature will disable compiling `ansi_term`

[code]

I'm going to close this for now, and re-address once cargo supports per-target deps. I'll also keep this in mind during the great color redux in v3.

[2018-02-12 20:05] kbknapp commented on #1139
I'm going to close this, as it's one of those things that could be forever tweaked and tuned. Once v3-beta is out, there will be a chance to re-address this with more specific goals/comments.

[2018-02-12 20:05] #1139 closed

[2018-02-12 20:07] AndrewGaspar commented on #1173
Awesome, thank you!

[2018-02-12 20:08] kbknapp commented on #1135
Thanks for the work @willmurphyscode ! I'm going to remove the bug and 2.x labels. However, I'll leave this feature request open for when I'm opening the feature request window for 3.x.

I have to keep blinders on or I'll never finish 3.x.

[2018-02-12 20:47] retep998 commented on #1155
You mean like `[target.i686-pc-windows-gnu.dependencies]` or `[target.'cfg(all(windows, target_arch="x86"))'.dependencies]`? Or did you mean per-target features?

[2018-02-12 20:59] kbknapp commented on #1155
@retep998 I meant them somewhat interchangeably. The issue being the `color` feature is currently ignored on Windows, yet even though it's ignored the `ansi_term` dep is still compiled.

What I'd like to happen is either a per-target features (so that on everything but Windows the `color` feature will include `ansi_term`, but on Windows the `color` feature will simply be empty, thus not compiling

[2018-02-12 21:01] retep998 commented on #1155
While features themselves cannot be target specific, dependencies can, even if they are optional. You can enable the feature from any target, but the dependency will only be compiled for the targets it specifies.

[2018-02-12 21:14] kbknapp commented on #1155
TIL...just tested it and it works!

Wow 🎉 Thanks for the explanation @retep998 👍

I'll re-open this and put in the PR.

[2018-02-13 00:12] jzinn opened #1179 "bash completion for argument defined with `value_name` should complete with file names"
Ripgrep has a `-g` option that could use some improved Bash completion.  Please see
*   https://github.com/BurntSushi/ripgrep/issues/792

### Rust Version

[code]

### Affected Version of clap

[code]

### Expected Behavior Summary

Either do nothing:
[code]

or complete with file names:
[code]

Additionally, the Ripgrep `-g` option allows a leading `!` to indicate negation.  If Clap can support t

[2018-02-13 00:36] kbknapp commented on #1179
Thanks! I'll take a look at this tomorrow and see if I can get a patch in to just fall back to file completion in all cases.

[2018-02-13 00:41] jzinn commented on #1179
As an aside, with the current behavior, it seems that these options

[code]

should not result in `<GLOB>...`, because the `...` indicates that repetition is possible.  Repetition is not be allowed in this case because of the call `number_of_values(1)`.

[2018-02-13 01:16] BurntSushi commented on #1179
@jzinn That refers to the number of values per use of the flag, and not the number of times the flag can be used. That is, they are orthogonal options. :)

[2018-02-13 01:52] #1155 closed

[2018-02-13 07:40] RazrFalcon commented on #1139
I'm satisfied already =) Thanks for your work.

[2018-02-13 18:06] #1179 closed

[2018-02-13 18:09] kbknapp commented on #1179
v2.30.0 is published

[2018-02-13 18:09] kbknapp commented on #1173
@AndrewGaspar this fix was published under v2.30.0 which is on crates.io now

[2018-02-13 18:25] AndrewGaspar commented on #1173
Excellent, thank you!

[2018-02-13 20:32] larsrh commented on #908
What I find a bit strange here is that I need to use a dummy name in the YAML file, because otherwise clap does some strange stuff:

[code]

[2018-02-14 17:03] jkcclemens opened #1183 "Can't unset a global setting"
### Affected Version of clap

2.29.4

### Expected Behavior Summary

Unsetting a setting that has been made global causes it to not affect the arg or subcommand.

### Actual Behavior Summary

The setting still applies.

### Sample Code or Link to Sample Code

[code]

In the subcommand, the only arg is optional, so I don't want `ArgRequiredElseHelp`, but the vast majority of other subcommands (in m

[2018-02-14 17:46] jkcclemens opened #1184 "No way to create a global template"
### Affected Version of clap

2.29.4

### Expected Behavior Summary

Being able to call `global_template` and have the template propagate down to subcommands.

# Actual Behavior Summary

For every single subcommand, I have to add a `template` call to get them all to match my custom template.

[2018-02-14 18:56] kbknapp commented on #1183
You're spot on, and actually in v3 I side step this slightly by using `(un)set` and `(un)set_global` and actually differentiating the two. For v2 I think it's going to have to stay as is, because I fear changing it would be breaking change (i.e. if there are people relying the current behaviour).

I'm going to close this, however when v3 is released if this issue pops up please feel free to re-add

[2018-02-14 18:56] #1183 closed

[2018-02-14 18:58] kbknapp commented on #1184
Totally agree this is a lacking feature, thanks for the suggestion!

In order for me to actually get v3 released I have to put blinders on and only implement bug fixes or super trivial features which are simple to forward port to the v3 branch.

I don't know that this is one such issue. I'll leave it open for v3 as it is something I *do* want to have.

Having said all this, if someone implements t

[2018-02-15 14:43] kbknapp commented on #970
This should be good now with 2.30.0. Feel free to re-open if there is something we're missing.

[2018-02-15 14:43] #970 closed

[2018-02-15 16:29] little-dude commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

For some reason I missed this thread earlier, sorry.

[2018-02-15 17:36] kbknapp commented on #389
No worries! Thanks 👍

I'm just trying to revive this so I can dual license v3. Granted I'm not a lawyer, and it's probably possible to dual license v3 *anyways* but I figured let's try and do it the easy way first.

[2018-02-15 18:44] mgeisler commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-15 19:17] Nemo157 commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-15 19:20] Arnavion commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-15 20:23] bluejekyll commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-16 03:08] crazymerlyn commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-16 03:10] kbknapp opened #1185 "Provide a `Arg::custom_parse` style function"
Something I've been thinking about for a while and mentioned in BurntSushi/ripgrep#809 is to add some additional functions which allow users to do something mid parse. From the linked issue:

However, now that I'm thinking about it, all three of those could actually be combined into a single `Arg::custom_parse` which accepts a function that takes the arg/value currently being parsed, and returns a

[2018-02-16 18:54] peppsac commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-16 20:37] malbarbo commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-16 21:53] kbknapp commented on #389
Thanks for all the replies thus far! 👍

[2018-02-18 10:03] willmurphyscode commented on #389
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2018-02-18 17:50] RazrFalcon opened #1186 "Exclude more files in Cargo.toml"
Exclusion of `CHANGELOG.md`, `CONTRIBUTORS.md` and `README.md` will decrease `.crate` file size from 186KiB to 133KiB.

[2018-02-19 04:53] kbknapp commented on #1186
Great catch, thanks @RazrFalcon! [I actually started doing this in v3](https://github.com/kbknapp/clap-rs/blob/bd08e73e5459600db2646143dc4367690035dab7/Cargo.toml#L6-L19), but didn't backport it to v2.

If someone wants an easy PR this is a great one. If it hasn't been knocked out by the time I make the next merge I'll knock it out.

[2018-02-19 05:00] kbknapp commented on #1186
*Slightly* on a different note, I wonder if anyone has do any testing with removing all comments during `cargo package`, I'd imagine that'd save quite a bit community wide. Considering clap is nearly 45% comments (counting `src/` dir only and only counting lines). And comment lines I'd imagine are far more dense than code.

[code]

[2018-02-19 05:18] kbknapp commented on #1186
In my unscientific test, doing *both* more excludes (`*.md`) and removing all comments brings it down to 68K. I'd say that's decently substantial (basically 33% of the original size).

[2018-02-19 05:23] kbknapp commented on #1186
Hmm, actually excluding the `README.md` might be a bad idea. This is what is rendered on the crates.io package page :\

[2018-02-19 05:37] kbknapp commented on #1186
I'm not sure any more...partially because it's late, but also looking through the cargo and crates.io source, it looks like the readme *may* get uploaded separately...but to be safe we should ask someone from the cargo or crates.io team to confirm.

[2018-02-19 10:25] RazrFalcon commented on #1186
I thought that it uses github repo. My bad.

The problem with `.crate` files is that they can contain anything, but only `src` dir and `Cargo.toml` are important (afaiu). There are no official guidelines about it.

But if, for some reasons, original repo will disappear - this is the only way of retrieving the source code, so at least `tests` should still be present.

Have no idea what should be do

[2018-02-23 20:59] kbknapp commented on #1132
Closed with #1190 thanks to @stevepentland :tada:

[2018-02-23 20:59] #1132 closed

[2018-02-23 21:00] kbknapp commented on #987
Closed with #1191

[2018-02-23 21:00] #987 closed

[2018-02-25 01:32] spacekookie opened #1194 "Line breaking is inconsistent"
### System info

* rustc 1.25.0-nightly (b1f8e6fb0 2018-02-22)
* clap 2.30.0

### Expected Behavior Summary

I've noticed some inconsistencies in the line breaking behaviour for long descriptions. When creating a subcommand or argument I would expect it always to wrap to the size of the terminal, then pad the text to line up with the previous line.

### Actual Behavior Summary

In actuality it som

[2018-02-25 01:47] kbknapp commented on #1194
As per the gutter discussion I'm on mobile will check this out tomorrow  :) thanks for reporting!

Also, which OS are you using, and did you compile with any non-default cargo features?

[2018-02-25 17:14] kbknapp commented on #1194
For those that find this issue, the fix is to compile with the `wrap_help` feature.

[2018-02-28 23:04] darnir opened #1197 "Support subcommand aliases"
### Affected Version of clap

2.30

### Expected Behavior Summary

An application can define multiple subcommands which are aliases of one another, just like for arguments.

For example, in an application I am currently writing, I'd like to have a subcommand called `remove`, however to make it easier for users, I would also like to have an alias to this subcommand called "rm". This way, the applic

[2018-02-28 23:10] darnir commented on #1197
Apparently, I was looking in the wrong location for the documentation. The `alias()` method is indeed available.

I was looking for it under `SubCommand`, instead of `App`.

[2018-02-28 23:10] #1197 closed

[2018-03-04 18:54] NoorMkdad opened #1201 "Feature Request: Multi-character shorts"
In clap.rs I suggest having multi character shorts..

# Possible Opt-In Ideas:
1: Use a .stackable() in order to set the ability to stack args
    example: https://hastebin.com/adidocexov.js
2: Have a dependency option in `Cargo.toml`
    example: https://hastebin.com/jotegipixu.ini

[2018-03-04 19:02] kbknapp commented on #1201
Thanks for the suggestion! From the gitter conversation we'd probably end up supporting this with an opt-in `AppSettings` variant.

I'd be happy to mentor someone to adding this, or I can add it after v3 is out.

Prior to adding this feature I'd want someone to draw up a spec for how they see it working, as there are still some unresolved design questions.

Off the top of my head we'd need to deci

[2018-03-04 19:05] kbknapp commented on #1201
Also, there are two distinct ways to go about implementing this (granted which one we pick is slightly based off the answers to the questions above).

1. Disable longs, and treat `-type` args just like longs
2. Disable stacking and treat all `-type` style args as a single argument and not potentially multiple.

[2018-03-04 19:15] tanriol commented on #1201
The terminology suggested feels confusing to me.

AFAIK, the distinction between short and long options is characteristic to POSIX / Unix / Linux command line style and implies that the "short" options are single-character and stackable (and optionally accept tackling value to the character).

The most well-known example of multi-character single-hyphen options is the `find` command. However, even

[2018-03-04 20:07] kbknapp commented on #1201
I'm good with this. Let's refer to this as "Single Hyphen Longs"

As far as motivation, I've had enough people ask about this particular feature, that there is enough reason to add it as an opt in feature. The most common motivation I've found is people porting applications from another language, and want to be able to have a drop in replacement for some other application which uses single hyphen

[2018-03-04 22:28] stevepentland commented on #1064
@kbknapp I'd like to add this, I'm just having trouble spotting where the help and long_help from Base are used when showing the help output.

[2018-03-04 22:38] kbknapp commented on #1064
@stevepentland awesome! I'm on mobile so I can't give a super comprehensive answer at the moment, but look in the implementation of AnyArg for the respective Arg types (flag, positional, and opt), and they're in used help.rs which does all the help message printing.

Once I get to a computer I can give a better answer

[2018-03-05 00:12] kbknapp commented on #1064
In [`src/app/help.rs:445`](https://github.com/kbknapp/clap-rs/blob/7b1b6814f8ccd73b59d2b9a66342a45784bc7aa9/src/app/help.rs#L445-L449) is where decides which version of the help to display, notice the `use_long` in the branch.

In [`src/app/help.rs:205`](https://github.com/kbknapp/clap-rs/blob/7b1b6814f8ccd73b59d2b9a66342a45784bc7aa9/src/app/help.rs#L205-L207) Is where it decides which args to dis

[2018-03-05 00:27] stevepentland commented on #1064
Awesome, thanks for the guidance! I’ll start digging and hopefully have something soon.

[2018-03-06 21:25] larsrh opened #1204 "Conflicts don't propagate from the global level to the subcommand"
As discussed on Gitter: https://gitter.im/kbknapp/clap-rs?at=5a9f003af3f6d24c68450335

### Affected Version of clap

2.31.1

### Expected Behavior Summary

When declaring that a subcommand argument is in conflict with a global argument, clap should produce an error no matter whether the global argument comes after or before the subcommand.

### Actual Behavior Summary

global argument comes after:

[2018-03-07 01:25] kbknapp commented on #1204
Thanks for submitting!

For my own notes and from the gitter chat

* The flag is actually propagated down to the subcommand correctly, but the conflict doesn't register
* The same happens if we use options instead of flags (so it's not flag specific)

[2018-03-07 03:40] NoorMkdad commented on #1201
@tanriol Pretty much, I don't want to use a double dash for something 3 characters long and is intended as a shorter version of a longer option + It'll look weird

[2018-03-07 20:36] kbknapp commented on #1201
@NoorMkdad we may end up implementing this as *disabling* the long version. Because by convention the short version of a long arg is a single hyphen followed by a single character.

However, there *are* programs out there (especially on Windows) which use a single hyphen followed by a word as the long version.

[2018-03-09 02:32] eternaleye opened #1205 "A required `ArgGroup` is satisfied by a default value"
### Rust Version

* `1.24.1`

### Affected Version of clap

* `2.31.1`

### Expected Behavior Summary

I'd expect that an `ArgGroup` with `required(true)` would fail unless the user explicitly passed an argument, even if one of the arguments sets a `default_value`. The documentation notes that this can be done by checking `occurrences_of`.

### Actual Behavior Summary

If one argument of the group

[2018-03-09 04:06] eternaleye commented on #1205
Got into a discussion about this on IRC with @anp, pasting log:

[code]

[2018-03-09 12:04] neysofu opened #1206 "Iterating over `ArgMatches`"
Maintainer's notes
- This is blocked on https://github.com/clap-rs/clap/issues/1041 / https://github.com/clap-rs/clap/issues/2150 where we move away from opaque, non-public `Id`s for arguments to something the user can programmatically act on

---

Hi, I am using Clap in a little side project and I would like to suggest a minor feature. I am ready to implement it myself and send a PR if needed, I

[2018-03-11 11:57] jbreitbart opened #1207 "Non string default parameters"
I am not sure if this is a real issue or just me being stupid. I am wondering if it is possible to support non string-default parameters. Currently it seems like I have to do

[code]

but the string looks superfluous. Is there any reason why I cannot set an integer default value?

[2018-03-14 21:43] xliiv commented on #672
how to print it programatically?

[2018-03-14 22:42] kbknapp commented on #672
There is also `App::write_help` to use a custom `Write` object instead of just stdout.

[2018-03-18 06:17] kellpossible opened #1210 "Support for single hyphen in long arguments"
Maintainer's notes:
- This is blocked on pulling out the parser (https://github.com/clap-rs/clap/issues/2915) so we can then abstract  it and allow alternative syntaxes
---
Hi, I would like to begin porting a piece of command line software to rust which uses arguments of the style "-argument" with a single hyphen instead of the usual "--argument" with two hyphens preceding the name of the argument

[2018-03-18 12:58] zx8 opened #1212 "[fish] Flags are not completed after first flag has been completed"
### Rust Version

* `rustc 1.24.1 (d3ae9a9e0 2018-02-27)`

### Affected Version of clap

* `v2.31.1`

### Expected Behavior Summary
[code]

### Actual Behavior Summary
[code]

[2018-03-18 13:06] zx8 commented on #1212
The issue here is the usage of the `__fish_using_command` function. Here's what's going on:

[code]

If you drop this function entirely (which I understand was introduced to fix subcommand completion; https://github.com/kbknapp/clap-rs/pull/687), completions work again, i.e.
[code]

[2018-03-18 14:36] rollandjb opened #1213 "Displaying subcommand usage information programmatically"
Sorry if this is has been asked and answered (I did search), but I am new to Rust and Clap, and can't figure it out from the source..

I know I can programmatically print the usage information for a whole app with `app.print_help()`. How can I do the same thing for a subcommand. I would like to get the same result as entering the following command:

     my_app foo help

where `foo` is a subcomman

[2018-03-19 17:13] #1212 closed

[2018-03-19 17:34] wdv4758h commented on #1212
this issue fix so fast, nice :+1:

[2018-03-19 17:50] kbknapp commented on #1205
Thanks for all the details! Yeah, unfortunately I don't want to change the behavior as a default value *is* a value. However, I can add `require_explicit` to the issue tracker if someone would like to take a stab at adding it.

I can take a look at adding it once v3 is out. I'd like to think on the ramifications of `require_explicit` too to make sure the naming and implications are all correct too

[2018-03-19 17:58] kbknapp commented on #1206
Sorry for the wait, I've been on vacation with my kids this past week :)

Do you mean iterating over only positional values, or over *all* args that have been used? Also, do you envision this iterating over *non*-matched args as well?

If you'd like to take a stab at implementing I'd be happy to mentor you! This is how I'd attack it:

* Draw out how you see this working, including the questions I

[2018-03-19 18:01] kbknapp commented on #1207
Not a stupid question at all! Currently clap only handles strings. Strings in, strings out. You can use something like [`structopt`](https://github.com/TeXitoi/structopt) (which uses clap internally) to use Rust types.

It's not an exact answer to your question, but should help.

Also note that `structopt` is in the process of being merged into clap proper ;)

[2018-03-19 18:01] #1207 closed

[2018-03-19 18:06] kbknapp commented on #1213
You can't currently do *exactly* that, however there is something that may be what you're asking for.

Try `AppSettings::ArgRequiredElseHelp`](https://docs.rs/clap/2.31.1/clap/enum.AppSettings.html#variant.ArgRequiredElseHelp) (which displays the help message if no arg or subcommand was used).

Also, if that doesn't solve it for you, could you give me some usage examples of what you're envisioning

[2018-03-19 18:12] kbknapp commented on #1210
We had an issue open for this and it's...*disappeared?*

Thanks for (re)submitting! We'll need to go about the design of this a little bit because there were some open questions in the last discussion about this feature.

First and foremost, this will be an opt-in feature, probably via an `AppSettings` variant.

Now, once someone has opted-in, should `-option` style args be allowed with current do

[2018-03-19 19:54] neysofu commented on #1206
First of all, thanks for taking the time to address this! I hope you enjoyed your vacation.

The API I had in mind wouldn't be constrained only to positional arguments, but to all the arguments that have been used. Currently `ArgMatches` allows you to know which arguments have been used and their index in respect to all other arguments, yet it lacks a way to actually iterate over them.

I mean add