[2020-08-09 15:17] pickfire opened #2055 "Clap v3 ColoredHelp by default"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

Use `ColoredHelp` for `AppSettings` by default if `color` feature is present, optionally available for opt-out. Quite a few crates is not aware of this feature and was surprised that there is colored help settin

[2020-08-10 00:07] pksunkara commented on #2055
Nope. Color Help should be opt-in since features are additive.

[2020-08-10 00:07] #2055 closed

[2020-08-10 07:27] pickfire commented on #2055
@pksunkara Features are additive but it defaults to "colors" being enabled. I think colored help should be enabled if the feature is enabled and disabled if feature is disabled. Enabling the feature "colors" but not enabling colored help is not helping feature discover-ability.

IIRC @CreepySkeleton commented on this, I think he agrees or maybe I got the wrong idea. https://github.com/clap-rs/clap

[2020-08-10 08:00] pksunkara commented on #2055
Let me rephrase. CLIs by default are not colored. And then the user should specifically given an option to color it. Lots of people don't like colors. Making it opt-in is a good compromise.

[2020-08-10 15:57] CreepySkeleton commented on #2055
Guys, I think you've all been missing the main point of my comment: the coloring is already gated behind `ColorAlways/ColorAuto/ColorNever`. `ColoredHelp` is redundant. It reminds me the infamous joke about Windows Explorer popups:
* "Are you sure you want to delete the folder?"
* "All contents will be deleted, please confirm".
* "The folder itself will be removed, too. Click yes to proceed."
* "T

[2020-08-11 00:41] pksunkara commented on #2055
No it is not. There are 3 controls for colored help message.

1. Feature in cargo.toml
2. `ColorAuto/ColorNever`
3. `ColoredHelp` setting.

By mix-matching these the user (cli developer here) can customise what they want.

[2020-08-11 00:52] pksunkara commented on #1918
@leo-lb Can you please submit output on https://issuehunt.io/r/clap-rs/clap/issues/1918. I will award you.

[2020-08-11 00:57] pksunkara commented on #1971
@ClementNerma What clap version are you using? And please show us code.

[2020-08-11 00:57] pksunkara commented on #1971
@CreepySkeleton Shouldn't this actually provide a better message because of our validations?

[2020-08-11 01:01] pksunkara commented on #1790
I like the format that is proposed but I am also vary about adding DSL's to the descriptions.

[2020-08-11 01:09] pksunkara commented on #2014
@intgr Do you think you can take a look at this please?

[2020-08-11 01:10] pksunkara commented on #2043
@CreepySkeleton can you explain what exactly the problem is and what the solution should be. I am afraid that I don't understand.

[2020-08-11 05:46] leo-lb commented on #1918
Thanks, but I don't want it, are the funds locked on there if I don't interact?

[2020-08-11 14:20] intgr commented on #2014
Sure, will take a look later (feel free to ping me if I forget).

[2020-08-11 20:05] mkantor commented on #1642
Any updates on this issue?

@pickfire it sounded like you were working on it, but the discussion here trailed off and I can't find any related pull requests so I'm assuming it's up for grabs? @pksunkara / @kbknapp / @CreepySkeleton is the consensus still that this is a bug and that a fix without a setting would be acceptable?

---

BTW, the [`long_help` doc](https://docs.rs/clap/2.33.2/clap/struct

[2020-08-11 22:57] pksunkara commented on #1642
@mkantor Go ahead and work on the issue. Yes, it's still a bug. Regarding the long_help doc, please check master instead of v2.33 on docs.rs.

[2020-08-11 23:05] mkantor commented on #1642
Bam! #2058 2058

[2020-08-11 23:31] CreepySkeleton commented on #1971
@pksunkara Nope. Incidentally, https://github.com/clap-rs/clap/pull/2000 fixes exactly that.

[2020-08-12 00:01] #1642 closed

[2020-08-12 02:50] CreepySkeleton commented on #2043
@pksunkara

[code]

[2020-08-12 04:38] pickfire commented on #1642
@mkantor I was working on it but I couldn't reproduce it.

[2020-08-12 11:50] CreepySkeleton commented on #1971
I was wrong. The panic message is clear now. I think the beta doesn't have these checks released.

[2020-08-12 13:53] CreepySkeleton opened #2059 "Default alphabetical sorting of options in help message appears to be broken"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

1. `cargo run`

### Version

* **Rust**: `1.45.0`
* **Clap**: `master`

### Actual Behavior Summary

Options in help message are sorted in a weird way I don't recognize:

[code]

### Expe

[2020-08-12 14:58] #1771 closed

[2020-08-12 18:32] intgr commented on #2014
The issue here is that zsh is very picky about how it discovers those completion files. You have to place it with file name `_deno` into some directory in the `$fpath` variable, usually `/usr/local/share/zsh/site-functions`. Unfortunately there are no user-local paths by default.

As a one-liner:
[code]
After that you can run `compinit` in your zsh shell and `deno <TAB>` should automagically work.

[2020-08-12 20:49] CreepySkeleton commented on #2014
@intgr Thank you a lot!

@muuvmuuv Could you please check if the proper path and filename solves the problem?

[2020-08-13 15:16] muuvmuuv commented on #2014
@intgr this does not work for me:

[code]

From my expectation it should anyway be added like any other zprezto module in `$fpath`.

[2020-08-13 17:01] intgr commented on #2014
Did that command complete successfully? sudo should ask you for your password.

You should have the file `/usr/local/share/zsh/site-functions/_deno` in the end.

[2020-08-13 17:05] muuvmuuv commented on #2014
Ahh. `|sudo` → `| sudo` :D It worked!

[2020-08-13 17:46] diegobernardes opened #2064 "Compile time verification of default value"
### Describe your use case
It would be nice to validate at compile time the `default_value`.

This snippet would generate a compilation error.
[code]

### Additional context
https://github.com/clap-rs/clap/discussions/2063

[2020-08-14 00:15] mkantor opened #2065 "Lines in help output can be wider than the terminal width"
### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`
2. Observe that the first line of the output (`This string is 34 characters long. v12.34.56`) is wider than the desired width (35), even though there are places where it could have been wrapped.

### Version

* **Rust**: `rustc 1.45.2 (d3fb005a3 2020-07-31)`
* **Clap**: `master`

### Actual Behavior Summary

When getting help o

[2020-08-14 00:19] mkantor commented on #2065
One way to solve this would be to buffer the entire help message into a string, then apply wrapping to it all at once. This could have a performance impact (I haven't tried it).

A more sophisticated approach could be to buffer the help message in chunks, flushing it to output whenever wrapping occurs (or when an explicit newline is encountered). That could be fairly complex, though.

[2020-08-14 00:25] mkantor commented on #2065
Expanding on the second paragraph in my previous message, here's a sketch of what a "buffer in chunks" wrapping algorithm could look like. This hasn't been tested and there are likely edge cases I've missed:

- When writing chunks of the help message, append them to an internal buffer.
- If the buffer ever contains a literal newline, immediately flush everything up to and including the newline.
-

[2020-08-14 01:13] CreepySkeleton commented on #2065
If you don't mind, a couple of questions:

* Why on earth would you create an app with `"horrifyingly and obscenely long binary name"` in the first place?
* How did you end up with a display width this tiny? Some sort of mobile device?

That was out of curiosity. For the record, I'd like to see this fixed, not ignored, even if the decided fix will be "don't support width less than N and assert tha

[2020-08-14 01:23] mkantor commented on #2065
I realized this issue existed while hacking on #2067. At first I thought it was only a problem with custom templates, but then I noticed the default help can also exhibit this behavior (albeit only in pathological cases like the super long binary name). Custom templates can put an arbitrary amount of stuff on a single line which makes this issue more pronounced.

The tiny width was just to make th

[2020-08-14 01:25] mkantor commented on #2065
I agree. I think the variant names are throwing me off, since it's `Buffered` vs `Normal` it sounds like the latter shouldn't do any buffering (even though it already does).

[2020-08-14 09:25] #2014 closed

[2020-08-14 14:43] nikoneufeld opened #2070 "Clap 3 rexport clap_generate"
### Make sure you completed the following tasks

- [ ] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [ ] Searched the closed issues

### Describe your use case

Describe the problem you're trying to solve. This is not mandatory and we *do* consider features without a specific use case, but real problems have priority.

Also, please follow your explanation with a snippet

[2020-08-14 14:45] pksunkara commented on #2070
Please actually describe your problem.

[2020-08-14 14:59] nikoneufeld commented on #2070
Sorry I was rushing a bit :-).

I will explain

[2020-08-14 15:00] nikoneufeld commented on #2070
I want that when you import clap v3, you get clap, clap derive _**and clap_generate**_.

Also, I know that there is also an issue about it but, are man pages going to come to clap?.

[2020-08-14 15:03] nikoneufeld commented on #2070
I also saw that there is a man page implementation on [https://github.com/clap-rs/clap_generate/blob/master/src/manual.rs](url) but not on https://github.com/clap-rs/clap/tree/master/clap_generate.

[2020-08-14 15:04] pksunkara commented on #1464
This issue now has bounty of **$10**. More info [here](https://github.com/clap-rs/clap/wiki/Issue-Bounties)

[2020-08-14 15:05] pksunkara commented on #1330
This issue now has bounty of **$5**. More info [here](https://github.com/clap-rs/clap/wiki/Issue-Bounties)

[2020-08-14 15:10] pksunkara commented on #2070
That is not possible. `clap_generate` relies on `clap`. But we do have a separate issue to make it easy to use.

We decided not to generate manpages because manpages are not meant to be generated but rather written. If you really want one, you can use our `--help` and then use `help2man` command to convert the output to manpages.

[2020-08-14 15:10] #2070 closed

[2020-08-14 15:11] nikoneufeld commented on #2070
So then, how do I get clap generate.

[2020-08-14 15:11] nikoneufeld commented on #2070
Or use from clap

[2020-08-14 15:54] pksunkara commented on #1205
@CreepySkeleton Is this issue fixed? I remember you fixing something about this.

[2020-08-15 00:05] #2002 closed

[2020-08-15 00:25] liamdawson commented on #1330
As a counterpoint, `virsh` from libvirt allows positional parameters to be defined as flags instead. As in:

[code]

behave the same way. Similarly, the following are identical in behaviour:

[code]

I'm not suggesting clap needs this functionality, but there is a precedent for positional arguments being supported as flags.

[2020-08-15 00:34] pksunkara commented on #1330
You can still do that here. But you have to actually define two args for this.

[2020-08-15 12:05] matklad opened #2076 "Consider yanking Clap 2.9.2"
Hi!

Clap 2.9.2 (and maybe some other versions, I haven't done an investigation) triggers future compatablity warning in this code:

https://github.com/clap-rs/clap/blob/9605ea83aab50113fcd190e9a54adfaae1634072/src/macros.rs#L506

This is an erroneous definition of a macro, because `$ident` fragment lacks `:ident` specifier. This has been a deny-by-default lint for some time, and we'd want to hard

[2020-08-15 14:41] NilsIrl commented on #721
Why does `get_matches()` consume the app?

[2020-08-15 17:45] CreepySkeleton commented on #721
Why shouldn't it?

Actually, this question is harder than it might seem. Long story short: There's a hidden "build" step which needs the app to be mutable. If this was sorted out at type system level (aka `Arg & App & BuiltApp & BuiltArg`), we could avoid that and use `&self`, but that's quite an endeavor I'm  not sure I'm comfortable committing to before 3.0 is out.

[2020-08-15 18:33] CreepySkeleton commented on #2076
Sure. It's hard to tell for sure which versions are affected because not every version has a tag I could checkout, so I just located the earliest bug-free version - which is `2.21.1` - and yanked everything in between. At the end of the day, they are all are just a history; there are more than 10 minor releases after that point.

I didn't spend any time on checking older versions because they're q

[2020-08-15 18:45] pksunkara commented on #2076
This has been there since v1.4.0. Do we want to yank all of them? I am not sure why we are giving importance to yanking. What if people prefer an older version of rust?

Also, the usage of clap by versions (atleast from public crates) is [here](https://lib.rs/crates/clap/rev)

[2020-08-15 18:59] CreepySkeleton commented on #2076
I don't mind, go ahead if you want to.

`1.4.0` was released five years ago. If those people are so dead set, they can just put the desired version in `Cargo.lock` manually (and it's probably already there). Yanking doesn't remove the crate from crates.io, it just prevents _new_ crates from depending on it.

Just as expected: the ~90% peak at the latest minor version and the _loong_ low tail of ol

[2020-08-15 19:48] eternaleye commented on #1205
@CreepySkeleton I disagree _specifically_ in the case of `ArgGroup`, though I agree for `Arg`.

I gave a specific use case in my second comment, which is inexpressible with Clap's current behavior, as far as I can tell:

[code]

This is a use case that arose from me trying to re-implement an existing tool in Rust using Clap, and it is (so far as I can tell) an eminently sensible behavior. The issu

[2020-08-15 21:59] CreepySkeleton commented on #1205
Gotcha. And this is exactly why we're introducing `default_missing_value` - use the default if the flag's been passed, but otherwise don't. I think it allows for the use cause you want.

[2020-08-16 00:11] Dylan-DPC commented on #2076
Reopening this because as per how the process goes with similar advisories, the versions have to be yanked

[2020-08-16 07:51] pksunkara commented on #2076
So, should I yank from 1.4.0 onwards?

[2020-08-16 07:57] pksunkara commented on #1822
@intgr I couldn't reproduce this when this issue was created. Do you want to take a look at this?

[2020-08-16 08:01] pksunkara commented on #1640
Can you explain what you mean by this? We have templates, would that solve this?

[2020-08-16 18:05] intgr commented on #1822
This is a bug indeed, the same issue affects zsh built-in `git` completions too, for example:

`git --git-dir . commi<TAB>` should complete to `commit` but doesn't.

A workaround is using `=` in `--arg=` to separate argument value.

This works: `git --git-dir=. commi<TAB>`

I'll have to dig some more in zsh documentation to see if this is can be fixed in clap or if it's a bug in zsh itself.

<deta

[2020-08-16 19:03] intgr commented on #1822
As far as I can tell, clap is annotating the arguments correctly per zsh documentation (http://zsh.sourceforge.net/Doc/Release/Completion-System.html)

From the generated file:
[code]
Documentation:

[code]

----
I looked at git completions and I still don't understand why `--git-dir=.git` works with git completions but `--foo=x` doesn't work with clap's generated file. But in any case the behavio

[2020-08-16 20:07] pksunkara commented on #1822
Thanks for your help @intgr

[2020-08-16 20:29] #1464 closed

[2020-08-17 00:20] casey commented on #1640
Sure, I like to have all my command help messages use the imperative. So I use "Print version number." instead of "Prints version number.".

There are two things I'm having difficulty with:

1. I think currently it isn't possible to change the help text for the automatically generated `help` subcommand. Currently it's "Prints this message or the help of the given subcommand(s)".

2. Since I change

[2020-08-17 03:35] CreepySkeleton commented on #1640
He's basically asking for `App::global_help_message` `App::global_version_message`.

[2020-08-17 03:37] casey commented on #1640
Should I split 1. into a separate issue? I.e. a way to change generated help subcommand message?

[2020-08-17 04:30] CreepySkeleton commented on #1640
Yeah, I think it's different enough.

[2020-08-17 08:17] casey opened #2080 "Allow changing message for generated help subcommand"
It would be nice if it were possible to change the help message for the Clap-provided `help` subcommand. For reference, the current text is "Prints this message or the help of the given subcommand(s)".

Forked from #1640.

[2020-08-17 08:21] pksunkara commented on #1464
@tomjw64 Please follow the redeeming procedure linked above to get the bounty.

[2020-08-17 08:29] pksunkara commented on #1640
To close this:

We need the following 2 api's added to `App` along with tests

* `global_version_about`
* `version_about`

[2020-08-17 08:29] pksunkara commented on #2080
To close this:

We need the following 2 api's added to `App` along with tests

* `global_help_about`
* `help_about`

[2020-08-17 15:24] rivy commented on #1205
@eternaleye , to read up the impetus and semantics of the new `default_missing_value`, see PRs #1468, #1507, #1587.

[2020-08-17 19:32] tomjw64 commented on #1464
@pksunkara If I forgo the bounty, will it be moved to a different issue?

[2020-08-17 19:42] pksunkara commented on #1464
Yes, the bounty will stay in the clap org balance.

[2020-08-17 21:15] CreepySkeleton commented on #2064
Sounds like a lot of effort for minimal benefit. And this is feasible only for the very limited set of builtin types, there's no way to do the checking of user-driven types.

[2020-08-17 21:46] tomjw64 commented on #1464
Okay, I will forgo the bounty then. Thanks for your time :smile:

[2020-08-17 22:34] CreepySkeleton commented on #1640
A few remarks:
* The names must reflect the fact that _the message_ is the thing being adjusted, not anything else.
* The names must mention "subcommand".

I propose `global_version_subcommand_message` and `version_subcommand_message`

[2020-08-17 22:35] CreepySkeleton commented on #2080
A few remarks:

    The names must reflect the fact that the message is the thing being adjusted, not anything else.
    The names must mention "subcommand".

I propose `global_help_subcommand_message` and `help_subcommand_message`.

[2020-08-18 04:32] pksunkara commented on #2080
This also refers to the `about` value of the `help` and `version` args. Not only subcommands, which is the reason for my original name proposal. We have been using `about` for the help message almost everywhere. We shouldn't refer it to as `message`. We have to be consistent.

[2020-08-18 07:35] CreepySkeleton commented on #2076
Yanked, God bless dumb python scripts. Why doesn't cargo have the "yank everything from X.X.X to Y.Y.Y" functionality?

[2020-08-18 07:35] #2076 closed

[2020-08-19 09:49] davidhewitt opened #2083 "Require a value for flag even with default_value"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

Consider this program with clap 3.0 beta:

[code]

Invoking this program with `cargo run -- --batch-size` (without specifying the value) will fail with an intuitive error:

[code]

That's nice :+1:. Now, conside

[2020-08-19 18:49] x10an14 commented on #2083
I'd like to lend my support to this proposal.

I often - both in private and at work - experience this footgun situation when helping others with their scripts:

[2020-08-20 13:45] finga opened #2086 "Problem with `clap::App::author(crate_authors!(", "))` when called from function"
I wanted to tighten up a `main()` function and therefore tried to move the `clapp::App::new(...` to another function in another file but this does not seem to work when using `crate_authors!(", ")`

### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code
#### Working code before moving

[2020-08-20 18:16] #1094 closed

[2020-08-21 01:17] newAM opened #2090 "global_setting(AppSettings::DisableVersion) does not disable autocomplete for subcommands."
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code
This is a modification of the `bash_completion.rs` example in the `clap_generate` workspace.

[code]

### Steps to reproduce the issue

1. Run `cargo run --example bash_completion` (with above modifications)
2. Observe that there

[2020-08-21 01:53] gorup opened #2091 "Add a subcommand alongside existing arguments is impossible using new features?"
I am trying to add an optional subcommand to an existing subcommand that has required arguments. I am having a hard time modeling this using the new `#[derive(clap)]` functionality. You can view my project [on GitHub here](https://github.com/ebbflow-io/ebbflow/blob/master/src/ebbflow.rs).

Maybe I'm just not modeling it correctly, but if I'm not mistaken, it is currently not possible, at least som

[2020-08-21 04:17] CreepySkeleton commented on #2055
Reenergizing the topic!

Sure. But I don't see where `ColoredHelp` comes into play.

---

The possible scenarios:

1. You don't want colors for any of your apps.
2. You want colors for some of your applications (or subcommands), but don't want for others.
3. You want colors for the all apps/subcommands.

Let's imagine we don't have `ColoredHelp`.

1. You can just off the `color` feature.
2. You ca

[2020-08-21 05:10] CreepySkeleton commented on #2086
Lol, this macro doesn't even do the caching _right_. We'll have to use `lazy_static` there.

[2020-08-21 05:42] newAM commented on #2090
I did some triage on this.

`clap_generate/src/generators/mod.rs` uses this block to determine if the version is visible for a sub-command.
[code]

The expectation of that code is that `subapp.is_set(AppSettings::DisableVersion)` will be `true` when a parent `App` sets it as a global option.  This expectation does not hold true; sub-command global settings do not inherit from the parent.

I tried

[2020-08-21 06:57] CreepySkeleton commented on #2090
I think the correct place is `fn _propagate`.

And you should use OR (`|=`) instead of `=`.

[2020-08-22 19:34] jzrake opened #2097 "Error trait not implemented for clap::Error"
### Description
Function should return a result with a generic error, `Result<(), Box<dyn std::error::Error>>`. Even though Clap seems to implement the `std::error::Error` trait, the following fails to compile:

### Code

[code]

Compiling fails with:
[code]

### Version

* **Rust**: 1.45.2
* **Clap**: 3.0.0-beta.1

[2020-08-22 20:09] newAM opened #2098 "clap_generate panics for ZSH with nested subcommands"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

This appears to be similar to #2009, but I think the root cause of this issue is different.

### Code
This is a modification of the `bash_completion.rs` example in the `clap_generate` workspace.

[code]

### Steps to reproduce the issue

1

[2020-08-22 20:22] RAR27 opened #2099 "Unexpected behaviour with missing args using required_unless"
### Make sure you completed the following tasks

- [ x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [ x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run` with no options specified, when multiple options are required.

### Version

* **Rust**: 1.44.1
* **Clap**: 3.0.0-beta.1

### Actual Behavior Summary

When it is run

[2020-08-23 17:01] rgreinho opened #2101 "[clap 3.0.0-beta.1] [derive] Hide sensitive environment variables"
### Make sure you completed the following tasks

- [X] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Describe your use case

I would like to use sensitive information from environment variables and have them being hidden from the CLI help. In my case I would like to hide my GitHub token.

I found the feature I wanted in clap 2 with [A

[2020-08-23 17:39] CreepySkeleton commented on #2101
Wait a minute, I see it! It's right there! Unless I'm having hallucinations - but this is unlikely because I'm out of crack - you should be able to just use it, can't you? Or are you reporting it fails to work?

[2020-08-23 18:44] rgreinho commented on #2101
Then maybe an example with derive? I tried a few combinations, like this:

[code]

but I was not able to get it to work.

[2020-08-23 19:46] newAM commented on #2101
This should work:
[code]

[2020-08-23 23:03] rgreinho commented on #2101
That worked! Thank you very much!

I solved my problem number 2 ("I don't want the `--token`  to appear as mandatory on the CLI, because it is backed by an environment variable"), by combining it with the `ensure!()` macro from `anyhow:

[code]

Is there a more clap-like approach to achieve this?

[2020-08-24 06:34] pksunkara commented on #2101
[validators](https://github.com/clap-rs/clap/blob/2df656c98d094947075a56d62689ea2c623930e5/tests/validators.rs#L10) are made for this scenario.

I am moving this to discussion.

[2020-08-24 06:35] #2101 closed

[2020-08-24 06:40] pksunkara commented on #2083
@CreepySkeleton Can you please take a look at this?

[2020-08-24 06:45] #2090 closed

[2020-08-24 07:33] #2098 closed

[2020-08-24 16:57] knidarkness commented on #2040
I'm using `clap` for couple of my projects and really liked it so far. So, @pksunkara if you don't mind I could handle this.

[2020-08-24 17:00] pksunkara commented on #2040
You are welcome to go ahead.

[2020-08-25 04:00] jared-mackey opened #2108 "#![deny(missing_docs)] incompatible with #[clap(flatten)]"
### Code

[code]

### Steps to reproduce the issue

1. Run `cargo build`
2. ???
3. PROFIT!!!

### Version

* **Rust**: rustc 1.47.0-nightly (de521cbb3 2020-08-21)

* **Clap**: "3.0.0-beta.1"

### Actual Behavior Summary

When compiling with a doc on the flattened `thing: ThingConfig`

[code]

When compiling without it (since I can't)

[code]

### Expected Behavior Summary

Flattened options should

[2020-08-25 04:41] pickfire commented on #2055
How about the derive support for colors? It could still be somewhat related. From `cargo-expand`

https://github.com/dtolnay/cargo-expand/blob/9ee9cd3fc4d2e8a472f113894a09979ae8fc3358/src/opts.rs#L89-L91

https://github.com/dtolnay/cargo-expand/blob/9ee9cd3fc4d2e8a472f113894a09979ae8fc3358/src/opts.rs#L122-L154

[2020-08-25 07:19] CreepySkeleton commented on #2108
I have recently fixed this in structopt but forgot to port the fix here. Will do ASAP

[2020-08-25 13:58] #2040 closed

[2020-08-26 07:36] #2108 closed

[2020-08-26 15:59] lopopolo commented on #1365
A potential reason to "reimplement the wheel" is that `indexmap` depends on `hashbrown` which is duplicative of the `HashMap` in `std`.

[2020-08-26 16:11] CreepySkeleton commented on #1365
_This_ is a good point, thank you. I will get rid of it, but it won't shrink the size very much (`30 Kb` at best).

Incidentally, I've discovered the true reason clap looks so bloaty. I'll follow up with an elaborative commentary a bit later, but for now, spoiler: how many of clap's features you think you really use?

[2020-08-27 08:28] pksunkara commented on #2055
You are missing the scenario where the users wants colors for error messages but no colors for help message. This is why we have 3 controls.

[2020-08-27 08:31] pksunkara commented on #2080
Yeah, but we are calling the description of args/apps as `about` which is why I was proposing `_about`. Whatever we come up with should work with `version` too.

`help_SUFFIX`
`global_help_SUFFIX`
`version_SUFFIX`
`global_version_SUFFIX`

And we can't name it `help` because `help` is about the help arg/subcommand.

[2020-08-27 10:49] CreepySkeleton commented on #2055
Does... anybody do that, really? I mean, intentionally, not because they forgot to enable `ColoredHelp`.

[2020-08-27 10:53] CreepySkeleton commented on #2055
This is actually the reason why I'm so insistent on this issue:

The current system is too easy to misuse.

[2020-08-27 12:23] pksunkara commented on #2055
Yes, I do this in one the CLI tools I develop and use, https://github.com/termapps/enquirer.

Regarding making `ColoredHelp` default switched on, as I said before, I think colors in error but not in help messages is a sensible default

[2020-08-27 16:34] pickfire commented on #2055
I have an idea for a middle ground between normal users and more advanced users.

- `Color(Auto|Always|Never)` covers all colors, including help and errors which I think is what most people wanted
- `ColoredError(Auto|Always|Never)` covers only error message but not help which @pksunkara wanted
- `ColoredHelp(Auto|Always|Never)` covers only help message but not error which is the current default @

[2020-08-27 17:11] pksunkara commented on #2055
It already works like that.

And damn, you just converted 3 control flags which can be used together into 9 flags which are exclusive. That's not a good user experience. Let's not go into a tangent and focus on the discussion here.

I think what @CreepySkeleton is proposing is that we convert `ColoredHelp` setting to `DisableColoredHelp` setting. I am okay with that, but I think help not being col

[2020-08-27 20:35] pksunkara commented on #2091
Can you show us the code for this? It should be what you wanted.

[2020-08-27 20:35] #2091 closed

[2020-08-28 04:09] pksunkara commented on #2022
Equivalent code is:

[code]

That is not failing though. Looks like a bug in derive specifically.

[2020-08-28 17:39] #1968 closed

[2020-08-29 08:49] #2097 closed

[2020-08-29 14:06] CreepySkeleton commented on #2097
It really shouldn't. As long as the Err type implements `std:;error::Error`, the snippet above should compile just fine (and it does). @jzrake I'm curious what led you to think that the return type should be necessarily boxed?

[2020-08-29 14:11] jzrake commented on #2097
Right, good question. I had a function that could fail with a different category of error, in addition to a Clap error. I intended to handle this by erasing the error type. However I am new to Rust -- is there is a more idiomatic way to solve that situation?

[2020-08-29 14:18] pksunkara commented on #2097
You should look into crates called thiserror and anyhow. Also read some
blog articles about these crates and how they are used.

On Sat, Aug 29, 2020, 16:11 jzrake <notifications@github.com> wrote:

[2020-08-29 15:58] CreepySkeleton commented on #2097
I recommend [this arcticle](http://www.sheshbabu.com/posts/rust-error-handling/) for a beginner. The "Applications vs Libraries" section explains why exactly we have a custom error type, not `Box`.

[2020-08-29 20:25] AndreKR opened #2119 "DeriveDisplayOrder does not affect usage line"
### Code

[code]

### Steps to reproduce the issue

Run the program above.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e9042ba2f5c3054bcab5d7390d4a5a24)

### Version

* **Rust**: 1.46.0
* **Clap**: (I don't know how to find out on the playground.)

### Actual Behavior Summary

[code]

### Expected Behavior Summary

I would expect the option to be in d

[2020-08-30 07:06] pksunkara commented on #2119
This is fixed on master recently.

[2020-08-30 07:06] #2119 closed

[2020-08-31 05:57] enterprisey opened #2121 "Required groups don't use value_name in usage"
### Code

[code]

### Steps to reproduce the issue

 1. `cargo run -- --help`

### Version

* **Rust**: rustc 1.44.0 (49cae5576 2020-06-01)
* **Clap**: 2.33.3

### Actual Behavior Summary

`prog <a>` is printed for the usage string.

### Expected Behavior Summary

`prog <A>` is printed for the usage string.

### Additional context

See also #1292, perhaps?

### Debug output

Compile clap with `deb

[2020-09-01 02:35] Byron commented on #1365
To me 30kb (despite at best), look like a significant decrease given that clap usually adds 300kb to the binary. Thus I would certainly be looking forward to this. Also I wonder how that would affect compile times - maybe code size does not linearly correspond to compile times, so 'these' 30kb might take longer to produce than 'other' 30kb elsewhere.

In any case I will be looking forward to the m

[2020-09-01 18:51] ducaale opened #2122 "Optional positional arguments that get skipped if corresponding validation fails"
### Describe your use case

I am trying re-implement [HTTPie](https://httpie.org/) cli using clap-rs/structopt. I would like to have something like this

[code]

where `METHOD` is an optional positional arg enum with a default value

### Describe the solution you'd like

It would be good if clap-rs allowed multiple optional positional arguments that get filled with a default value whenever the cor

[2020-09-05 14:32] grm opened #2124 "required_unless not working with yaml"
### Make sure you completed the following tasks

- [X] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Actual Behavior Summary

I cannot make required_unless work with a yaml function !

Here is an extract f the yaml used:
[code]

When i execute my program, here is the output i obtain :
[code]

I am not sur I am using the *required_unle

[2020-09-06 14:40] melocene opened #2125 "Excess whitespace in help when using default and possible values"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo build`
2. Execute compiled binary with the `-h` or `--help` flags to print the help text

### Version

* **Rust**: `rustc 1.46.0 (04488afe3 2020-08-24)`
* **Clap**: `3.0.0-b

[2020-09-06 17:12] pksunkara commented on #2125
This has been fixed in master branch.

[2020-09-06 17:12] #2125 closed

[2020-09-08 03:48] Wtoll commented on #1474
I second this being a necessary addition. I'm trying to write an extension to cargo (cargo-extension binary name as an example), and in order to have the usage information make sense, the bin name has to be set to "cargo extension", but then that forces the name in the version write out to be "cargo-extension" which is not very descriptive or helpful.

Considering cargo itself uses clap I think it

[2020-09-08 05:31] azzamsa opened #2126 "Examples don't work"
### Clap version

[dependencies]
clap = "3.0.0-beta.1"

### Where

https://github.com/clap-rs/clap/blob/v2.33.1/examples/04_using_matches.rs

### What's wrong

[code]

[2020-09-08 05:33] azzamsa commented on #2126
solved by changing double quotes to *single-quotes*.

Should I make a PR?

[2020-09-08 15:32] CreepySkeleton commented on #2126
You're trying to compile `2.x` examples with `3.x` version and you're failing. Water is wet.

[2020-09-08 15:32] #2126 closed

[2020-09-08 17:54] melocene commented on #2125
I didn't see this soon enough, but it does look like it is fixed on `master`. Output below using the `master` branch in my `Cargo.toml`.

[code]

[2020-09-10 17:17] nicolaiunrein opened #2128 "Provide possibility to overwrite version"
### Rust Version
rustc 1.46.0

### Affected Version of clap
3.0.0-beta.1

### Expected Behavior Summary
Provide possibility to overwrite how the `--version` argument is handled.

### Actual Behavior Summary
Clap prints version prefixed with binary name even if I specify `version` as an argument and handle it myself.

### Steps to Reproduce the issue
Run the example

### Sample Code or Link to Samp

[2020-09-10 17:18] nicolaiunrein opened #2129 "Provide possibility to overwrite version"
### Rust Version
rustc 1.46.0

### Affected Version of clap
3.0.0-beta.1

### Expected Behavior Summary
Provide possibility to overwrite how the `--version` argument is handled.

### Actual Behavior Summary
Clap prints version prefixed with binary name even if I specify `version` as an argument and handle it myself.

### Steps to Reproduce the issue
Run the example

### Sample Code or Link to Samp

[2020-09-10 17:20] pksunkara commented on #2128
Duplicate of #2129

[2020-09-10 17:20] #2128 closed

[2020-09-10 17:20] #2129 closed

[2020-09-12 15:49] newAM opened #2130 "AppSettings::ColoredHelp does not color Usage heading."
### Code

[code]

### Steps to reproduce the issue

1. Put the above code into `examples/debug.rs`
2. Run `cargo run --example debug -- --help`
3. Observe the `Usage:` heading is not colored, but the `Flags:` heading is colored yellow.

### Version

* **Rust**: `rustc 1.46.0 (04488afe3 2020-08-24)`
* **Clap**:  3e9ee86713b5c407b50ba76f30cffaed25952063 (master)

### Actual Behavior Summary

![image

[2020-09-12 16:03] newAM commented on #2130
Found the commit that introduced this change: 4545a47ff61b91d9a23ee2366b102af7aa2eecbc

[2020-09-12 18:28] #2130 closed

[2020-09-13 10:17] LordMZTE commented on #1586
any progress on this?

[2020-09-14 07:48] Nukesor commented on #1596
`'` also breaks completion when using subcommands, which uses `"` for strings).

[2020-09-15 09:26] CreepySkeleton commented on #572
Well, I think the " be able to pass context to the validator function." is solved now.

[2020-09-15 09:26] #572 closed

[2020-09-15 10:57] CreepySkeleton commented on #1427
Can we first get on board with the precise list of escape characters we want to detect? Does it mean "any unprintable character" or just something like [this list](https://en.wikipedia.org/wiki/Escape_character#JavaScript)?

[2020-09-15 11:00] CreepySkeleton commented on #1427
I'm leaning very heavily to "just a small list of common ASCII escapes". I don't want to wander into unicode depths, and I doubt anyone wants it anyway.

[2020-09-15 19:25] intgr commented on #1037
Any chance for another beta release, even if all "beta blockers" aren't fixed yet? I've been waiting to take advantage of #1793 in my pet project. :)

[2020-09-16 07:22] CreepySkeleton commented on #1037
I have no problems with that. @pksunkara what do you think?

[2020-09-16 07:29] pksunkara commented on #1037
I would prefer to finish off fixing the `multiple` issue and then doing the beta.

[2020-09-16 12:15] CreepySkeleton commented on #1037
This `multiple` thing is not going to happen this week. My free time is severely limited at the moment, and the first thing I'm about to start working on is globals (I promised it back in May, dammit) and empty values (almost finished and been brewing for two months).

The only reason not to release a beta I can think of is - if we wanted to discourage people form depending on unfinished, work-in-

[2020-09-16 12:31] pksunkara commented on #1037
Okay I will do the beta release tonight.

[2020-09-16 12:33] Dylan-DPC commented on #1037
Those forks were 6 months back and they might have been plenty of unreleased ones which we may never heard off and this is a common thing in the open source world for people to maintain open source forks in private repositories / company domains because it's more "reliable".

I don't mind having beta releases, but you need to ask the question at what cost? if it's just to test random unrelated fix

[2020-09-16 15:38] chris13524 commented on #1575
@CreepySkeleton could you expand on how this is becoming irrelevant?

[2020-09-16 17:17] CreepySkeleton commented on #1575
The methods have been moved to traits. Visibility doesn't apply to trait methods - they are always public.

[2020-09-18 06:43] cmcqueen commented on #1946
At minimum, the quick links at the top of every page should link to:

* This repository
* [Documentation](https://docs.rs/clap/2.33.3/clap/)
* [The crate on crates.io](https://crates.io/crates/clap)

[2020-09-18 07:01] CreepySkeleton commented on #1946
If somebody wants to volunteer on working on redesigning clap.rs website, I think nobody here would object to that. We also need to involve Kevin, I think.

[2020-09-18 07:03] pksunkara commented on #1946
I have a working multilingual zola website template we can use for clap.rs. Once we deploy to GitHub pages, we can point the domain to there.

[2020-09-18 16:26] Walther commented on #1846
Any updates on workarounds for this?

Tried the method listed in the first message here

[code]

and getting

[code]

[2020-09-18 16:32] Walther commented on #1846
Aha, figured it out, it just needs to be
[code]
instead of `from_args` :D

[2020-09-18 18:14] CreepySkeleton commented on #1321
OK, finally found some time to get back to it.

The patient:

[code]

I set WSL (Windows subsystem for linux) and went strait for the big gun - valgrind.

[code]

Clean and tidy.

MemorySanitizer, what do you have to say?

[code]

So the `bitflags`' build script is misbehaving, but how? [They don't use unsafe or anything outside of std](https://github.com/bitflags/bitflags/blob/1.2.1/build.rs). Fi

[2020-09-22 16:34] Lucretiel commented on #1660
Oh, why was `paw` removed? `paw` was one of my favorite feature additions to `structopt`, for basically the same reason that `structopt` one of my favorite feature additions to `clap`, since it makes argument parsing *fully* declarative.

[2020-09-22 19:59] CreepySkeleton commented on #1660
`paw` is downright useless. Let's just compare it with raw clap:
[code]
[code]

Identical behavior, two lines difference per program. Is it even worth to talk about? IMO it definitely didn't worth [the fuss it caused in structopt](https://github.com/TeXitoi/structopt/issues/407).

This "fully declarative" argument is meaningless unless you specify your definition of "fully declarative". I think I

[2020-09-22 20:06] Dylan-DPC commented on #1660
@CreepySkeleton is there a good reason to demean other repositories? this is against the Code of Conduct of Clap and the CLI-WG organisation.

[2020-09-22 20:07] pksunkara commented on #1660
@Lucretiel I am afraid that I don't understand this part.

Can you please explain what it means and why clap is lacking it?

[2020-09-22 20:20] Lucretiel commented on #1660
The idea is that a derive macro replaces a "imperative" definition of your parameter set (via the macro or App builder methods) with a "declarative" definition (a struct definition). `paw` extends this pattern to the acquisition of these arguments by replacing the "imperative" invocation (`get_matches`) with a "declarative one" (function signature). It has the added (admittedly minor) benefit of c

[2020-09-22 20:23] Lucretiel commented on #1660
With respect, your [comment](https://github.com/clap-rs/clap/issues/1660#issuecomment-582815328) was explicitly inviting discussion on this topic.

[2020-09-22 20:43] pksunkara commented on #1660
Ah, understood now. I think the question of adding `paw` falls into bikeshedding category (since it changes one line in the whole code) and I personally would want more people to request it before adding support for it with a feature gate.

[2020-09-22 23:10] CreepySkeleton commented on #1660
@Dylan-DPC I don't think you can classify it as a breach of CoC. I was careful to criticize code. not people; I wish the best of luck to the authors of `paw` in their endeavor. When criticizing the code, I made sure to explain why I find it useless (identical behavior, one line difference). I don't think that advocating for not using a crate is a CoC breach if you explained your reasoning. I reali

[2020-09-25 09:40] #1427 closed

[2020-09-26 07:06] pksunkara commented on #1978
This has been fixed by #2114

[2020-09-26 07:06] #1978 closed

[2020-09-26 07:20] #1640 closed

[2020-09-26 07:20] #2080 closed

[2020-09-27 20:50] pksunkara commented on #1037
@kbknapp Can you explain the below a bit?

It is the only thing I don't understand from the main post.

[2020-09-27 22:50] jfishe opened #2145 "clap_generate PowerShell script does not complete case sensitive options like -S. Only completes -s"
### Make sure you completed the following tasks

- [X] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Code

https://github.com/clap-rs/clap/blob/3e9ee86713b5c407b50ba76f30cffaed25952063/clap_generate/src/generators/shells/powershell.rs

### Steps to reproduce the issue

N/A

### Version

name = "clap"
version = "2.33.1"
source = "regis

[2020-09-28 00:41] kbknapp commented on #1037
There are some AppSettings which don't make sense in a non global context, meaning using for only a single subcommand doesn't make sense. GlobalVersion is one example, but there are several. These settings were designed with the whole application in mind. The intent behind that phrase you quoted was to move away from AppSettings which only make sense in a global context and instead use variations

[2020-09-29 02:01] jabedude commented on #1598
Is there any chance to reopen this? I'm interested in replicating `dd`'s option syntax (e.g. `dd if=/dev/urandom of=/dev/sda bs=4k`) with clap.

[2020-09-29 08:24] pksunkara commented on #1598
Interest is noted. And I concur that it would be a valid use case. But I would still want to wait for more interest.

[2020-10-01 17:38] piegamesde opened #2147 "Be able to print help after argument parsing"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I have an app with a few "public" subcommands, but I also set `.setting(AppSettings::AllowExternalSubcommands)` to allow more free style input. After parsing the arguments, I first check against all the register

[2020-10-01 17:42] pksunkara commented on #2147
https://docs.rs/clap/3.0.0-beta.2/clap/struct.App.html#method.get_matches_mut

[2020-10-01 17:42] #2147 closed

[2020-10-01 17:46] piegamesde commented on #2147
Neat, thanks

[2020-10-03 12:02] brmmm3 opened #2148 "Add inverse for required_unless"
clap provides `required_if` and `required_unless`. The first argument requires a value for comparison. The second one has exactly the opposite behavior what I need. I would like to have something like:

[code]

Please note the "!" before the `required_unless`.
Currently I've solved the missing feature with some lines of code in Rust, but I think it would be helpful for several projects to have the

[2020-10-03 12:05] pksunkara commented on #2148
Can you explain a bit more on what exactly you are trying to achieve with `!required_unless(foo)`?

Would you say that `bar` needs to be present if `foo` is not present?

[2020-10-03 12:06] brmmm3 commented on #2148
I would like to have the following behavior:
`bar` needs to be present if `foo` is present.

[2020-10-03 12:07] pksunkara commented on #2148
You can do `requires("bar")` on `foo` with https://docs.rs/clap/3.0.0-beta.2/clap/struct.Arg.html#method.requires

[2020-10-03 12:07] #2148 closed

[2020-10-03 12:15] brmmm3 commented on #2148
Oh thanks. That would solve one of my issues. But what about the following usecase:

[code]

`foo` is only required if either `bar1` and/or `bar2` is present. Your solution would not work here, because `requires("bar1", "bar2")` would make both, `bar1` and `bar2`, mandatory.

As an example:
I've got an optional option which enables a grep feature. 2 further optional options, `before` and `after`,

[2020-10-03 12:20] pksunkara commented on #2148
You can put `bar1` and `bar2` in an [ArgGroup](https://docs.rs/clap/3.0.0-beta.2/clap/struct.ArgGroup.html) called `bar` and then do `requires("bar")` on `foo`.

Please go through the examples and documentation. Almost every argument relationship is supported.

[2020-10-04 18:26] d-e-s-o opened #2150 "Consider accepting a Cow instead of Into<&'b str> in App::about"
I find the signature of methods like [`App::about`](https://docs.rs/clap-v3/3.0.0-beta.1/clap_v3/struct.App.html#method.about) not super useful. It's probably fine when doing everything statically, because you could easily make sure that the string provided outlives the `App` object (because most of the time you have a 'static string anyway as everything is defined statically in the code). But con

[2020-10-05 10:38] Nemo157 opened #2151 "Provide access to the original error for `ValueValidation` errors"
### Describe your use case

I have a `FromStr` implementation that returns a chained error providing more context when decoding an argument fails. When this error is returned `clap` (using v3's `derive` and `Clap::try_parse`) serializes _just_ the outer context into a string and attaches that to the `ValueValidation` error returned, removing the more important information contained inside the inne

[2020-10-05 13:33] TeXitoi commented on #2151
For me, the solution is to change the Display implementation or your OuterError to what you want.

[2020-10-05 13:47] Nemo157 commented on #2151
That would be against the modern error handling standards where an error should only print its own details and rely on an error reporting implementation (such as `anyhow` or `eyre`) to chain on the context when the error is being shown to a user.

[2020-10-05 15:12] TeXitoi commented on #2151
Then, returns a anyhow::Result in FronStr, and if that's still not good, use a custom validator/parser that returns the kind of error you want. I don't think that's clap work to do complicated error formating.

[2020-10-05 15:23] Nemo157 commented on #2151
I do return an `anyhow::Result` in my real code, but that obeys the error standards and doesn't print the `source` in its `Display` impl either (it only prints the source-chain when actually printing to the user).

That's precisely why I believe `clap` should give access to the entire error structure, so that other code can perform complicated error formatting using all the details available to it

[2020-10-05 15:29] Nemo157 commented on #2151
Quickly looking into what would be necessary to implement this, there would need to be at least one breaking change of changing `Arg::validator` to require `E: Error + Send + Sync` instead of `E: ToString` (I'm not sure whether `validator_os` would change as well, it seems odd that it requires a `String` error currently).

[2020-10-05 15:30] pksunkara commented on #2151
I tagged this as 3.0 in case we want to decide on changing the API before release.

[2020-10-05 16:01] Nemo157 commented on #2151
If you want I can prepare a PR with this change to look at, I just quickly hacked it in to test the behaviour and it works well with both `anyhow` and `color-eyre` error reporting.

[2020-10-05 16:10] pksunkara commented on #2151
Sounds good

[2020-10-06 01:00] ldm0 commented on #2150
Related: <https://github.com/clap-rs/clap/pull/1728>

[2020-10-06 01:09] ldm0 commented on #1943
Related: <https://github.com/clap-rs/clap/issues/1744>

[2020-10-06 07:02] spamwax opened #2153 "Enforcing optional ArgGroup to be followed by Required"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

This request is a follow up to a question on [discussions board](https://github.com/clap-rs/clap/discussions/1782).

Let's say an app takes an optional argument `type` followed by a required "file"
Naturally, I

[2020-10-08 17:24] thiagoarrais commented on #2124
I have tried to reproduce this but couldn't. What version are you using, @grm?

I have made a `cli.yaml` based on your example and created a simple program that simply outputs if the `stack` flag was used. Here's what I get when using `v2.33.3` (latest in v2 series AFAIK):

[code]

And here's what I get with both the current main branch tip (9163374) and `v3.0.0-beta.2`

[code]

But this can be fi

[2020-10-09 16:34] pksunkara commented on #2153
You can ask `type` flag to take 2 values and have a validator

[2020-10-09 16:34] #2153 closed

[2020-10-09 16:35] pksunkara commented on #2151
@Nemo157 Any update with the PR?

[2020-10-09 16:36] pksunkara commented on #2124
Thanks for looking into this @thiagoarrais.

@grm I am closing this for now and please comment with a clear failing example if you want me to open this.

[2020-10-09 16:36] #2124 closed

[2020-10-09 17:21] #1744 closed

[2020-10-09 17:21] #1943 closed

[2020-10-09 17:33] pksunkara commented on #1184
To solve this, we would either need to add a `global_help_template` function that would forward the template to children ([example](https://github.com/clap-rs/clap/pull/2143/files#diff-7ae8c41c3ed7d1c77421d580c63754fcR2296-R2301)) or we could add a setting called `PropagateTemplate` which does the same.

[2020-10-09 17:34] CertainLach commented on #2022
It isn't derive failure, cargo expand shows this as only difference
[code]

[2020-10-09 17:37] pksunkara commented on #2022
@CertainLach What do you mean? Does the example you gave in the first post doesn't fail anymore? Or do you mean that the line `#[clap(help_heading = "HEAD")]` is the one causing failure because the code passes if we remove the line?

[2020-10-09 17:40] CertainLach commented on #2022
Code still panics in expanded form:
[code]
And works fine if i remove `.help_heading("HEAD")` call in them

[2020-10-09 17:43] pksunkara commented on #2022
Yeah, it means we have a bug in derive because the code shouldn't be expanded like that so that it panics.

[2020-10-09 17:58] CertainLach commented on #2022
Well, i was able to reduce this to

[code]

[2020-10-09 18:00] pksunkara commented on #2022
Can you try to remove stuff from the first test to get a minimal issue?

[2020-10-09 19:29] #1284 closed

[2020-10-09 20:31] #1923 closed

[2020-10-09 23:33] pksunkara commented on #1923
@ldm0 You can submit the bounty on issuehunt and redeem it.

[2020-10-10 15:18] pksunkara opened #2164 "Candidates for renaming before v3"
- AppSettings
  - [ ] [ArgsNegateSubcommands](https://docs.rs/clap/3.0.0-beta.2/clap/enum.AppSettings.html#variant.ArgsNegateSubcommands) -> ?
  - [x] [GlobalVersion](https://docs.rs/clap/3.0.0-beta.2/clap/enum.AppSettings.html#variant.GlobalVersion) -> PropagateVersion
  - [ ] [HelpRequired](https://docs.rs/clap/3.0.0-beta.2/clap/enum.AppSettings.html#variant.HelpRequired) -> RequireHelp
  - [ ]

[2020-10-10 18:58] pksunkara commented on #2021
@ldm0 Would you like to take this next?

[2020-10-10 19:02] ldm0 commented on #2021
No problem.

[2020-10-10 19:16] #2059 closed

[2020-10-10 19:18] pksunkara commented on #1607
I think https://docs.rs/clap/3.0.0-beta.2/clap/enum.AppSettings.html#variant.SubcommandsNegateReqs will solve this issue

[2020-10-10 19:38] SirJosh3917 commented on #1350
I also have a usecase - I'd like to create an app which, upon running a command with `--help` (such as `myprogram do thing --help`) would provide information about what would happen when it "does thing" (sort of like a --dry-run argument)

[2020-10-10 19:41] pksunkara commented on #1350
@SirJosh3917 I don't think your use case fits here. And it is actually achievable with the current master by using the app setting `DisableHelpFlags`.

[2020-10-10 19:54] SirJosh3917 commented on #1350
@pksunkara In a scenario where my app can't provide any information (i.e. the user runs `myprogram --help`), I'd like to print to the user the help that would clap would normally print, which is where this issue would solve that - by allowing me to print the current help. Sorry if my use-case was unclear, and thank you for pointing me towards the desired app setting!

[2020-10-10 20:16] pksunkara commented on #1350
I still don't understand it. Can you please create a discussion with mock details and expected behavior?

[2020-10-11 00:27] SirJosh3917 commented on #1350
Here's a mockup of some pseudo program:

[code]

As you can see, the situation for when help is displayed varies wildly. Ideally, given an `&App` or `&SubCommand`, to turn that into a `&str` that can then be used by users of the clap library to do what they wish with. For my specific usecase, it would be nice if there was an easy way to check if `--help` was supplied for a given `ArgMatches`.

[2020-10-11 03:05] aspenluxxxy opened #2167 "Panic on subcommand without -h"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run -- auth`
2. Panic

### Version

* **Rust**: `rustc 1.47.0 (18bf6b4f0 2020-10-07)`
* **Clap**: `3.0.0-beta.2`

### Actual Behavior Summary

Running `cargo run -- auth` ca

[2020-10-11 05:35] ldm0 commented on #2021
The `HelpDisplayed` is currently named as `DisplayHelp`. Removing `MissingArgumentOrSubcommand ` and having it use stderr wouldn be strange, since calling `app --help` will emits help information in stderr.

Also, the `MissingArgumentOrSubcommand` is already using stderr. I guess after the `HelpDisplayed` renaming(which is already done), there is nothing left to do?

[2020-10-11 06:32] pksunkara commented on #2021
We need to resolve these 2 issues. Let's create a new error `DisplayHelpOnMissingArgumentOrSubcommand` and return it if `ArgRequiredElseHelp` or `SubcommandRequiredElseHelp` is set and they are triggered. Also, let's output only this error to stdout.

[2020-10-11 06:43] pksunkara commented on #2167
Minimal reproducible example:

[code]

[2020-10-11 06:47] pksunkara commented on #2083
We have `default_missing_value` for this.

[code]

[2020-10-11 06:48] #2083 closed

[2020-10-11 06:53] pksunkara commented on #1350
@SirJosh3917 Here you can just print the help of the subcommand using `print_help` unlike what the original request is asking about.

[2020-10-11 08:44] #2021 closed

[2020-10-11 09:27] #2022 closed

[2020-10-12 12:26] Nemo157 commented on #2151
Sorry, I [prepared the change](https://github.com/clap-rs/clap/compare/master...Nemo157:error-source) and got it passing tests, but I don't remember if there was anything else I needed to check before opening a PR, I'll try to get it open tonight.

[2020-10-13 07:09] pksunkara opened #2170 "Regression in wrapping help"
When you have a small terminal width, your code has `wrap_help` feature enabled, and you have args of which some have `about` very small so that the arg can fit in the terminal width and other args whose `about` is big such that they would be wrapped, we get the following:

### Actual Behavior Summary

[code]

### Expected Behavior Summary

The display should be consistent.

[code]

### Additional

[2020-10-13 07:10] pksunkara commented on #2170
@ldm0 Would you like to take this? Should be easy enough.

[2020-10-13 08:46] ldm0 commented on #2170
No problem.

[2020-10-13 10:53] ssokolow opened #2171 "AllArgsOverrideSelf fails to take effect in certain patterns of arguments"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run` for the reproducer script

### Version

* **Rust**: `rustc 1.47.0 (18bf6b4f0 2020-10-07)`
* **Clap**: 2.33.3

### Actual Behavior Summary

[code]

I tripped over this w

[2020-10-14 05:49] pksunkara commented on #1545
With the `default_missing_value` support we added recently, I agree with the proposed behaviour.

[2020-10-14 06:06] #2151 closed

[2020-10-14 21:20] #1545 closed

[2020-10-16 03:06] wfxr commented on #878
I also encountered the same problem. As reported in https://github.com/wfxr/code-minimap/issues/6:

[code]

Add `--` not works:

[code]

I tried to build app with `AppSettings::ArgsNegateSubcommands` but it still doesn't seem to work.

Is there any way to solve the problem without disable `suggestion` feature for now? Or this will be fixed in the future?

[2020-10-18 12:09] CastilloDel commented on #1330
I would be interested in solving this. I've looking at the code and I've thought of two solutions:
- Introduce assertions in the index, long and short methods from the Arg class(and other methods if needed)
- Add a function to the App class that gets called before _do_parse and that iterates over the Args looking for incongruities like this one.

The first one seems simpler to me and it makes more

[2020-10-18 12:15] pksunkara commented on #1330
We already have a place for it, https://github.com/clap-rs/clap/blob/1519ec81f79ad6f0ff1c94bf6a9af1c84e1a943f/src/build/arg/mod.rs#L4346

[2020-10-18 12:43] CastilloDel commented on #1330
I thought this should work outside the debug config. Glad I asked, ty!

[2020-10-18 22:08] #1330 closed

[2020-10-19 19:54] CastilloDel commented on #1463
I have been looking and I think the original problem presented by @EliSnow can be solved by adding a disabled_help_subcmd: bool parameter to the unrecognized_subcommand function. If I don't find a problem I will make a pull request for this.

On the other hand the problem described by @crapStone could also be solved with an extra parameter to the error functions(seems a little verbose but I can't

[2020-10-20 23:44] adragott opened #2180 "Argument names must be unique, but '' is in use by more than one argument or group'"
### Code

The project is getting pretty big at this point so I'm just going to link the repo. Please excuse my awful code =(
https://git.epenguin.net/ePenguin/ePenguin-Igloo

### Steps to reproduce the issue

1. Run "cargo run new"
2. Get error
[code]

### Version

* **Rust**: rustc 1.45.0 (5c1f21c3b 2020-07-13)
* **Clap**: clap 3.0.0-beta.1

### Actual Behavior Summary

There isn't a whole lot of

[2020-10-21 04:59] adragott commented on #2180
Update:  This doesn't happen when running with the --release flag. I don't know why that would be.

[2020-10-21 05:24] adragott commented on #2180
Solved by switching from beta1 to beta2.

[2020-10-21 05:24] #2180 closed

[2020-10-21 14:54] Ch00k commented on #2031
`multiple_occurences(true).takes_value(true)` does not work for me in 3.0.0-beta2: `Found argument 'foo' which wasn't expected, or isn't valid in this context`

[2020-10-22 13:42] zetok commented on #1472
This is still not fixed in clap v2.33.3, and going by the tags assigned to this issue it should have been. Reopen?

[2020-10-22 16:59] pksunkara commented on #1472
It's fixed in master which will be released as v3

[2020-10-22 17:07] zetok commented on #1472
The 3.0 milestone has an awfully long list open issues attached, and no due date set. Combined with how long it has been open, it seems really unlikely to be released anytime soon. Based on the amount of open attached issues, I'd say that it would take months if not years until it gets released.

In meanwhile, the latest stable release of clap will continue to have this bug.

So the question here

[2020-10-22 18:00] pksunkara commented on #1472
We have pre releases for v3 out. The v2 is effectively frozen unless it's a security patch.

[2020-10-22 23:08] newAM opened #2181 "clap_derive does not respect name attribute for enums"
### Code

[code]

Full repository here: https://github.com/newAM/clap-issue

### Steps to reproduce the issue

1. `git clone git@github.com:newAM/clap-issue.git`
2. `cd clap-issue`
3. `cargo run -- -V`

### Version

* **Rust**: `rustc 1.47.0 (18bf6b4f0 2020-10-07)`
* **Clap**: fad3d9632ebde36004455084df2c9052afe40855 (`master`)

### Actual Behavior Summary

[code]

### Expected Behavior Summary

I

[2020-10-24 12:18] #1205 closed

[2020-10-25 18:43] ClementNerma commented on #2053
Hi, are there any news on this?
If I can help with anything, just let me know! I don't know clap's codebase but I can dig into the code if no one has time to look into this problem ;)

[2020-10-25 19:38] lnicola commented on #1321
I see no actual leaks in that Valgrind log.

[2020-10-25 19:39] lnicola commented on #1365
@CreepySkeleton soft ping for that comment about the binary size :-).

[2020-10-25 19:43] pksunkara commented on #2053
@ClementNerma I would appreciate if you can. You can write a simple test and start digging using the debug logs.

[2020-10-25 19:46] pksunkara commented on #1321
@lnicola I do see some like [these](https://gist.github.com/CreepySkeleton/a79d5fdfdf492f1e1efd32b1ccd9f709#file-gistfile1-txt-L20-L26). Am I mistaken and am missing some knowledge?

[2020-10-25 19:58] lnicola commented on #1321
"Still reachable" means that the memory is still reachable (allocated) at the end of the program. That's normal if you call `exit` and is a good thing to do.

[2020-10-25 20:00] pksunkara commented on #1321
Ah, okay. Thanks for looking into it.

I am closing this issue. If anyone else has the same problem, please re-open a new one.

[2020-10-25 20:00] #1321 closed

[2020-10-25 20:13] ClementNerma commented on #2053
I won't have much time to dig in the codebase in the following days, but I'll put my progress here:

https://github.com/ClementNerma/clap/tree/test-args-subcommands-conflicts

I've redacted a little "proof-of-concept" test in:

https://github.com/ClementNerma/clap/blob/test-args-subcommands-conflicts/tests/args_subcommands_conflicts.rs

[2020-10-25 22:03] pksunkara commented on #1385
Might be related to #2053

[2020-10-25 22:29] #2170 closed

[2020-10-26 07:43] pksunkara commented on #1476
@ldm0 Would you like to take this next?

[2020-10-26 07:56] ldm0 commented on #1476
No problem.

[2020-10-26 08:11] pksunkara commented on #2065
@mkantor I think this has been fixed with the recent changes to master. Do you think you can look into the test cases?

[2020-10-26 08:21] pksunkara commented on #1433
The original `usage` issue is fixed in #2131. I am repurposing this issue for general styled text in templates.

[2020-10-27 18:48] mkantor commented on #2065
@pksunkara I rebased [the tests](https://github.com/clap-rs/clap/compare/master...mkantor:demonstrate-incorrect-wrapping) and [they still fail](https://github.com/mkantor/clap/runs/1312044427?check_suite_focus=true), so it appears this issue hasn't been fixed.

[2020-10-28 06:21] pksunkara commented on #2065
`wrapping_items_on_same_line` test case should be easy to fix now if you want to look into it.

[2020-10-28 10:29] augustocdias opened #2187 "Trying to run tests filtering by the name fails if using clap"
### Code

[code]

### Steps to reproduce the issue

1. Run `cargo test test_that_is_supposed_to_be_filtered`

### Version

* **Rust**: rustc 1.47.0 (18bf6b4f0 2020-10-07)
* **Clap**: 2.33.3

### Actual Behavior Summary

When I try to filter a test to run that uses clap I get the following error:

[code]

If I just run `cargo test` it will run normally. But filtering generates this error.

Simple s

[2020-10-28 13:19] #2187 closed

[2020-10-28 19:35] alerque commented on #1596
We just hit this in a project too, backticks in a documentation string shouldn't be causing code execution!

https://github.com/theleagueof/fontship/pull/108

[2020-10-28 20:08] pksunkara commented on #1596
Unfortunately I am still unable to get zsh working properly on my computer. So, I am going to have to rely on contribution

[2020-10-29 18:36] alerque commented on #1596
Would introducing a dependency for this be acceptable? I had a look at what's available now and this would take quite a bit of coding. Most of the current dependencies are focused on Claps' core function: accepting stuff in from the CLI. Passing stuff out to into the CLI (as opposed to just the TTY) would is a bit of a different problem but it seems reasonable to expect Clap to handle this robustl

[2020-10-29 18:53] pksunkara commented on #1596
Since the generator lives in a separate crate and is always opt-in, I would tentatively say yes.

[2020-10-29 18:53] pksunkara commented on #1596
But I don't think there are any crates that do this.

[2020-10-31 18:38] fosskers opened #2195 "Auto-derivation with `multiple_occurrences`"
This issue is related to the following discussion: https://github.com/clap-rs/clap/discussions/2192 . The original issue is explained it detail there. I was asked to open an issue, since there may be a UI/UX change that can be made. Below is runnable code that demonstrates the problem.

### Code and Behaviour

This first example shows the original form of the code.

[code]
When we run this, we see

[2020-10-31 21:07] filipelbc opened #2196 "Allow templates to change the error message strings"
Before anything, this library is great! Thanks!

### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I prefer printing `ERROR: ...` instead of `error: ...`, and to make the background red, instead of the foreground.

### Describe the solution you'd like

Allow th

[2020-10-31 21:10] pksunkara commented on #2196
Note: Same as #1433 but this issue needs error message template support.

[2020-11-01 18:41] Nezeky opened #2197 "Fatal internal error"
### Code

https://github.com/fornwall/rust-script

### Steps to reproduce the issue

1. Run `cargo install rust-script`
2. Run `rust-script --build-only script-name.rs`

### Version

* **Rust**: rustc 1.47.0 (18bf6b4f0 2020-10-07)
* **Clap**: 2.33.3

### Actual Behavior Summary

When I add `--build-only` option before the next argument, it crashes on internal error, and I think it shouldn't.  Inte

[2020-11-02 14:54] pksunkara commented on #2197
Can you please try to provide us with a minimal reproducible example?

[2020-11-02 15:48] tamasfe opened #2198 "3.0.0 fails to compile on wasm32-unknown-unknown"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Steps to reproduce the issue

1. Run `wasm-pack build`
2. Count the pretty red lines

### Version

* **Rust**: 1.47.0-nightly
* **Clap**: 3.0.0-beta.2

### Actual Behavior Summary

The dependency `os_str_bytes` doesn't compile on `wasm

[2020-11-02 16:16] pksunkara commented on #2198
@dylni Would you take a look at this please? I think we should be able to just use `String` when `wasm32` in `os_str_bytes` but you might have a better idea.

[2020-11-02 18:33] dylni commented on #2198
Thanks for the ping @pksunkara.

I agree converting to `str` should be the best option for now.

JavaScript strings look very similar to Windows strings, so they should be representable using the same encoding. However, there's no lossless method I can use for that.

That would be a problem if libstd ever received a string from JavaScript, but I can't find anywhere that it does. `OsStr` is also mi

[2020-11-03 00:42] Nezeky commented on #2197
@pksunkara I have never used this library before - I have no idea how to do anything with it, I only found this bug by using @fornwall's rust-script project.

[2020-11-03 04:36] dylni commented on #2198
@pksunkara Can clap add a "javascript" feature that it passes to os_str_bytes for compiling wasm32-unknown-unknown? That's how getrandom [can support the target](https://docs.rs/getrandom/0.2.0/getrandom/#webassembly-support), and it would be a great time to add it with the version bump to 3.0.

The feature would let me change the implementation for different wasm targets, since Rust might support

[2020-11-03 06:48] pksunkara commented on #2197
In that case, what was the command you were running?

[2020-11-03 06:58] Nezeky commented on #2197
@pksunkara  `rust-script --build-only script-name.rs`

[2020-11-03 10:01] tamasfe commented on #2198
@dylni Yes, I'm wrapping a rust CLI tool for nodejs environments.

I believe the majority of the `wasm32` targets are javascript environments right now, so I would do the opposite, assume that everything is javascript until it is not, and only then figure out how to deal with that. *Any* implementation is better that works 99% of the time than no implementation at all.

Having a `javascript` featu

[2020-11-03 10:44] pksunkara commented on #2198
I would actually prefer is `os_str_bytes` can intelligently discover without clap needing to pass the feature flag.

Our v2 wasm support was added in https://github.com/clap-rs/clap/commit/689949e57d390bb61bc69f3ed91f60a2105738d0 in case you want to see how we did it without a feature flag.

[2020-11-03 15:57] dylni commented on #2198
Right, I should have been clearer. I meant that I can currently assume UTF-8 for JavaScript targets based on the implementation of libstd, but I can't make that assumption for wasi or possible future targets.

However, thinking about this, it might not be possible for `OsStr` to support UCS-2 on wasm32-unknown-unknown, since libstd can't assume JavaScript strings will be used either. So, the featu

[2020-11-03 16:00] pksunkara commented on #2198
Sounds good.

[2020-11-03 21:35] wfraser commented on #2197
`rust-script` is referencing arguments that don't exist in the `.requires()` and `.conflicts_with()` constraints for these arguments. Clap probably just needs to panic with a better error message here.

[2020-11-03 21:40] pksunkara commented on #2197
We should have asserts now in v3 master which produce better error messages. Thanks for looking into it @wfraser.

[2020-11-03 21:40] #2197 closed

[2020-11-05 02:37] pickfire commented on #2055
No, it is not exclusive. The reason I split into 3 different settings is that `Color` is the general default for the other 2, so setting that is like enabling color globally. `ColoredError` and `ColoredHelp` is the specific color option, if user override this it will override the `Color`.

Essentially two paths are checked
- `Color` -> `ColoredError`
- `Color` -> `ColoredHelp`

However, internally

[2020-11-05 11:44] svenfoo commented on #1605
If I understand the history of this ticket correctly, the bug is **still present in the latest stable release**, which is `2.33.3` at this point, and **fixed in 3,0**, which is still in `beta` at this point, right?

Just asking because it seems that I just ran into out using clap 2.33.3.

[2020-11-05 11:53] pksunkara commented on #1605
Yes.

[2020-11-06 02:40] dylni commented on #2198
Version v2.4.0 is published. @tamasfe Can you confirm it fixes this issue?

[2020-11-06 03:09] tamasfe commented on #2198
@dylni I haven't tested it with my app, but yes, it seems to align mostly with what I did, and compiles under wasm, thanks!

[2020-11-06 03:21] dylni commented on #2198
No problem! Let me know if you have any problems with it.

[2020-11-06 10:42] zetok opened #2201 "[regression] `cargo doc -p clap` doesn't provide useful docs"
### Clap version

clap v3.0.0-beta.2

### Where

doc/clap/index.html
doc/clap/trait.Subcommand.html

### What's wrong

The docs that were available with clap v2.33.3 are no longer there. At least for the stuff I wanted to check.

- Root of the crate no longer shows anything useful.
- `Subcommand` instead of useful docs only shows `@TODO @release @docs`.

### How to fix

Put the documentation back

[2020-11-06 19:47] pksunkara commented on #2198
I tried to see if I can do CI for wasm, but it looks like the tests fail because some of them use `OsString` directly. https://github.com/clap-rs/clap/actions/runs/350099339

[2020-11-06 19:51] #2201 closed

[2020-11-06 20:09] pksunkara commented on #2196
Might also be related to #1734

[2020-11-06 20:26] dylni commented on #2198
@pksunkara It looks like those tests need strings that aren't valid UTF-8 with a lossy decoding that can be asserted. Would adding this method to `os_str_bytes` help?

[code]

Calling `OsStr::to_string_lossy` on the result would always return `prefix + "\u{FFFD}" + suffix`, and `Option` is required for platforms that can only create `OsString` from UTF-8.

[2020-11-06 20:28] pksunkara commented on #2198
Nah, I was just pointing out. I am not really interested in spending the effort to get them to work. I added a WASM compilation check and I think that should be good enough. Thanks for the help @dylni in solving this issue.

[2020-11-06 20:31] dylni commented on #2198
Ok, sounds good.

[2020-11-06 20:50] #2198 closed

[2020-11-06 21:59] #1476 closed

[2020-11-07 07:41] pksunkara commented on #878
@ldm0 Would you like to take this one next?

[2020-11-07 08:38] ldm0 commented on #878
Yep.

[2020-11-07 13:23] #878 closed

[2020-11-07 14:11] pksunkara commented on #1859
@ldm0 Do you want this one next?

[2020-11-07 14:59] ldm0 commented on #1859
Yep.

[2020-11-09 02:06] a8nJ commented on #2126
https://github.com/clap-rs/clap/issues/1652

[2020-11-09 02:06] a8nJ commented on #1652
https://github.com/clap-rs/clap/issues/2126

[2020-11-09 18:27] ldm0 commented on #1794
Should be reopen. The usage output is still not correct.

[2020-11-13 16:27] fosskers commented on #1206
This is essentially my issue as well. I'm in a situation where it's as if I don't know all the available fields to be able to even call `get_value_of`. To be able to generically iterate would be very convenient.

[2020-11-14 11:38] #1837 closed

[2020-11-14 12:50] lu-zero opened #2212 "Reconsider the update behavior for external commands and other values-taking fields"
As discussed [here](https://github.com/clap-rs/clap/pull/1878#discussion_r523415453).

Updating a struct that has an external command field has it replaced completely, other options are to extend the Vec with the additional arguments if the command is the same. The behavior should stay consistent with the other places that take a list of values.

[2020-11-20 03:35] fosskers commented on #2195
I managed to satisfy my original requirements via the suggestion given here: https://github.com/clap-rs/clap/discussions/2192#discussioncomment-133916

[2020-11-21 13:23] djeedai opened #2218 "print_help() et al. are conceptually read-only ops and should not take &mut self"
`print_help()` and other similar variants conceptually just print information to some output based on the already-configured `App`, and therefore it is quite unexpected for them to be mutating the `App` and take a `&mut self` reference. For a typical command-line tool which might want to print-help-and-exit deeper inside the program due to other errors not directly handled by `clap`'s argument val

[2020-11-21 13:25] pksunkara commented on #2218
For better performance. There should be an issue like this already.

[2020-11-21 14:04] djeedai commented on #2218
I couldn't find any other issue sorry. I've searched for `print_help` but nothing seems to match.

I understand that how the implementation is lazily doing some ops may be a performance reason, but in my opinion that doesn't warrant making the public interface mutable. Isn't that precisely what interior mutability is for? I can't find the official reference I took that from, but here's another one

[2020-11-23 16:02] 06kellyjac opened #2220 "deno completions zsh failed and clap asked me to post here"
### Make sure you completed the following tasks

- [X] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Code

I don't have much familiarity with the changes in the latest release of `deno`
I've created an issue on the `deno` repo too: https://github.com/denoland/deno/issues/8472

### Steps to reproduce the issue

1. clone `git@github.com

[2020-11-23 16:05] pksunkara commented on #2220
#2191 would fix this, I think.

[2020-11-23 16:07] 06kellyjac commented on #2220
ooh that's great, thanks for the swift reply.
Until then would the best bet be rolling back a couple versions of clap?

[2020-11-23 16:08] pksunkara commented on #2220
Not sure. You can try. But we stopped developing v2 long ago.

[2020-11-23 16:10] 06kellyjac commented on #2220
Another good point. Thanks :slightly_smiling_face:

[2020-11-24 18:04] fkrauthan opened #2222 "Support command chaining"
### Describe your use case

I would like to re-write an existing internal Python tool in rust. For this python tool we use click with the command chaining feature (https://click.palletsprojects.com/en/7.x/commands/#multi-command-chaining) this allows similar to some bigger CLI tools (e.g. `gradle` or `setup.py`) to execute multiple commands in one go. In our example we have a simple build and depl

[2020-11-26 18:01] ahkrr commented on #2220
I wrote the PR #2191 .
The problem that I was finding was, when a cli argument was declared as global and also as having conflicts with other arguments which weren't present in all the subcommands that the global argument was present in, then the completion generation would error out.
This would happen because a conflict was declared for which the conflicting argument didn't exist in the command (

[2020-11-26 18:03] pksunkara commented on #2220
Please note that these bad `conlifcts_with` names will be give better errors starting in v3.

[2020-11-28 07:24] liftM opened #2229 "`number_of_values(n)` incorrectly allows argument counts that are integer multiples of `n`"
## Reproducing the bug

Okay, this one is a bit of a headscratcher. I've been digging into this with Rust `1.48.0` and Clap `3.0.0-beta.2`, although I bet `2.x.x` suffers from the same problem given its definition of `struct MatchedArg`.

First, a test case:

[code]

This test case should obviously fail: specifying `number_of_values(3)` should not allow a successful parse if I pass 6 values. If yo

[2020-11-28 07:25] liftM commented on #2229
Oh no, I accidentally hit shift-enter. Give me a moment to fix up the issue.

[2020-11-28 08:00] liftM commented on #2229
~~Oh no, I accidentally hit shift-enter. Give me a moment to fix up the issue.~~

Issue is ready now. Sorry for the extra noise!

[2020-11-28 11:52] pksunkara commented on #2229
Yeah, I still need to go through all the `multiple` related issues and do a proper design for v3. Just short of time. If someone wants to pick this up and do a proper design and implement it, I would really appreciate it.

[2020-11-29 13:38] crowlKats opened #2233 "Multiple set to false fails"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

Run `cargo run -- --foo=bar` or `cargo run -- --foo bar`

### Version

* **Rust**: 1.48.0
* **Clap**: master

### Actual Behavior Summary

using `=` it crashes with
[code]
whereas without

[2020-11-29 23:47] segeljakt opened #2236 "Hide subcommand"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I'm trying to make Clap ignore certain subcommands in my `Opt` data structure. These sub-commands should only be accessible when using my application as a library.

### Describe the solution you'd like

I'd like

[2020-11-29 23:48] #2236 closed

[2020-12-03 14:47] mgeisler commented on #1365
Hi all!

I'll be happy to make Unicode handling an optional feature in `textwrap` if there is a desire for that?

I've just [merged a PR to `textwrap`](https://github.com/mgeisler/textwrap/pull/234) which makes it handle text in narrow columns better. That is, it will now attempt to minimize the "raggedness" of the wrapped lines and give you better output out of the box. Pleaes see the PR for an e

[2020-12-07 16:03] nagisa opened #2242 "Panic: found positional argument which is not required with a lower index than a required positional argument"
### Make sure you completed the following tasks

- [ ] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run snippet above

### Version

* **Clap**: 2.33.3

### Actual Behavior Summary

This snippet when run panics.

### Expected Behavior Summary

There's no obvious reason it should panic

[2020-12-07 16:45] pksunkara commented on #2242
There is clear reason showing why it's panicking. You haven't searched previous issues and discussions where this has been elaborated.

[2020-12-07 17:03] nagisa commented on #2242
Either [github search is broken](https://github.com/clap-rs/clap/issues?q=is%3Aissue+You+haven%27t+searched+previous+issues+and+discussions+where+this+has+been+elaborated.) or there were no previous issues with this panic message. I did explicitly mark the checkbox that I did spend at least some effort looking through the closed issues.

[2020-12-07 17:10] pksunkara commented on #2242
Yeah, I guess, github search is not perfect. https://github.com/clap-rs/clap/discussions/2221

[2020-12-07 23:12] mrxcEOGoCa opened #2244 "clap_app macro incorrectly parses long argument with hyphen"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

Run `cargo run`.

### Version

* **Rust**: rustc 1.48.0 (7eac88abb 2020-11-16)
* **Clap**: 2.33.3

### Actual Behavior Summary

It panics with `Argument short must be unique -p is already

[2020-12-07 23:49] mrxcEOGoCa commented on #2244
This only happens with the clap_app macro, using `App::arg` works.

[2020-12-08 00:22] mrxcEOGoCa commented on #2244
I found a workaround: By using stringify, the program works.
p.s. The rule in the macro causing the problem is on line 748 of src/macros.rs.

[2020-12-08 00:24] mrxcEOGoCa commented on #2244
`(@arg no_proxy --(stringify!(no-proxy)) /*...*/)`

[2020-12-08 01:39] pksunkara commented on #2244
Can you please try it with master? You don't need `stringify`. https://github.com/clap-rs/clap/blob/3520a30b6e83f2126b9b9560ff95a23717a47ebf/src/macros.rs#L385-L401

[2020-12-08 15:17] ldm0 commented on #1708
Current:
[code]

[2020-12-08 15:40] mrxcEOGoCa commented on #2244
Using master, it works when I do `(@arg no_proxy --"no-proxy" /*...*/)`.

[2020-12-08 15:41] pksunkara commented on #2244
Yup, that is the intention. There's no other workaround.

[2020-12-08 15:42] #2244 closed

[2020-12-08 15:43] #2242 closed

[2020-12-09 18:30] wchargin opened #2247 "With derive, don’t include short help in long help"
My application uses `#[derive(Clap)]` (at 3.0.0-beta.2) and includes a
docstring with both short help text and long help text for each item.
[For example:][code-example]

[code]

[code-example]: https://github.com/tensorflow/tensorboard/blob/4495a0302b91997f009881a5c2747cb5b3d6913f/tensorboard/data/server/cli.rs#L40-L45

The goal is to ensure that the help for each item shows up as a single
line w

[2020-12-09 19:26] ldm0 commented on #2233
Well, this sounds strange but currently the order of clap's settings does matter.
[code]
That's becase disable `multiple` actually disables `takes_value` and `multiple`, which shares the same logic that enable `multiple` actually enables `takes_value` and `multiple`. What do you think? @pksunkara

[2020-12-09 20:00] pksunkara commented on #2233
We need to fix all these inter linking changes.

[2020-12-09 21:32] wchargin commented on #2247
I just spent ~10 minutes reading the code, which was enlightening. As a
beta user, I had had the following questions:

 1. What exactly am I allowed to pass to the derive macro? The docs say
    that it’s less customizable, and indeed don’t show many
    customizations. Are things like `arg.value_name(...)` off the table?
 2. How exactly does Clap determine the short and long help texts?

I now se

[2020-12-10 05:38] ldm0 commented on #2233
@pksunkara  I don't think currently removing all interlinking changes is a good idea, it may introduces quite a bit resistance on upgrading v2 to v3.

What's about changing the behaviour of setting false. I mean enabling `multiple` enables `takes_value` and `multiple`, while disabling `multiple` only disables `multiple`. It's less surprising for users.

This changes maintains backward compatibilit

[2020-12-12 05:58] ldm0 commented on #1385
Well,
This works,
[code]
but this doesn't:
[code]

[2020-12-12 12:18] #1323 closed

[2020-12-12 13:29] pksunkara commented on #2247
You can do `about = "short help text", long_about = "long help text"` but clap doesn't take from the docstrings anymore.

[2020-12-12 13:29] #2247 closed

[2020-12-14 02:16] BeldrothTheGold opened #2255 "Document AppSettings::SubcommandsNegateReqs may cause panic in Clap::parse(), Clap::try_parse()"
### Clap version

3.0.0-beta.2

### Where

https://docs.rs/clap/3.0.0-beta.2/clap/enum.AppSettings.html#variant.SubcommandsNegateReqs

### What's wrong

There's no mention that this AppSetting can cause the Clap derive macro to panic on parse() and try_parse()

### How to fix

[code]

[2020-12-14 02:17] pksunkara commented on #2255
What's the panic message you were getting?

[2020-12-14 02:18] BeldrothTheGold commented on #2255
thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/main.rs:7:14
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2020-12-14 02:19] pksunkara commented on #2255
Try changing to the following and describe what happens (with error message):

[code]

[2020-12-14 02:20] #2053 closed

[2020-12-14 02:20] #1385 closed

[2020-12-14 02:20] BeldrothTheGold commented on #2255
That did fix the panic.

[2020-12-14 02:21] pksunkara commented on #2255
Definitely needs to be documented though.

[2020-12-14 02:24] BeldrothTheGold commented on #2255
Oh wait. Haha, sorry. No it still panics. Sorry.

$ cargo run -- ex-sub
    Finished dev [unoptimized + debuginfo] target(s) in 0.02s
     Running `target/debug/clap-ex ex-sub`
thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/main.rs:9:14
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2020-12-14 02:26] pksunkara commented on #2255
It's probably better to find a way to get this working though.

[2020-12-14 02:26] pksunkara commented on #2255
Huh, you haven't done `req_str: Option<String>`. Please try with that.

[2020-12-14 02:29] BeldrothTheGold commented on #2255
#[clap(required = true)]
    req_str: Option<String>,

This does not compile.

    req_str: Option<String>, this does compile but the req_str is no longer required

error: required is meaningless for Option

[2020-12-14 02:30] pksunkara commented on #2233
We will have https://github.com/pksunkara/cargo-up ready. We shouldn't concern ourselves with either backward compatibility or user churn.

But we can definitely improve the user experience by asserting that `multiple = true, takes_value = false` doesn't happen.

[2020-12-14 02:32] BeldrothTheGold commented on #2255
At the very least it might be a good idea to make a try_from_arg_matches() fn which can bubble up any issues so try_parse doesn't panic

[2020-12-15 16:09] nitsky opened #2257 "`just run-tests` fails because of small terminal width"
Running `just run-tests` fails because many tests have been written specifically for the case where the wrap_help feature is disabled.

### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Steps to reproduce the issue

1. Clone the clap repo.
2. Run `just run-tests` and observe test fail

[2020-12-15 16:14] pksunkara commented on #2257
Could you paste some output when you say many tests are incompatible with wrap_help?

[2020-12-15 16:18] nitsky commented on #2257
@pksunkara Starting from the current master, I ran `just run-tests` and got this error:

[code]

You can see that on the left, there is a newline between "Command" and "Line" but it is absent on the right. This is because the wrap_help feature is enabled.

[2020-12-17 17:04] vanhauser-thc opened #2259 "incorrect multiple parameter assignment"
### Code
[code]
### Version

rustc 1.48.0 (7eac88abb 2020-11-16)

### Actual Behavior Summary

[code]
### Expected Behavior Summary

the "foo" and "bar" parameters should not be part of the gathered -x options.

[2020-12-17 18:04] pksunkara commented on #2259
Why did you not use the issue template? I have no idea what clap version you are using.

[2020-12-17 18:23] vanhauser-thc commented on #2259
sorry this is my first rust related issue and the template had things I didnt know/recognize. I am very new to Rust ... :(

name = "clap"
version = "2.33.3"

[2020-12-17 20:33] pksunkara commented on #2259
What exactly did you have trouble in the template with? We built such that even a new user to rust and clap should be able to follow it.

We fixed this particular issue in v3 using https://docs.rs/clap/3.0.0-beta.2/clap/struct.Arg.html#method.multiple_occurrences.

Replace `multiple` with the above method.

[2020-12-17 20:33] #2259 closed

[2020-12-18 16:13] dkg commented on #552
@CreepySkeleton  wrote:

I think that `--help` should typically produce a brief reference, and man pages should provide a superset of that information.  they can be more descriptive, and include more details/nuance/gotchas/etc that would be inappropriate to view in the console running `--help`.  But the point here is *superset*.  If something shows up in `--help` it definitely should be visible (a

[2020-12-18 18:43] alerque commented on #552
Pretty much everything that @dkg said, except that man page content should be generated and stored in a separate resource file. Many distros require that this be packaged and the build and package routines  to extract it by running the binary to reconstruct the source would be more complicated than need be, packing a man source file is much easier and a very standard operation.

[2020-12-21 13:27] gbrlsnchs commented on #2009
I'm facing this issue even without any custom subcommands.

[2020-12-22 16:33] aThorp96 opened #2261 "Derive help from type comment iinstead of struct comment"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closed issues

### Describe your use case

If I have a number of commands that operate similarly, I may structure the command as such:

[code]

However when this is done, the help generated uses the comment `Base action which provides the necessary param

[2020-12-22 17:34] #2261 closed

[2020-12-23 11:35] StevenJiang1110 opened #2264 "Some unicode input may cause print_help and print_long_help panic(found by afl.rs)"
### Code

[code]
or
[code]
### Steps to reproduce the issue

1. Run `cargo run`
The bug report is as follows.
![截屏2020-12-23 下午7 30 13](https://user-images.githubusercontent.com/27764680/102991966-48bfd400-4555-11eb-9901-ff13dfd29cd0.png)

### Version

* **Rust**: rustc 1.46.0-dev
* **Clap**: 2.33.3

[code]
I also put reproduce files at [print_help](https://github.com/StevenJiang1110/afl_rust_cras

[2020-12-23 11:47] pksunkara commented on #2264
Please try with master.

[2020-12-23 12:19] StevenJiang1110 commented on #2264
I tried and it seems the master has removed the subCommand.
![截屏2020-12-23 下午8 19 36](https://user-images.githubusercontent.com/27764680/102995518-2ed5bf80-455c-11eb-8da1-0e7a22ec22c8.png)

[2020-12-23 17:21] ldm0 commented on #2264
@StevenJiang1110 The `Subcommand` is integrated with `App` now, and the corresponding codes are:
[code]
and:
[code]

Both work fine.

[2020-12-23 17:22] #2264 closed

[2020-12-23 17:45] #1358 closed

[2020-12-25 16:07] ignatenkobrain opened #2270 "clap_derive: Include license files into the crates.io tarball"
### Make sure you completed the following tasks

- [ ] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [ ] Searched the closed issues

### Describe your use case

The Apache-2.0 license requires so that full text of a license will be present along with sources. However since clap stuff gets published on crates.io separately, tarballs of clap_derive do not include LICENSE

[2020-12-25 16:13] mvolkmann opened #2271 "with_name and long"
Why doesn't the value passed to the `long` method default to the value passed to `with_name`?
When would someone want those to be different strings?

[2020-12-25 16:14] pksunkara commented on #2271
You haven't followed the template to create an issue.

[2020-12-25 16:14] #2271 closed

[2020-12-25 16:19] pksunkara commented on #2271
Hello,

We really appreciate your enthusiasm to contribute to this open source project and to help make it better. To make use of the maintainers' time more productively, we have set up a few issue templates according that need to be used when an issue is created.

We see that you made an accidental mistake because the issue you created doesn't follow the template. We will be closing this until th

[2020-12-26 17:02] #952 closed

[2020-12-28 10:10] pksunkara commented on #2270
This would need some work in https://github.com/pksunkara/cargo-workspaces since I use it to publish these crates.

[2020-12-28 10:12] ignatenkobrain commented on #2270
@pksunkara I believe it would be enough to just copy mentioned files into the subfolders and during next publish they will be uploaded on crates.io tarball.

[2020-12-28 10:17] pksunkara commented on #2270
I don't think that's the correct approach. You can see how Lerna does the same for javascript workspaces.

[2020-12-29 00:36] Wizhi opened #2279 "Setting help_heading causes default_value to be ignored for subsequent named arguments"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run --`

### Version

* **Rust**: `rustc 1.47.0 (18bf6b4f0 2020-10-07)`
* **Clap**: `3.0.0-beta.2`

### Actual Behavior Summary

When I specify a `help_heading()`, any subse

[2020-12-31 19:42] omar25h commented on #2279
This seems to be already fixed on the `master` branch.
I tried running the example provided with the example from [crates.io](https://crates.io/crates/clap/3.0.0-beta.2). The example ran without panics.
However, running the example on the current `master` branch (with cargo path override) seems to report the following panic output:
[code]

[2021-01-01 03:45] kotovalexarian commented on #2181
I want to mention that `version = clap::crate_version!()` is not needed. Just `version` is enough. The same works for `about` and `author`, but not for `name`:

[code]

[2021-01-01 04:00] kotovalexarian opened #2282 "Derive doesn't use crate name"
By `derive`ing `Clap`, the `about`, `author` and `version` options can be automatically extracted from crate's `Cargo.toml`, but this doesn't work for `name`, so I have to specify it manually:

[code]

Creation of `clap::App` doesn't have such limitation: there are macros [`clap::app_from_crate`](https://github.com/clap-rs/clap/blob/master/src/macros.rs#L169-L209) and [`clap::crate_name`](https://

[2021-01-01 05:05] pksunkara commented on #2282
Yeah, because name is default to the name of the struct/enum. One thing we can do is use the `crate_name()` if only `name` is written but without any value so that users don't have to do `env!`

[2021-01-01 06:19] pksunkara commented on #2279
Left and right both looks the same to me.

[2021-01-01 13:58] pksunkara commented on #2282
I am sorry but I misunderstood your question. What do you mean it doesn't work for `name`? We always use `CARGO_PKG_NAME` if you don't set `name`.

[2021-01-01 17:57] mgeisler commented on #1365
I just wanted to say that I've released a version of textwrap where all dependencies are optional :tada: This means that both unicode-width and smawk can be disabled at compile time: https://github.com/mgeisler/textwrap/releases/tag/0.13.2

[2021-01-01 19:03] Ghosty141 commented on #1744
Is there any way to opt out of this currently? I really dislike the way that clap outputs quite a lot of text if I just give it a wrong argument.

[2021-01-02 02:11] pksunkara commented on #1744
Not right now but it is in the long term future plan to reduce the binary size.

[2021-01-02 09:27] kotovalexarian commented on #2282
Really? It isn't obvious. So I can skip `about`, `author`, `version` and `name` at all?

[2021-01-02 09:41] pksunkara commented on #2282
It's not inconsistent. `name` of a `clap::App` is required but the others are not. That is what the API represents.

[2021-01-02 09:41] #2282 closed

[2021-01-02 10:40] omar25h commented on #2279
yes they are, but the statement asserts that they shouldn't be equal, so that the example runs without any panics on `3.0.0-beta.2` (hence the bug)

[2021-01-02 13:20] kotovalexarian commented on #2282
These are two different APIs. The `clap::App` API is ok, because required option is a parameter of constructor, while optional parameters are specified with builder methods. But `derive(Clap)` has single way to specify options and this way is inconsistent.

[2021-01-02 13:25] pksunkara commented on #2282
Derive clap's API should and will be always in sync with normal api. Especially this situation is something that was a complete mess in structopt and if you check the corresponding implementation prs you can see that this is the best solution since name is required.

[2021-01-02 14:25] kotovalexarian commented on #2282
Why not just allow to explicitly specify `name` without value? For now this wouldn't compile. This is not useful, but removes inconsistency.

[code]

[2021-01-02 14:27] pksunkara commented on #2282
I have already answered that because name is always default. As I said, please read the original discussion. Ee had considered this.

[2021-01-02 21:09] stevenengler commented on #1406
Instead of creating a new method, could the signature of `default_value_if()` be changed in version 3 to support an `Option<&str>` for the default rather than just a `&str`? This way the default can be unset without needing to add more functions to the API.

[2021-01-03 22:44] jder commented on #2167
I believe this is the same as https://github.com/clap-rs/clap/issues/2005. @CreepySkeleton, is there still an open question about the right behavior with sub-sub commands as enums?

[2021-01-04 13:33] delan commented on #1406
Good idea (fwiw). The parameter type could even change without adding to the version 3 migration burden with `impl Into<Option<&str>>`, which allows you to continue passing `&str` values without wrapping them in `Some`.

[2021-01-06 14:30] tailhook opened #2289 "`help_heading` for subcommands"
It would be nice to have `help_heading` equivalent for the subcommands. Currently there is `App::help_heading` but it does something different (default `help_heading` for next arguments).

This is needed for the commands having a lot of of subcommands, to show you one example, here is a snippet from [`virsh`](https://linux.die.net/man/1/virsh) (command-line tool for `libvirt`):
[code]

[2021-01-12 19:28] quodlibetor commented on #712
Something that recently came up in support of having this be a global property on `App` is it would allow linting or errorring if there are any env vars that match the prefix, but do not match any known args:

[code]

Could fail if `COOL_CHCEK` is in the environment, which I'm sure would have saved me hours of debugging over the course of the career.

The `mut_arg` feature in combination with `get

[2021-01-14 17:37] j0hnmeow commented on #1104
Is there a workaround to this?

[2021-01-15 15:12] stevefan1999-personal opened #2293 "Flatten with prefix"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case
Add prefixes to a struct so that we can separate them nice and clean.

Not only that, if we have logically separated the option structure well, we can integrate serde to load config file seamlessly.

For example,

[2021-01-15 15:17] stevefan1999-personal commented on #2293
Also, it seems like you cannot recursively flatten from struct, as I tried to nest the log prefix into its own struct and try to contain `file` and `console` in them, the macro generated shows the name assignment is gone.

[2021-01-15 17:00] pksunkara commented on #2293
Dude, that is anarchy.

`short` flags are not generated if you don't add `short` attribute. That is enough. So, I don't actually see any issue with proposal. Obviously this would only be supported on flatten.

Marking it for 3.1 since it is not priority for 3.0 (unless someone submits a PR).

[2021-01-16 14:08] pksunkara commented on #1794
@ldm0 You were saying that the original fix is wrong. Can you point out a test case why it is wrong?

[2021-01-17 04:11] sharpvik opened #2294 "Consider using idiomatic Rust errors"
### Describe your use case

Currently, the errors look like this:

![clap](https://user-images.githubusercontent.com/23066595/104830700-16b24100-5879-11eb-9999-6f782518ff93.png)

With the colon in **`error:`** being red just like the error label itself. However, the idiomatic Rust compiler errors look like this:

![idioma](https://user-images.githubusercontent.com/23066595/104830722-482b0c80-5879-

[2021-01-17 04:19] ldm0 commented on #2294
Feel free to send a PR as this is only a minor stylistic incoherence.

[2021-01-17 11:19] pksunkara commented on #2294
Yes, it is stylistic, but I would still like the see others reasons for it. "Rust does it" is not good enough because rust is not primarily CLI tool.

Is there research into famous CLI parsers from other languages and how they print the error messages when color is turned on? If there's a convention there, we will follow.

[2021-01-17 16:00] sharpvik commented on #2294
@pksunkara it looks like colorized out is not a widely supported function. Argparse and the like don't support it out of the box. So it looks like you can decide how exactly you want to colorize the output of Clap since you are the authors.

I just think that Rust's errors look very nice and why not follow that convention out of all others.

[2021-01-17 16:06] #2294 closed

[2021-01-19 19:11] ldm0 commented on #1794
@pksunkara  Check this:
[code]
with:
[code]

You will notice it complains about conflict between `option2` and `pos2`. However the abcd should be placed in pos1.

[2021-01-20 16:44] ldm0 commented on #2257
I reproduced this by shrinking terminal width :-P.

The problem is not about justfile, it's about the terminal size. The `wrap_help` feature detects current terminal size and auto wrap help info. With small terminal size, some help output will wraps. Setting each failing tests with term_width(0) will fix this problem. But I don't thinking the problem is worth fixing.

[2021-01-20 17:06] ldm0 commented on #2279
This panic seems to be the right behaviour. The original problem is "Setting help_heading causes default_value to be ignored", so the first assert passes and the second panics is the right behaviour.

[2021-01-20 17:22] nitsky commented on #2257
I disagree. As a new contributor to the project, I was distressed that tests were failing after following contributing instructions due to the width of my terminal.

[2021-01-20 17:34] ldm0 commented on #2257
@nitsky Sorry about the distress. Changing all of our current(and future) tests is ugly. What about hinting the user about this problem?

[2021-01-20 17:38] nitsky commented on #2257
I think it makes more sense to mock the terminal width for the tests. In most codebases I have encountered when tests have a dependence on the environment the value is mocked to avoid flakey test failure. This will also be an opportunity to improve the coverage of the tests by testing wrapping at different terminal widths.

[2021-01-20 18:04] #2279 closed

[2021-01-20 18:07] #1613 closed

[2021-01-20 18:10] pksunkara commented on #1613
@AriusX7 You can follow the steps in https://github.com/clap-rs/clap/wiki/Issue-Bounties to get the bounty.

[2021-01-20 18:24] ldm0 commented on #2257
These tests are integration tests rather than unit tests, I don't think mocking is easy. What do you think @pksunkara .

[2021-01-21 14:25] Rua commented on #1463
I just ran into the same problem as @crapStone . I disabled `--help`, but the error message still suggests to the user that they try it.

[2021-01-21 14:34] Rua commented on #1384
I would like this as well, but supported as a runtime option instead of a feature flag, so that it can be enabled or disabled on a case-by-case basis.

[2021-01-22 00:25] tbraun96 opened #2305 "impl Send for App"
I am using clap to parse arguments in a custom terminal environment. I initialize ``App`` once, then use ``get_matches_from_safe_borrow``in order to not consume ``self``, thus allowing me to reuse ``App``. When initializing ``App``, I place it inside lazy_static block wrapped in a ``Mutex`` to ensure no race conditions. However, I am surprised to see that ``App`` does not implement ``Send``, so re

[2021-01-22 10:39] pksunkara commented on #2305
It's already done. #1771. Please search before creating issues. And you haven't even used our issue template.

[2021-01-22 10:39] #2305 closed

[2021-01-22 11:52] tbraun96 commented on #2305
It's been over 9 months and no progress on a trivial addition

[2021-01-22 12:17] pksunkara commented on #2305
It has already been done. What do you mean no progress?

If something is actually missing and you consider it a trivial addition, why don't you actually make a PR then instead of being aggressive towards the maintainers?

[2021-01-22 15:06] HalfVoxel opened #2307 "Validate `conflicts_with`"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

Currently, it can sometimes be tricky to know which name to give to `conflicts_with`, in particular in combination with `structopt`.
Take a look at this issue for context: https://github.com/TeXitoi/structopt/is

[2021-01-22 18:46] pksunkara commented on #2307
Have you checked this with master? And also please provide a minimal sample code so it's easier for everyone.

[2021-01-22 18:57] HalfVoxel commented on #2307
I have not yet, my testing was done with clap v2.33.3 which is the latest stable version afaik (though I see that there's a 3.0 beta now).

I use structopt so that generates most of the code for me. You can find an example of that in the linked issue.

Here is the code that structopt generates which corresponds to this issue:

[code]

Note that `conflicts_with` is given the name `module_name` whil

[2021-01-22 19:17] pksunkara commented on #2307
Can you please test it on clap master and report back?

[2021-01-22 19:30] g-w1 opened #2308 "Using >2 dashes shows 2 dashes in the help menu."
### Make sure you completed the following tasks

### Code

This can be seen with cargo. Just run `cargo -----`,

### Actual Behavior Summary

it will say,
`error: Found argument '--' which wasn't expected, or isn't valid in this context`,
2 dashes, even with more than 2 dashes in the command. I am using cargo since it is readily available and uses clap.

### Expected Behavior Summary

`error: Foun

[2021-01-25 15:58] HalfVoxel commented on #2307
Hi

I can confirm that this still happens with master.

[code]

[code]

[code]

[2021-01-26 18:16] #2121 closed

[2021-01-27 12:27] baoyachi opened #2313 "clap_version function built in shadow-rs adapt clap crates"
## clap_version function built in shadow-rs
[code]

## clap_version example
link:[clap_version demo](https://github.com/baoyachi/shadow-rs/blob/2915a18675cc297d9ea5a46d65c47d98097fae67/example_shadow/src/main.rs#L9-L11)

if you want use clap `version()`, also consider [https://github.com/baoyachi/shadow-rs](https://github.com/baoyachi/shadow-rs) integrating in you rust project.

I think shadow-rs

[2021-01-27 13:12] ldm0 commented on #2313
Clap already have this kind of ability. Check the [`crate_version`](https://docs.rs/clap/2.33.3/clap/macro.crate_version.html).

[2021-01-27 15:08] pksunkara commented on #2313
Hello,

We really appreciate your enthusiasm to contribute to this open source project and to help make it better. To make use of the maintainers' time more productively, we have set up a few issue templates that should be used when creating an issue.

We see that you made an accidental mistake because the issue you created doesn't follow the template. We will be closing this until that is rectifi

[2021-01-27 15:08] #2313 closed

[2021-01-27 17:38] ldm0 commented on #2171
Linked to #1374, should be fixed by #2297, add regress tests later.

[2021-01-27 17:44] ldm0 commented on #2171
Done.

[2021-01-28 17:25] ldm0 commented on #1384
This issue is mainly about reducing binary size. If you just wanna control the help message emission in the runtime, the right-now approach is using [try_get_matches](https://docs.rs/clap/3.0.0-beta.2/clap/struct.App.html#method.try_get_matches) to get a result and control the output by yourself.

[2021-01-28 18:38] dkg opened #2315 "Add completion support for `help` subcommand in all shells"
Maintainer's notes
- Remember that you can do `cmd help sub1 sub2` which should be supported

---
Sequoia's `sq` uses clap to generate bash bindings.

`sq` has a subcommand interface, including the subcommand `help`.  `sq help` behaves the way that `sq --help` does.

That is, you can do `sq help inspect` (`inspect` is one of the `sq` subcommands).

The tab completion when a bash user types `sq hel

[2021-01-28 18:40] pksunkara commented on #2315
Hello,

We really appreciate your enthusiasm to contribute to this open source project and to help make it better. To make use of the maintainers' time more productively, we have set up a few issue templates that should be used when creating an issue.

We see that you made an accidental mistake because the issue you created doesn't follow the template. We will be closing this until that is rectifi

[2021-01-28 18:47] dkg commented on #2315
thanks, @pksunkara !

[2021-01-28 19:03] dkg opened #2316 "bash tab completion confused when one subcommand is a prefix of another"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

Please see [sequoia's sq](https://gitlab.com/sequoia-pgp/sequoia/) for code.  The problem i'm reporting is that `sq key<TAB>` does the wrong thing.

I [reported this concern to sequoia](https://gitlab.com/sequoia-pgp/sequoia/-/is

[2021-01-28 20:36] anthraxx commented on #552
As being a distro packager myself i strongly disagree. All that matters as a distro packager is that it's reasonably easy to invoke the transformation chain. All that matters as a developer is that it's reasonably easy to read/write and convenient to keep it in sync with the rest of the definitions -- the CLI `--help` declaration. All that matters as a user is that you can easily obtain manpages a

[2021-01-28 20:44] Qyriad opened #2317 "Get which arg of mutually exclusive ArgGroup was passed"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

One of the use cases the documentation lists for `ArgGroup` is to have a set of mutually exclusive arguments (with `.multiple(false)`), but the only way to get which of those arguments was passed is to call `mat

[2021-01-29 16:44] ldm0 commented on #2317
I think [`conflicts_with_all`](https://docs.rs/clap/3.0.0-beta.2/clap/struct.Arg.html#method.conflicts_with_all) might matches with your use case.

[2021-01-29 18:05] pksunkara commented on #2317
But that's not the thing he is asking for.

[2021-01-29 18:39] Qyriad commented on #2317
she*, but I believe you're correct. `ArgGroup::multiple()` already sets the mutual exclusivity. I'm looking for a way to get *which* argument in an `ArgGroup` was passed, from an `ArgMatches`. I don't see how `conflicts_with_all()` helps me there.

[2021-01-29 20:29] Yuri6037 opened #2318 "When two named arguments takes values, the first named argument will always take the value of the second"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

https://gitlab.com/BlockProject3D/fpkg/-/blob/master/BPXTools/src/main.rs

Line 45

### Steps to reproduce the issue

1. Use the definition as given in Line 45 of provided main.rs
2. Use the tool as `./target/debug/bpxdbg -f file

[2021-01-29 21:12] pksunkara commented on #2318
Needs a minimal reproducible example code.

[2021-01-29 21:38] Yuri6037 commented on #2318
I won't have time to provide a minimal reproducible example code. You can still build the tool as given in the link. It builds fine.

Example use:
- `./target/debug/bpxdbg -f file.bpx pack src`
- `./target/debug/bpxdbg -f file.bpx info -d 0 -o test.raw

[2021-01-29 21:45] pksunkara commented on #2318
I don't want to go spelunking into code I am extremely unfamiliar with to find this bug when I am not even sure if it's already been fixed on master or not.

Closing the issue for now. To reopen, please provide a minimal reproducible code after checking with master.

[2021-01-29 21:45] #2318 closed

[2021-01-29 21:49] Yuri6037 commented on #2318
`checking with master` I can check with master. I won't have time for a reproducible example but I can check if it is fixed on master.

[2021-01-30 04:21] ldm0 commented on #2317
Sorry for disturbing, haven't slept much yesterday and my mind isn't clear.

So we need to design a new api specifically for fetching the triggered argument and also the value? @pksunkara .

[2021-01-30 10:30] pksunkara commented on #2317
Yes, but this is not a priority for 3.0

[2021-01-30 14:52] #1859 closed

[2021-01-30 15:54] Qyriad commented on #2317
Ideally, though I would also be fine with an API just for fetching the triggered argument — which would mean that getting the value of that argument would be a separate step.

[2021-01-30 16:46] booleancoercion opened #2319 "Cryptic unwrap error when using wrong format of yaml"
Given `Cargo.toml`:
[code]

`main.rs`:
[code]
And `cli.yaml`:
[code]
The program compiles, however it panics immediately with the following message:
[code]

When the yaml file is fixed to have 4 spaces of indentation, the error disappears and it works correctly.
The problem isn't with enforcing 4 spaces per se (if that was the intention), although the default indentation style that yaml recommends

[2021-01-30 16:50] pksunkara commented on #2319
It's not about 4 spaces. You have `arg:` and `short:` starting on the same column.

[2021-01-30 16:58] booleancoercion commented on #2319
Ah, well, I still believe that's a bug... I also thing Github Actions uses the same syntax

[2021-01-30 17:03] pksunkara commented on #2319
That's not a bug, because you wrote it wrong. Them starting on the same column means it's the same object. Equivalent JSON:

[code]

But what clap needs is `short` being more indented which means the following equivalent JSON:

[code]

[2021-01-30 17:08] booleancoercion commented on #2319
The bug I was referring to was in fact the error message itself.
It's difficult to understand what caused the error when it's an unwrap on a `None` value.

[2021-01-30 22:11] #2018 closed

[2021-01-31 06:26] henryboisdequin opened #2321 "Changing Clap App's name doesn't do anything"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`

### Version

* **Rust**: rustc 1.51.0-nightly
* **Clap**: "2.33.3"

### Behavior

I ran this code normally with `cargo run`, everything worked fine. I renamed the app

[2021-01-31 06:32] ldm0 commented on #2321
This is not a bug. If you find your executable, it's name is `foobar` rather than `foo`.

[2021-01-31 06:33] #2321 closed

[2021-02-01 06:36] wchargin commented on #1740
+1; removing values doesn’t make any sense to me. A simple example: a
command-line tool that takes `--prefix` (for filtering), which should
default to an empty string (to match all items).

A few well-known programs that have useful empty-string options:

  - `git show --format=`: Show patch only, without message. Useful
    enough that I have an alias for it.
  - `awk -F ''`: Use the empty regexp

[2021-02-04 09:49] zzz845zz opened #2326 "A `require*` method that expressing `and(&&)` condition when requesting an argument"
### Make sure you completed the following tasks
- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case
I think the function that requires some arguments only if multiple conditions are satisfied is helpful.

The example of `required_ifs` below is similar to `or(||)` expression, not `and(&&)` (from [here](https://do

[2021-02-04 11:59] pksunkara commented on #2326
The name should be `require_if_eq_all`

[2021-02-05 07:17] dimo414 commented on #1649
#815 is related and might eliminate the need for boolean literals.

[2021-02-05 08:05] dimo414 commented on #1264
I was bitten by this issue myself while trying to add ArgRequiredElseHelp to a CLI. It's wholly unintuitive - both to the user and the developer - that the use of default values would be considered sufficient to bypass this check.

[2021-02-05 09:11] dimo414 opened #2327 "Usage string is invalid when conflicting flags are passed"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Code

[code]

### Steps to reproduce the issue

Run [the above](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ee68d63ce358ba20cf1659bc5a389ef) and look at the "USAGE" line; it displays `cmd --bar --baz --foo`

[2021-02-06 16:50] #2308 closed

[2021-02-06 22:12] giggio opened #2332 "Validate all arguments together"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closed issues

### Describe your use case

I'd like to have a validation function that would validate the arguments together.

### Describe the solution you'd like

I'm thinking something like this:

[code]

(I'm not married to this example, it is just s

[2021-02-07 14:14] pksunkara opened #2335 "Implement visible aliases for args in completions."
Currently, completions correctly support arg's short visible aliases but not the arg's long visible aliases. This issue is about rectifying it.

#### Implementation

Follow the same pattern from `shorts` and implement for `longs` too in `clap_generate`

[2021-02-07 15:11] #1026 closed

[2021-02-07 15:11] #2171 closed

[2021-02-07 18:05] pksunkara commented on #1640
I have thought about this more and removed the added `version_about` in favor of doing `app.mut_arg("version", |a| a.about("version info"))`. Setting it once at the top level `App` should be enough.

[2021-02-07 18:05] pksunkara commented on #2080
I have thought about this more and removed the added `help_about` in favor of doing `app.mut_arg("help", |a| a.about("help info"))`. Setting it once at the top level `App` should be enough.

[2021-02-14 12:48] pksunkara commented on #1419
As discussed in #2341, the priority is given as follows:

When `print_help` function is called:

* `App::bin_name`
* `App::name`

When `--help` is used:

* `App::bin_name`
* executable name of the binary
* `App::name`

If you want consistent behaviour, you need to set `bin_name`

[2021-02-14 12:48] #1419 closed

[2021-02-15 03:05] BeldrothTheGold commented on #2255
found this related issue in structopt repo https://github.com/TeXitoi/structopt/issues/124

[2021-02-15 15:47] Saecki commented on #1898
So just a follow up as I encountered this myself. How about using the passed bin_name as a file name if the app doesn't have one. Or providing a more helpful error message with `expect` instead of `unwrap` that says `App is missing a bin_name, consider adding one by using App::bin_name` or something similar.

[2021-02-16 03:16] ldm0 commented on #1374
Nope, this behaviour is not correct. As the [`override_with`'s documentation](https://docs.rs/clap/3.0.0-beta.2/clap/struct.Arg.html#method.overrides_with) states, the override bahviour is disabled when one of the Multiple* enabled. While min_values introduces MultipleValues, the correct behaviour is both of them returning `["a", "b", "c" "d"]`.

Why currently it works? This is because currently t

[2021-02-16 04:57] dmaahs2017 commented on #1794
Is this issue solved?

[2021-02-16 04:58] ldm0 commented on #1794
Nope, currently.

[2021-02-16 05:08] dmaahs2017 commented on #1794
Okay, I'm going to take a crack at it then :)

[2021-02-16 21:06] matthiaskrgr opened #2351 "build failure with `--all-features`"
repo is @ 2b45011c9bed331319837eceb2b593e84b5b9cfa

`cargo check --all-features`
[code]

[2021-02-16 21:09] pksunkara commented on #2351
@ldm0 This is a bug with your recent change

[2021-02-18 20:39] #2351 closed

[2021-02-18 21:07] #2229 closed

[2021-02-20 02:46] wchargin opened #2354 "Allow users to indicate that specific arguments may be ignored if not recognized"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
    - Relevant: #2314 opened by @josvisser66. That discussion has one
      request to file it as an issue, and one request for more info.
      Here, then, is an issue with more info.
- [x] Searched the closed issues: for *unrecognized arguments*

### Describe your use ca

[2021-02-20 20:15] xaocon opened #2355 "Unclear instructions for `app_from_crate!`"
### Clap version

2.33.3 - though I checked masters docstrings and I don't see any improvement.

### Where

https://github.com/clap-rs/clap/blob/3907e116210884f9259ae94e78dc031e9511ca6f/src/macros.rs#L169
https://docs.rs/clap/2.33.3/clap/macro.app_from_crate.html

### What's wrong

It's not clear how to develop this into a fully formed app. I was hoping to use it like `clap_app!` but with sections

[2021-02-20 20:31] pksunkara commented on #2355
Here's an example, https://github.com/clap-rs/clap/blob/6ce1e4fda211a7373ce7c4167964e6ca073bdfc1/tests/app_from_crate.rs#L16

And the macro code is pretty self-explanatory. https://github.com/clap-rs/clap/blob/3907e116210884f9259ae94e78dc031e9511ca6f/src/macros.rs#L194

[2021-02-20 21:01] xaocon commented on #2355
The `app_from_crate` code is pretty self-explanatory but I had hoped to use `app_from_crate!` with the argument building style from `clap_app!` and I can't make sense of that one. I guess you're saying that there's not a good way to build out arguments for the app using macros if you use `app_from_crate!`? It turns out I had had a mistake in my syntax that was keeping me from using the `crate_*!`

[2021-02-20 21:12] pksunkara commented on #2355
Can you paste your code?

[2021-02-20 21:15] pksunkara commented on #2355
And no, `app_from_crate!` cannot be  used with `clap_app`

[2021-02-20 21:15] #2355 closed

[2021-02-21 15:18] ldm0 commented on #2031
Recent change of MultipleValues related change fixes this problem.
[code]
Code above doesn't work correctly with `cargo run -- a b c d ef g` on `3.0.0-beta.2`, but it works correctly on current master. cc @pksunkara .

[2021-02-21 15:50] #2031 closed

[2021-02-22 09:09] #2335 closed

[2021-02-22 09:30] pksunkara commented on #1431
Related to #1382

[2021-02-22 09:35] pksunkara commented on #2181
@logansquirel This is a good one.

[2021-02-22 16:08] #2181 closed

[2021-02-22 16:12] pksunkara commented on #1432
@logansquirel You can try this one next 😄. Really appreciate the contributions.

[2021-02-23 16:43] ldm0 commented on #2233
Opinion syncing: so removing all interlinking flags, and check them in `assert_app`?

[2021-02-23 16:45] pksunkara commented on #2233
Yup.

[2021-02-23 18:02] LinusCDE commented on #1002
Would be really cool to have this for derive as well.

[2021-02-24 20:07] logansquirel commented on #1432
I need some help for this issue !

After reading all the discussion and related issues/pull requests, I do not know what I should implement.

I spent some time on this issue.
I can confirm this issue is still not resolved and the behavior described in original post is still the same with version 3.0.0-beta.2.

I tried to dive into help2man documentation/source code to understand how does it work b

[2021-02-25 02:20] ssokolow commented on #1432
Bear in mind that the fact that help2man *exists* speaks to the existence of a formatting convention widespread enough to make it practical.

Even if we clap doesn't choose to explicitly support help2man, aligning itself with an established formatting convention should be considered.

[2021-02-25 03:31] logansquirel commented on #1432
I concur with this !

In this case we have to find the convention clap should use.

Then I have to find the established convention. The best description I found is directly in man-pages: [man-pages](https://man.archlinux.org/man/core/man-pages/man-pages.7.en)
In this page, the convention states that authors is highly discouraged. Removing authors seems to be the path to follow.

@ssokolow If you h

[2021-02-25 09:59] pksunkara commented on #1432
I think we agreed on doing "I add \n to the end of the version string and the beginning of the about string" and that should fix this issue. Don't need to write any new tests either since many existing tests will be testing this anyway.

[2021-02-25 12:04] ssokolow commented on #1432
@logansquirel I haven't had time to dig deeper, so all I have on hand is:

1. The [`--help` Recommendations](https://www.gnu.org/software/help2man/#g_t_002d_002dhelp-recommendations) section of the help2man manual.
2. The knowledge that help2man employs a Markdown-like heuristic for un-wrapping hard-wrapped lines. (That's what clap is currently running afoul of.)

Barring finding something more de

[2021-02-26 18:54] shepmaster opened #2367 "Allow accessing the env name and default value when iterating over the arguments"
**Please complete the following tasks**

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

**Describe your use case**

I want to offer the ability to quickly generate a placeholder `.env` file for developers working on my projects. This information is contained with the `App` struct via the name / help text / environment

[2021-02-26 18:56] pksunkara commented on #2367
Need more description and examples. Not really sure what you are asking here.

[2021-02-26 19:06] shepmaster commented on #2367
Updated.

[2021-02-27 17:19] #1432 closed

[2021-02-28 12:32] pksunkara commented on #1900
@logansquirel This is easy.

[2021-02-28 12:35] pksunkara commented on #1406
@logansquirel And then you can take this.

[2021-02-28 12:37] pksunkara commented on #2167
Closing this as duplicate of #2005

[2021-02-28 12:37] #2167 closed

[2021-02-28 12:38] pksunkara commented on #2009
@logansquirel This one.

[2021-02-28 13:50] #2326 closed

[2021-03-01 15:22] nixpulvis opened #2373 "Add `required_if_present*` akin to `required_unless_present*`"
**Please complete the following tasks**

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

**Describe your use case**

The natural inverse of `required_unless_present`, which allows checking if a flag is set without comparing it's value.

**Describe the solution you'd like**

Implementations for:

- `clap::Arg::required_

[2021-03-01 18:29] pksunkara commented on #2373
There is `requires` for it. (https://docs.rs/clap/3.0.0-beta.2/clap/struct.Arg.html#method.requires)

[2021-03-01 18:29] #2373 closed

[2021-03-01 18:30] pksunkara commented on #2373
The only function that can't probably be done is `required_if_all`, but let's create a feature request when someone actually needs it.

[2021-03-01 18:33] nixpulvis commented on #2373
Why not just make the interfaces uniform so people don't bump into this like I have.

[2021-03-01 18:35] nixpulvis commented on #2373
Following the current naming, shouldn't this be `requires_all`?

[2021-03-01 18:37] nixpulvis commented on #2373
And shouldn't `requires_if` really be `requires_if_eq`?

I'm trying to get a sense of consistency from the 3.0 interface and I'm struggling.

[2021-03-01 18:53] pksunkara commented on #2373
Because it's about how they get used. If you have required_if_present, you
have to write it for every arg. But if you have requires, you have to write
it for just one arg. In fact, this is how a lot of people are using it.

On Mon, Mar 1, 2021, 18:37 Nathan Lilienthal <notifications@github.com>
wrote:

[2021-03-01 18:55] pksunkara commented on #2373
And yeah some of names might need a little bit of tweaks. Do propose some
renames for 3.0. there should be an issue.

On Mon, Mar 1, 2021, 18:53 Pavan Kumar Sunkara <pavan.sss1991@gmail.com>
wrote:

[2021-03-02 11:04] x3rAx opened #2375 "Argument conflicts with subcommand name"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

clap = "3.0.0-beta.2"

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

- `cargo run -- file test test 1`
- `cargo r

[2021-03-02 11:06] pksunkara commented on #2375
Can you please run this with the master branch?

[2021-03-02 11:39] x3rAx commented on #2375
I'm sorry, but I am not sure how to do this. I added
[code]
to `cargo.toml` and now I get the following errors and I don't understand how I can fix them (I'm new to Rust so please forgive me if this is actually pretty obvious):

[code]

What I tried was changing `subcmd` of the `Opts` struct to `subcmd: Option<SubCommand>,` and `subcmd: Option<(&str, &SubCommand)>,` but with no success...

[2021-03-02 12:30] pksunkara commented on #2375
You would need to clone the repo locally and point to it using `path = "../clap"`

[2021-03-02 12:50] x3rAx commented on #2375
From the project root, I ran

[code]

then changed the dependency in `cargo.toml` to

[code]

but I still get the same compile error as above.

[2021-03-02 15:20] jaques-sam opened #2378 "Make "name" optional in YAML -- nothing gets parsed if it's left out"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

1.48.0

### Clap Version

2.33.3

### Minimal reproducible code

Using rust edition 2018:
[code]
cli.yaml:
[code]

side note: why can I not make this window bigger (using Firefox)!! Very annoying :-(

### Steps to

[2021-03-02 17:12] pksunkara commented on #2378
Duplicate of #1338. You did not search for issues.

[2021-03-02 17:12] #2378 closed

[2021-03-04 11:22] jaques-sam commented on #2378
Thanks for looking into it so quickly. Sorry, I did search but it was not successful indeed :p

[2021-03-04 15:39] woelper commented on #1608
I had this issue, too - in case it helps anyone, i used `.get_matches_from()` and filtered incoming arguments before with `let args: Vec<String> = std::env::args().filter(|a| !a.contains("psn_")).collect();`

[2021-03-04 20:44] grandopener opened #2381 "Want to require any option from a group, or from a list"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

If one of a set of actions is indicated, shared options for those actions should be allowed.  Those "shared options" should require at least one of the actions to be specified.  it's certainly possible I

[2021-03-05 11:48] #2381 closed

[2021-03-05 17:23] #2367 closed

[2021-03-06 20:39] ducaale opened #2389 "Clap derive should parse markdown doc comment into normal text"
Maintainer's notes:
- Workaround: `verbatim_doc_comment` attribute

Blocked on finalizing details of `StyledStr`, including
- https://github.com/clap-rs/clap/issues/3234
- https://github.com/clap-rs/clap/issues/1433
- https://github.com/clap-rs/clap/issues/3108

---
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I

[2021-03-07 18:08] ldm0 commented on #751
Info: https://stackoverflow.com/questions/5408730/what-is-the-encoding-of-argv . And on Windows, Rust args should always be UTF-16 since it's using [`GetCommandLineW`](https://github.com/rust-lang/rust/blob/0d97f7a96877a96015d70ece41ad08bb7af12377/library/std/src/sys/windows/args.rs).

Opinion: Using `value_of` do introduces possiblility of panic, but the current api designed is the same as [`std:

[2021-03-08 15:21] neithernut opened #2393 "Need for Arg::number_of_values via clap_app macro"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

If `.multiple(true)` is set on an `Arg` named `p`, clap will accept both `-p A B C` and `-p A -p B -b C`. In conjunction with positional parameters and subcommands, tool authors usually want clap to only

[2021-03-09 00:49] pksunkara commented on #2393
This has been fixed in v3 where the position of `...` either sets `multiple_values` or `multiple_occurrences`.

[2021-03-09 00:49] #2393 closed

[2021-03-09 15:10] tailhook opened #2396 "Custom value hint"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

Let's imagine I have a `make`-like utility. And I want:
[code]
To complete to commands listed in the `Makefile` in the current directory. Most current shells can handle this, but I don't think there is a

[2021-03-09 15:19] theguy147 opened #2397 "is_present returns wrong args"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

2.33.3

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

`cargo run -- bar`

### Actual Behaviour

it returns "foo"

[2021-03-09 15:29] #2397 closed

[2021-03-09 16:56] pksunkara commented on #2396
Duplicate of #1232

I assume you saw that issue when searching? Why did you decide to create a new one?

[2021-03-09 16:56] #2396 closed

[2021-03-09 17:49] #2233 closed

[2021-03-10 11:12] omar25h commented on #2375
I noticed that this only happens when the field is named `subcmd`. Setting this field to anything else like `sub` would fix the compilation issue. Not sure about the reason though

[2021-03-10 11:15] ensc opened #2403 "regression: "ArgSettings::TakesValue is required when ArgSettings::MultipleValues is set""
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.0-nightly (e37a13cc3 2021-02-28)

### Clap Version

975ceed904290069b7cf65e177677ecea12e4dd6

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

cargo run -- -DDD

[2021-03-10 11:19] ldm0 commented on #2403
`multiple` implies `multiple_values` and `multiple_occurrences`. and `MultipleValues` is only valid with `TakeValues` on. Please check this:
[code]

[2021-03-10 11:32] #2403 closed

[2021-03-10 12:16] omar25h commented on #2375
@pksunkara The original code compiles, but the behavior is still the same as `3.0.0-beta.2`, so the issue can be reproduced.

However, the `subcmd` field name looks like a different problem.

[2021-03-10 15:07] tailhook commented on #2396
No I didn't see that. Sorry.

[2021-03-10 18:06] omar25h opened #2405 "Using subcmd field name in subcommand derive"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

master

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

cargo build

### Actual Behaviour

[code]

### Expected Beh

[2021-03-10 20:11] #2405 closed

[2021-03-10 20:16] pksunkara commented on #2009
@logansquirel Did you get a chance to look at this? This might have already been fixed on master.

[2021-03-10 20:17] pksunkara commented on #2375
Now that the error has been fixed, can someone paste what the actual behaviour is on master?

[2021-03-11 07:23] #2009 closed

[2021-03-11 09:14] #1740 closed

[2021-03-11 09:15] logansquirel commented on #2375
# Actual behavior

[code]

[2021-03-11 09:24] pksunkara commented on #2375
So, the second case has been fixed (probably by @ldm0), but not the first case.

[2021-03-11 10:44] logansquirel commented on #2327
Original issue used a combination of `required(true)` and `conflicts_with_all(...)` making other arguments obsolete. However the `USAGE` string is still incorrect without `required(true)`

# `v2.33.3`

`main.rs`:
[code]

[code]

# `v3.0.0-beta.2` and `master`

`main.rs`:

[code]

Beta version:

[code]

Master version:

[code]

# Conclusion

The issue seems to be fixed in `v3.0.0-beta.2` and on `ma

[2021-03-11 10:51] #2327 closed

[2021-03-11 15:54] #1900 closed

[2021-03-12 08:21] pksunkara commented on #2220
I am closing this because the fix needs to be in deno and we did everything else from our side.

[2021-03-12 08:21] #2220 closed

[2021-03-12 16:01] DocKDE opened #2409 "Conflicting arguments in group only work for first group in YAML file"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

1.50.0

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

Use this .yaml for any command line parsing.

### Actual Behaviour

When calling t

[2021-03-12 17:02] mgrachev commented on #1616
@pksunkara Maybe close this issue?

[2021-03-12 17:12] pksunkara commented on #1616
We recommend using https://docs.rs/clap/3.0.0-beta.2/clap/struct.App.html#method.get_matches_from

[2021-03-12 17:12] #1616 closed

[2021-03-12 20:04] pksunkara commented on #2409
Need the command which is failing and the debug output.

[2021-03-12 20:05] pksunkara commented on #2409
Basically, the "actual behaviour" sections need actual command runs and their outputs.

[2021-03-12 20:37] DocKDE commented on #2409
I updated the section for expected and actual behaviour. Although I must add I'm not sure what you mean by failing commands and debug output. My issue is precisely that there is no failing command when I expected it so there's no debug output I can post.

[2021-03-13 05:32] pksunkara commented on #2409
What you wrote now is good.

[2021-03-19 19:11] PoignardAzur commented on #1232
Is there progress on this issue? The approach suggested by @CreepySkeleton seems pretty good to me.

If the issue is stalled for need of a contributor, I'd be interested in spending a few days on it (especially if I can get some mentoring). I'd really like to improve cargo's autocompletion.

[2021-03-19 19:48] pksunkara commented on #1232
This is still in design phase. According to the current suggested design, this needs more foundational work regarding partial parsing (#1880).

[2021-03-20 17:21] cptpcrd opened #2419 "Using index_of()/indices_of() with optional arguments that take optional values"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

I have multiple optional arguments with optional values. If several of them were specified *without* passing a value, I want to determine the indices of the arguments so I can find out which one was spec

[2021-03-26 16:29] dalance opened #2422 "Path of generated completion"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

Currently, `clap_generate::generate_to` ( v3 ) and `clap::gen_completions` ( v2 ) don't provide the file path of the generated file.
So user can't show the verbose message like below:

[code]

### Descri

[2021-03-27 19:03] regexident commented on #2009
Any chance for cutting a beta release with this included? It's currently a blocker for several projects of mine.

[2021-03-28 00:28] HitomiTenshi opened #2425 "Unable to validate YAML config"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.51.0 (2fd73fabe 2021-03-23)

### Clap Version

master @ 52814b893c87e1c0350cae13fc1988fe2aa9886a

### Minimal reproducible code

src/main.rs

[code]

src/cli.yaml

[code]

### Steps to reproduce the bug wi

[2021-03-29 20:00] Urhengulas commented on #1404
Hi @CreepySkeleton, @pksunkara,

I'd be interested in implementing this, if there is some guidance in how to approach this best. My idea would be to do it very similar to [`AppSettings::TrailingVarArg`](https://docs.rs/clap/2.33.3/clap/enum.AppSettings.html#variant.TrailingVarArg) and put all the "ignored arguments" into the final trailing positional argument.

What do you think?

[2021-03-29 20:47] pksunkara commented on #1404
I don't think anything needs implementation here. As @cecton says, you can use those app settings to allow the end users to add extra arguments.

[2021-03-30 13:30] Urhengulas commented on #1404
Hi @pksunkara, I've tried that, but this only ignores arguments "at the end", not "in the middle". Let me outline my situation:

### What I want
Let's assume I have following app:
[code]
Therefore my cli can be invoked like this:
[code]

But now I also want to allow the user to add arbitrary arguments at all positions, like this (which is the short form of [this](https://github.com/knurling-rs/fli

[2021-03-30 13:43] pksunkara commented on #1404
You are welcome to try implementing it but I think this would need a complete parsing logic refactor since we need to design the new logic from ground up.

[2021-03-30 15:35] pksunkara commented on #1404
Implementing #1880 might help you with this. You can try researching that direction.

[2021-03-30 16:52] cecton commented on #1404
You can ssk the user to provide the parameters for the inner process separately:

[code]

That's what `--` is usually for in Unix-like command lines.

[2021-03-30 21:32] regexident commented on #2009
The sound you just heard is structopt's sigh of relief. 😄 #notdeadjustyet

[2021-03-31 11:15] Urhengulas commented on #1404
@cecton Thank you for the tip. The problem is that I want to provide compatibility with another cli, `ld` to be precise ([man page](https://linux.die.net/man/1/ld)), and allow the user to invoke it just like they would invoke `ld`. Therefore I can't enforce additional usage rules.

But I only want to capture some of the arguments to do some preprocessing and then hand over all the arguments to `ld

[2021-04-01 03:51] gerard-ryan-immersaview opened #2429 ""--version" Prints to standard output with `get_matches_safe()`"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

2.33.3

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

1. `cargo run -- --help`
2. `cargo run -- --version`

### A

[2021-04-01 04:04] ldm0 commented on #2429
This has already been fixed by https://github.com/clap-rs/clap/pull/1602. But we are not maintaining v2 branch anymore. You can switch to v3 or current master.

[2021-04-01 04:04] #2429 closed, assigned to nobody

[2021-04-03 21:14] pksunkara commented on #2425
@HitomiTenshi I would welcome a PR.

[2021-04-03 21:16] pksunkara commented on #2422
Should be an easy fix. Would welcome a PR.

[2021-04-06 08:46] #1898 closed

[2021-04-06 08:46] #2422 closed

[2021-04-06 08:49] pksunkara commented on #2389
There is quite a bit of discussion in #2401

[2021-04-06 12:54] pwinckles opened #2435 "Configure help subcommand to print long form"
### Please complete the following tasks

I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
I have searched the existing issues

### Describe your use case

The `help` subcommand prints the short help form, and I would like to configure it to print the long form instead.

The long form is more inline with my expectations of what the `help` subcommand should return. For

[2021-04-06 18:31] gmjosack commented on #873
If anyone comes across this issue later (as it's basically the only useful result when searching for this issue) if you want to be able to propagate unknown args to another program the following worked for me

[code]

Specifically missing from the previous example to propagate flags without the `--` delimiter

[2021-04-08 12:48] danieleades commented on #1584
a year and a bit down the line, where are things at now?

[2021-04-08 13:18] pksunkara commented on #1584
We have decided on the plan and the difference between clap v3 and structopt long ago, https://github.com/clap-rs/clap/issues/1574#issuecomment-575919336

[2021-04-08 14:34] danieleades commented on #1584
In that case, I think this issue can probably be closed

[2021-04-08 15:16] pksunkara commented on #1584
I am using this issue as a placeholder to write a small blurb about it in the readme/website

[2021-04-09 10:30] TilCreator commented on #1661
I really like the derive stuff, it's great!
But I found a problem with `#[clap(parse(try_from_str)]`:
[code]

Parsing `Args::url` works great, but `Args::selector` doesn't find the from function, because clap doesn't seam to search for `try_from` implementations. Guessing by the name I would expect `try_from_str` to use `try_from(&str)`, not `from(&str)`.

[2021-04-09 10:35] pksunkara commented on #1661
Can you please create a separate issue?

[2021-04-09 11:02] TilCreator opened #2437 "`#[clap(parse(try_from_str))]` doesn't use `try_from(&str)`"
### Please complete the following tasks

I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

`cargo run -- https://exameple.com body`

### Actual Behaviour

I

[2021-04-09 13:14] Dentrax opened #2438 "`.license()`: method not found in `App<'_, '_>`"
### Please complete the following tasks

I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
I have searched the existing issues

### Rust Version

`rustc 1.49.0 (e1884a8e3 2020-12-29)`

### Clap Version

`2.33.3`

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

`$ cargo run`

### Actual Behaviour

[code]

### Expected Behaviour

[2021-04-09 13:20] Dentrax commented on #2438
Same for `Arg:new()`:

[code]

[code]

[2021-04-09 13:23] Dentrax commented on #2438
![Uploading Screen Shot 2021-04-09 at 16.23.38.png…]()

[2021-04-09 18:17] pksunkara commented on #2438
You are using API from master while trying to use clap v2.33.3.

[2021-04-09 18:19] #2438 closed

[2021-04-09 22:09] reaganmcf commented on #2435
I would like to work on this 😄

[2021-04-10 02:23] reaganmcf commented on #2435
I have made a little bit of progress on this (added the setting and started integration tests). However, I am wondering how I would go about writing integration tests for this. Reading over the code base, I found `utils::compare_output()` but that seems to be for errors.

(I am going to reformat and run clippy before I send the PR, so ignore that for now)

Here is an example of one of my tests, wh

[2021-04-10 05:02] ldm0 commented on #2435
@reaganmcf `compare_output()` is not only for errors. It can be used for both stdout and stderr. There is anothing wrong with you tests.

[2021-04-10 16:08] reaganmcf commented on #2435
@ldm0 Currently the test above is pacnicking. Here is is the output:
[code]

[2021-04-10 16:17] ldm0 commented on #2435
@reaganmcf Hmm, check this?:
[code]

[2021-04-12 23:12] #2435 closed

[2021-04-14 19:50] HerbM commented on #1024
# Syntax given in the response is not working for me using Beta2
(but thanks so much for a great tool that otherwise does so much)

    **3.0.0-beta.2
    rustc 1.53.0-nightly (0b417ab5c 2021-04-03)
    Windows 10**

[code]

I've also tried it with the exact same parameter names (first) and comment

``
    (@arg first: "first" )
[code]
   let targs = MATCHES.is_present(TARGETS);

   // gives error

[2021-04-17 09:15] pksunkara opened #2443 "Should `derive` be in the default feature list?"
It's currently in it. But I am thinking of changing it to not be in it.

@BurntSushi I would like your opinion on this. What do you think?

[2021-04-17 10:39] BurntSushi commented on #2443
Depending on how it impacts compile times, I would probably disable it every time. With that said, I kind of already expect to disable clap features when I use it, so I don't really see this as that big of a deal personally. The other mitigating factor is that clap tends to show up a direct dependency of a CLI tool and nowhere else, so if you disable default features, it's highly likely that they'

[2021-04-17 10:47] pksunkara commented on #2443
Yeah, I completely agree. I am just trying to decide which default is better and how many users (cli developers) want that default.

1. Keep the `derive` in default features list:

    1. Users want to use it:

[code]

    2. Users want to disable it:

[code]

2. Don't use `derive` in default features list:

    1. Users want to use it:

[code]

    2. Users want to disable it:

[code]

[2021-04-17 11:11] BurntSushi commented on #2443
My sense is that a lot of people like the derive functionality, so it might make sense to use it by default. But... If that's wrong and most folks aren't using it, then I think that's going to add a pretty big compilation hit for no reason. So I don't really know what the right answer is unfortunately.

You could follow serde's lead here, which requires opting into the derive functionality.

[2021-04-18 00:38] nkaretnikov opened #2445 "Trailing newlines are missing for long_help output when term width is exceeded"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.49.0-nightly (ffa2e7ae8 2020-10-24)

### Clap Version

2.33.3

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

cargo run -- --help

### Actual Behaviour

Trailing

[2021-04-18 01:02] pksunkara commented on #2445
Should be fixed in master.

[2021-04-18 01:02] #2445 closed

[2021-04-18 12:33] nkaretnikov commented on #2445
@pksunkara tested on d253c34, seems to work (after changing some things to match the new API). thx for the quick response!

[2021-04-19 02:04] Lunderberg commented on #1694
A similar change would also be useful for `required_if`'s interaction with case insensitive arguments.  Currently, I want to make a case-insensitive enum argument, where some of the enum values would also have additional required arguments.  I have this set up as below, which works in most cases.

[code]

If this is run as `test --enum OptionA`, I get the expected behavior, an error message that t

[2021-04-20 15:12] throwaway1037 opened #2447 "Add support for other DSLs"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

It would be good if the programmer could use other DSLs (data serialisation langauges) other than YAML, such as RON, JSON, TOML, etc.

I would very much like to use RON or JSON instead of YAML.

### Desc

[2021-04-20 15:16] pksunkara commented on #2447
How did you not find https://github.com/clap-rs/clap/issues/1630?

[2021-04-20 15:16] #2447 closed

[2021-04-20 15:21] throwaway1037 commented on #2447
I apologise. I searched for "support" because I expected something like "Add support for XYZ."

[2021-04-20 17:18] throwaway1037 commented on #1630
I think RON should be supported.

Also, I think DSL support should only cost compile time and be baked into the binary, with no cost at runtime since it's essentially a declarative specification of the command-line arguments for the program. The alternative is reading the file at runtime, and then having to distribute it with the program, which is slower and uses more storage space. I don't know w

[2021-04-20 20:59] mina86 opened #2448 "Singleton optional values should use `[<name>]` in help message"
### Rust Version

rustc 1.53.0-nightly (9d9c2c92b 2021-04-19)

### Affected Version of clap

3.0.0-beta.2

### Expected Behavior Summary

Help message for `Option<Option<type>>` switches uses `[<name>]` rather than `<name>...` to indicate that the value is optional.  For example, for switch `opt` the help screen reads `--opt [<opt>]`.  Ellipsis suggests that the value can be provided more than onc

[2021-04-21 13:16] kamilogorek commented on #1570
Hey, is this change still in the v3 roadmap?

[2021-04-21 14:37] pksunkara commented on #1570
If you look at the milestone. It's not scheduled for v3 release. But afterwards.

[2021-04-25 15:55] pksunkara commented on #2448
Can you please add more context on why `Option<Option<i32>>` is used instead of `Option<i32>`?

[2021-04-25 20:01] mina86 commented on #2448
`Option<i32>` makes the argument of the switch required which is something I don’t want.  I want `--opt` to enable particular feature while allow `--opt=<value>` to customise an argument of that feature. For example, it could be `--parallel=[<count>]` switch which enables parallel processing defaulting to number of jobs equal number of CPUs.

[2021-04-25 23:51] jarrodldavis opened #2454 "Required trailing var arg positional should be printed last in usage"
### Rust Version

`rustc 1.51.0 (2fd73fabe 2021-03-23)`

### Affected Version of clap

Latest `master` ([`d253c34676acf73c7ad04bcec56ff573e925681d`](https://github.com/clap-rs/clap/commit/d253c34676acf73c7ad04bcec56ff573e925681d))

### Expected Behavior Summary
A required trailing var arg positional should always be printed last for a command's usage, since the `AppSettings::TrailingVarArg` parsin

[2021-04-26 23:51] kbknapp commented on #2443
Yeah I don't have a good answer for this one either. I can see it both ways. I hear a lot of people that love the derive functionality, but I also hear a lot of people that are very sensitive to compile times and code bloat. I think the longer I use Rust I personally fall in the camp of preferring opt-in vs opt-out, however those feelings aren't super strong.

I think if we make it the default, th

[2021-04-27 20:40] ajeetdsouza commented on #1790
@pksunkara instead of a DSL, perhaps users can supply `after_help_pieces: Vec<(String, Option<Color>)>`? That way, you can just pass it to the `Colorizer` the same way other strings in clap are passed.

[2021-04-27 21:23] frankwiles opened #2457 "Expired SSL certificate on https://clap.rs"
### Rust Version

n/a

### Affected Version of clap

n/a

### Expected Behavior Summary

Valid SSL certificate

### Actual Behavior Summary

Let's Encrypt certificate expired in February 2021

### Steps to Reproduce the issue

Browse to https://clap.rs

![Screen Shot 2021-04-27 at 4 23 21 PM](https://user-images.githubusercontent.com/144159/116314578-e67e1680-a774-11eb-91fb-6d91a3373702.png)

[2021-04-27 21:28] pksunkara commented on #2457
I think github should renew it soon. We only changed the URL to point to this yesterday.

[2021-04-27 21:35] pksunkara commented on #2457
Fixed now. Github had just finished renewing it.

[2021-04-27 21:35] #2457 closed

[2021-04-27 22:03] frankwiles commented on #2457
Excellent thanks!

[2021-04-29 17:26] timvisee opened #2458 "clap_generate 3.0.0-beta.2 panics on generate_to"
### Rust Version

* `rustc 1.51.0 (2fd73fabe 2021-03-23)`

### Affected Version of clap

* `3.0.0-beta.2`

### Expected Behavior Summary

When generating completions to a file (with [`generate_to`](https://docs.rs/clap_generate/3.0.0-beta.2/clap_generate/fn.generate_to.html)), a script should be outputted to a file.

### Actual Behavior Summary

When generating completions to a file (with [`genera

[2021-04-29 17:27] pksunkara commented on #2458
This has been fixed in master.

[2021-04-29 17:27] #2458 closed

[2021-04-29 17:35] timvisee commented on #2458
Thanks a lot for the prompt response! I've just confirmed this.

@pksunkara Could a new beta version including this fix be released soon? I'm currently blocked by this.

[2021-04-29 17:37] pksunkara commented on #2458
Unfortunately a lot of breaking things has changed and I am planning on even more bigger ones. It would be a big mess for updating between these beta releases.

[2021-04-29 17:38] timvisee commented on #2458
I understand. Hope to see a release later. Thanks for looking into it!

[2021-04-30 10:52] htejun opened #2459 "Positional argument and subcommands interfere with each other"
### Rust Version

rustc 1.51.0 (2fd73fabe 2021-03-23)

### Affected Version of clap

2.33.3

### Expected Behavior Summary

Given the following source code:
[code]
All of the following three invocations should parse successfully:
[code]

### Actual Behavior Summary

The last two fail.
[code]

### Steps to Reproduce the issue

Build the program from expected behavior summary and run the program wit

[2021-04-30 11:10] pksunkara commented on #2459
Fixed on master.

[2021-04-30 11:10] #2459 closed

[2021-05-02 18:28] HoolaBoola opened #2466 "Cargo generate fails on generate_to with version beta.2"
### Rust Version

`rustc 1.49.0 (e1884a8e3 2020-12-29)`

### Affected Version of clap

`version = "3.0.0-beta.2"`

### Error message

Here's the error message

[code]

Here is a link to our `build.rs`, where the `generate_to` function is called:

https://github.com/rage/tmc-cli-rust/blob/43df1a74d900b689acf7948533f49a83817d2049/build.rs

And here is how we have defined our Clap app:

https://raw.g

[2021-05-02 18:35] pksunkara commented on #2466
Fixed on master.

[2021-05-02 18:35] #2466 closed

[2021-05-05 10:44] mkayaalp opened #2468 "Support non-Unix options (e.g. find -exec, bash +O shopt, cmd.exe /c, gcc -Wl,)"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

There are many CLIs that do not follow the Unix way of short vs. long options. While it might not be a good idea for new programs to have such an interface, it may be needed for compatibility.

## Exampl

[2021-05-05 21:08] timboudreau commented on #975
While `AppSettings::InferSubcommands` is nice, where a default subcommand would really add value is _when you are adding subcommands that did not have *any* before_ and want existing scripts that call the app to still work.

[2021-05-06 00:32] pksunkara commented on #975
The thing is default subcommand can be implemented in non clap code by simply running that subcommand logic when no subcommand is found. We do not want add complicated parsing logic when there is an easy and actually better work around.

[2021-05-06 20:48] mkayaalp opened #2469 "clap_up build fails: no method named `hook_method_call_expr_on`"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

`rustc 1.52.0 (88f19c6da 2021-05-03)`

### Clap Version

`master`

### Steps to reproduce the bug

[code]
or:
[code]

### Actual Behaviour

[code]

### Additional Context

The commit [`b69c192`](https://github.com

[2021-05-06 21:58] pksunkara commented on #2469
Yeah, `clap_up` is still WIP which is why it is not in `default_members` https://github.com/clap-rs/clap/blob/master/Cargo.toml#L118

[2021-05-06 21:58] #2469 closed

[2021-05-07 17:28] kbknapp opened #2471 "Using `clap(global = true)` with clap_derive"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

3.0.0-beta.2

### Where?

clap_derive docs/examples

### What's wrong?

Using `clap(global = true)` has some oddities that should be documented better. Because if the child subcommand has no field defined for that

[2021-05-07 17:51] kbknapp commented on #2471
Actually I'm going to close this, as what I said isn't exactly correct. The sentiment is correct (we need better docs on the subject), but I'd say it's a low enough priority that it's not worth the open issue at the moment.

[2021-05-07 17:51] #2471 closed

[2021-05-08 08:38] pksunkara commented on #2471
#2026 should solve the issue.

[2021-05-09 13:47] pickfire opened #2475 "clap_derive casing change stringly type"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.0 (88f19c6da 2021-05-03)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

It is a bit confusing that conflicts_with only work with the transformed string and the issue is that it

[2021-05-09 18:30] dbrgn opened #2476 "Allow adding usage examples to help text"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

The [tealdeer](https://github.com/dbrgn/tealdeer/) help text currently includes some invocation examples after the regular help text (using docopt):

[code]

I'm currently migrating the codebase to Clap

[2021-05-09 19:08] #2476 closed

[2021-05-10 14:02] rugk opened #2478 "Website shows an empty page"
### Expected Behavior Summary
https://clap.rs/ should load.

### Actual Behavior Summary

The website just shows an empty page:

![grafik](https://user-images.githubusercontent.com/11966684/117670343-16331280-b1a8-11eb-8989-8cbd6f1d0cec.png)

### Steps to Reproduce the issue

Visit the website.

## System

Probably the most important part.

Firefox 88

Tried to disable some blocking add-ons like U

[2021-05-10 17:39] PythonCreator27 commented on #2478
I found this issue and went to file an issue a minute ago and then I found this. I think that this is the right place - this site code is in this repo. I can see this problem in edge (new), firefox, firefox dev, firefox nightly, chrome canary, etc. This is not a browser-specific issue. Also, the cheatsheet link just redirects back to the home page.

[2021-05-10 18:15] pksunkara commented on #2478
Yeah, it's heavily WIP. I have been meaning to add a little "Getting started" blurb. Should be done by this week.

[2021-05-13 13:17] mothsART opened #2479 "clap_generate an incorrect autocomplete zsh script"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.53.0-nightly

### Clap Version

master

### Minimal reproducible code

Hi, I tried to generate on my little project https://github.com/mothsART/pouf autocompletion on zsh.

Cargo build produce this file :

[2021-05-13 19:18] kolloch commented on #1232
@CreepySkeleton I've been playing around with the code and I think we could get it to work to support dynamic completion of a simple flag value. I haven't looked at the shell completion logic but I am thinking in the direction of only calling `your_app --autocomplete 7 ...` if we are at a flag position with automatic expansion.

It would be super cool, to reduce all shell autocomplete logic to cal

[2021-05-16 11:10] SWHes commented on #975
@pksunkara I do not completely agree with your statement. A subcommand might have a complex set of arguments. It would be quite complicate to to re-implement the arg parsing and everything clap gives. Or is there an easy way to do so ?

To avoid misunderstanding, what I would like is for the user to avoid typing the subcommand's name but clap to parse the subcommand's fields.

The difference here

[2021-05-18 01:27] sjackman opened #2484 "Boolean argument accepts a value, even with takes_value = false"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.51.0 (2fd73fabe 2021-03-23)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

[code]

### Actual Behaviour

[code]

### Expected Be

[2021-05-18 01:33] sjackman commented on #2484
Looks like this issue may be a duplicate of https://github.com/clap-rs/clap/issues/1543.

[2021-05-18 09:24] pksunkara commented on #2484
Yup.

[2021-05-18 09:24] #2484 closed

[2021-05-18 18:38] pksunkara commented on #975
You don't need to parse it yourself. What you can do is abstract out that subcommand args and use them on both the subcommand and the main app.

[2021-05-18 21:11] SWHes commented on #975
Ok but then, how do you make these args mandatory when no subcommand is given but invalid with the wrong subcommand?

Example:
`./app subcommand1 -arg1` is valid
`./app -arg1` is valid because `subcommand1` is implicit
`./app subcommand2 -arg1` is invalid
`./app -arg1 subcommand2` is invalid
where `subcommand1` is the default one and `-arg1` is specific to `subcommand1`

[2021-05-18 22:46] #2478 closed

[2021-05-18 23:27] pksunkara commented on #975
I am not sure if you have even tried clap, but it is already invalid.

This might be a good argument for needing default subcommand.

But an earlier point raised by Kevin still stands:

[2021-05-20 02:36] ajeetdsouza commented on #2479
You've mentioned the same thing twice. Also, I'm not sure what is incorrect about the script, it works fine for me.

![image](https://user-images.githubusercontent.com/1777663/118910384-fa670380-b941-11eb-9ee7-b73b5306e463.png)

[2021-05-20 05:18] ajeetdsouza opened #2485 "clap generates invalid bash completions for ArgEnum"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

[code]

### Actual Behaviour

Assuming a binary name

[2021-05-20 05:59] ajeetdsouza opened #2488 "Document how to source completions"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

3.0.0-beta.2

### Where?

clap_generate

### What's wrong?

Currently, clap generates completions without providing any insight into how to actually get them running in the shell.

### How to fix?

It would be nic

[2021-05-20 09:27] pksunkara commented on #2479
It might be a zsh version issue.

[2021-05-20 10:51] ajeetdsouza commented on #2479
Perhaps. I'm running `zsh 5.8`, which appears to be the latest release.

[2021-05-20 13:01] hasezoey opened #2491 "Setting to disable the usage of Environment Variables"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

My use case is that i want to use my `cli.yml` file in both the binary and in tests

### Describe the solution you'd like

an setting / function to disable the usage of Environment Variables in something

[2021-05-20 16:55] mothsART commented on #2479
1. I'm using **zsh 5.8** too.

2. the script suggest me (sorry for duplicate) :
[code]
and not

[code]

3. When I see your screenshot @ajeetdsouza, i think you've cloning my github project and checkout on "master" branch, right ?
It's not what I report.

I've report a specific commit. (and the solution in the other hand)
Master branch works actually because i have temporaly monkey patch the build

[2021-05-20 17:23] ajeetdsouza commented on #2479
Could you share how you're sourcing the completion script? I'm using clap v3 completions in [zoxide](https://github.com/ajeetdsouza/zoxide), and they're working fine on zsh. See my completions file [here](https://github.com/ajeetdsouza/zoxide/blob/b8bb6f0f85a5c778c3d9ba08b1434024f24df20f/contrib/completions/_zoxide).

AFAIK, a completion script is sourced by adding the containing folder to `$fpath

[2021-05-20 17:54] felipesere opened #2494 "arg_matches.is_present("foo") can be ambiguous if there are an arg and a subcommand named foo"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.51.0 (2fd73fabe 2021-03-23)

### Clap Version

master

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

The test above passes w

### Actual Behaviour

`arg_matches

[2021-05-20 18:28] pksunkara commented on #2122
Might be related to #975

[2021-05-20 18:59] #2454 closed

[2021-05-20 19:17] #2491 closed

[2021-05-20 20:42] hasezoey commented on #2491
@pksunkara if i saw right, then this will be in 3.x only and not backported to 2.x?

[2021-05-20 20:42] pksunkara commented on #2491
Yes.

[2021-05-20 20:44] hasezoey commented on #2491
ok, thanks for this quick response

[2021-05-20 21:40] olson-sean-k commented on #1788
I imagine this would be much trickier to implement, but how do folks feel about allowing arbitrary `Write` targets for this? Instead of naming bespoke outputs, users could instead provide an `impl Write`. This would still support selecting `stdout` or `stderr` via `std::io::stdout` and `std::io::stderr`, which both emit `impl Write` types.

I've been working on [a CLI tool](https://github.com/olso

[2021-05-20 22:30] pksunkara commented on #2443
Thanks to both of your opinions. I am more of a purist which is why I was leaning towards making `derive` opt-in.

But one thing I observed is that an example program is easier to understand with `derive` compared to the traditional API based example. Therefore, I have decided to leave the `derive` in default features list.

[2021-05-20 22:30] #2443 closed

[2021-05-21 08:31] jmagnusson commented on #815
Great proposal @kbknapp. Having a `--no-*` equivalent just feels natural when it comes to boolean values.

Perhaps this could even be the default, considering that v3 is still in beta? The user would then have to call `.overridable(false)` instead to get the old behavior.

[2021-05-21 10:51] mothsART commented on #2479
Like I say on first comment, I used :

[code]

fpath doesn't work... I guess beacuse error isn't show.

[2021-05-21 11:25] ajeetdsouza commented on #2479
Have you called `compinit` after setting `fpath`?

[code]

[2021-05-21 11:45] mothsART commented on #2479
Hum, right : my autoload is called before my fpath.
Works nice but some documentation would be great : zsh configuration seems not intuitive.

[2021-05-21 11:45] #2479 closed

[2021-05-21 11:47] ajeetdsouza commented on #2479
Agreed, that's why I created https://github.com/clap-rs/clap/issues/2488.

[2021-05-21 13:26] pksunkara commented on #815
Not all single flags are need overridable flags. From looking at the clis, this is a minority use case. Which is why this won't be a default behaviour.

[2021-05-23 10:03] rami3l opened #2499 "[v3 Bug] `flag_subcommands` doesn't work well with list of arguments"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

`cargo run`

### Actual Behaviour

When I run `pacapt

[2021-05-23 10:18] pksunkara commented on #2499
Can you please reduce the code and behavior more by removing the unrelated pm arg?

[2021-05-23 10:57] rami3l commented on #2499
@pksunkara Unfortunately I can't: this issue is also gone once I remove the `--pm <name>` arg.

[2021-05-25 23:40] #2494 closed

[2021-05-26 00:34] #1584 closed

[2021-05-26 03:17] pksunkara commented on #1434
The actual issue is #2222 but leaving this issue open for docs fix.

[2021-05-26 03:26] pksunkara commented on #1474
Note: Need to check if `NoBinaryName` solves it.

[2021-05-26 09:07] rami3l commented on #2499
@pksunkara Although it’s a bit hard to make sense of the `clap` code base for me, I tried to dig a little big deeper into this bug. Let’s take the example of `pacaptr --pm mockpm -Si docker`.

In the parsing process, we are saving `cur_idx` to `skip_idxs`:
https://github.com/clap-rs/clap/blob/bddb63effe55ee490cd85372f1b541ce9e2be383/src/parse/parser.rs#L409-L415

And somehow we have `arg = "Si"`,

[2021-05-26 10:37] pksunkara commented on #2195
To resolve: `Vec<bool>` should not be treated as an arg taking values. Also, look into how `Option<bool>` performs.

[2021-05-26 10:52] pksunkara commented on #918
Blocked by https://github.com/dtolnay/serde-yaml/issues/94

[2021-05-26 10:57] pksunkara commented on #1185
Probably related #1880

[2021-05-26 11:13] pksunkara commented on #1794
@ldm0 Can we focus on finishing this?

[2021-05-26 11:54] pksunkara commented on #1607
@zicklag Can you try by making the `doc` arg `global(true)` on latest master?

[2021-05-26 14:40] pksunkara commented on #2150
@d-e-s-o Do you think you can take a small attempt at this by only changing the `about`? Would like to see how it improves the API.

[2021-05-26 16:59] zicklag commented on #1607
@pksunkara That works!

[code]

[2021-05-26 17:01] #1607 closed

[2021-05-26 19:25] ajeetdsouza opened #2500 "Change default help and version message to infinitive form"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

There are two problems here.

1. `clap` uses an unconventional sentence form in its auto-generated help messages (i.e. `"Prints a help message"` vs `"Print a help message"`). A lot of users (as shown in

[2021-05-26 23:44] #2499 closed

[2021-05-26 23:46] pksunkara commented on #2500
1. We can change the default help string in clap.
2. You can use `mut_arg("help", |a| a.about("help info"))` in clap_derive. Try pasting that on a struct in clap attribute.

[2021-05-27 05:44] ajeetdsouza commented on #2500
1. Would you be open to accepting a PR to change the default string?
2. Perhaps I'm doing something wrong, but I wasn't able to get this working. I'm using this on a struct with `AppSettings::DisableHelpSubcommand` and I ran it with `cargo run -- -h`:

[code]

[code]

[code]

[2021-05-27 09:43] pksunkara commented on #2500
1. Yes.

2. Try master

On Thu, May 27, 2021, 06:44 ajeetdsouza ***@***.***> wrote:

[2021-05-27 11:56] ajeetdsouza commented on #2500
1. Thanks! I tried doing a simple find-and-replace for this, but a couple of tests have started failing due to whitespace issues (which are impossible to track down due to the way they're printed). Have you considered using some diff library like [`pretty_assertions`](https://crates.io/crates/pretty_assertions) so that whitespace issues can be detected more easily?
2. Just checked, this is fixed o

[2021-05-27 12:05] pksunkara commented on #2500
Make sure that you save without formatting the test/help.rs while fixing the tests and it should be okay. We have an issue with no version printing blank space that's being tracked.

[2021-05-27 12:16] ajeetdsouza commented on #2500
I did save without formatting, and then I disabled removing trailing whitespaces in the settings, but VS Code simply refused to stop formatting the line. It's probably a bug. I resorted to just using `sed`:

[code]

Now, a lot more tests pass, but a few are still failing due to whitespace issues. I switched to `pretty_assertions` locally to see what was going on, apparently a bunch of random white

[2021-05-27 16:08] d-e-s-o commented on #2150
Sure, see https://github.com/clap-rs/clap/pull/2504.

[2021-05-28 07:23] dimo414 opened #2505 "value_of_t() is difficult to use with optional arguments"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

**See https://github.com/clap-rs/clap/discussions/2453 for earlier discussion**

The `value_of_t()` function [notes](https://github.com/clap-rs/clap/blob/ecd60b69a3afbad7e77dbc083038abafbcae6aad/src/pars

[2021-05-28 07:56] vireshk opened #2506 "Uncontrolled recursion leads to abort in deserialization"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

v2.33.3

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

Have this dependency in Carto.toml

clap = { version = "2.

[2021-05-28 08:01] pksunkara commented on #2506
Duplicate of #1569.

Hello, you marked that you searched other issues. Can you please explain how you did not find this one?

[2021-05-28 08:01] #2506 closed

[2021-05-28 08:54] vireshk commented on #2506
I was able to find it earlier and somehow it looked to me that it would be fixed by clap 2.33.3, maybe I misread then..

But even after following #1569 I am not able to understand how to fix this problem. Do I understand correctly that it is only fixed for clap 3 onwards and not for 2.33.* ?

Thanks.

[2021-05-28 09:13] vireshk commented on #2506
Ahh, I was able to get over it. Thanks.

clap = { version = "3.0.0-beta.2", features = ["yaml"] }

[2021-05-28 09:40] flavio commented on #1476
Is there any chance to get this fix available inside of the v2 branch? I can take care of the backport if you are fine with this idea

[2021-05-28 09:42] pksunkara commented on #1476
Unfortunately no, we are accepting only security patches to v2.

[2021-05-29 09:14] kunzaatko opened #2508 "number_of_values should have improved help message"
### Please complete the following tasks

- [x] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

cargo run -- --help

### Actual Behaviour

The `some_

[2021-05-29 10:06] kunzaatko commented on #2508
I am aware of `value_names` but this should probably also work.

[2021-05-29 10:08] ldm0 commented on #2508
Have you tried it with current master?

[2021-05-29 12:11] vbmade2000 opened #2509 "implicit elided lifetime not allowed here"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

1.54.0-nightly

### Clap Version

2.33.3

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

cargo build

### Actual Behaviour
[code]

### Expected Behaviour

It should comp

[2021-05-29 12:42] vbmade2000 commented on #2509
This may not be actually a bug but I didn't see it fit in other categories. This is indeed an issue for me as a Rust newbie.

[2021-05-29 15:30] kunzaatko commented on #2508
I have now. The output changed for `some_arg_issue` to `<ARG>...`. This is still not the desired outcome, which would be `<ARG> <ARG>`.

[2021-05-29 20:28] #2509 closed

[2021-05-30 07:33] dimo414 commented on #2505
@pksunkara I see you added this to the 3.0 milestone, would you welcome a PR changing this to `Result<Option<R>, Error>`? Or do you have a different fix in mind?

[2021-05-30 08:27] pksunkara commented on #2505
Not sure yet. Because it seems to be tied into other issues for 3.0

[2021-05-30 09:02] dimo414 commented on #2505
Ok, happy to help whenever makes sense.

[2021-05-31 01:44] BurntSushi commented on #2171
@ldm0 Did this make it into a clap 2.x release? Or is it only fixed in clap 3.x?

[2021-05-31 09:28] pksunkara commented on #2171
Only in 3.x

[2021-05-31 23:40] pksunkara commented on #2409
@DocKDE Can you please try with the latest master now?

[2021-05-31 23:44] pksunkara commented on #2319
Taking care of `unwraps` in `from(&Yaml)` methods should fix this issue.

[2021-06-01 08:03] ZenithalHourlyRate opened #2513 "Only print help for subsubcommand when global settings subcommandneededelsehelp"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

2.33.3

### Minimal reproducible code

main.rs
[code]

cli.yml
[code]

### Steps to reproduce the bug with the above code

[code]

### Actual Behaviour

[code

[2021-06-01 14:23] ljrk0 opened #2514 "Optional positionals before required positionals"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

In brief, I'm trying to replicate https://pubs.opengroup.org/onlinepubs/9699919799/utilities/find.html.  The syntax is quite simple:

    find [-H|-L] path... [operand_expression...]

1. A positional fla

[2021-06-01 21:44] #2425 closed

[2021-06-02 06:45] erayerdin commented on #1546
I don't know why this is the case, but a workaround now would be defining a `.default_value("whatever")` and do whatever when you get `whatever` as value.

This is one way, however one should keep in mind that this *default value* also limits what can be done with value. In my case, I will use an arg as Telegram token value, which is a long string, so setting default to `"INVALID"` makes sense in

[2021-06-03 15:43] reynoldsbd opened #2520 "Limit number of occurrences for flag arguments"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

My application includes a `-v` flag to control logging verbosity. The user can specify multiple occurrences of the flag, in which case verbosity increases.

[code]

As written, the user can specify an ar

[2021-06-03 19:34] pksunkara commented on #1546
I would welcome people to design how this should work and implement it. Unfortunately, as it is now, we have no design to implement this because the `global` arg gets propagated to all subcommands and we haven't yet decided on how to resolve the `required` situation when that happens.

[2021-06-03 19:36] pksunkara commented on #2514
Why is that? That is the issue with your CLI design.

[2021-06-03 19:36] #2514 closed

[2021-06-04 09:19] QuarticCat opened #2522 "Incorrect doc: Features enabled by default"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

2.33.3

### Where?

https://docs.rs/clap/2.33.3/clap/#features-enabled-by-default

### What's wrong?

Doc says `wrap_help` is enabled by default but actually not. See https://github.com/clap-rs/clap/blob/v2.33.3/C

[2021-06-05 00:42] pksunkara commented on #2522
Fixed on master.

[2021-06-05 00:42] #2522 closed

[2021-06-05 21:48] veritem commented on #2520
@reynoldsbd did you try using

[code]

[2021-06-06 19:55] #1786 closed

[2021-06-07 21:23] sammko commented on #2005
Something like this works for me without the extra struct
[code]

[2021-06-08 13:48] glittershark opened #2527 "`#[clap(flatten)]` takes top-level docstring from the flattened struct, not the struct being flattened into"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.0-nightly (e37a13cc3 2021-02-28)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

[code]

### Actual Behaviour

[code]

### Exp

[2021-06-08 14:04] glittershark commented on #2527
@pksunkara can I take that to mean that this is definitely not intended behavior?

[2021-06-08 14:05] pksunkara commented on #2527
Yup.

[2021-06-08 15:03] reynoldsbd commented on #2520
I did try that. `max_values(true)` seems to implicitly set `takes_value(true)`, resulting in my argument being treated as an option rather than a flag.

[2021-06-08 17:30] edlanglois opened #2528 "Derived ArgEnum::from_str should not panic on invalid input"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1

### Clap Version

clap 3.0.0-beta.2

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

`cargo run`

### Actual Behaviour

thread 'main' panicked at 'internal

[2021-06-08 18:21] Emerentius commented on #815
It's actually quite useful if all flags have negation flags because you can effectively switch the default of a flag via aliases or wrappers without hardcoding the behavior, because the user can still override the choice.
It even works with nested wrappers.

For some prior art, the very popular python command line argument library `click` pushes users to always define a positive and a negative fla

[2021-06-08 18:28] Mange commented on #815
I usually also always add a `no` variant for almost all my options, but it's that little "almost" that make me not want this to be automatic. If there was a simple opt-in argument you could set (`toggleable(true)` maybe?) then that would be enough for me.

[2021-06-10 11:07] pickfire commented on #2527
What if `Flattened` have docs but `Command` does not have docs, it still does not show doc text?

[2021-06-12 03:25] stevenengler opened #2533 "Help heading is printed when all args are hidden"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.0 (88f19c6da 2021-05-03)

### Clap Version

master (585a7c955)

### Minimal reproducible code

[code]

### Steps to reproduce the bug with the above code

[code]

### Actual Behaviour

[code]

### Expec

[2021-06-13 17:32] IceSentry opened #2535 "Doesn't compile in WSL with ubuntu 20.04"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

[code]

in Cargo.toml
[code]

### Steps to reproduce the bug with the above code

run `cargo build` in wsl with u

[2021-06-13 18:45] pksunkara commented on #2535
This looks like nothing wsl or Ubuntu related. Just pure rust issue. But I
don't understand why indexmap is failing to compile.

On Sun, Jun 13, 2021, 18:32 Charles Giguere ***@***.***>
wrote:

[2021-06-13 22:59] pksunkara commented on #2535
Looks like it's an issue with rust and WSL and ubuntu. There's a workaround at https://github.com/bluss/indexmap/issues/144#issuecomment-666629293.

[2021-06-13 22:59] #2535 closed

[2021-06-16 01:27] pksunkara commented on #1384
Postponing this for later than 3.0 because we need design on how to divided the existing `help`, error messages, usage etc.. into separate feature flags.

[2021-06-16 04:08] pksunkara commented on #1374
@ldm0 I am recently looking at this part of the code. How do I achieve the following scenarios (assuming `number_of_values(3)`):

[code]

[code]

[2021-06-16 13:29] jmagnusson opened #2539 "Change behavior of flag arguments specified as env vars"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

I have a little CLI app that I also execute as a CronJob in Kubernetes. For this I used Helm to set up templates and "values files" which in turn generate the required Kubernetes manifests.

The little C

[2021-06-16 13:49] mazznoer opened #2540 "Panic, `unwrap()` on a `None` value"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.50.0 (cb75ad5db 2021-02-10)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

`Cargo.toml`:

[code]

`main.rs`:

[code]

### Steps to reproduce the bug with the above code

[code]

### Actual

[2021-06-16 13:50] pksunkara commented on #2540
Not enough information. Also, try master.

[2021-06-16 13:50] #2540 closed

[2021-06-16 16:23] jonner opened #2541 "Don't generate completions for args with AppSettings::Hidden"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

I have an "internal" subcommand for my application that is hidden from help output using clap::AppSettings::Hidden. But when generating bash completions, this hidden command is included.

### Describe th

[2021-06-16 17:43] abdelmonem17 opened #2542 "support muti-arguments"
### Please complete the following tasks

- [ ] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Describe your use case

support muti-arguments for example my-program.exe --env my-env1=v1 --env my-env2=v2

### Describe the solution you'd like

support muti-arguments for example my-program.exe --env my-env1 --env my-env2

#

[2021-06-16 18:54] #2542 closed

[2021-06-17 11:11] pksunkara commented on #2541
Need the version you are looking at because this is fixed in master.

[2021-06-17 11:50] Sherlock-Holo opened #2545 "clap 3.0.0-beta.2 ArgEnum derive macro can't set use camelcase"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

3.0.0-beta.2

### Describe your use case

When I use ArgEnum derive macro for the enum like
[code]

I hope it generate possiable valuse `DoIt, NotDoIt`, but it generate `do-it, not-do-it`

### Describe the solutio

[2021-06-17 12:07] Sherlock-Holo commented on #2545
I found the way:
[code]

[2021-06-17 12:07] #2545 closed

[2021-06-17 18:54] #2520 closed

[2021-06-18 04:55] XyLyXyRR opened #2550 "bash completion filename is different then others"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

rustc 1.52.1 (9bc8c42bb 2021-05-09)

### Clap Version

3.0.0-beta.2

### Minimal reproducible code

`build.rs`
[code]

### Steps to reproduce the bug with the above code

- `cargo build`

### Actual Behaviour

`ls

[2021-06-18 15:41] ErwanDL opened #2551 "`cargo test` flags should not result in an error for integration tests"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Rust Version

1.52.1

### Clap Version

2.33.3

### Minimal reproducible code

Have any integration test (those in the `tests/` folder, as opposed to regular tests in `src/`) that uses `clap`, for instance by accessing options

[2021-06-18 17:20] #2551 closed

[2021-06-20 05:36] anatawa12 opened #2555 "Allow different documentation for subcommands for SUBCOMMANDS list and subcommand's help"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

= 3.0.0-beta.2

### Describe your use case

For a subcommand with long documentation, in the `SUBCOMMANDS` list in parent command, I want to show a summary of a command instead of long documentation.

### Describe

[2021-06-20 09:58] #2555 closed

[2021-06-20 10:30] anatawa12 opened #2557 "Allow different documentation for subcommands for SUBCOMMANDS list and subcommand's help"
### Discussed in https://github.com/clap-rs/clap/discussions/2556

<div type='discussions-op-text'>

<sup>Originally posted by **anatawa12** June 20, 2021</sup>
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

= 3.0.0-beta.2

### Describe your use case

For a su

[2021-06-20 10:30] pksunkara commented on #2557
The solution is to always show short help in the `SUBCOMMANDS` list.

[2021-06-20 15:28] #2557 closed

[2021-06-20 16:08] kidonng commented on #2488
I'd like to give a simple and general description:

- Bash: install [bash-completion](https://github.com/scop/bash-completion) (some distros have this by default), then the completions can be sourced
- Zsh: the optimal way is to use `$fpath`, but if one would really like to go the manual way:

[code]

  FWIW, it is [said](https://github.com/starship/starship/issues/2806#issuecomment-864568502) tha

[2021-06-22 04:32] brennie opened #2564 "subcommand names on windows are strange in help"
### Please complete the following tasks

- [X] I have searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] I have searched the existing issues

### Clap Version

2.33.1

### Describe your use case

The help text for subcommands on windows is formatted like `my-app.exe-subcommand` which is strange. e.g.

[code]

[playground link](https://play.rust-lang.org/?version=stable&m