[2019-12-26 13:02] Dylan-DPC commented on #1606
There are 2 things that are keeping us away from a release:
- [ ] Ensure that clap derive is compatible with clap
- [ ] Alias to subcommand (https://github.com/clap-rs/clap/issues/1603)

Sorry for the delayed response

[2019-12-27 20:36] arusahni commented on #1380
Admittedly, I'm still ascending Rust's learning curve, but here's my workaround:

1. Add the `yaml_rust` crate as a dependency, using the same version that clap depends on (found in `Cargo.lock`)
2. Move the YAML-loading to the call site and pass the config in as an argument.
[code]
3. Throwing some lifetimes around, this is what I have
[code]

This isn't as clean as handling the configuration mar

[2019-12-28 01:05] GrayJack opened #1613 "Visible aliases for Args from YAML file"
### Rust Version
rustc 1.40.0 (73528e339 2019-12-16)

### Affected Version of clap
version = "2.33.0"
source = "registry+https://github.com/rust-lang/crates.io-index"
checksum = "5067f5bb2d80ef5d68b4c87db81601f0b75bca627bc2ef76b141d7b846a3c6d9"

### Expected Behavior Summary
When using `visible_alias` on arguments, set a visible alias for that argument, much like it happens for App (command and su

[2019-12-29 01:31] keturn opened #1614 "clap::Error replaces io::Error messages with "description() is deprecated""
### Rust Version

1.40.0

### Affected Version of clap

2.33.0

### Expected Behavior Summary

IO Error is displayed with human-readable description.

### Actual Behavior Summary

[code]

### Sample Code or Link to Sample Code

tests in PR #1615

[2019-12-29 01:35] keturn commented on #1614
Error::description looks to have been [deprecated back in 1.27](https://github.com/rust-lang/rust/blob/master/RELEASES.md#compatibility-notes-12), which I think is well below your minimum version requirement even for the v2 branch.

[2019-12-29 21:15] MichaelAquilina opened #1616 "Testing with ArgMatches"
### Rust Version

rustc 1.38.0

### Affected Version of clap

2.33.0

### Expected Behavior Summary

I want to write some tests for functions that take `ArgMatches` as input. However this currently does not seem possible due to the fact that you cannot access `MatchedArg` to construct them. There also does not seem to be a way of generating `ArgMatches` from custom inputs (e.g. a list of strings)

[2020-01-01 00:58] clintnetwork opened #1617 "How to use clap without name or about message?"
Hi

All is in the question, any idea how to do this?

When I only use this YAML configuration file, it does not works:

[code]

But when I add `name: ""` it works!

Thanks!

[2020-01-01 16:52] #1424 closed

[2020-01-01 18:09] Stupremee commented on #1603
I would like to work on this issue

[2020-01-01 18:24] Dylan-DPC commented on #1603
@Stupremee sure. you can go ahead and submit a PR. If you have any questions, you can post them here :)

[2020-01-01 21:29] CreepySkeleton commented on #1617
AFAIK, in clap, the `name` field is mandatory. You can't create a `clap::App` instance with no name at all since the only way is `clap::App::new` which takes an `&str`.

So, `name: ""` is the correct way to do this.

Out of curiosity, could you please explain why do you want your program  to be nameless?

[2020-01-01 21:43] clintnetwork commented on #1617
Oh okey, I'll explain you! The problem with clap for me is that it begin by the name of the process, and I want to setup an ascii logo with an about message WITHOUT process name.

In the past, I was forced to set `author` and `about` fields but I want to improve this.

This is what I want in the cleanest way possible!

[code]

[2020-01-02 00:00] CreepySkeleton commented on #1617
I believe [`template`](https://docs.rs/clap/2.33.0/clap/struct.App.html#method.template) is what you're looking for.

[code]

Output:
[code]

[2020-01-02 00:12] clintnetwork commented on #1617
Oh looks interesting, and is it possible to use that with yaml file?

[2020-01-02 00:57] CreepySkeleton commented on #1617
Sure, why not?
[code]
The only thing is that you seem to want to start your logo with a space ` `, but `yaml` is quite picky about formatting. Probably, you'll have to use `"..."` yaml strings to do that, they don't look as awesome as `|-` but they are more flexible.

[2020-01-03 06:37] Dylan-DPC commented on #1600
Can you provide more details about it? thanks

[2020-01-03 11:48] #1034 closed

[2020-01-03 16:41] nixpulvis commented on #1608
IMO, this is a tragic interface being force upon the community by Apple. Why should argument parsers need to deal with this. Couldn't it be passed in the `ENV` much more transparently? Either way it seems many applications don't care about this PSN, for example:

https://github.com/bitcoin/bitcoin/blob/b6e34afe9735faf97d6be7a90fafd33ec18c0cbb/src/util/system.cpp#L383-L389

[2020-01-03 20:05] chrisduerr commented on #1608
If this was ignored in clap directly, I also think that it probably shouldn't just be done automatically without any compile-time checks. If a user wants to add their own `-psn` flag, things shouldn't explode.

Though I don't think it's possible to build the string `-psn_` as  option right now, so that should be fine. But blocking just `-psn` would certainly cause huge troubles.

[2020-01-03 20:43] lucidBrot opened #1619 "How to specify about text for subcommands?"
### Clarification Request / Bug Report ?
I am using the annotations and they mostly work fine. However, when I try to follow the example and use below code, the subcommand does not get any explaining text in the help section.
[code]

### Rust Version
[code]
### Affected Version of clap
[code]

### Expected Behavior Summary
I would expect the `SUBCOMMANDS` section of `./myexecutable.exe -h` to cont

[2020-01-04 07:13] CreepySkeleton commented on #1619
Doc comments for subcommands must be placed on the corresponding enum variant ([the same for `structopt`](https://github.com/TeXitoi/structopt/issues/254)).
[code]

[2020-01-04 09:53] lucidBrot commented on #1619
Thank you very much! I created a PR so other people like me will have it easier in the future.

[2020-01-04 11:31] fctorial opened #1621 "Accessing raw command line arguments"
### Affected Version of clap

2.33

There's no way of accessing the original command line arguments while using clap.

[2020-01-04 12:28] crapStone commented on #1463
I have a similar Problem:
when i use the `AppSettings::DisableHelpFlags` the error output shows this
[code]

[2020-01-04 12:48] Kage-Yami commented on #1416
I was also thinking along these lines, but after reading [Specifying Dependencies -> Build dependencies](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#build-dependencies), don't they only apply to `build.rs` (and in fact specifically _don't_ apply to the app itself)? If so, then I don't see how this would work, as I would think the CLI definition needs to happen _in the ap

[2020-01-04 21:31] lucidBrot commented on #1619
I think this is resolved now. Feel free to reopen if you disagree.

[2020-01-04 21:31] #1619 closed

[2020-01-04 21:57] lucidBrot opened #1622 "Conflicting Flags Error message contains the same flag twice"
### Rust Version
[code]

### Affected Version of clap

[code]

### Expected Behavior Summary
I have two conflicting flags `-d` and `-D`. When the user passes `-dD` I expect the output to contain
[code]
### Actual Behavior Summary
The output instead contains
[code]

Same happens if the flags have a long name as well.

### Steps to Reproduce the issue
`cargo new --bin debugcli`

Set up Cargo.toml as

[2020-01-05 05:08] CreepySkeleton commented on #1621
Why don't you just `std::env::args()`?

[2020-01-05 05:10] CreepySkeleton commented on #1416
@Kage-Yami is right here, `dev-depandencies` are exposed only to the build script, the app has no access to them. This is not doable, at least not with current API.

[2020-01-05 09:23] ejmahler opened #1623 "Clap eats double hyphens on "last"+"multiple" arguments"
### Rust Version

rustc 1.39.0

### Affected Version of clap

[code]

### Expected Behavior Summary

If `last` and `multiple` and `allow_hyphen_values`  are specified on an argument, then clap should consume the first bare "--" it encounters, and should pass *everything* after that to the last argument.

### Actual Behavior Summary

Clap silently omits all bare "--" entries from the argument value

[2020-01-05 09:32] ejmahler commented on #1623
Well, this is awkward.

Through a miracle, I discovered that I wasn't using the latest version. I assumed 2.27 was the latest without looking. And the good news is that this is fixed in the latest version.

[2020-01-05 09:32] #1623 closed

[2020-01-05 14:19] zombiefungus commented on #1210
One way of achieving this would be to have "styles" for long and short versions, where this use case could use two styles "double hyphen" and "single hyphen" so that it is clear that `--long-arg` is still valid, or just "single hypen" to disable the first one.  Somewhat related, thus commenting here.. I'd be interested too in being able to have argument values in the form `argkey:value` in a json

[2020-01-05 15:25] fctorial commented on #1621
Yes, that works. I thought it returned `None` when I tried it. I'm just starting out with rust.

[2020-01-05 15:25] #1621 closed

[2020-01-05 18:46] #1583 closed

[2020-01-07 04:53] siyopao commented on #1611
I tried to reproduce this, but in both cases
[code]
if I `println!` the following
[code]
I get `foo`, as expected...?

rustc 1.40.0
clap 2.33.0

[2020-01-07 10:58] ensc commented on #1611
@siyopao  I used 3.0.0-beta resp. recent git HEAD

[2020-01-08 00:29] siyopao commented on #1611
@ensc Ah, sorry, how silly, I should have tried that. Reproduced with git HEAD.

[2020-01-10 03:26] msarfati commented on #552
After working a bit on this problem on my own, I wonder if the best solution for man-page autogen is to support the ability to convert a `clap::App` to YAML, after it's been built using its builder pattern, and then just parse the YAML into man / *roff with rust-man. Clap seems to have a relatively standardized way enforcing YAML stuff, and this feature can also help users migrate from the builder

[2020-01-10 03:56] ssokolow commented on #552
Waitaminute.

When did YAML come into the picture? I'm very much against using YAML in new code for a variety of reasons that boil down to how the spec's [hugely overcomplicated](https://www.arp242.net/yaml-config.html) from trying to be too many things for too many different people (longer than the XML spec and [doesn't even achieve all those goals](https://metacpan.org/pod/JSON::XS#JSON-and-YAML

[2020-01-10 06:38] CreepySkeleton commented on #552
If  you mean https://github.com/rust-cli/man by `rust-man` here than I think the most sensible approach here is to convert `clap::App` into [`man::Manual`](https://docs.rs/man/0.3.0/man/struct.Manual.html) directly, without any intermediate formats, YAML or not YAML.

Serializing `App` to / deserializing `Manual` from some config file can be implemented separately.

The only thing is that https://

[2020-01-10 13:12] msarfati commented on #552
Those are fair criticisms @ssokolow and @CreepySkeleton of that approach -- I only proposed YAML because it was something already supported by clap, but that approach indeed has its issues.

I suppose I could bypass serialization/deserialization entirely and just use a `clap::App` to construct a `man::Manual` in `rust-cli/man`. It seems like this approach might involve exposing some of `clap::App`

[2020-01-10 13:57] CreepySkeleton commented on #552
Those fields are `pub` but `#[doc(hidden)]` in both `App` and `Arg`. While I don't think that relying on such fields is fine for a *release* of minimal viable product, I think that this is acceptable for a *prototype*. So go ahead and "draw a sketch"!

[2020-01-10 15:02] CreepySkeleton opened #1630 "Use serde to serialize-deserialize configs, including yaml"
### Summary

Implement `serde::Serialize/Deserialize` for `clap::App` so it could be deserialized not only from a YAML file, but from any other format.

### Motivation

Currently, yaml supports deserializing only from YAML via `App::from_yaml`. This restricts users to only the one blessed format, while the layout of `clap::App` is pretty simple on it's own and can be expressed in many config forma

[2020-01-10 17:32] spacekookie commented on #552
Hey!

Indeed we haven't been working on this stuff actively in the last year, but we're getting the CLI WG started again. There's regular meetings (every first Monday of the month), and notes on the meetings here: https://hackmd.io/NKG9jUiFThGqgAqhsIniyg

Truth be told, we've been thinking about how to generate documentation in general, and have been looking at yamr and toml as formats. Toml is "s

[2020-01-10 18:24] danieleades commented on #1471
this would be amazing.

If this isn't desired for the core library, are there any hooks that would allow one to implement outside the library?

i see that some work was already done in  #235. Looks like this was mostly complete, but there some questions about it being a blocking API.

I can imagine some use cases where this would be a problem, but I can imagine a lot more where it's a non-issue.

[2020-01-10 20:18] mayabyte opened #1634 "Add simple prompts"
## Why?
Let's say you want to write a CLI program that requires the user to log in with a username and password, e.g. a CLI API for some web service. This is perfectly doable with arguments, but it may be preferred to prompt the user to supply these when they start the program, as follows:
[code]
Or, let's say you have an option that can be dangerous to enable in certain circumstances, and you wan

[2020-01-11 13:22] danieleades commented on #1634
actually i think this is proposing a much more significant change than #1471.
you could resolve #1471 simply by adding a hook that takes a closure-
[code]

[2020-01-11 13:25] danieleades commented on #1471
could this be resolved by simply adding a hook to set a default using a closure?

something like
[code]

then parsing your prompt function into this method.

I'm not too familiar with this codebase, does this sound like a reasonable solution? @kbknapp

[2020-01-11 13:33] danieleades commented on #1471
i guess `default_with` wouldn't be compatible with `default_value`, so the default value field would become an enum, containing either the closure, or the value.

for symmetry, you'd have to do something similar for the other corresponding methods

| value method | closure method |
|-------|----------|
| default_value | default_with |
| default_value_os | default_with_os |
| default_values | defau

[2020-01-11 13:38] mayabyte commented on #1634
Ah, that's true I suppose. Their suggestion of adding a `get_matches_from_fns` is definitely larger though.

Something like `default_with` would be pretty nice to have as well. You can kinda already fudge something like that with `default_value` and a closure full of prompting (or whatever else) code, but `default_with` could be lazily-evaluated which makes it nicer imo.

[2020-01-11 13:41] danieleades commented on #1634
if you're prompting for user input it *must* be lazily evaluated, right?

[2020-01-11 13:53] danieleades commented on #1471
you would also want a `default_with_if`- so you could have patterns like

`arg.default_with_if("interactive", prompt_user)`

[2020-01-11 14:06] mayabyte commented on #1634
Yeah, but `default_with` could be used for other things besides prompting. I was porting a tool the other day that set the default of a field with the output of another program, so in that case `default_with` would be noticeably better than `default_value` due to laziness

[2020-01-16 21:52] pksunkara commented on #552
I agree with @CreepySkeleton here that we can easily create a `to_man` fn in `clap::App` that converts it into `man::Manual`. Clap already takes in config file, we don't need to create one more.

@spacekookie Thanks for the info on the meetings. Looking forward to join the next one.

We recently got a stream created in Zulip chat too. https://rust-lang.zulipchat.com/#narrow/stream/220302-wg-cli

[2020-01-17 10:10] dominikbraun opened #1635 "Performance of YML vs performance of code?"
This is just a quick question concerning the performance of parsing the CLI app structure:

How does building the app from a YML file compare to building the app in the source code in terms of performance? I'd assume that loading and parsing the file is slower, but are there some benchmarks showing the differences? Can a large YML file even slow down the CLI app?

Thanks in advance!

[2020-01-17 11:41] CreepySkeleton commented on #1635
**Those are my subjective conclusions based on my personal experience!**

Most certainly the parsing does have it's own performance impact, **but this impact is relative**.

We don't have a benchmark for YAML parsing in this repo so I can't give any determinate numbers, but let's just make a couple of educated guesses.

* The CLI parsing is done *only once per program run*, we can call it O(1). Yo

[2020-01-17 11:47] BurntSushi commented on #1635
@CreepySkeleton That's a fine analysis. But to add to that, there is a fairly common case where process overhead can be observed, and it's actually one of the reasons why I use clap (because it's fast). Namely, when running processes many times in a short period of time. This can occur in a loop, or perhaps more commonly, with `xargs`.

Definitely agree with your conclusion though! Just wanted to

[2020-01-17 11:56] CreepySkeleton commented on #1635
@BurntSushi Good point with `xargs`, I forgot about it!

Just wanted to note here that, even when a program is executed in a loop repeatedly, the CLI parsing is probably the least significant part of it; it's very likely that  process creation + data processing + IO will likely take the most of the time.

[2020-01-17 12:22] BurntSushi commented on #1635
Sometimes. Really depends on what you're doing. It certainly matters for tools like grep, where even spawning a few threads has noticeable overhead in an `xargs` pipeline.

[2020-01-17 16:12] dominikbraun commented on #1635
@CreepySkeleton Thanks for your opinion - that is pretty much what I've expected. Your O(1) consideration is interesting as well.

I merely wanted to make sure that there isn't a certain risk of getting a performance penalty when using a YML file. At least for most cases. :)

Thanks to @BurntSushi, too!

[2020-01-17 16:12] #1635 closed

[2020-01-18 06:43] jonericcook commented on #1630
Would this feature allow for the following behavior?

./examplecli helpdump --json helpdump.json

and/or

./examplecli helpdump --stdout

The helpdump.json and stdout would contain all the information about how to use examplecli, essentially the --help for each command and subcommand with all the descriptions and arg type input.

The reason I ask because I have a handful of rust binaries that use

[2020-01-18 10:10] pksunkara commented on #1471
I have worked on https://github.com/termapps/enquirer this week. Either a hook fn or a matches fn, this library can easily provide them. IMO, the prompts shouldn't be in the core. Hooks? yes but not prompts.

[2020-01-18 10:20] pksunkara commented on #1634
Copying my response from #1471

I have worked on https://github.com/termapps/enquirer this week. Either a hook fn or a matches fn, this library can easily provide them. IMO, the prompts shouldn't be in the core. Hooks? yes but not prompts.

#### Implementation plan

* If a required option is missing, and a `default_with` exists, then prompt happens.
* If a flag is marked `confirm_with`, then when

[2020-01-18 12:11] CreepySkeleton commented on #1634
Also, should we decide to go on the way of hooks, they would be impossible to serialize/deserialize since... well, how do you serialize a function 😄 ?

[2020-01-18 14:25] danieleades commented on #1634
Yeah it's not the easiest...

This exists- https://docs.rs/serde_closure/0.2.9/serde_closure/
But I suppose in general you could only use these hooks with programmatic argument building.

[2020-01-18 14:43] CreepySkeleton commented on #1634
...which generally serializes/deserializes the code as **plain text**. It  brings in all the problems of `eval` in some languages, let alone the fact it allows a malicious user/attacker **inject arbitrary code and execute it**!

I'm really, totally, absolutely not OK with this approach.

This sounds good.

[2020-01-18 15:18] pksunkara commented on #1610
I think this is intended and the right way. If you want to separate positional arguments from options you have to use `--` while calling the cli which is a standardized way of these type of options.

[2020-01-18 15:27] althonos commented on #1610
@pksunkara : even if this is the intended behaviour within `clap`, this does not make that much sense compared to the UNIX command lines. You do `grep print -R --include=\*.py --include=\*.rs`, not `grep print -R --include=\*.py \*.rs` when you want to pass multiple values for the same flags, for instance.

[2020-01-18 15:28] CreepySkeleton commented on #1610
If you want to implement the CLI as you described, you should use `number_of_values`
[code]

[2020-01-18 15:29] CreepySkeleton commented on #1610
See the documentation at https://docs.rs/clap/2.33.0/i686-apple-darwin/clap/struct.Arg.html#method.multiple

[2020-01-18 15:43] pksunkara commented on #1574
This has been fixed with the recent import of structopt into clap_derive. But it still doesn't solve the issue of structopt vs clap. I propose that either @CreepySkeleton or @TeXitoi make a plan to merge structopt into clap_derive and combine the efforts.

Does structopt support clap v3? Because clap_derive does

[2020-01-18 15:58] TeXitoi commented on #1574
Structopt is for clap 2, clap-derive for clap 3

18 janv. 2020 16:43:20 Pavan Kumar Sunkara <notifications@github.com>:

[2020-01-18 17:12] CreepySkeleton commented on #1574
### "`clap_derive` release" plan

The first thing we need is to import all the "not yet imported" commits, including the two pending PRs.

Then we need to decide if we want to keep `no_version`, I believe it must be done before the "beta" release. I highly encourage you **not to keep it**. It doesn't work well, we've already got few bugs because of it, see [this](https://github.com/TeXitoi/structo

[2020-01-18 17:40] TeXitoi commented on #1574
Yup, I agree. I also recommend to remove the no_version thing. Also, There might have other breaking changes that might be wanted, that's the time to talk about that before the beta, or it will be too late.

[2020-01-18 17:49] CreepySkeleton commented on #1574
Hmm, I thought "beta" release are not the "final one", and the breaking changes are possible after it.

If not, we will also need to come to an agreement on "multiple traits" thing and `Parse` trait thing.

[2020-01-18 17:50] pksunkara commented on #1574
I am not a contributor to structopt but the plan sounds good to me.

Regarding breaking, I think as long as we haven't released the major version, it should be okay breaking things between pre releases. At least that's what I understand from Denver. Please correct me if I'm wrong.

[2020-01-18 17:51] pksunkara commented on #1574
I meant semver. Not Denver. :smile:

[2020-01-18 17:54] CreepySkeleton commented on #1574
Citing semver  (emphasis mine)

[2020-01-18 17:54] TeXitoi commented on #1574
Even if that's true, breaking changes on beta should be more about fixing from feedback on the beta than continuing breaking because we're not yet fixed on what we think is good.

[2020-01-18 17:55] CreepySkeleton commented on #1574
@TeXitoi good point 👍 Let's settle this "traits" things up today.

[2020-01-18 17:58] CreepySkeleton commented on #1574
Or tomorrow 😄

[2020-01-18 18:35] Dylan-DPC commented on #1574
Okay a few things:

First, let's discuss release policies separately and not here.

@TeXitoi  agree with this

Yes generally the design and the API remains the same and the (breaking) changes are for bug fixes and other things that were overlook rather than adding new features.

[2020-01-19 00:24] zicklag commented on #1437
I'm having this issue in clap 3: commit 92c2b5d.

[2020-01-19 16:46] clintnetwork commented on #1617
Maybe in the future you could add some options to do that, like remove name by default or something like that.

Thank you!

[2020-01-19 16:46] #1617 closed

[2020-01-21 07:45] casey opened #1639 "Add options to require `help` and `long_help`"
I like to add `help` strings, and sometimes `long_help` strings to all of my arguments, but I often forget.

It would be nice if I could add options to make app creation fail if help and long help strings are accidentally omitted. Perhaps `AppSettings::RequireHelp` and `AppSettings::RequireLongHelp`.

So this would panic on the call to `App::arg`:

[code]

And this would be ok:

[code]

`App::arg`

[2020-01-22 01:40] casey opened #1640 "Allow changing message for generated version subcommand"
Is it possible to change the auto-generated help and version sub-command help strings, as is possible with `App::help_message` and `App::version_message`?

And similarly, is it possible to recursively change the auto-generated help and version messages for subcommands?

I like to use the imperative mood for help text (So `Print` and not `Prints`) and I'm looking for a way to change the strings rec

[2020-01-22 17:00] spacekookie commented on #552
I have to strongly disagree here.

There's a few problems with just having the documentation in code.  For
one it's impossible to translate, which is a huge problem at the moment,
on the other hand a man page can't just be generated from a clap::App
definition.  A manual page is more than just listing the options from
`--help` in a slightly different format.  In fact, those pages exist
sometimes,

[2020-01-22 17:24] vn971 commented on #552
To correct a bit, the room id is `#rust-cli:matrix.org`.

[2020-01-22 18:26] CreepySkeleton commented on #552
@spacekookie  Totally agree on the "translations" thing, I didn't think about it, oops.

(I must confess that I'm no expert in  man pages and if you think something of the following is wrong - tell me and the apologizing cat will apologize).

The funny thing is that the man pages are *exactly* "the options from `--help` in a slightly different format" with some sort of header and a footer.

Let's

[2020-01-22 19:33] spacekookie commented on #552
I think this is quite an important point that a lot of people forget
about, which is a problem.  And whatever tooling we have needs to
address this.

To rephrase my initial point: content can't just be derived from the
clap definitions, structures possibly could but I don't really see the
point.  Yes, man pages are usually "just" the set of options, but with
significantly more explanation and cros

[2020-01-22 19:53] pksunkara commented on #552
I think you misunderstood my intention. You are right that we don't want to couple the man pages generator to clap. What I meant is we can use doc comments in the CLI built using `clap_derive` to generate default man pages which the author can override later if he wants.

for a few reasons.  One is that we want to encourage people to write
longer sections to explain their program, and doing so in

[2020-01-22 20:36] spacekookie commented on #552
I really don't think this is a good way to go about this.  Doc comments
are convenient for documenting actualy functions, but now writing a
book, for example.

Anyway, the clap_derive can do whatever, really.  The idea is to have a
"Doc" Trait, that allows tools to hook into sources and sinks, which
means that you can have your doc comments if you want them, and then
swap out the comments later fo

[2020-01-22 22:49] tiziano88 opened #1641 "Incorrect documentation for `derive(Clap)` example"
I have just came across `clap`, and the first thing I tried was to use the `derive(Clap)` feature from the README, but it seems that is not actually working, and also the README mentions `examples/01d_quick_example.rs`, which does not seem to exist.

My guess is that this is either a new feature, or a deprecated one, but I cannot tell which one.

https://github.com/clap-rs/clap/blob/f3683a97924be2

[2020-01-22 22:56] CreepySkeleton commented on #1641
It's a very very new feature that is work-in-progress. Don't look at those examples, they are not polished yet. Also we are about to rework the derive so it may become a little bit different from what's in the examples. Clap v3-beta will be released by the end of the month, you'll see the kind-of-final version then.  23.01.2020, 01:49, "Tiziano Santoro" <notifications@github.com>:I have just came

[2020-01-22 23:18] ssokolow commented on #552
Bear in mind that, on the Python side, I'm just finishing up a migration to Sphinx and the number-one factor that came into play on multiple occasions is internal consistency.

1. What is the number-one thing I hate about Sphinx's API documentation support? That the best I can do for ensuring nothing gets missed in refactoring is to babysit one `foo.rst` file per source file containing an `.. auto

[2020-01-23 17:38] codesections commented on #552
@ssokolow I have a genuine question that I hope doesn't come off as snarky—I really am curious.  You wrote:

Why do you want to have a man page at all, if you'd be happy with it duplicating the `--help` output?  As an end user, I nearly always consult `--help` *first* and then, if my question wasn't answered, check the man page.  Given that, I'd strongly prefer *no* man page to a man page that dup

[2020-01-23 17:55] CreepySkeleton commented on #552
Fair enough, I think I was wrong. I would still like to see the relationship between options is documented in some standardized way(conflicts, one option implying another...), along with default values, possible values and so on. I agree that the detailed description should not be the same as in --help but I'm very convinced that the stuff above must be derived from the actual implementation to en

[2020-01-23 18:12] ssokolow commented on #552
@codesections

There are several important details:

1. There's a surprising amount of inconsistency about how programs implement built-in help. I've actually got a Zsh script, the whole purpose of which is to veto GNU's decision that `-h` should not be an alias for `--help`. Heck, I can't remember which, but I think I even ran into some programs where they didn't implement `-h` or `--help` (They

[2020-01-23 18:34] codesections commented on #552
@CreepySkeleton

Agreed 100%

@ssokolow, thanks for the detailed reply.  As mentioned upthread, the CLI working group is working on a solution for this space, and hearing about your use-case is helpful.  Our goal is to support man output (and other documentation) in a way that is both synchronized to the actual application and that allows easy customization without hand-writing *roff.

I *believe*

[2020-01-23 19:00] ssokolow commented on #552
You misunderstand. I'm saying that clap is pretty much the only thing that matches `man` for making good use of slightly rich markup to make the text more scannable and only if it's a program that opts into using coloured output.

Here's one of my own programs using Python's `argparse` for `--help` generation (I'm in the middle of modernizing it. A few days ago, it was using `optparse`):

![Screen

[2020-01-23 20:22] codesections commented on #552
I did misunderstand.  Thanks for the clarification :+1:

[2020-01-23 22:35] casey opened #1642 "Add blank line between items in long help"
Currently, items in a long help message sometimes have a blank line between them, and sometimes run together. Compare this output from clap:

[code]

With this output from `man man`:

[code]

It might be easier to visually parse if the items in a long help message were always separated by a blank line.

[2020-01-23 22:40] CreepySkeleton commented on #1642
Not sure about the default behavior, but sounds like we can make a global setting for it.

[2020-01-24 01:17] zicklag opened #1643 "Core Dump and 100% CPU Usage With Mutally `requires()` Args in Clap 3 ( with example )"
### Rust Version

* rustc 1.40.0 (73528e339 2019-12-16)
* rustc 1.42.0-nightly (0a58f5864 2020-01-02)

### Affected Version of clap

* `clap = { git = "https://github.com/clap-rs/clap.git", rev="f3683a9", features = ["wrap_help"] }`

### Expected Behavior Summary

In the example below, the `-r` and the `-u` argument should be required if either of them are provided.

### Actual Behavior Summary

W

[2020-01-25 02:33] pickfire commented on #552
Most man pages are more elaborated as compared to `--help` page. Most of the time I try `man` page first because it is easier, just pressing alt-h when I typed the command.

[2020-01-26 19:39] sharnoff opened #1644 "Fatal internal error when arg requirement doesn't exist"
### Rust Version
`rustc 1.40.0 (73528e339 2019-12-16)`

### Affected Version of clap

Both `2.33.0` and `3.0.0-beta.1` (from git)

### Expected Behavior Summary

Clap should complain (to the writer of the app - not the end user of the interface) that one of the arguments requires an `Arg` that does not exist - i.e. has not been added to the `App`.

### Actual Behavior Summary

Fatal internal error

[2020-01-26 19:53] Ayplow opened #1645 "[Derive] Parse fields with context"
Currently, the `Clap` macro deserializes options with `FromStr`. While fine for simple use cases, this doesn't provide the parser the context that the option came from, and precludes common patterns that make use of this information.

The most common is short options; Without knowing whether an value belongs to a long `--type` or short `-t` option, we can't know its' correct representation.

AFAIC

[2020-01-27 01:43] #1515 closed

[2020-01-29 12:04] glts opened #1646 "Use the infinitive verb form (‘print’) instead of the third singular (‘prints’) in help messages"
I would like to propose switching the verb form used in the examples, but especially in the default help messages, to using the infinitive or imperative form. For example, ‘prints’ would become ‘print’.

The verb used in the default help messages such as ‘Prints version information’ clashes with the form I use in my help messages, for example ‘Suppress header rewriting’. Looking at a couple of CLI

[2020-01-29 12:37] phaazon commented on #1646
I think the proper enhancement would be to authorize to override the whole help message?

[2020-01-29 15:07] glts commented on #1646
@phaazon My main motive here is good defaults. I like using tools with little customisation if possible, and since all CLI’s I’ve looked at use the infinitive form, I’ve opened this issue for consideration. Cheers.

[2020-01-30 09:02] phaazon commented on #1646
I’m not sure there _is_ a good default. Consistency might also be biased towards the tools you use. I’m not saying you’re wrong. Just that I think _good defaults_ are never a thing, and it’s better to provide a way to customize them.

Also, you can still provide your custom help string by hand, so I’m not sure what the others are going to do with your issue. 😕

[2020-01-30 09:30] casey commented on #1642
Hmm, I just thought that, regardless of the default, it should probably be consistent, so if `AppSettings::BlankLinesBetweenItems` (just making up a name) isn't passed, then there should be no blank lines between items. I think the current behavior depends on if `long_help` is passed or not. Items with `long_help` in my help message don't have blank lines after them, and items without `long_help`

[2020-01-30 14:32] cecton commented on #1404
It would be useful for me too

[2020-01-30 14:58] cecton commented on #1404
I just found out how to do it! I used: `AppSettings::TrailingVarArg`, `AppSettings::AllowLeadingHyphen`

I did it with structopt but you can translate to the clap equivalent.

[2020-01-30 19:30] pksunkara commented on #1327
Merged the relevant PR.

[2020-01-30 19:30] #1327 closed

[2020-01-30 19:33] pksunkara commented on #1645
@CreepySkeleton, Would like your feedback here.

[2020-01-30 23:25] CreepySkeleton commented on #1645
Could you please elaborate on this? I'm pretty sure it's simply impossible to distinguish between `-f` and `--foo` in clap, and I also think there's no need for such a thing. Short options are supposed to be nothing but shortcuts for long options, and if they aren't, they should be *different* options.

[2020-01-31 11:04] emilk opened #1649 "Allow boolean literals as values for flags"
The behavior of `--flag=false` setting the flag to the value `true` has caused problems for me many times. The problem is that boolean arguments are treated differently than arguments of other types.

As an example, say you have a few arguments to your program being called from someplace like so:

`my_app --name=${name} --age=${age} --alive=${alive}`

The first two will work as expected, but the t

[2020-01-31 12:35] TeXitoi commented on #1649
https://github.com/TeXitoi/structopt/issues/212#issuecomment-561093886

[2020-02-01 07:55] pksunkara commented on #1333
`subcommand` is a noun https://en.wiktionary.org/wiki/subcommand.

[2020-02-01 07:55] #1333 closed

[2020-02-01 10:13] CreepySkeleton commented on #1645
I'm closing this since I really don't think that distinguishing between short and long options is a good idea. Feel free to reopen if you have a concrete use case that absolutely requires it and can't be solved by other means (like creating separate options).

[2020-02-01 10:13] #1645 closed

[2020-02-01 10:16] CreepySkeleton commented on #1644
I think that panicking is exactly what we need to do here, this *is* the way to inform developer of problems like this one.

But we do need to rework panic messages in debug builds.

[2020-02-01 11:03] CreepySkeleton commented on #1610
I guess this is solved, so closing. Feel free to reopen.

[2020-02-01 11:03] #1610 closed

[2020-02-01 11:04] CreepySkeleton commented on #1607
I think this is solved by `exclusive`. I'll check later.

[2020-02-01 11:06] CreepySkeleton commented on #1606
@Dylan-DPC I think this is much longer than that :)

[2020-02-01 11:07] pksunkara commented on #1606
Yeah, I am working on triaging the issues and assigning them to 3.0 milestone and that will be the roadmap

[2020-02-01 11:10] CreepySkeleton commented on #1606
Yeah, I'm doing thte same thing :)

[2020-02-01 11:20] CreepySkeleton commented on #1597
@clarfon Do you have some concrete design in mind?

[2020-02-01 11:29] CreepySkeleton commented on #1575
This is fixed. Furthermore, we're planning to change this stuff so it will   become irrelevant soon.

[2020-02-01 11:29] #1575 closed

[2020-02-01 11:29] CreepySkeleton commented on #1574
Fixed by `structopt`'s partial import.

[2020-02-01 11:29] #1574 closed

[2020-02-01 11:31] CreepySkeleton commented on #1571
I like @jdollar proposal.

[2020-02-01 11:48] CreepySkeleton commented on #1569
The situation: clap v2 depends on rust-yaml v0.3 and the fix is not backported to it. Blocked on it.

[2020-02-01 11:49] Dylan-DPC commented on #1606
I mean those are not holding back the release. Also if they are backwards compatible, the changes can be added in a minor release later.

[2020-02-01 11:50] CreepySkeleton commented on #1606
Yeah, I agree. But I think that obvious and severe bugs must be closed prior to it, even if not breaking.

[2020-02-01 11:52] CreepySkeleton commented on #1569
Blocked on https://github.com/chyh1990/yaml-rust/issues/126

[2020-02-01 11:55] pksunkara commented on #1606
I agree. I have been trying to move as much as stuff to 3.1 milestone.

[2020-02-01 12:13] CreepySkeleton commented on #1551
@Matelasse If you're still interested, could you please explain your use case to us? It sounds like a really rare case and I'm not sure we want to go into it.

[2020-02-01 12:23] CreepySkeleton commented on #1545
I believe this is how it should work ¯\_(ツ)_/¯ I'm not sure I get it right so feel free to reopen.

[2020-02-01 12:38] CreepySkeleton commented on #1542
Fixed.

[2020-02-01 12:38] #1542 closed

[2020-02-01 12:53] CreepySkeleton commented on #1535
Sounds like a weird corner case, but maybe...

[2020-02-01 12:55] CreepySkeleton commented on #1536
I can confirm this is fixed in `master`, so closing.

[2020-02-01 12:55] #1536 closed

[2020-02-01 12:59] CreepySkeleton commented on #1529
Looks like it's fixed, feel free to reopen

[2020-02-01 12:59] #1529 closed

[2020-02-01 13:04] CreepySkeleton commented on #1524
Closing in favor of #1594

[2020-02-01 13:04] #1524 closed

[2020-02-01 13:12] CreepySkeleton commented on #1516
Yes, this is intentional design choice. `&mut self` and `mut self` are different types of builders, this is described [there](https://docs.rs/derive_builder/0.7.2/derive_builder/#builder-patterns) in detail, both have their own pros and cons. `clap` made it's choice.

[2020-02-01 13:12] #1516 closed

[2020-02-01 13:17] CreepySkeleton commented on #1646
@glts You can override this messages with `help_message` and `version_message` respectively. I think this resolves the issue, feel free to reopen.

[2020-02-01 13:17] #1646 closed

[2020-02-01 13:25] CreepySkeleton commented on #1502
`master` is working, should we close this?

[2020-02-01 13:26] CreepySkeleton commented on #1498
`v3-master` is merged to `master`. Closing.

[2020-02-01 13:26] #1498 closed

[2020-02-01 13:29] CreepySkeleton commented on #1486
Now we use exit codes from `exitcode` crate.

[2020-02-01 13:29] #1486 closed

[2020-02-01 13:30] CreepySkeleton commented on #1485
Marking for `3.0` milestone because it would be breaking change

[2020-02-01 13:32] CreepySkeleton commented on #1482
Yes, this is intended behavior. `default_value` has priority over `.setting(ArgRequiredElseHelp)`. Feel free to reopen

[2020-02-01 13:32] #1482 closed

[2020-02-01 13:37] CreepySkeleton commented on #1479
I'm almost sure this is the way it should work, but the error message must be more descriptive. Closing in favor of #1644

[2020-02-01 13:37] #1479 closed

[2020-02-01 13:43] CreepySkeleton commented on #1475
@saghm I think you just didn't notice the `[+]` button:

![image](https://user-images.githubusercontent.com/50968528/73593174-ef505000-4511-11ea-8edc-cab340cbfdbb.png)

Feel free to reopen

[2020-02-01 13:43] #1475 closed

[2020-02-01 13:50] CreepySkeleton commented on #1471
Closing in favor of #1634 , they are about the same thing anyway

[2020-02-01 13:50] #1471 closed

[2020-02-01 13:52] #1502 closed

[2020-02-01 13:54] Dylan-DPC commented on #1485
This needs some work and depend on the demand (cli in environments where you want no_std is niche iirc). We can push this for a future release

[2020-02-01 14:21] CreepySkeleton commented on #1459
Duplicate of #1597

[2020-02-01 14:21] #1459 closed

[2020-02-01 14:24] CreepySkeleton commented on #1458
Duplicate of #1571

[2020-02-01 14:24] #1458 closed

[2020-02-01 14:27] CreepySkeleton commented on #1649
@emilk Could you please provide an exact snippet of code you're having the problem with? Along with expected/actual behavior.

[2020-02-01 14:34] CreepySkeleton opened #1652 "Validate all the examples in examples/ folder, README.md, etc"
- [ ] `examples/`
- [ ] `clap_derive/examples/`
- [ ] `README.md`

... to be continued

[2020-02-01 14:35] CreepySkeleton commented on #1457
Closing in favor of #1652

[2020-02-01 14:35] #1457 closed

[2020-02-01 14:38] CreepySkeleton commented on #1453
Does somebody really need this? I doubt this calculations can ever be complex.

[2020-02-01 14:40] CreepySkeleton commented on #1451
`arg_enum!` should eventually be replaced with a custom derive, so...

[2020-02-01 14:44] CreepySkeleton commented on #1432
But should it be?

[2020-02-01 14:46] Dylan-DPC commented on #1432
This might be resolved now. Not sure

[2020-02-01 14:48] Dylan-DPC commented on #1652
On that note, since clap derive is now a workspace member we can move all the examples to `examples`

[2020-02-01 14:55] CreepySkeleton commented on #1430
I confirm the issue. Do we add this feature to defaults or adjust the doc?

[2020-02-01 14:59] frol commented on #1453
@CreepySkeleton The calculations could be non-complex, but they may involve some remote resource fetching or file reading, which you would prefer to avoid.

[2020-02-01 15:10] CreepySkeleton commented on #1411
I'm pretty sure the code in your comment should work, feel free to reopen if it doesn't

[2020-02-01 15:10] #1411 closed

[2020-02-01 15:14] #1405 closed

[2020-02-01 15:21] CreepySkeleton commented on #1394
This is *exactly* what you need as far as I see it, feel free to reopen

[2020-02-01 15:21] #1394 closed

[2020-02-01 15:24] CreepySkeleton commented on #1393
Unfortunately, this is not how it works. We can't emit compile time errors in cases like this, so I'm closing it. Feel free to reopen if you have a concrete implementation proposal (and not SFINAE-like one!)

[2020-02-01 15:24] #1393 closed

[2020-02-01 15:26] CreepySkeleton commented on #1387
Closing due to inactivity. Honestly, I don't think we should fix it unless we have the patch backported to `rust-yaml 0.3`

[2020-02-01 15:26] #1387 closed

[2020-02-01 15:28] CreepySkeleton commented on #1384
Related to #1485

[2020-02-01 15:32] CreepySkeleton commented on #1380
Cases like that can be solved by `lazy_static!`. Feel free to reopen

[2020-02-01 15:37] CreepySkeleton commented on #1384
Closing in favor of #1365

[2020-02-01 15:41] Dylan-DPC commented on #1384
This may be a side effect of that but not directly related. Reopening

[2020-02-01 15:47] CreepySkeleton commented on #1362
`env` does not work with `takes_value(false)`, this code is ill-formed. Actually, there's no way to do it now, see https://github.com/clap-rs/clap/issues/1476. The issue you outlined is because of that one.

[2020-02-01 15:47] #1362 closed

[2020-02-01 15:50] kpcyrd commented on #1387
If yaml support is unmaintained, can you please drop the dependency as a whole?

[2020-02-01 15:52] CreepySkeleton commented on #1387
How would you expect us to drop it from `2.33`? That would be a breaking change.

Also, [like I said](https://github.com/clap-rs/clap/issues/1569#issuecomment-540630305), there's no much point in this fix for `clap` anyway.

[2020-02-01 15:56] CreepySkeleton commented on #1360
Sorry, I didn't get anything from your explanation. Feel free to reopen it, ,but please explain clearly what the issue is.

[2020-02-01 16:03] CreepySkeleton commented on #1356
Closing as duplicate of #1601

[2020-02-01 16:03] #1356 closed

[2020-02-01 16:08] CreepySkeleton commented on #1354
This *is* supported via:
* Check `is_present`, if false - no option were passed
* Then check `value_of`
  * `--example val` will be mapped to `Some(val)`
  * `--example` will be mapped to `None`

[2020-02-01 16:08] #1354 closed

[2020-02-01 16:14] kpcyrd commented on #1387
I didn't file the issue due to security issues but because we have to carry a patch for clap downstream: https://salsa.debian.org/rust-team/debcargo-conf/blob/master/src/clap/debian/patches/relax-dep-versions.patch

Closing the issue doesn't make the dependency less outdated.

[2020-02-01 16:33] ssokolow commented on #1432
@CreepySkeleton I think it makes sense for the default output template to follow a formatting convention so common among Linux commands that a tool was written which assumes it.

@Dylan-DPC It's easy to check. Run `help2man` (available from pretty much any distro repository) on a clap program with the default template and then run `man -l <FILENAME>` on the resulting file to check whether the `DES

[2020-02-01 18:34] pksunkara commented on #1387
We have a duplicate at #1569. Please follow there.

[2020-02-01 18:35] pksunkara commented on #1652
@Dylan-DPC Yup, that was in my plan, but wasn't a priority.

[2020-02-01 18:51] pksunkara commented on #1432
I agree with @ssokolow. But we might also have an option to just not display version and author when `--help` is printed.

[2020-02-01 18:59] pksunkara commented on #1360
I think he means using `required_if` is not giving out useful info during `--help`.

[2020-02-01 19:00] pksunkara commented on #1476
We don't need to backport this 2.x, so we can remove `W: 2.x` label.

[2020-02-01 19:07] pksunkara commented on #1485
I agree, this is not breaking if we just add a new feature to cargo. We can push this.

[2020-02-01 19:15] pksunkara commented on #1394
@CreepySkeleton What happens when there are 2 options `test` and `temp` and the user tries `te`? What's the error message we are emititng?

[2020-02-01 19:21] pksunkara commented on #1642
I don't think there should be a setting for this. Blank line between flags and options should exist since it's a standard.

[2020-02-01 19:27] pksunkara commented on #1453
I think this can be done with the hook feature that was described in https://github.com/clap-rs/clap/issues/1634#issuecomment-575885740. Do you guys agree?

[2020-02-01 19:30] pksunkara commented on #1652
Can we use `assert_cli` crate to run the examples?

[2020-02-01 19:34] pksunkara commented on #1649
Possible solution is to have a setting which allows flags to also allow boolean literals as values.

[2020-02-01 19:37] pksunkara commented on #1571
Instead of that, we can remove the ellipsis if the `number_of_values` is 1. This sounds like a much simple and straightforward solution to me.

[2020-02-01 20:00] pksunkara commented on #1545
Yup, if you want to print an error, then you shouldn't give a default value.

[2020-02-01 20:02] pksunkara commented on #1551
I agree. This is very niche. You can use validators to achieve this.

[2020-02-01 20:03] BurntSushi commented on #1485
You'll want to add a `std` feature that is enabled by default and produces a compilation error when it is disabled. Otherwise it's quite likely that you'll break extant uses of `default-features = false`.

[2020-02-01 20:05] pksunkara commented on #1485
@BurntSushi Thanks for the input. I haven't worked with `no_std` before. Is this the standard way of doing things? Is there any issue with adding `no_std` feature instead?

[2020-02-01 20:10] BurntSushi commented on #1485
Yes it is standard. Features should be additive, since enabling them in a dependency enables it for all instances of that crate in a dependency tree.

The main point here is to make sure you add the feature in clap 3, so that you can add it later in a backwards compatible fashion.

(I would personally be surprised if making clap compatible with no_std was easy without significant changes to the pu

[2020-02-01 20:10] pksunkara commented on #1451
Arg enum related code is currently commented out in clap_derive. I haven't actually looked into it yet, but yes, it's a priority.

[2020-02-01 20:59] pksunkara commented on #1614
This is actually a v2 issue and is probably fixed in v3. Fix might be backporting #1631.

[2020-02-01 21:01] pksunkara commented on #1600
Basically, I think the issue is that clap allows something like the following:

[code]

This should give an error.

[2020-02-01 21:22] Dylan-DPC commented on #1485
Don't worry. I'll handle the no_std part. Well generally the default crate should be in no_std and then std is added as a new feature. The problem with that is it is difficult to do it in a non-breaking way. Also I don't want to keep the release waiting for it, so likely it will happen in a minor release in the future in a non-breaking (or a short term solution ) or properly in 4.0

[2020-02-01 21:45] BurntSushi commented on #1485
@Dylan-DPC Hmmm, I'm not sure if I conveyed my thoughts well enough. What I'm saying here is that with the clap 3 initial release, you can add a `std` feature that is enabled by default. When it is disabled, you can use `compile_error!(...)` to cause it to always fail. That way, once you do decide to add the feature, you can make whatever changes you want since the lack of a `std` feature previous

[2020-02-01 22:13] pksunkara commented on #1603
I have come up with 2 ways to implement this:

1. Have a new subcommand type thing whose job is just replacing things.

[code]

   **PROS**: Can also use flags and options in the replace target string
   **CONS**: Parsing logic might become a bit more complex?

2. Have a `alias_up` and `visible_alias_up` which takes number argument on how many levels it has go up.

[code]

   **PROS**: Works like

[2020-02-01 22:21] kinnison commented on #1603
An idea I had was:

[code]

Where the `.mirror()` and `.as_mirror()` names would have to match up by the time you called .get_matches() or somesuch perhaps?

[2020-02-01 22:36] pksunkara commented on #1644
Looks similar to #990

[2020-02-02 00:25] clarfon commented on #1597
I would, but I haven't taken a proper look at the changes for 3.0 and don't know where it would properly integrate with that. I was under the assumption it'd just be a property on the thing that accepts subcommands.

[2020-02-02 00:30] Dylan-DPC commented on #1485
I've added a dummy no-op feature in https://github.com/clap-rs/clap/commit/6aaeb2718b6daa3d2024759183d588243e5c3565

[2020-02-02 01:08] Dylan-DPC commented on #1545
I think we need to set up some precedence here for conflicting options. Re-opening

[2020-02-02 01:12] Dylan-DPC commented on #1634
I think this is beyond the scope of clap. You could use `enquirer` or I'd tackled a similar problem in `clim` which I never completed 😄

[2020-02-02 02:12] CreepySkeleton commented on #1387
@kpcyrd for clarity, the reason we can't bump rust-yaml to 0.4 is because some types from this crate are part of clap's API. If we actually do the bump, that would be s breaking change for users relying on them.

We did bump in the new-coming clap 3.0 but clap 2.x is going to have to stay on rust-yaml 0.3.x

[2020-02-02 02:18] CreepySkeleton commented on #1126
I'm leaving it closed for the time being

[2020-02-02 02:19] CreepySkeleton commented on #962
Leaving it closed for the time being

[2020-02-02 02:21] CreepySkeleton commented on #1644
First, the ` Please consider filing a bug report` part should be omitted in debug builds, this message is aimed at users but not developers.

Second, the backtrace is good, but the error should be more descriptive in my opinion.

[2020-02-02 02:34] CreepySkeleton commented on #1600
Yes ,it should panic in this case

[2020-02-02 02:43] CreepySkeleton commented on #1453
Yes, indeed. Closing in favor of https://github.com/clap-rs/clap/issues/1634#issuecomment-575885740

[2020-02-02 02:43] #1453 closed

[2020-02-02 02:45] CreepySkeleton commented on #1642
For `--help` - maybe, but what if all of your descriptions are short and fit in one line?

[2020-02-02 03:05] CreepySkeleton opened #1655 "Offer suggestions for InferSubcommands"
Imagine we have this app
[code]

User call it like
[code]

Current error would be
[code]
but it would be nice to see something like
[code]

[2020-02-02 03:51] arusahni commented on #1380
@CreepySkeleton thanks for the suggestion! Unfortunately, this doesn't appear to work:

[code]

with the message:

[code]

[2020-02-02 04:37] CreepySkeleton commented on #1380
The workaround is
[code]

[2020-02-02 04:39] CreepySkeleton commented on #1380
I actually don't think we'll ever get to fixing this in clap 2.x because it would be a breaking change, especially in the light of workaround. Closing as wontfix.

[2020-02-02 04:39] #1380 closed

[2020-02-02 05:08] CreepySkeleton commented on #1349
Closing as duplicate of https://github.com/clap-rs/clap/issues/1478

[2020-02-02 05:08] #1349 closed

[2020-02-02 05:19] CreepySkeleton commented on #1340
@jansol Something like that (`StructOpt` is the same)
[code]

[2020-02-02 05:19] #1340 closed

[2020-02-02 05:23] CreepySkeleton commented on #1339
Duplicate of #984

[2020-02-02 05:23] #1339 closed

[2020-02-02 05:27] CreepySkeleton commented on #1551
OK, let's be proactive here and close it. @Matelasse , you are free to reopen it.

[2020-02-02 05:27] #1551 closed

[2020-02-02 05:42] CreepySkeleton commented on #1338
I would say this is how it's supposed to work.

* No field - no version/auther/about/etc at all
* `version: crate_version!()` - derive it from Cargo.toml
* The `name` field is mandatory, you can't omit it. Full stop. If you want it to be derived - use `name: crate_name!()`

But I agree this should be documented better.

[2020-02-02 05:49] pksunkara commented on #1597
That sounds correct.

[2020-02-02 05:54] CreepySkeleton commented on #1337
I haven't read the spec completely but looks pretty interesting. cc @clap-rs/admins What do you think?

[2020-02-02 05:58] pksunkara commented on #1545
Do you mean describe the precedence in docs? Or in error messages when building?

[2020-02-02 05:59] pksunkara commented on #1634
Definitely, I am just keeping this issue open as a placeholder for hooks feature.

[2020-02-02 06:08] CreepySkeleton commented on #1634
I wouldn't be so categorical. Maybe not *hooks*, but some sort of prompt support would be pretty useful.

[2020-02-02 06:11] pksunkara commented on #1642
Hmm.. Doing `enquirer select --help` or `enquirer select -h` is giving the same thing because the long help messages are just one line.

[code]

Maybe this is occurring when long help messages are multi line only.

[2020-02-02 06:16] CreepySkeleton commented on #1642
I propose:

* For one-line helps only - no blank line by default
* If at least one of help messages doesn't fit in one line - blank lines between all options just to be consistent
* `AppSetting::AlwaysBlankLIne` and `AppSetting::NeverBlankLine` (I suck at naming things) so developers are able to manually chose the style they want

[2020-02-02 06:20] pksunkara commented on #1634
I would say *prompts* are beyond the scope of main clap.

[2020-02-02 07:27] CreepySkeleton commented on #1332
I'm afraid it won't change for 2.x but it's already done in master

[2020-02-02 07:27] #1332 closed

[2020-02-02 07:33] CreepySkeleton commented on #1330
From the doc:

Index should not be used for short/long options.

I'm leaving this open as a reminder to check and tidy up the doc.

[2020-02-02 08:34] pksunkara commented on #1478
This has been fixed in master and the minimum rust version is 1.36. I have added https://github.com/clap-rs/clap/pull/1656 to test it. We won't be backporting it to v2.

[2020-02-02 11:24] Toothless204 commented on #1600
I'll put in a pull request shortly to fix this

[2020-02-02 11:51] Toothless204 commented on #1600
By the way while fixing that I noticed an issue with the documentation for that method, should I open a new issue for that?

[2020-02-02 11:53] CreepySkeleton commented on #1600
If you want to fix it - just add an extra commit in this PR. Otherwise, open a separate issue

[2020-02-02 13:56] pksunkara commented on #1337
So, I looked over the spec and I am really hesitant to support it. It will have too much noise compared to clap's yaml which will make it harder for users to use.

[2020-02-02 14:59] Dylan-DPC commented on #1644
For debug build, our users are our developers 😄

[2020-02-02 19:41] Dylan-DPC commented on #1545
No I mean the way clap handles it

[2020-02-03 03:01] arusahni commented on #1380
The workaround you provided worked for me.  Understood about the breaking change thing - thanks for your time!

[2020-02-03 03:12] CreepySkeleton commented on #1600
Closed by #1657

[2020-02-03 03:12] #1600 closed

[2020-02-03 09:18] pksunkara commented on #1659
@CreepySkeleton This is possibly related to multiple traits.

[2020-02-03 09:24] kbknapp opened #1661 "Tracking issue CustomDerive"
_From @kbknapp on July 6, 2015 1:22_

Comments have been cleaned up and updated. This thread should be related to general progress towards 1.0 for this crate.

## To Do

- [ ] `#[derive(FromArgMatches)]`
  - [ ] Implemented
  - [ ] Docs
  - [ ] Tests
  - [ ] Examples
- [ ] `#[derive(IntoApp)]`
  - [ ] Implemented
  - [ ] Docs
  - [ ] Tests
  - [ ] Examples
- [ ] `#[derive(ClapApp)]` (Automatically

[2020-02-03 09:24] pksunkara commented on #1661
@CreepySkeleton This is also related to custom traits.

[2020-02-03 09:25] CreepySkeleton commented on #1659
Yeah, kind of, but it can wait until beta. The nearest milestone is alpha, just to show people the project is still alive / being resurrected.

I'm getting custom derives to work, anticipated time is ~5 hours from now (I'll get to it in ~3 hours since I have some urgent stuff to do now, sorry for delay). Then we can get rid of `no_version` and start working on multiple traits approach. I drew a sk

[2020-02-03 09:29] CreepySkeleton commented on #1661
Yeah, essentially the same design I've been think about 👍

[2020-02-03 09:33] TeXitoi commented on #1661
For the ArgEnum thing, you may also be interested by https://crates.io/crates/strum it lacks almost nothing to be just enough.

[2020-02-03 09:35] pksunkara commented on #1606
So, there are now 2 milestones [3.0.0-alpha.3](https://github.com/clap-rs/clap/milestone/78) and [3.0.0](https://github.com/clap-rs/clap/milestone/76) which should work as a roadmap. Please feel free to comment if you want to see some issue as part of these milestones.

[2020-02-03 09:35] #1606 closed

[2020-02-03 09:38] pksunkara commented on #1659
Some implementation is at https://github.com/clap-rs/clap_derive/pull/15

[2020-02-03 10:03] mr-c commented on #1337
@pksunkara What do you think about CWL export from clap-using apps?

[2020-02-03 10:04] pksunkara commented on #1337
I don't mind that, but it will have to go clap_generate crate and even then, I am not sure this is not niche.

[2020-02-03 11:15] CreepySkeleton commented on #1337
@mr-c The main goal of `clap` is to provide a flexible an feature-full parser for command line arguments, but the full scope of CWL is way beyond this goal. I don't think we'll ever consider supporting all of it.

About CLI part only - well, if it's all about building `clap::App` from corresponding `cwl.yaml` file it can be seen as "yet another format akin to YAML and TOML". We are considering to

[2020-02-03 12:18] Dylan-DPC commented on #1337
I'd like to consider this in the future. Let's keep it open.

[2020-02-03 12:41] CreepySkeleton commented on #1603
I like `visible_alias_up` but `mirror` is more general.

Again, I have yet to familiarize myself with clap internals (except for some) so I can't tell which way would be easier to implement. Let's postpone it until we dealt with clap_derive (I'll get to it in ~30 mins)

[2020-02-03 12:43] mr-c commented on #1337
@Dylan-DPC @CreepySkeleton I am happy to write a Google Summer of Code proposal and co-mentor alongside a rust person to work on CWL export from `clap` applications.

[2020-02-03 14:08] Dylan-DPC commented on #1603
I was thinking more of `.mirror("toolchain") in app and then you can add `.delegate()` to each subcommand you want to send to toolchain (I'm assuming they'll be multiple at some point)

[2020-02-03 14:22] kinnison commented on #1603
Are you imagining `.mirror("label")` sets up a subcommand which can be referenced and then `.delegate("name", "label")` is like `.subcommand(with_name("name").....)` matching the subcommand which had the `.mirror()` on it?

[2020-02-03 14:49] Dylan-DPC commented on #1603
Yeah I guess you got it

[2020-02-03 20:06] silvioprog opened #1665 "How to translate the default clap strings?"
Hi.

As default, clap prints its info in English, e.g.:

[code]

however, I would like to translate it to my country, for example:

[code]

(also, notice the translation from `USAGE` to `Uso` and `FLAGS` to `Flags`). But, I would like to keep the default clap argument behavior, for example, the `-v/--version` would keep showing the application version without any extra implementation like this:

[

[2020-02-03 23:27] luizirber commented on #1337
This is pretty much exactly why I used the YAML feature to write [my CLI][0]. I had previously handwritten the equivalent command ([compute][1]) in CWL, and I think it would be extremely useful to have both more Rust CLIs in bioinformatics and larger adoption of CWL tool descriptions.

[0]: https://github.com/luizirber/decoct/blob/b53cdc76070cc9997a1aecac410bff99262f9d0e/src/decoct.yml#L115
[1]: h

[2020-02-04 01:52] cryptohuang opened #1666 "How to install 3.0.0 ?"
Hello, I am new to rust.
I have `Cargo.toml`

[code]

but cargo reports error:

[code]

Version does not exist? How do I install version 3?

[2020-02-04 07:07] CreepySkeleton commented on #1666
3.x version was not released yet, officially. We will release `3.0.0-alpha.1` as soon as it's done, I expect it to be a week or two from now on.

Meanwhile, you can try the upcoming version via
[code]

Please be aware that clap is under heavy development - any help is very welcome here! - so expect severe bugs, documentation inconsistency and API breakage.

[2020-02-04 07:07] #1666 closed

[2020-02-04 07:47] pksunkara commented on #380
This would also include localization of clap strings such `Usage`, `Flags`, etc..

[2020-02-04 07:47] pksunkara commented on #1665
If you want to change whole help message, you have to implement the default clap behaviour too. To localize the other strings, we can combine it with already existing issue.

Duplicate of #380

[2020-02-04 07:47] #1665 closed

[2020-02-04 07:51] pksunkara commented on #1337
@codesections Could this come under documentation crate? Can one of the generators be CWL?

[2020-02-04 08:26] CreepySkeleton commented on #1665
@silvioprog You can replace default messages via `App::help_message` and `App::version_message`

[2020-02-04 13:11] yakubin commented on #1512
Closing, as discussed in #1513.

[2020-02-04 13:11] #1512 closed

[2020-02-04 14:33] CreepySkeleton opened #1668 "v2-master branch is broken on 1.33"
MSRV for 2.x is 1.33, but current `v2-master` branch doesn't build with 1.33. Does it worth fixing it?

[2020-02-04 14:59] Dylan-DPC commented on #1668
It isnt needed. Even if for some reason we need to push to 2.*, We can always start a new branch from the release

[2020-02-04 15:19] CreepySkeleton commented on #1668
I would actually like to backport at least simple bugfixes, [like that one](https://github.com/clap-rs/clap/pull/1481)

[2020-02-04 15:21] pksunkara commented on #1668
I will look into the v2-master branch and fix it today so that we can allow PRs to  it.

[2020-02-04 15:29] tshepang commented on #1668
Yeah, I imagine many will choose to stay on v2.x for a while yet, so may need to be kept alive for some time. I hope that's ok to say, given I'm not volunteering.

[2020-02-04 16:00] Dylan-DPC commented on #1668
It is fine to say. But normally when a new version is released, it implicitly implies that previous version is no longer supported.

[2020-02-04 16:15] CreepySkeleton opened #1671 "Validate error messages in clap_derive"
Some of them link to `docs.rs/structopt`. We can't fix it just now because we have no docs currently, but we need to get back to it once we have

[2020-02-04 16:19] CreepySkeleton opened #1672 "Implement `#[clap(external_subcommand)]`"
I'm not exporting it directly from structopt because it doesn't seem to work, but I'll get to it later.

Structopt issue: https://github.com/TeXitoi/structopt/issues/130

Chosen implementation:
[code]

[2020-02-04 19:15] medcelerate commented on #1337
I would absolutely love this feature set, would make our biofx tools more powerful and easier to add to workflows.

[2020-02-04 19:33] Dylan-DPC commented on #1337
Let's discuss this once we are done with the 3.0.0 release

[2020-02-04 23:56] yaahc commented on #1570
not sure if this is the same issue or a different issue but I'm seeing something similar where a global arg isn't propogating to the `ArgMatches.subcommand()` matches properly

[code]

The assert_eq here fails.

[2020-02-05 07:54] pksunkara commented on #1570
It is the same issue. Thanks for the reports guys. Unfortunately we won't get to fix this until 3.0 is out.

[2020-02-05 08:34] CreepySkeleton opened #1674 "Implement Clap for Box<impl Clap>"

[2020-02-05 09:34] shaojintian opened #1675 "how to loop different subcommand using clap"
I want to loop command line like redis CLI

thx

[2020-02-05 09:34] pksunkara commented on #1675
Please write an example behaviour.

[2020-02-05 10:33] CreepySkeleton commented on #1668
I suspect it will be a while until 3.0 is released so we need to keep supporting 2.x until then at least

[2020-02-05 10:34] pksunkara commented on #1668
So, I added the CIs and everything to v2-master which should make it easy for us to maintain it. The minimum version is now 1.36. I am closing this.

[2020-02-05 10:34] #1668 closed

[2020-02-05 11:00] CreepySkeleton commented on #1675
@shaojintian no offense, but if you want to get any help here, you're going to have to explain what you want to us in detail.

Best explanations  include piece of code you want to work or a series of shell commands you want to work.

You are free to reopen this issue as soon as you write a detailed explanation.

[2020-02-05 11:00] #1675 closed

[2020-02-06 07:52] CreepySkeleton commented on #1641
Closing in favor of #1671

[2020-02-06 07:52] #1641 closed

[2020-02-06 07:57] CreepySkeleton commented on #1607
OK, it feels a lot like `exclusive` indeed, and yet it's a bit different. `exclusive` is about "this option conflicts with every other" but the question is about "this option terminates processing right away".

[2020-02-06 07:58] pksunkara commented on #1607
I think `.global(true).exclusive(true)` should handle this case.

[2020-02-06 08:28] CreepySkeleton commented on #1607
Not really. `exclusive` will go boom if the arg is not the only one, but the expected behavior is to "ignore everything else if the arg is present".

[2020-02-06 09:04] CreepySkeleton commented on #1537
maybe we need to introduce `requires_any(&[group/option])`?

[2020-02-06 09:11] CreepySkeleton commented on #1452
Triaging it for before 3.0 because it seems to be commonly asked feature

[2020-02-06 09:17] CreepySkeleton commented on #1416
We can actually make a proc-macro that parses `.yaml` and expands to resulting `clap::App`, no runtime cost involved!

[2020-02-06 09:30] pksunkara commented on #1660
@CreepySkeleton We can close this, the only thing we are missing is:

https://github.com/TeXitoi/structopt/commit/dc7571c85bf8977fa9c1da654c78cda7be961da8

We had decided not to use `paw`.

[2020-02-06 09:31] CreepySkeleton commented on #1386
From the doc

This is the correct way to do it:
[code]

[2020-02-06 09:31] #1386 closed

[2020-02-06 09:34] CreepySkeleton commented on #1660
Yeah, if somebody wants paw support here - well, I'm not totally against it, but let's wait for a feedback first.

[2020-02-06 09:34] #1660 closed

[2020-02-06 09:35] pksunkara commented on #1660
What about the error message improvement commit I linked above?

--
Pavan Kumar Sunkara

On 6 February 2020 at 10:34:04 AM, CreepySkeleton (notifications@github.com)
wrote:

Closed #1660 <https://github.com/clap-rs/clap/issues/1660>.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/clap-rs/clap/issues/1660?email_source=notificatio

[2020-02-06 09:37] CreepySkeleton commented on #1660
That's not much of improvement anyway, see diff for the `.stderr` files. I think it can wait for refactoring.

[2020-02-06 09:56] CreepySkeleton commented on #1374
Hey @Elarnon , kudos for writing this detailed step-by-step bug report! It's a real pleasure reading well-written explanations in simple fluent language that instantly lands in your brain without a need to parse "what that person meant". Bonus points for the attempt to fix it, I promise we'll get to it eventually.

[2020-02-06 10:04] CreepySkeleton commented on #1432
I'm triaging it for 3.0 because if we won't get to it by then, we won't get to it at all.

[2020-02-06 19:26] pksunkara commented on #1518
While I think it is intriguing, I am not sure it falls into Clap's scope. You can generate a Clap template though.

[2020-02-06 19:28] pksunkara commented on #1515
I am working on https://github.com/clap-rs/clap/pull/1678 which should make the crate ready for 3.0 release.

[2020-02-06 19:37] nilslice commented on #1518
Yea I agree - thanks for the input! Will close.

[2020-02-06 19:37] #1518 closed

[2020-02-07 07:03] pksunkara commented on #1422
What was the error message you are getting and please write down the expected error message you want.

[2020-02-07 14:21] daxpedda commented on #1422
I am sorry for the very vague bug report here, I had a hard time figuring out myself what exactly my problem was.

In any case, this is fixed in master!

I'm going to explain the issue in `2.33.0`:

So using the exact code from above, let's say I have a crate called `cargo-subcommand`, using the following commands, I would get the following output:

`cargo subcommand --test`:
[code]

You can see t

[2020-02-07 14:21] #1422 closed

[2020-02-07 21:15] thomasfermi commented on #1639
Hi everybody, I just wanted to let you know that I started working on this. I will try to propose a solution via a pull request within the next 5 days. Since I am new to rust, clap, and the GitHub workflow, it will probably need some reviews and iterations.

[2020-02-09 10:47] CreepySkeleton commented on #1644
Here's one another example why we need more descriptive messages https://github.com/TeXitoi/structopt/issues/348

[2020-02-09 12:02] sharnoff commented on #1644
Is there a rough idea of what should be done here? If so, I'd be happy write up a pull request

[2020-02-09 14:35] CreepySkeleton commented on #1644
This is complicated.

People who encounter an error originating from `clap` can be divided into two groups:
* Developers who use clap to build their own programs, e.g people who use clap as library. Let's call them `developers`.
* End users who use programs written by `developers`, let's call them `users`.

There are three types of errors:
* Bugs in `clap` itself, `clap-bug`
* Bugs in programs wri

[2020-02-09 15:03] CreepySkeleton opened #1682 "clap_derive: support fixed arrays as shortcur for number_of_values = N"
Transferred from: https://github.com/TeXitoi/structopt/issues/349

It would be even better if fixed sized arrays or tuples with different value types would be supported directly:

#[derive(StructOpt)]
struct Args {
    #[structopt(long)]
    range: [u32; N] // implies `required = true` and `number_of_values = N`
    #[structopt(long)]
    range: Option<[u32; N]> // `number_of_values = N`
}

// I'm

[2020-02-09 20:24] thomasfermi commented on #1639
Thanks @pksunkara for linking my pull request to this issue. Would I have been able to do this myself? Or do you need certain rights to link issues to pull requests?

[2020-02-09 20:27] pksunkara commented on #1639
https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#manually-linking-a-pull-request-to-an-issue

[2020-02-09 20:27] Dylan-DPC commented on #1639
@thomasfermi nope you don't.

[2020-02-09 20:29] CreepySkeleton commented on #1639
@thomasfermi The easiest way to do that is to put `Closes #ABCD` line in your first comment. I'm not sure if it works with editing, why don't you try and see for yourself?

[2020-02-09 20:34] thomasfermi commented on #1639
I originally tried with that tutorial, but the "link" thing was grayed out and not clickable.

[2020-02-09 20:35] thomasfermi commented on #1639
Thanks, that is indeed an easy solution! I edited my first comment in the pull request.

[2020-02-09 20:36] CreepySkeleton commented on #1639
@thomasfermi The first line from this guide:

You don't have write permissions :(

[2020-02-09 21:36] sollyucko opened #1684 "2 vs 3 and clap_derive/structopt"
### Affected Version of clap

2.33.0 vs 3.0.0-alpha.1

### Expected Behavior Summary

`use clap::Clap` should work on latest version from `cargo`, b/c used in `README.md`.

### Reason for Behavior

`README.md` documents `3.0.0-alpha.1`, but `cargo` only has up through `2.33.0`.

### Proposed Fix

Add some sort of warning to the top of `README.md`, preferably with one or more of the following:

- a

[2020-02-10 05:53] Ayplow commented on #1645
As an example, here's an option from the `readelf` cli -

[code]

For the short form of the option, the value also has a 'short' representation. As a user, this seems intuitive - I use short options when I want to quickly use a feature of the CLI, and needing to write out the full value defeats that.

I think you're right that separate flags would be ideal, but that only leaves us with 26 flags 😄(

[2020-02-10 07:37] jsdw commented on #1597
I ran into a desire for this as well. My use case is that I want to require a certain value from a limited set of options (eg "foo", "bar", "lark") and in the case that one of those values is provided ("foo", for instance) I need some other config as well.

A more concrete example:

[code]

Here, I want "thing" to be as close to a normal positional arg as possible, but to require other opts if one

[2020-02-10 09:53] pksunkara commented on #1645
Hmm.. We can use utf8 for short flags to increase the range. 💭

[2020-02-10 09:58] Ayplow commented on #1645
Just in case you're not joking, that sounds terrible for UX. You'd either have to copy the scalar or learn its code to manually type into your terminal. Even if we don't care about terminal support, no keyboards have these keys.

[2020-02-10 10:00] pksunkara commented on #1645
😄

You can currently use 52 characters for sure for short flags (both uppercase and lowercase).

[2020-02-10 10:03] Ayplow commented on #1645
*I actually held back a preemptive response to just that, so here it is*

At best we have 52 characters available - the upper- and lowercase alphabet - but it's important that the flags are memorable, and using the same letter makes that even harder. By breaking up the grouping into meaningful sections, users are given prompts for remembering the tool they want to use

[2020-02-10 12:31] CreepySkeleton commented on #1645
@Ayplow If I'm not mistaken (and I vary well can be), this design can be easily implemented with only two args:
[code]

No need to introduce tons of flags ¯\_(ツ)_/¯

[2020-02-10 18:09] #1639 closed

[2020-02-10 22:43] pksunkara commented on #1603
So, I was looking to implement this, and as of now, I can simply do delegation to sibling commands. You can't delegate up. Is that okay?

[code]

[2020-02-10 23:14] #1684 closed

[2020-02-11 17:16] kinnison commented on #1603
That would be sufficient for `rustup`'s use case, if others in `clap` are OK with that as a limitation.

[2020-02-11 17:21] pksunkara commented on #1603
Actually, we can do something like this:

[code]

Which would be the same thing, but it actually allows us to delegate up too. Would require more checks though.

[2020-02-11 17:26] Dylan-DPC commented on #1603
Looks good to me. I don't see much of a usecase of delegating upwords.

[2020-02-11 17:31] kinnison commented on #1603
From `rustup`'s perspective the **canonical** form is `rustup toolchain install` and we want to support *silently* `rustup install` as an alias for those who have it stuck in scripting etc.  We don't want it showing in help etc, but simply to be internally converted by clap.

[2020-02-11 18:30] CreepySkeleton commented on #1603
I would like propagating things only *down* (this delegation is a form of propagation too), like it has been for all this time; global args and global settings has been propagating down. It's being done in one, up-bottom propagation step. Making an exception for `.delegate` would essentially add another, bottom-up propagation step which may affect performance for other cases. It's hard to say for

[2020-02-11 19:01] kinnison commented on #1603
I'm aware of `Hidden` yes -- my point was that whatever the scheme, I'd need to be able to do that.  That's all :D

[2020-02-11 22:11] EverlastingBugstopper opened #1687 "versionless subcommands with clap_derive"
What's the best way to add `AppSettings` when using `clap_derive`? I can't seem to find anything in the docs 😄

[2020-02-12 09:34] CreepySkeleton commented on #1687
You can't find them because they haven't been written yet 😄 Subcommands will be versionless in clap_derive by default.

You can use AppSettings like that:
[code]

[2020-02-12 16:27] EverlastingBugstopper commented on #1687
Awesome! Thanks 😄

[2020-02-12 16:27] #1687 closed

[2020-02-13 07:40] pksunkara commented on #1416
The main concern with a proc-macro that parser `.yaml` is custom spans. For example, let's assume we have a proc-macro `load_yaml` that builds an App out of yml file. And if the yml file has an error, we should emit a `proc-macro-error` pointing to the issue which is difficult without us being able to build custom spans (since we won't be tokenizing yml file directly but instead reading the file f

[2020-02-13 08:39] CreepySkeleton commented on #1416
We can't exactly *point* there indeed, just because files included via `include*!` or non-rs files don't really have span info attached to them. What we can do is to print line/column the error was encountered, and I think it should be "good enough". `serde` would grant us this info out of box.

[2020-02-13 09:04] pksunkara commented on #1416
Yeah, but can we create a span with the line, column info? That would make the error reporting easy

[2020-02-13 09:20] CreepySkeleton commented on #1416
We can't _create_ a span with a custom line/column info since the only ways are `call_site`, `def_site`, `mixed_site`. We can't _set_ this info on already existing span because there's no such API, even unstable.

Could you explain what do you expect from such API? The error cannot be rendered for files that are not part of a crate.

[2020-02-13 12:36] #1472 closed

[2020-02-13 16:09] #1674 closed

[2020-02-13 20:52] pksunkara commented on #1416
I wanted to make up Span. For files that can not be token streams, but we still want to parse, I wanted to make up Span when I get error and let `compile_error!` or `Diagnostic` API take care of printing it for me.

So, I looked into it and proc_macro2 stores the source map locally and thus we can't fool it by making up `Span`.

[2020-02-14 02:39] pksunkara commented on #1603
I have been looking at this the past few days and I have realized that doing this requires large changes in parsing logic. I would like to instead throw an alternative.

[code]

Doesn't this basically solve your use case? Also, this is more correct since if we are just aliasing to a different path, then it might have issues with args on parent subcommands (`toolchain` args here).

[2020-02-14 02:43] CAD97 commented on #1603
@pksunkara the issue is that, while the arguments are correctly parsed in this case, the actual code still has to handle the fact that there are two entry points to the functionality. The advantage of alias over just mounting the same `App` at two places is being able to handle it in one place and have it automatically apply to the other, aliased location.

In short, we want to let the user say `r

[2020-02-14 02:46] pksunkara commented on #1603
Could you explain why you do not want this?

You are still writing just one `install` App. All you are doing is adding 2 lines to your root App.

[2020-02-14 02:56] CAD97 commented on #1603
The issue comes after doing `get_matches`. Once you have done the matching, you need to test to see if `subcommand_matches("install")` and then somehow jump into the middle of your code handling `subcommand_matches("toolchain")` to where it handles `subcommand_matches("install")`.

The point of having the alias at the `App` layer is enforcing, at the argument parsing level, that the two are identi

[2020-02-14 03:01] pksunkara commented on #1603
My bad, I was thinking of a different architecture for the CLI.

I was thinking `App`s have `run()` and when you get matches, you just iterate over them to get the `App` and then just `run()` on it. (clap_derive/structopt makes this even easier).

[2020-02-14 11:09] XAMPPRocky opened #1693 "Add argfile support"
Maintainer's notes:
- Prior art:
  - [javac's documentation for accepting `@`](https://docs.oracle.com/javase/7/docs/technotes/tools/windows/javac.html#commandlineargfile)
  - [argparse's `fromfile_prefix_chars`](https://docs.python.org/3/library/argparse.html#fromfile-prefix-chars)
  - [description of rg](https://github.com/clap-rs/clap/issues/1693#issuecomment-621182914)
  - [Microsoft Response

[2020-02-14 12:08] NilsIrl commented on #1452
For someone looking to implement this, is there anything that needs to be changed to the API described by @tprodanov ?

[2020-02-14 12:13] Dylan-DPC commented on #1452
Yeah go ahead. I like the idea of having the slice as a parameter

[2020-02-14 12:18] pksunkara commented on #1452
Yup, slice as a parameter is the best here.

[2020-02-14 12:32] CreepySkeleton commented on #1693
Here's a formal description for the sake of possible implementors:
* `App::new("My Super Program").global_setting(AppSettings::AllowArgfiles)` tells clap to look after **positional** arguments starting with `@`.  These args will be treated as `@argfiles`.
* `@argfiles` can only be trailing, i.e it's not possible to do something like `app -J --foo @argfile1 bar @argfile2 baz`. This fact should simp

[2020-02-14 12:36] CreepySkeleton commented on #1452
`default_values(&["a", "b"])` is good, `default_values("a b") is not.

[2020-02-14 14:42] pksunkara commented on #810
@rharriso Try the clap_generate now, it should work. But yeah, this would become a circular dependency. I am not sure we want this.

[2020-02-14 16:50] emilazy opened #1694 "Specify defaults in terms of the underlying type rather than strings"
I really like how the new clap v3 is shaping up! Now that structopt is integrated, it'd be great if defaults could be specified in terms of the default resulting value they produce rather than as a string. Other argument parsing libraries like Python's argparse work this way.

[2020-02-14 16:51] pksunkara commented on #1694
Could you provide a small example so we are on the same page? Thanks

[2020-02-14 16:53] emilazy commented on #1694
e.g.

[code]

Currently you have to do e.g. `#[clap(default_value("more-magic"))]`, which is less flexible and elegant (as well as incurring an unnecessary parse).

[2020-02-14 17:05] emilazy opened #1695 "Specify default text for optional arguments in help"
### Describe your use case

Often, the default values of arguments are determined based on runtime computation, e.g. a `--threads` parameter defaulting to the number of available threads on the system, or a `--config` option defaulting to an OS-specific path in the user's home directory (e.g. `$XDG_CONFIG_HOME/app-name/config.ron` on Linux). It's beneficial for usability to be able to summarize th

[2020-02-14 21:00] NilsIrl commented on #1452
Hasn't this been already implemented in https://github.com/clap-rs/clap/commit/c3b7c01f54d95c4907e33256f9d4dfe5f20ce1cc?

[2020-02-14 21:26] CreepySkeleton commented on #1452
Oops, yeah, it done already 😮

[2020-02-14 21:26] #1452 closed

[2020-02-16 07:29] hyunsukimsokcho opened #1696 "Using clap to set arguments for `cargo test`"
I am trying to feed arguments to specific test using `clap`, and it has been hard time finding out what is getting me wrong. In `main.rs`, we were able to successfully use `clap` for proper argument parsing. Here is our projects configuration for `clap`:

In `bin/cli.yml`:
[code]

`bin/main.rs`:
[code]

I could check it is working by typing (with output):
[code]

Then, I tried to apply clap on a t

[2020-02-16 14:59] CreepySkeleton commented on #1696
It's very tempting offer ;) I don't generally need a permission to yell at people, but thanks, I'll keep it in mind when I feel like yelling.

Let's start with some theory first.

`#[test]` tests aren't supposed to take CL arguments, let me tell you. A `#[test]` function is *not* a binary on it's own, an `.rs` file is a binary. It can contain multiple tests. Besides, those binaries is immutable-is

[2020-02-17 02:02] hyunsukimsokcho commented on #1696
@CreepySkeleton Thanks for bringing the issue into more details like `libtest`. I barely imagined such behavior, and now I can see what's going on more closely. (It was kind converse rather than yelling:D)

Anyway, since you ask,

The test I would like to run involves reading a file, and I want to pass the **path to the file** since the filename may differ. Indeed, by now, I found that the followi

[2020-02-17 09:22] pksunkara commented on #1693
So, with #1697, I rewrote how input is being parsed. That would enable us to use @argfiles even in the middle.

[2020-02-17 09:23] pksunkara commented on #1603
@CAD97 I have the PR ready, please give it a look.

[2020-02-17 16:10] CreepySkeleton commented on #1696
I think this is what's preventing you from understanding the issue. `libtest` doesn't specify a CLI *already* but rather specifies *yet another CLI that works with the same `std::env::args()` your `clap::App` does*, emphasis on "the same args".

Let's see what's happening step by step:
1. The test binary gets run. OS puts all the CLI args somewhere `std::env::args()` gives you access to. This *som

[2020-02-17 19:29] CreepySkeleton opened #1699 "Our benchmarks seem to be useless"
### Rust Version

`rustc 1.43.0-nightly (5e7af4669 2020-02-16)`

### Affected Version of `clap*`

`master`

### Additional context

The benches we have in `benches/*` have very high variance on my machine. Here are some results:

[code]

[code]

[code]

What's more, this results are largely inconsistent, I've been observing them vary +-60%. The only useful test is `parse_lots` which keeps giving c

[2020-02-17 19:57] BurntSushi commented on #1699
A few ideas:

* Make sure the machine you're running them on is otherwise reasonable quiet.
* If you're on a laptop, it might have CPU frequency scaling set to `powersave`. Setting it to `performance` might help reduce variance.
* Switch to Criterion, which "does stats" to determine whether the variance is statistically significant or not.

[2020-02-17 20:14] pksunkara commented on #1699
The variance is very low for me. (I had chrome in the background though)

[code]

[2020-02-17 20:20] pksunkara commented on #1699
And I agree with @BurntSushi, we should move to Criterion. It looks good.

[2020-02-20 06:59] pksunkara commented on #1696
I am closing this. Please feel free to reopen when you respond @hyunsukimsokcho

[2020-02-20 06:59] #1696 closed

[2020-02-20 08:15] hyunsukimsokcho commented on #1696
@CreepySkeleton I really appreciate the elaborations about the issue. What we decided to do is that rather build another binary for testing purpose with distinct `.yml` configuration for `clap`. We now deeply understand that `cargo test` doesn't take any arguments from outside. It made our project still neat and simple. I personally learned nitty-gritty details of `cargo`, which is exciting:) Than

[2020-02-20 09:40] Dylan-DPC commented on #1696
@hyunsukimsokcho if you want to test clis look at `assert_cli` crate

[2020-02-22 19:26] krystian-wojtas opened #1704 "Handle parsing vector of custom structures"
### What are you trying to do?

I have group of options which could be used multiple times. All such groups should be kept without overwriting previous one.

[code]

`--sensor` specifies instance of new group. Then suboptions are only for current group.

Ideally parsing would generate instance of Vector<Sensor> defined something like
[code]

Could it be possible?

Or maybe would you recommend to m

[2020-02-23 23:22] krystian-wojtas commented on #1704
I tried some prove of concept. Actually it is implemented with structopt, not clap. Just to give some idea.

I found that structopt has method from_iter which I can use instead of from_args. Then I can provide some subgroup of all parameters and invoke it few times as many sensors are defined by provided parameters.

To split all parameters in such subgroups I used Vector::split function with cust

[2020-02-24 20:45] krystian-wojtas commented on #1704
I have some another tries

### subcommand enum

Code
[code]

Run with one sensor
[code]

Run with 2 sensors
[code]

### subcommand vec enum

Code
[code]

Cannot compile
[code]

Should I implement StructOptInternal trait? Is it something recommended in this case?

[2020-02-24 20:45] pksunkara commented on #1704
Can you try with the master branch of clap? We have `clap_derive`

[2020-02-24 20:58] krystian-wojtas commented on #1704
@pksunkara, sure I would try it.

[2020-02-24 21:12] krystian-wojtas commented on #1704
Using master clap

### subcommand enum

Code
[code]

Run with one sensor is ok
[code]

Run with 2 sensors is not allowed
[code]

### subcommand vec enum

Code
[code]

Cannot compile. Error message is much better than structopt
[code]

[2020-02-24 21:27] krystian-wojtas commented on #1704
Clap has

Maybe this is some solution? Could it be sub-sub-sub-...-commands also? Could it be wrapped into Option (with Box?) to brake infinite recursion?

This try is interesting as it compiles ok, but overflow stack in runtime

Code
[code]

Run
[code]

[2020-02-24 21:28] krystian-wojtas commented on #1704
I see that there is some proper example of subcommands on some nested levels
https://github.com/clap-rs/clap/blob/master/examples/20_subcommands.rs

[2020-02-24 22:07] krystian-wojtas commented on #1704
I see that example from documentation have specified tree of subcommands known ahead at compile time.

Here is some another attempt

### not multiple

Code
[code]

Run help
[code]

Run help for subcommand
[code]

Run with one sensor
[code]

Run with 2 sensors
[code]

### multiple

[code]

Run with 2 sensors
[code]
Parsing consumes all parameters overwriting previous ones and they are not available

[2020-02-24 23:14] krystian-wojtas commented on #1704
Here is best result I have so far

### structopt

Code
[code]

Run help
[code]

Run with one sensor
[code]

Run with 3 sensors
[code]

### clap

Code
[code]

Cannot compile
[code]
Is there any similar method to pass custom iterator for clap parser?

[2020-02-25 10:27] promethe42 commented on #1026
I have the following use case: I need to support "localized" string values on the command line.

A `LocalizedString` can either be:

* a single not-localized `String` value
* a set of (language tag, localized string) values in a `Map`

[code]

so the following are possible:

[code]

[code]

It works fine. The problem arise when I want to set `multiple: true` to describe a collection of `LocalizedS

[2020-02-25 16:42] emilazy opened #1705 "#[derive(Clap)] should support empty structs"
### Describe your use case

This is obviously trivial compared to just doing `struct Args {}`, but it would be nice to maintain Rust's general consistency in allowing the same things for all three forms.

### Describe the solution you'd like

[code]

### Additional context

[code]

[2020-02-25 16:43] emilazy commented on #1705
Arguably newtypes (single-element tuple structs) could be supported too, but that's less clear-cut.

[2020-02-25 16:47] pksunkara commented on #1705
There was already some discussion on this, https://github.com/clap-rs/clap_derive/pull/19

Empty tuple structs would fall into the same category.

But, single tuple struct could be a different issue. Do we support any tuple structs at all in the derive library?

[2020-02-25 16:52] emilazy commented on #1705
I don't think it would be a good idea to give them a different meaning; in general Rust tries to make them all behave as similarly as possible, and there's been a consistent pattern of RFCs unifying functionality and behaviour between all three so that everything works between them (`.0` etc.).

I tend to make all empty structs unit-like structs by default, for general style reasons, and it does h

[2020-02-25 20:22] krystian-wojtas commented on #1704
`structopt::from_iter` is called `clap::parse_from`.

Here is same thing as previous implemented with clap.

### clap

Code
[code]

Run with some sensors
[code]

Help
[code]

It works fine. Clap and structopt are great :) Clap looks a little better.

[2020-02-25 20:31] krystian-wojtas commented on #1704
To summarize:

I have parsing of command line arguments using this great library. For my case I had to split all commands to some smaller groups and run individual parsing for them.

I'm wondering if it could be possible to express this logic by clap itself? Is such case worth to implement? Would it be more users interested in it? Or there are a low chance that anyone else would like to use clap i

[2020-02-26 01:40] pksunkara commented on #1704
@CreepySkeleton What do you think about this whole issue? It's a different way of doing things for sure.

[2020-02-26 07:18] CardinalBytes commented on #1693
@pksunkara are you working on this or can I give it a go?

[2020-02-26 09:09] pksunkara commented on #1693
Please go ahead.

[2020-02-26 15:57] CardinalBytes commented on #1693
I will implement to @CreepySkeleton's spec then.

[2020-02-26 15:59] pksunkara commented on #1693
If the App is taking an argfile method, then it's better if it's implemented for all subcommands instead of just at the end.

[2020-02-27 15:36] CreepySkeleton commented on #1705
@emilazy I'm not very excited of "general style reasons" argument because, you know, so many man, so many minds. Everybody tends to push their own way of making things roll; some people (myself included) like "different types of items - different behavior", some adore "similar enough - same behavior". It's merely a matter of taste, and whenever you start arguing about personal taste it becomes "it

[2020-02-27 16:01] CreepySkeleton commented on #1704
I'm afraid there's no way to implement _this exact_ design with clap, but you can get pretty close.

You see, `--sensor` takes arbitrary number of values *up to the next occurrence of `--sensor`*. There's no way to express this condition via clap API, unfortunately, so it couldn't work, not out of box.

You can overcome this limitation by applying some sort of external preprocessing, splitting the

[2020-02-29 01:13] pickfire commented on #1416
Is `const` able to help to compile this during compile time? https://github.com/rust-lang/rfcs/blob/master/text/0246-const-vs-static.md

[2020-02-29 04:37] lazytiger opened #1707 "How to specify both options for program and subcommand?"
What should I do if I want something like this?

./program --optiona-general xxx subcommand --option-for-subcommand yy

[2020-02-29 04:40] CreepySkeleton commented on #1416
@pickfire Nope, since yaml loader is not `const` at all. We need a proper procedural macro for that.

[2020-02-29 04:45] pickfire commented on #1655
I would like to give this a try. I think `suggestions::did_you_mean` now needs to be:
[code]
from `Option<String>`.

[2020-02-29 05:39] lazytiger commented on #1707
I am using clap derive, and I do not find anything about global setting, I think that's what I am looking for.

[2020-02-29 05:46] CreepySkeleton commented on #1655
@pickfire Go ahead! You can tweak any API as long as it's internal (the function in question is) without justification.

[2020-02-29 05:55] CreepySkeleton commented on #1707
Aghm... I'm not sure I really understand what you mean, but something like this will work as you requested:
[code]

[2020-02-29 07:23] lazytiger commented on #1707
Yes, that's what I have done, but the result is frustrated.
./program --option-general xxx subcommand ---option-for-subcommand -> wrong
./program subcommand --option-general xxx --option-for-subcommand yyy -> wrong
I know there is a method for Arg called global, and I don't find anywhere set that in derive.

[2020-02-29 08:30] CreepySkeleton commented on #1707
Phfff... OK, Could you please give me a **detailed** explanation of what you want, like
* `--option-general` must be usable on top level, but not with subcommand.
* `--option-sub` must me usable with subcommand, but not at the top level.

Something like that. I'm having really hard time struggling with your description. If you want others to get to understanding your problem, you need to explain *

[2020-02-29 08:31] lazytiger commented on #1707
I have figured it out. I defined Vec<String> type in my struct, all that's all the mess is. When I remove it from Opt, everything is fine. Could this be a bug?

[2020-02-29 08:34] CreepySkeleton commented on #1707
Could you please post the whole snippet?

[2020-02-29 08:35] lazytiger commented on #1707
`use clap::Clap;

#[derive(Clap)]
struct Opts {
    #[clap(long)]
    option_general: String,

    #[clap(subcommand)]
    sub: Subcommands,

    #[clap(long, required = true)]
    files: Vec<String>,
}

#[derive(Clap)]
enum Subcommands {
    Subcommand {
        #[clap(long)]
        option_for_subcommand: String
    }
}

fn main() {
    let opt = Opts::parse();
}`
Please test this code, it will

[2020-02-29 08:58] CreepySkeleton commented on #1707
[code]

[code]

Well, this is kind of expected. If you have an option taking multiple values followed by a subcommand, there's no way to detect where the values end and where the subcommand starts. So, use the second variant and not the first one.

I'm closing this until you post a clear comprehensive explanation of **what behavior you expect**.

[2020-02-29 08:58] #1707 closed

[2020-02-29 09:15] CreepySkeleton opened #1708 "Confusingly bad error message when an option with mutiple values is followed by a subcommand with it's own values"
### Rust Version

`1.41.0`

### Affected Version of `clap*`

`master`

### Code
[code]

### Steps to reproduce

`cargo run -- --files file1 file2 foo --option-for-subcommand`

### Actual Behavior Summary

[code]

### Expected Behavior Summary

Something like
[code]

[2020-03-01 08:29] pickfire commented on #1655
@CreepySkeleton Would it be better to be?
[code]
Right now, I see that it have
[code]

[2020-03-01 08:30] pksunkara commented on #1655
Yup, let's put all the allowed completions.

[2020-03-01 11:44] pickfire opened #1711 "Point clap_generate README to docs.rs"
### Clap version

2.x

### Where?

/clap_generate/examples/

### What's wrong

Missing example easily get started with man page and completions generations.

### How to fix

Add example to have a sample build.rs that generated all the man pages and completions in examples or in README.

[2020-03-01 11:47] pksunkara commented on #1711
We would need to create an example crate for that instead of just example. Look at the docs here, https://github.com/clap-rs/clap/blob/master/clap_generate/src/lib.rs#L86

[2020-03-01 13:09] pickfire commented on #1711
Oh, I did not noticed that. But why is the README empty? https://github.com/clap-rs/clap/blob/master/clap_generate/README.md Maybe it should say something?

[2020-03-01 13:10] pksunkara commented on #1711
Yup, the readme needs to be updated. I had only recently refactored the crate.

[2020-03-01 13:29] pickfire commented on #1711
So I guess this could be closed.

[2020-03-01 15:19] #1655 closed

[2020-03-02 07:07] #1699 closed

[2020-03-02 09:27] Dylan-DPC commented on #1705
I agree with @emilazy here. If in rust `struct Foo {}` and `struct Foo;`are the same, then the corresponding derive behaviour should also be equivalent.

[2020-03-02 09:36] CreepySkeleton commented on #1705
Hmm, according to the [Rust reference](https://doc.rust-lang.org/stable/reference/items/structs.html), they are the same-ish `StructStruct` entity, indeed:
[code]

So *maybe* it really worth the candle, but tuple structs differ from the others even at the syntax level.

I think that, if the other members think unit structs should be supported, than we can do that, but I'm not OK with tuple structs

[2020-03-02 09:49] TeXitoi commented on #1705
Empty struct with braces was added quite later, thus there is no really difference between `struct Foo {}` and `struct Foo;`

https://github.com/nox/rust-rfcs/blob/master/text/0218-empty-struct-with-braces.md

[2020-03-02 16:55] #1705 closed

[2020-03-02 17:22] pksunkara commented on #1682
Could you create a separate issue for the tuples?

[2020-03-02 17:44] CreepySkeleton opened #1717 "clap_derive: support tuples as shortcut for number_of_values = N, different validators"
Transferred from: TeXitoi/structopt#349

Sometimes we want to to take a fixed number of values that should always be passed together or not at all. For instance, let's take RGBA: four numbers, first three must be `0 <= N <= 255`, the last must be `0 <= N <= 1.0`. This can be naturally expressed via tuples:
[code]

[2020-03-03 12:45] pksunkara commented on #810
@CreepySkeleton Would love your input here.

[2020-03-03 13:07] pksunkara commented on #748
@CreepySkeleton Please read through this issue in relation to #1693 and how we can combine both of them

[2020-03-03 15:43] CreepySkeleton commented on #810
That's possible. We can make `clap_derive` just another module in `clap` (i.e it would be no longer a separate crate), possibly behind a feature flag.

  **Pros:**
  * Very convenient for end users.
  * We will no longer need the `#[doc(hidden)] pub` things.

    Let me catch your attention here: currently, a lot of stuff in clap is `doc(hidden)` *precisely and only* because `clap_generate` needs

[2020-03-03 15:47] TeXitoi commented on #810
@CreepySkeleton You mean `clap_generate` instead of `clap_derive` ?

[2020-03-03 15:51] pksunkara commented on #810
There must have been a reason Kevin wanted to make it a separate crate.

On Tue, Mar 3, 2020, 16:47 Guillaume P. <notifications@github.com> wrote:

[2020-03-03 15:53] CreepySkeleton commented on #810
@TeXitoi right 😨

[2020-03-03 15:54] CreepySkeleton commented on #810
I don't see any reason, honestly. Not any I would call a good one.

[2020-03-03 16:41] CreepySkeleton commented on #748
This is not the first time the "external argv" theme pops up, and we have also got few similar requests in structopt: [one](https://github.com/TeXitoi/structopt/issues/72), [two](https://github.com/TeXitoi/structopt/issues/197). I have actually read through this issue back in November or so, few rogue thoughts:

* We don't want to backport it to 2.x. Manpower is limited and, frankly, scarce. Let's

[2020-03-03 16:47] TeXitoi commented on #810
The advantage is that you will not compile it if you don't use it. The other solution is features, and I personally prefer to keep features to the bare minimum as they complexify the code considerably.

But, having this implementation hole is quite dirty. I think the clean way would be:
 - having the introspection API used by clap_generate public and documented
 - having clap_generate in the clap

[2020-03-03 16:55] pksunkara commented on #810
I made as much of introspection API public. The remaning stuff are `doc(hidden)` because they are macro helpers for the introspection API. If the whole system isn't macros, they would have been private.

[2020-03-03 17:00] CreepySkeleton commented on #810
That's gonna be one module level `cfg` and one another `cfg` somewhere in `AppSettings`. Sounds simple enough.

I've seen the code, I've been trying to implement an introspection API of sorts (you just read my mind 😃, ha!), and I feel like I'm failing. `calp_generate` is *so* closely tied to each other that we may as well make them all public. I'll show you the result of this attempt soon, but I v

[2020-03-03 17:05] CreepySkeleton commented on #810
I hate to be rude, but that's actually not true at all. Just grep for `#[doc(hidden)]`: 140 matches across 17 files. Ridiculous.

[2020-03-03 17:24] CreepySkeleton commented on #810
@TeXitoi They seem to be implementing explicit support for features in docs.rs, see https://github.com/dtolnay/syn/pull/734 . We might as well do that too.

[2020-03-03 21:21] pksunkara commented on #850
@segevfiner @laishulu  I don't have zsh and I tried testing it with mac's default zsh (5.3) and I keep getting `_arguments not found`. If one of you could test and respond back, that would be great.

[2020-03-03 22:03] leshow commented on #1704
I found this issue trying to do the exact same thing. The case is that I want to pass multiple `--something` where each `Something` has a set of values.

[2020-03-04 13:09] #1643 closed

[2020-03-04 16:51] nagisa opened #1721 "Document that multi-value options do not get along with trailing subcommands"
### Rust Version

rustc 1.43.0-nightly (7760cd0fb 2020-02-19)

### Code

[code]

### Steps to reproduce the issue

1. `cargo run -- --config 'banana=true' test`
2. `cargo run -- --config='banana=true' test`
3. Note how clap parses the last argument.

### Affected Version of `clap*`

2.33

### Actual Behavior Summary

clap will greedily consume values into space-separated `--config` flag.

### Expe

[2020-03-04 16:53] nagisa opened #1722 "`-- subcommand` does not work and clap suggests to use `-- subcommand` more."
# Rust Version

rustc 1.43.0-nightly (7760cd0fb 2020-02-19)

### Code

[code]
### Steps to reproduce the issue

1. `cargo run -- -- test`

### Affected Version of `clap*`

2.33

### Actual Behavior Summary

[code]

### Expected Behavior Summary

clap parses a `test` subcommand. Or stops suggesting invalid invocations.

[2020-03-04 16:56] CreepySkeleton commented on #1721
Yeah, this is [a known problem](https://github.com/clap-rs/clap/issues/1707#issuecomment-592920247), but `clap` simply doesn't know where the options end and where the subcommand starts. Even if there's a way to rule this out, I'm not aware of it, so I doubt this will change. Take it as limitation.

I think we should document it better though.

[We also consider to improve error reporting in such

[2020-03-04 16:58] pksunkara commented on #1721
Check this for more info, https://github.com/clap-rs/clap/issues/1610 and please give us feedback if that explains your issue. I am thinking of pointing to that issue in the docs for `multiple`.

[2020-03-04 17:01] nagisa commented on #1721
Is there a way to implement an option that would require each value for the multiple flag to be accompanied with the flag? That is to disable this implicit token consumption? I’m sure most of the users will be plenty happy with `--flag val1 val2...` not parsing the `val2` into `--flag`.

[2020-03-04 17:02] CreepySkeleton commented on #1722
`-- subcommand` is definitely not how this is supposed to work. The error is confusing indeed, and we already thinking of an improvement in #1708 . I'm closing this issue in favor of that one.

[2020-03-04 17:02] #1722 closed

[2020-03-04 17:49] nagisa commented on #1721
I got mostly the behaviour I want by setting `require_delimiters(true).value_delimiter("\0")`, so this is not critical by any means.

[2020-03-04 19:18] CreepySkeleton commented on #1721
But it should be documented better nonetheless.

[2020-03-04 23:47] njaard opened #1723 "Would like path_of"
### Use case

It's common to get a filename from clap with `value_of_os` and its companion `values_of_os`. You often want to turn it into a `Path` in order to pass it to `std::fs::File::open()`.

The only way I've been able to find to turn an `OsStr` into a `Path` is with `Path::new()`, which is a bit wordy. Therefor, it'd be nice be able to get Path objects directly.

### Proposed solution

It'd

[2020-03-05 07:36] CreepySkeleton commented on #1723
I'm not very excited about adding yet another output format, but we can make it if paths are really so common, perhaps under `value_of_as_path` and `values_of_as_paths` names. cc @pksunkara @Dylan-DPC what do you think?

That's definitely up to user. Even `Path::from` doesn't validate it.

[2020-03-05 10:35] ldm0 commented on #1722
I think the problem is after using `--` we should not regard the `test` as a subcommand. I'd like to fix it.

[2020-03-05 10:38] CreepySkeleton commented on #1722
Go ahed

[2020-03-05 19:14] njaard commented on #1723
CLI tools of course have filenames as a common use case.

Well, I was just speculating, but naturally if the user doesn't want it validated, they could just use `value_of_os`.

[2020-03-05 19:16] CreepySkeleton commented on #1723
Except, what does "valid path" means?

[2020-03-05 19:24] njaard commented on #1723
On Windows, a Path may not contain `<`, `>`, `|`, `"`, `?`, `*`, and outside of drive letters, `:` [according to Wikipedia](https://en.wikipedia.org/wiki/Filename#Reserved_characters_and_words). (I don't use Windows)

On Linux, I think there are no restrictions other than of course the null termination.

[2020-03-05 19:38] CreepySkeleton commented on #1723
This kind of checking would be largely useless. The os facilities would check it anyway (`std::fs::*` in Rust), so I don't see the point to check it on our side.

Come to think about it, `value_of_as_path` is a trivial `value_of().map(Path::from)`; I'm very unconvinced about your proposal,  no offense. Let's hear out the other maintainers @TeXitoi @pksunkara @Dylan-DPC .

[2020-03-05 20:12] TeXitoi commented on #1723
It would be only me, I'd say no. I'm not really convinced by the added feature.

[2020-03-06 10:35] pksunkara commented on #1723
It is definitely trivial. I would consider this one of those things where if more people request it, I wouldn't mind adding it.

[2020-03-06 11:37] CreepySkeleton commented on #1723
@pksunkara Which one? The checking or the conversion?

[2020-03-06 11:43] pksunkara commented on #1723
Conversion

[2020-03-07 15:03] kaiakz opened #1729 "Any tools that can "convert" python-argparse code to rust-clap code?"
I am rewriting a python project in rust now. Its cmd parser uses `argparse`.
I would like to ask if there are any tools that can generate the related `clap` code?
I found many similarities between the two libraries. I think I can write a script to do this. :smile:

[2020-03-07 15:37] pickfire commented on #1616
Is `pub(crate)` useful for this?

[2020-03-07 15:47] pickfire commented on #1693
How about `@argfile` as a value of some commands, like `curl -F f:1=@file ix.io`?

[2020-03-07 15:59] pickfire commented on #1642
`AppSetting::AlwaysBlankLine` and `AppSetting::NeverBlankLine` does not seemed to play well with one-line helps only - no blank line by default.

Shouldn't there be 3 options? I think I propose an additional `AppSetting::AutoBlankLine`, where it blank lines only if it does not fit, for the one-line helps only. `AppSetting::AlwaysBlankLine` should always blank line even thought it fits and `AppSett

[2020-03-07 16:51] pksunkara commented on #1642
I agree regarding the auto.

I think we are checking terminal width somewhere in the code.

[2020-03-07 20:21] CreepySkeleton commented on #1729
They are similar indeed, but the devil in the detail.

Python and Rust are very different in the sense that Python is dynamically typed while Rust is statically typed (thanks, Cap!). As a consequence, the values you get from argparse have the type you specified via `type=fn`, but clap is "stringly typed", you take a *string* from it, further conversion is up to you. Well, this is not hard limitati

[2020-03-08 00:21] XAMPPRocky commented on #1693
@pickfire Well since `@file` is the value in that case I would expect my app to handle that rather than the cli library. I've only seen that in the context of curl so I don't know if there's wider consensus on what it should do. It probably needs a seperate issue.

[2020-03-08 12:26] wookietreiber opened #1731 "pick last of multiple, conflicting occurrences"
### Describe your use case

Consider a `remove` app with the two flags `--interactive` and `--non-interactive`.

As with `rm`, it's useful to to have `alias remove='remove --interactive'` in your shell to avoid accidents. However, in some situations, overriding this default interactive behavior with `remove --non-interactive` is useful when you know what you're doing. The shell would expand the al

[2020-03-08 13:19] CreepySkeleton commented on #1731
(Wow, it's apparently the first time an OP decided to *actually* fill out our issue template. Kudos for that!)

`--interactive` and `--no-interactive` are not actually *conflicting* but rather *overriding*. Conflicting options are options that cannot appear together, and yours very well can. Overriding is when one option cancels out some other option; in your case, `--interactive` and `--non-inter

[2020-03-08 14:01] sphinxc0re commented on #1622
I believe these are the affected lines (180 is the culprit): https://github.com/clap-rs/clap/blob/e4a7f5012855e9dd906caaa7028393cf1926da8e/src/parse/validator.rs#L177-L184

[2020-03-08 14:03] pksunkara commented on #1622
Will you be sending a PR? I can fix this tonight if not.

[2020-03-08 17:05] xd009642 opened #1733 "`+nightly` detection in clap"
So I'm working on a cargo subcommand and I now call cargo itself a couple of times during application via `std::process::Command`, however I need to detect if the user has added `cargo +nightly` before calling my command and was wondering how to do that with clap?

[2020-03-08 17:14] Ghosty141 opened #1734 "Error message templates"
### Describe your use case

Since I'm using clap to create an interactive cl program, I'd like to skip whole "USAGE: " section since it shows very few useful information and takes up quite a lot of screen-space:
[code]

### Describe the solution you'd like

It would be great to customize the error message. For example, select which parts should be shown (error, usage, additional information).

###

[2020-03-08 18:24] CreepySkeleton commented on #1733
Let me make this clear: you're working on [a cargo plugin](https://github.com/rust-lang/cargo/wiki/Third-party-cargo-subcommands) and, for some reason, you need to detect if your plugin was called as `cargo +nightly plugin`.

If I'm right, I believe this is impossible because, [apparently](https://github.com/rust-lang/cargo/blob/bb3f2c59274dbf181f2d1a58c54486df4292ec2a/src/bin/cargo/main.rs#L120-L

[2020-03-08 18:24] #1733 closed

[2020-03-08 18:26] CreepySkeleton commented on #1734
I believe [`clap::App::template`](https://docs.rs/clap/2.33.0/clap/struct.App.html#method.template) is exactly what you're looking for, is it?

[2020-03-08 19:49] Ghosty141 commented on #1734
Maybe it is and I don't exactly know who to use it but when I use .template("...") it does not change the error message that gets displayed when entering an invalid argument/subcommand.

[2020-03-08 20:10] #1622 closed

[2020-03-09 23:42] jgilchrist opened #1737 "Order of arguments looks wrong when using AllowMissingPositional"
### Rust Version

[code]

### Code

[code]
### Steps to reproduce the issue

Run `cargo run -- --help`

### Affected Version of `clap*`

[code]

Also tested with `3.0.0-beta.1` which has the same behaviour.

### Actual Behavior Summary

The indexes for parameters `first` and `second` specify that `first` should come first, then `second`. `first` is optional (using `AllowMissingPositional`). Howeve

[2020-03-10 17:06] Sparkenstein opened #1738 "Is there a way to accept either of two flags. only one valid at a time"
### Clap version

2.33.0

### What's wrong

Is there a way for app to accept either of two flags. If one is given app shouldn't accept second, vice versa.
ex
[code]
Here imagine tool can either act as primary node or secondary node. If it's started with
[code]
it shouldn't accept `secondary` flag. to solve this normally we would write manual logic in code but I was thinking is there a way to do th

[2020-03-10 17:52] CreepySkeleton commented on #1738
You can use either `conflicts_with` or [`ArgGroup`](https://docs.rs/clap/2.33.0/clap/struct.ArgGroup.html#method.arg):

[2020-03-11 08:21] #1738 closed

[2020-03-11 10:07] CreepySkeleton commented on #1731
Closing due to inactivity and the fact it's apparently solved; feel free to reopen.

[2020-03-11 10:07] #1731 closed

[2020-03-11 13:38] wookietreiber commented on #1731
@CreepySkeleton Thanks for letting me know about `overrides_with`, I totally missed that! I will take the time to read all the functions on `Arg` :)

[2020-03-11 17:58] matchai opened #1740 "Add configuration to allow empty values in v3"
### Describe your use case

https://github.com/clap-rs/clap/blob/master/v3_changes.md has a point about:

For [starship/starship](https://github.com/starship/starship), the prompt setup script may occasionally provide empty values to flags. On `3.0.0-alpha.1`, it seems that empty values surface an error to the user.
It would be nice to have a configuration option to optionally accept empty values.

[2020-03-11 18:46] CreepySkeleton commented on #1740
It looks like [`empty_values`](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.empty_values) is gone in 3.x, thus empty values are simply impossible in 3.0.

I would actually expect empty values to be preserved; I don't understand why would we need to strip them at all. They should be allowed by default - and processed correctly, as any other value - and maybe an optional switch to remove

[2020-03-11 18:47] pksunkara commented on #1740
I think this can be done by changing `Option<String>` to `String` and providing a default of empty value.

[2020-03-11 18:49] CreepySkeleton commented on #1740
@pksunkara I strongly disagree here, there is a real difference between "default value is an empty one" and "no default values but the user can pass an ampty val".

[2020-03-11 18:49] CreepySkeleton commented on #1740
This is also not about just derive, it is also about raw clap.

[2020-03-11 19:22] matchai commented on #1740
Unfortunately, it seems like even defaulting to an empty value surfaces the same error.

![image](https://user-images.githubusercontent.com/4658208/76455426-1a994b00-63ac-11ea-9ccc-fa6cd89070b4.png)

Code:
[code]

[2020-03-11 19:25] CreepySkeleton commented on #1740
@matchai I recommend you to stick with structopt + clap 2.33 for the time being (empty vals are allowed by default there):
[code]

[2020-03-12 04:15] olalonde opened #1741 "Automatic version and author based on Cargo.toml values"
I'm not sure if this is possible with macros (Rust noob), but it would be nice if it was possible to automatically set the version and author from the value present in `Cargo.toml`.

[2020-03-12 04:19] #1741 closed

[2020-03-12 08:19] TeXitoi commented on #1740
I think that empty value should even be allowed by default. Forbidding empty value can be done without any more feature, just a custom checker. I don't have any veto against having an `forbid_empty` flag, but I don't think it's really needed.

[2020-03-12 08:20] TeXitoi commented on #1740
Is there any reference of why empty values are forbidden by default in v3?

[2020-03-12 14:11] CreepySkeleton commented on #1740
@kbknapp why did you removed empty values' handling in 3.0?

[2020-03-12 22:06] captain-yossarian commented on #1464
@jojva @CreepySkeleton Hi, can take this up?

[2020-03-12 22:12] jojva commented on #1464
Hi, on my side I'm not working on it, so go for it! (I feel like the current maintainers have a lot on their plate).

[2020-03-13 00:03] pksunkara commented on #1464
@captain-yossarian Go ahead :smile:

[2020-03-13 10:41] matthiaskrgr opened #1743 "Forbid args to conflict with themselves"
I just found something like this in my code
`Arg::with_name("a").conflicts_with("a")`
This makes it impossible to use `a` because it will always cause an error.
I wonder if we could have some kind of warning put out if an arg conflicts with itself (preferably at buildtime, but I'm not sure if this can be done yet).

clap 2.33.0

[2020-03-13 11:56] pksunkara commented on #1644
So, I think `clap-bug` is completely covered as of now in our codebase. We can cover `prog-bug` of `developers` by doing `compile_error` when building the app using `_build`. Finding out `prog-bug` of `users` is a difficult thing here. We can't differentiate. I don't think we should be using `debug` for providing any errors. It should be more about how the program is working.

For example, if the

[2020-03-13 13:44] CreepySkeleton commented on #1644
You're apparently misunderstanding how it works. `compile_error!` aborts the compilation whenever it ends up present in the code after `cfg`s has been expanded. [Example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce3774f3c074e7b02fb6857b815e5a74). You can't do "if some condition is not met - emit compilation error".

It has to be panic.

In general case - no, we cant.

[2020-03-13 13:45] CreepySkeleton commented on #1743
It's impossible to issue warnings depending on certain conditions, but we can panic in this case.

[2020-03-13 13:51] pksunkara commented on #1644
My bad then. Yeah, we should panic.

That's actually a prog-bug developer. Not prog-bug user.

No. I am saying the above mentioned panics should always happen instead of only happening when debug is present. Basically, prog-bug developer and debug are separate things.

[2020-03-13 14:05] CreepySkeleton commented on #1644
There's no such distinction. It's always one of the two:
* We made an error in clap itself (`clap-bug`)
* A developer made an error in they're own program (`prog-bug`)

[2020-03-13 14:09] pksunkara commented on #1644
I agree. I was just trying to distinguish things a bit more based on [this](https://github.com/clap-rs/clap/issues/1644#issuecomment-583852176) comment and we don't really need that.

We agree on panicking during app building, right?

[2020-03-13 14:11] CreepySkeleton commented on #1644
Right

[2020-03-13 14:35] seppo0010 opened #1744 "Improve error message when subcommand is supplied after --"
### Rust Version

[code]

### Code

The code comes directly from the readme

[code]
### Steps to reproduce the issue

[code]

### Affected Version of `clap*`

2.33.0

### Actual Behavior Summary

When using `--` the subcommand is not rightly executed, but the error message does show it as "did you mean" producing a confusing statement.

### Expected Behavior Summary

In this example `--`  should b

[2020-03-13 15:53] CreepySkeleton commented on #1744
I would say that subcommand **must** go before the `--`. Everything after the `--` is considered "raw" arguments in a sense they are _values_ but not _options_ (`--foo`) or _subcommands_.

The "did you mean" part is fixed in `master`, courtesy of https://github.com/clap-rs/clap/pull/1727, so run it with the latest master and you'll see
[code]

A few thoughts:
*  We need to get rid of "If you tried

[2020-03-13 18:55] captain-yossarian commented on #1464
Should I start from [create_smart_usage](https://github.com/clap-rs/clap/blob/v2.33.0/src/app/usage.rs#L166) method ?
Is it possible from this level to figure out which arguments are in conflict?

[2020-03-13 19:15] CreepySkeleton commented on #1464
@captain-yossarian You seem to be working on the `2.33` branch, but you should work on `master` instead.

[2020-03-13 19:54] captain-yossarian commented on #1464
@CreepySkeleton Thanks, I thought  since there is `beta` on master it worth to work on 2.33

[2020-03-13 20:04] CreepySkeleton commented on #1464
Fixing this in master will fix the upcoming `3.0`, it won't affect `2.33`. We are much more interested in future than in past.

Well, the code layout in `2.33` and the upcoming `beta` is different which means that if someone wants to backport the bugfix to `2.33`, they would need to implement it from scratch against `v2-master`. I would accept such a PR, but I won't be putting efforts into it pers

[2020-03-13 20:45] captain-yossarian commented on #1464
Ok, no problem.

So, on master I receive
[code]

Should I implement error message as above ?
[code]
Or [FLAGS] is some special keyword and requires some additional logic?
Sorry, I'm not aware of the project.

[2020-03-13 20:51] pksunkara commented on #1464
Put `assert!` in front of this https://github.com/clap-rs/clap/blob/master/tests/conflicts.rs#L101 and https://github.com/clap-rs/clap/blob/master/tests/conflicts.rs#L111, and you should have tests that will fail.

[2020-03-13 21:55] pksunkara commented on #1464
@CreepySkeleton Did we change something regarding the usage messages? Check the failing tests in the above PR.

[2020-03-13 22:13] njaard commented on #1723
Another compelling argument in favor is that I believe it's more teachable: If a user has an &str, they can pass it directly into `File::open`, however, `OsStr` cannot be, it needs to be converted into a `Path` and not making it easy and automatic acts as another barrier to writing correct code.

[2020-03-13 22:57] CreepySkeleton commented on #1723
Good try, [but it can 😮](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6ea05e62eea4e6297d1ca97e6cdf9efe)

[2020-03-13 23:25] CreepySkeleton commented on #1464
No, we didn't. And it also haven't been working anyway, the test was not asserted. I think it's simply not implemented.

@captain-yossarian will going to have to trace where the erroneous message originates from and implement the right message.

Hey Captain! Feel free to ask for guidance!

[2020-03-14 00:27] pickfire commented on #1729
Do we have any existing codegen tools to generate and convert between clap inputs (macro, struct, yaml, procedural)?

[2020-03-14 00:29] CreepySkeleton commented on #1729
Mind explaining what you mean?

[2020-03-14 01:26] pickfire commented on #1729
Say we want to generate clap code for this, but which output should we generate as? If we generate procedural code such as `App::new()`, people may want `#[derive(Clap)]`, maybe we only generate to one type from python argparse then have a converter to convert to the other types?

[2020-03-14 11:40] captain-yossarian commented on #1464
@CreepySkeleton Thanks a lot !  :)

[2020-03-14 14:08] pksunkara commented on #1598
I don't think we should be doing anything here. This is a very specific use case that can be done by your CLI using the tools we provide (positional, matches, etc..). I would vote to close this.

[2020-03-14 14:24] pickfire commented on #1431
@CreepySkeleton If I want to do this, I just need to add a new `global_settings` right?

[2020-03-14 14:27] pksunkara commented on #1431
Unfortunately it's not that simple. We do `app._build()` before parsing which kind of propagates the app binary name to subcommands and the subcommand binary name becomes this. I have been planning to look at the binary name being used in usage messages for quite a while but it's not a priority for v3.

[2020-03-14 15:04] pickfire commented on #1431
@pksunkara But then it was marked is `D: easy`? I thought it seemed easy but not. T_T

Tests are here:
[code]
It took me some time to find the trailing space that fails the test, `ctest-foo `. Especially when I cannot see or copy anything correctly:
[code]

[2020-03-14 15:26] pksunkara commented on #1642
@pickfire If you want something easy to pick up, this issue should be good to go 😄

[2020-03-14 16:03] #1598 closed

[2020-03-14 18:17] CreepySkeleton commented on #1729
In my understanding, such a conversion script (very likely written in Python) will have the following structure:
* Take the `ArgumentParser` object
* Make some sort of intermediate clap-like representation from it
* Generate the rust code based on the IR

The last step can be modified to emit rust code in different formats (derive, yaml, raw-app, etc..), no problem with that.

[2020-03-14 23:04] erayerdin opened #1748 "arg_enum Custom Names"
Currently, we can assign enums to [possible_values](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.possible_values) with [arg_enum](https://docs.rs/clap/2.33.0/clap/macro.arg_enum.html) macro. While this is good enough, it is usually considered values to be all lower case. Take the example:

[code]

In this case, the possible values for an arg referencing this would be "HOTP" or "TOTP" wh

[2020-03-14 23:06] erayerdin commented on #1748
All in all what I'm saying is *not* to automatically lowercase every char. While this is the desired output, I think a way to cover the both cases (all lowercase preference and cases where you need some or all uppercase value) would be great.

[2020-03-16 01:29] pickfire commented on #1729
@CreepySkeleton Okay, can I help out with this? But for the first step, `ArgumentParser` just take from Python right?

[2020-03-16 01:30] pickfire commented on #1642
@pksunkara Yes, this issue seemed easy but the discussion is not complete so I am thinking to take it later once things become clearer.

[2020-03-16 03:39] pksunkara commented on #1729
I would vote to close this issue since it is out of scope for clap project. If anyone wants to create such tool, please feel free to do it.

[2020-03-16 05:48] kaiakz commented on #1729
I am trying to parse the python code by `ast`, and then convert them to the related clap-rs(Builder Pattern).
Just like:
[code]
I'm curious what argparse can do but clap can't.
I will create a new project to do so :) Thanks!

[2020-03-16 07:57] lu-zero commented on #1748
You may like to use [this](https://github.com/lu-zero/arg_enum_proc_macro) to add aliases.

[2020-03-16 10:02] erayerdin commented on #1748
Hmm, let me check it out.

On Mon, Mar 16, 2020, 10:58 AM Luca Barbato <notifications@github.com>
wrote:

[2020-03-16 13:45] pickfire commented on #1729
@kaiakz Why not just run python to get the `ArgumentParser` and then only use rust to interface with the python `ArgumentParser` object?

[2020-03-17 00:29] ethanabrooks opened #1749 "Clean up repetitive code in App definition"
### What are you trying to do?
I have a simple app with a repetitive argument structure. I am happy with how things work, but I am wondering if there is a way to clean it up (reduce boilerplate).

### What have you tried already?
This is my current code:
[code]

Is there an idiomatic way to simplify this code? Can I, for example, set all arguments as `required` and `takes_value` by default? Is the

[2020-03-17 12:59] kamilogorek opened #1750 "Suggestions feature clashes with positional arguments value"
### Rust Version

`rustc 1.42.0 (b8cedc004 2020-03-09)`

### Code

[code]

[code]
### Steps to reproduce the issue

[code]

### Affected Version of `clap*`

`master` and `2.33.0`

### Actual Behavior Summary

(#1 - #3 are working correctly)

[code]

Affects: https://github.com/getsentry/sentry-cli/issues/686

### Expected Behavior Summary

[code]

### Additional context

The code falls into this b

[2020-03-17 15:00] KennethanCeyer commented on #1684
Thank you, I spent 2 hours to find a solution
This post is not found by Google search.

We've once again experienced how important the additional explanations are in the README.md Quick Guide and how this affects the Rust Newbies' first start.

I am a newbie, but I will try to contribute through PR when this happens.

[2020-03-17 16:01] pksunkara commented on #1684
Which is why we want to release a beta version of v3 so people could start using it immediately without trying to work with v2. /cc @Dylan-DPC

[2020-03-17 18:16] KennethanCeyer commented on #1684
@pksunkara
Oh yes, that's good news.
I should upgrade and use it too.

[2020-03-17 21:24] CreepySkeleton commented on #1729
@pickfire  @kaiakz You people seem to be thinking about writing the converter in Rust, possibly employing a Python interpreter. I think it would be easier to write it in Python: a function that takes the `ArgumentParser` instance and returns the Rust source code as plain text (or writes it into a file).

It is out of scope indeed, but such a project is closely related to clap nonetheless. In fact,

[2020-03-17 21:26] fkarg opened #1751 "short subcommands"
### Use case
When subcommands are used a lot, you'd like them to be short (`nmcli d w c <CON>`). But short ones are hard to learn in the beginning (what does `w` stand for, again?), so you would like to allow the long one as well. Creating two with the same descriptions and effects is just weird and has higher potential for errors.

### Wanted solution

In short, allow the following:

    ...

[2020-03-17 21:29] CreepySkeleton commented on #1642
@pickfire I believe both @pksunkara and I agree on the design you described in a comment above. Regarding to aligning to the terminal's width - let's just start working on it and see what tools we have available at our disposal.

[2020-03-17 21:32] CreepySkeleton commented on #1751
We have [`AppSettings::InferSubcommands`](https://docs.rs/clap/2.33.0/clap/enum.AppSettings.html#variant.InferSubcommands) which looks a lot like what you're asking for. Mind checking it out?

[2020-03-17 22:06] fkarg commented on #1751
Ah, wow, I was unaware of that. That is really awesome! Well, only sort of. I would like to be able to exactly specify at least one shortened one, e.g. `ls` instead of `list`, which is currently not working - and there is no setting for that, as far as I can tell.

[2020-03-17 22:37] CreepySkeleton commented on #1751
[`alias`](https://docs.rs/clap/2.33.0/i686-pc-windows-msvc/clap/struct.App.html#method.alias)?

[2020-03-17 22:38] CreepySkeleton commented on #1749
Not really and yes at the same time.

Yes, but you may not like it.

No. Just no. I really don't like global switches that drastically change behavior of the library.

___

There is alternative way to make an `Arg` - [`Arg::from_usage`](https://docs.rs/clap/2.33.0/i686-pc-windows-msvc/clap/struct.Arg.html#method.from_usage) (`Arg::from` in upcoming 3.0).
[Playground](https://play.rust-lang.org/?ve

[2020-03-17 23:09] fkarg commented on #1751
Ah. Yes. Thank you.

Maybe a general recommendation: Even though it _is_ in the documentation, I was apparently unable to find it. Maybe make a full referenced feature-list somewhere or cross-reference these 'similar' features?

[2020-03-17 23:09] #1751 closed

[2020-03-18 00:29] CreepySkeleton opened #1752 "Add some sort of Guide in addition to docs.rs and examples"
### What's wrong

It's been consistently being reported that our documentation is hard to navigate. Many people come to the bugtracker to ask for a feature that [is already implemented](https://github.com/clap-rs/clap/issues/1738) or [can be achieved by using a set of related features](https://github.com/clap-rs/clap/issues/1751).

It is apparent to me that our docs talk about "what" only, but the

[2020-03-18 01:17] pksunkara commented on #1751
I have been thinking about appending the issue template with a small FAQ
about alias, conflicts, required etc...

On Wed, Mar 18, 2020, 00:09 Felix <notifications@github.com> wrote:

[2020-03-18 07:56] pickfire commented on #1729
@CreepySkeleton I am thinking of both, using python to parse and evaluate python code. Then use rust to take that python object into rust code (since existing rust formatter and code generation is available), that combines the best of both world.

[2020-03-18 08:10] CreepySkeleton commented on #1729
I don't see the point, but, of course, you are free to do as you see fit.

[2020-03-18 15:58] ethanabrooks commented on #1749
`structopt` was perfect 👌
Here's the new code:
[code]

[2020-03-18 15:58] #1749 closed

[2020-03-18 20:17] njaard commented on #1723
Doh. Yes because File accepts `AsRef<Path>`, but when one writes basic application code, I think `&Path` is more common. At least it is for me.

[2020-03-18 23:36] CreepySkeleton commented on #1723
Well, the argument was about flattening the learning curve, wasn't it? I've swept through `std::fs::*` and found that the API uses `AsRef<Path>` instead of `&Path` literally everywhere. In fact, you would want to use `Path` explicitly only when you want to query some property of the `Path` itself, like `extension` or `is_file`.

I see your point about `Path`s being commonplace, but it could use so

[2020-03-20 22:28] twe4ked opened #1756 "Getting the supplied order of long/short arguments"
### What are you trying to do?

I'm trying to get the order of arguments as they're passed to the application.

I'm using the derive macro from `3.0.0-beta.1`.

[code]

[code]

I need the following data:

[code]

Where the `usize` would represent the order the arguments were passed, so if `--blue` is passed first, like in the above example it would return `("blue_value_here".to_string(), 0)`, then

[2020-03-20 22:45] CreepySkeleton commented on #1756
I don't think you can do it with derive, and this is by design. It's kind of weird request, and I suspect you're just creating a problem of your own. Could you please explain what you need the indexes for?

It you resort to bare `clap::App` and `get_matches()` there's [`index_of`](https://docs.rs/clap/2.33.0/clap/struct.ArgMatches.html#method.index_of) which does exactly what you're asking for.

[2020-03-20 22:55] twe4ked commented on #1756
Ah fair enough, I figured this was a bit of a weird request. I edited my original post with the program I'm porting to Rust for a full example. The short version is, this program highlights strings based on passed in patterns, you pass the pattern to an argument of the color you want, so `--red foo` will highlight `foo` in red. If you pass multiple colors the order you pass them is the order they

[2020-03-21 02:48] twe4ked commented on #1756
That worked, thanks!

Ended up with this:

[code]

[2020-03-21 02:50] #1756 closed

[2020-03-21 08:32] robinmoussu opened #1757 "Read information from Cargo.toml"
### Describe your use case
The application name, version, the authors,(name and mail) are already specified in `Cargo.toml` (as well as a possible description, homepage, version, …). It would be nice if those information could be extracted automatically instead of having to repeat them.

### Describe the solution you'd like

In the example, instead of

[code]

it could just be:

[code]

### Additi

[2020-03-21 08:34] pksunkara commented on #1757
Already exists

[2020-03-21 08:34] #1757 closed

[2020-03-21 08:44] robinmoussu commented on #1757
@pksunkara Where? I can't find it in the doc. And why does the hello-word not mention it?

[2020-03-21 08:54] TeXitoi commented on #1757
https://docs.rs/clap/2.33.0/clap/macro.crate_name.html and friends

[2020-03-21 08:56] TeXitoi commented on #1757
Also, you can't write a function, as it will not be evaluated at compile time but at run time.

[2020-03-21 08:57] robinmoussu commented on #1757
Thanks a lot, it's really nice! Why it is not the default, or at least in the HelloWord?

[2020-03-21 09:00] pksunkara commented on #1757
Hello world is for basic stuff. This is a custmization. Which is also the reason it's not default. Not everyone wants it like this.

[2020-03-21 09:02] TeXitoi commented on #1757
It was the default in structopt and we changed it.

[2020-03-21 09:12] robinmoussu commented on #1757
I don't see how

[code]
 is more complicated than

[code]

[2020-03-21 09:18] robinmoussu commented on #1757
For my future self (or other people reading this thread `clap::app_from_crate!()` does exactly what I want. I am still surprised that it is not mentioned in the HelloWord.

[2020-03-21 09:43] CreepySkeleton commented on #1757
@robinmoussu You know, README is not a documentation, it's an advertisement. A short concise description of what `clap` is and what it isn't. The code snippet is there just to help users picture what their code would look like should they choose this crate. To help them decide if they like it or not. To trigger wow-effect.

If you want _documentation_, you should go to [docs.rs](docs.rs/clap), sta

[2020-03-21 10:08] robinmoussu commented on #1757
I never said that I only read the readme. I was looking at the [doc.rs page](https://docs.rs/clap/2.33.0/clap/). The first (and only) occurrence) of `app_from_crate` is near the bottom of the page, and for some reason searching `Cargo.toml` in the search bar doesn't give [any results](https://docs.rs/clap/2.33.0/clap/?search=Cargo.toml), nor for [manifest](https://docs.rs/clap/2.33.0/clap/?search=

[2020-03-21 14:32] pksunkara commented on #1757
Docs.rs doesn't search the description and the API can be named anything.

On the other hand, we always welcome documentation improvement PRs.

On Sat, Mar 21, 2020, 11:09 Robin Moussu <notifications@github.com> wrote:

[2020-03-22 18:27] fadeevab commented on #1351
Whoever finds this: you have to use
[code]
but NOT `matches.occurrences_of("v")`

It looks for the YAML key, not the short/long variants:
[code]

BUT there is a bug now in the `3.0` version. This works: `-v -v -v`, it finds 3 occurrences,  but the following doesn't work:  `-vvv` - it finds 1 occurrence.

[2020-03-22 19:40] fadeevab commented on #1351
Ah, `multiple: true` in YAML implies value for each occurrence, that's why `-vvv` means `-v=vv`. To make `-vvv`==`-v -v -v`, set `takes_value: false`:

[code]

[2020-03-22 19:42] fadeevab commented on #1351
@CreepySkeleton Seems like there is no bug with `matches.occurrences_of`, it could be closed in my personal opinion

[2020-03-22 20:48] pksunkara commented on #1351
There should be a panic when the arg name is not found when using `occurrences_of`

[2020-03-24 03:15] chipsenkbeil commented on #1684
@pksunkara , beta release would be fantastic. The derive functionality is fantastic and made my codebase a lot cleaner. Been working on a project since November that I'd like to publish, but blocked because I'm leveraging the derive API from clap 3.0.0-beta.1 which isn't on crates.io. Don't want to make the repository public until I can publish as I want to avoid the small possibility that someone

[2020-03-25 17:37] EverlastingBugstopper opened #1761 "Allow positional arguments from ArgGroup take value separately"
### What are you trying to do?

I'm trying to create positional command line arguments that are exclusive, you can either set one or the other. I'd like to be able to use clap_derive with this so that they are boiled down to a single `expiration: std::time::Duration` field in an opt struct.

set expiration to 60 seconds

[code]

set expiration to 6000 milliseconds

[code]

### What have you tried

[2020-03-25 21:10] pksunkara commented on #1761
You can use [conflicts](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.conflicts_with) function.

[2020-03-26 07:48] CreepySkeleton commented on #1761
I'm under impression that `conflicts` is not what he was asking about.

This is pretty interesting question. What he's asking for (or so I get it) is:
* Allow one of the given set of options: `PX, EX`. Only one of them can be present at a time.

  These two conditions can be implemented via [`ArgGroup`](https://docs.rs/clap/2.33.0/clap/struct.ArgGroup.html).

* Each of them takes value. **This can

[2020-03-26 08:16] Stzx opened #1762 "Short aliases use numbers, expand macro fails"
### Rust Version

`rustc 1.44.0-nightly (f509b26a7 2020-03-18)`

### Code

[code]
### Steps to reproduce the issue

`cargo check`

### Affected Version of `clap*`

`clap = "2.33.0"`

### Actual Behavior Summary

Failed to compile.

[code]

### Expected Behavior Summary

Compile successfully.

### Additional context
Add any other context about the problem here.

[2020-03-26 08:49] CreepySkeleton commented on #1762
That is true, `clap_app!` does not support number literals here, it must be ident, like `--foo` or `--v6`.

AFAIK there's no way to do it with `clap_app!`, you have to explicitly build the app instead:
[code]

[2020-03-26 15:06] EverlastingBugstopper commented on #1761
Hey @CreepySkeleton - thanks for the thoughtful response!

When y'all implement new features like this is it automatically provided in `clap_derive` or does that require extra work as well? My mental model of how `clap_derive` actually works is a bit shaky, it seems like most things are supported but the patterns aren't always obvious to me (how would I go about creating an ArgGroup in `clap_deriv

[2020-03-26 15:29] cecton commented on #1682
Yeah actually having something automatic for tuples would solve my issue as I won't have to fight with Vec. (But I still believe the current impl of Vec is wrong but I didn't read your answer yet.)

[2020-03-26 15:53] Ran4 opened #1763 "README.md references examples/01d_quick_example.rs but there is no such example"
### Clap version

Latest master

### Where?

README.md references examples/01d_quick_example.rs but there is no such example: the examples only go up to `c`.
 

[2020-03-26 17:06] CreepySkeleton commented on #1761
[Example](https://github.com/clap-rs/clap/blob/master/clap_derive/examples/group.rs)

Most things are immediately available through `#[clap(method = value)]` attributes. Some things, like subcommands, require dedicated features.

I am inclined to remind you that `clap_derive` is still in alpha stage and API may change. You can play with it, but expect sudden breakages. For production, use `structo

[2020-03-26 17:13] CreepySkeleton commented on #1763
Derive examples live in [`clap_derive/examples`](https://github.com/clap-rs/clap/tree/master/clap_derive/examples). I'm closing this particular issue in favor of #1652 (catchall)

[2020-03-26 17:13] #1763 closed

[2020-03-26 18:37] EverlastingBugstopper commented on #1761
Awesome! Yeah - this is something I'm working on the side, not released or intended to be released soon so it's ok that it's still in alpha. Thanks for the help :)

[2020-03-26 21:05] d-e-s-o opened #1764 "More flexible shell completion"
It would be great if the shell completion was more flexible in what commands it applies to. Let's say I have a program `foo` and a completion script `foo.bash` as generated by `clap`. If I source `foo.bash` I now have completion for `foo`'s arguments. Fine.

However, what if I have aliased `f` to `foo`? Naturally, I'd want to have completion for `f` as well. Usually that's not a problem. The compl

[2020-03-26 21:09] pksunkara commented on #1764
We are always open to PRs. I am not exactly good at the completion scripts. I couldn't even get zsh running locally 😞

[2020-03-26 21:23] d-e-s-o commented on #1764
My bash completion days are also behind me (and I happily flushed 90% I knew from memory). That being said, this patch seems to be doing the trick:
[code]

I'll probably open a PR unless I find an issue...

[2020-03-27 09:45] dankamongmen commented on #251
@kbknapp you had asked for an example of such usage. I can think of two:

`dialog`: ncurses program for shell-launched terminal widgets
`openvpn`: VPN program

both allow all config file options to be stuffed in a file provided with `--file` (for `dialog`) or `--config` (for `openvpn`).

[2020-03-27 10:22] CreepySkeleton commented on #251
@dankamongmen This issue has been merged into https://github.com/clap-rs/clap/issues/748 since that one has more of a constructive discussion going. Perhaps you should go there.

[2020-03-27 12:33] Satoshi-Kusumoto opened #1766 "Is there a way to share common options from subcomands?"
If all the subcommands share the same --option, currently I know the following works
[code]
But is it possible to have
[code]
wile option is parsed not at the subcommand level?

[2020-03-27 13:03] pksunkara commented on #1766
The only way is to create an `Arg` in the code and just use it at all the places you need.

[2020-03-27 13:03] #1766 closed

[2020-03-27 13:04] pksunkara commented on #1752
As first part, can we emphasise gitter chat and have a small FAQ in the issue template?

[2020-03-27 14:05] CreepySkeleton commented on #1752
I'd rather go with something like
[code]

Or something like that. Concise, draws attention, and, *I hope*, not rude.

[2020-03-27 14:06] pksunkara commented on #1752
The first sentence is enough.

[2020-03-27 14:07] CreepySkeleton commented on #1752
But the second explains why 😏

[2020-03-27 14:07] pksunkara commented on #1752
I don't think we need to.

[2020-03-27 14:08] CreepySkeleton commented on #1752
Anyway. I'm leaving the decision to you.

[2020-03-27 14:11] CreepySkeleton commented on #1766
Also, if you're willing to use the derive (or `structopt`), you can use [flattening](https://docs.rs/structopt/0.3.12/structopt/#flattening); it fits really well.

[2020-03-27 14:26] Dantali0n opened #1767 "Automatically determine author from Cargo.toml"
### Describe your use case

As programmers we try to have all information in a single place. In programming itself this is often called dry (don't repeat yourself) but this of course also translates to configuration for package managers, continuous integration and the like.

### Describe the solution you'd like

I would like either the `.author()` function to take a parameter to read the author fr

[2020-03-27 14:39] CreepySkeleton commented on #1767
Rrrrrr... [`clap_authors!`](https://docs.rs/clap/2.33.0/clap/macro.crate_authors.html) ([example](https://github.com/clap-rs/clap/blob/v2.33.0/examples/19_auto_authors.rs))

[2020-03-27 14:39] #1767 closed

[2020-03-27 14:49] Satoshi-Kusumoto commented on #1766
@CreepySkeleton  Thank you for the link~
@pksunkara The problem of `Arg` is that seems it's always pared before the `Subcommand`, therefore not possible to have --option parsed as `Arg`
[code]
Even with the following code
[code]

[2020-03-27 14:53] CreepySkeleton commented on #1766
Disregard the link, I've misunderstood the question.

If you want an option to be available not only on the subcommand level, you can use `global(true)`

[2020-03-27 15:01] Dantali0n opened #1768 "Easily configurable license information"
### Describe your use case

Some types of software licenses, in particular GPL and friends, require licensing information to be displayed by the program upon request. Naturally this can already be configured with clap by creating a flag similar to -h/--help, however, I think this can be improved

### Describe the solution you'd like

A more seamlessly integrated solution similar to `.author()` wou

[2020-03-27 15:06] CreepySkeleton commented on #1768
Sounds good to me. @pksunkara @Dylan-DPC @TeXitoi what do you think?

[2020-03-27 17:08] pksunkara commented on #1768
This is more similar to `version` flag and setting.

[2020-03-27 17:12] pksunkara commented on #1766
I think you misunderstood what I meant.

[code]

[2020-03-29 08:09] kinnison commented on #1232
To reiterate a call for this, we'd *love* to have this in `rustup` so we could offer more localised completions (e.g. for `+foo` to complete over installed toolchains).

[2020-03-29 11:39] pickfire commented on #1037
Do we still need `Arg::new()`, didn't we remove it last time?

[2020-03-29 15:45] pksunkara commented on #1037
I am not exactly sure about it since I wasn't involved in the project back then. Do you have a link to the commit or PR which removed `Arg::new`?

[2020-03-29 19:34] CreepySkeleton commented on #1037
I guess I did it. It didn't have any docs and was something like:
[code]
The idea was apparently to allow using anything that's `Into<Key>` (clap's synonym for hashing), but I really doubt this could be useful. For what?

[2020-03-29 21:42] pksunkara commented on #1037
Isn't `Arg::new` the thing used for building args?

[2020-03-29 21:46] pksunkara commented on #1037
Can you link the commit which removed it? I tried to find it but couldn't.

[2020-03-30 02:48] pickfire commented on #1037
https://github.com/clap-rs/clap/commit/2b3d3fd901e117842891e5794d36ca13b9401c94

CHANGELOG https://github.com/clap-rs/clap/blob/6422930a1864fdfd32b15f01e76bc0aa428cdd52/CHANGELOG.md#breaking-changes-2

I cannot find the original commit that removes `Arg::new`.

[2020-03-30 08:44] CreepySkeleton commented on #1037
Args are being build via `Arg::with_name` and `Arg::from` (`Arg::from_usage` and `Arg::clone` in 2.x).

That's funny: I haven't removed it after all
https://github.com/clap-rs/clap/blob/37889c661134e8286102f7d2ab3267965d010403/src/build/arg/mod.rs#L101-L109

I clearly remember that I was *thinking* about removing it as useless, but apparently I didn't make my mind up for it.

[2020-03-30 16:01] pickfire commented on #1037
Yeah, it was only removed from the docs. That's why we cannot find the commits.

[2020-03-31 00:52] amesgen opened #1771 "impl Send for App"
### Use case

Sometimes, it is useful to run clap in "daemon-mode", e.g. for a chat bot. If concurrency comes in, having `App: Send` would be useful, e.g. as it enables cloning the `App` for concurrent tasks or having `Mutex<App>: Send + Sync`.

### Potential solutions

 1. Use `Arc` instead of `Rc` [here](https://github.com/clap-rs/clap/blob/37889c661134e8286102f7d2ab3267965d010403/src/build/arg/

[2020-03-31 12:47] CreepySkeleton opened #1772 "clap_derive: Vec/Option<Vec> behavior is inconsistent with other types"
This is actually a summary of https://github.com/TeXitoi/structopt/issues/364

### Current behavior

* `Vec<T>` and `Option<Vec<T>>` are not `required = true` by default.
* `Vec<T>` is `multiple = true` by default which allows not only multiple values (`--foo 1 2 3`) but also multiple occurrences (`--foo 1 --foo 2 3`).
* `Option<Vec<T>>` additionally allows zero number of values (`--foo`).

### Wh

[2020-03-31 13:25] TeXitoi commented on #1772
I strongly disagree on this. A vector can have 0 elements, and that's the most used case. If you need at least one, you can add `min_values(1)` yourself.

[2020-03-31 13:56] CreepySkeleton commented on #1772
If we use `min_values(0)`, an empty vec would represent `--foo <no values>`, but "no `--foo`" would be disallowed due to `required`.

`Option<Vec<T>>` would represent just what it does currently:

command | `Vec<T>` result | `Option<Vec<T>>` result
-- | -- | --
`app --foo 1 2` | `[1, 2]` | `Some([1, 2])`
`app --foo` | `[]` | `Some([])`
`app` | **ERRROR** | `None`

[2020-04-01 14:51] pksunkara commented on #1771
@amesgen Would love to see a PR. We very much do want this.

[2020-04-01 15:33] CreepySkeleton commented on #1771
@pksunkara We want this, indeed, but please consider that it would penalize the common cases in favor of uncommon ones since atomics aren't exactly free. I would like to wait until after we have the benchmarking set up. Also, features are supposed to be purely additive, and this change alters our API (`Send + Sync` part); so I would like to **not** introduce a feature.

[2020-04-01 16:25] amesgen commented on #1771
I updated the descriptions of the potential solutions above (from [Gitter](https://gitter.im/kbknapp/clap-rs?at=5e8333418058e148e938d43a)).

[2020-04-01 16:54] pksunkara commented on #1771
Yeah, definitely wait for benchmarking to finish. But I am pretty sure we can make this feature additive.

[2020-04-01 17:37] TeXitoi commented on #1771
I've lightly looked at the usage of Rc, and that's just to have Clone for Arg with the validator functions. Thus I don't think there will really be any performance implication ti switching to Arc.

But it will change the interface a bit: with Arc, the function provided by the user must be Send+Sync. Not really a big deal IMHO, as most validator should just be plain functions 99.9% of the time (the

[2020-04-01 17:39] Dylan-DPC commented on #1771
We can definitely expose a feature that allows you to add some concurrency bits to it, but this won't happen for the 3.0 release. It will happen later. Thanks for the request.

[2020-04-01 17:42] TeXitoi commented on #1771
It can't be implemented by a feature, as activating the 'send-sync' feature will break code with validators not Send+Sync, so that's 3.0 or 4.0.

The only solution would be to force the Validators to be Send+Sync for 3.0, even if we still use Rc and Arg is not Send+Sync

[2020-04-01 18:26] CreepySkeleton commented on #1771
Honestly, I don't see need for a feature for such a small deal, we've got plenty of them already.

Why not?

___

If it's only about cloning `Arg`, I think we can proceed even without benches.

[2020-04-01 21:26] CreepySkeleton opened #1777 "Is there currently a way to call a function to provide a default value (instead of a static string)?"
Is there currently a way to call a function to provide a default value (instead of a static string)? This is in the context of Clap's proc_macro.

We have some resolution logic (config file, plus global configuration, plus some environment stuff) for default values, and that would be very useful.

For a concrete example, we have a `--file` argument for a server, which takes a filename and validate

[2020-04-01 21:35] pksunkara commented on #1777
What does clap need to do here? If we are talking about default values for args being provided by external stuff, we should already have an issue about this called hooks somewhere.

[2020-04-01 21:43] pksunkara commented on #1762
I am not even sure this is possible because `macro_rules` can only do `expr` and not `lit` or `number`.

[2020-04-01 22:10] Dylan-DPC commented on #1768
@Dantali0n thanks for the request. In this case it is better we make it a separate crate and see how it goes and then later merge it into clap if needed. Would you like to volunteer to write it? (we can mentor). Else will try myself or get someone to write it

[2020-04-01 22:40] TeXitoi commented on #1777
@hansl does using a lazy static allow you to do what you want.

An example: https://github.com/CanalTP/mimirsbrunn/blob/master/libs/bragi/src/lib.rs#L67

[2020-04-02 01:22] Stzx commented on #1762
Let us tell users this in examples and documentation ?

[2020-04-02 17:15] Dylan-DPC commented on #1430
@stepchowfun how about sending a PR that adjusts the docs?

[2020-04-02 17:48] Dantali0n commented on #1768
Hi, In terms of experience I don't think I am there yet as I am written my very first rust program atm. Currently I am still struggling with a lot of construct in rust, in addition, I tend not to have a lot of free time. Therefor, I think it is better if someone else tries to implement this, assuming someone has time and feels motivated to do so ofcourse.

[2020-04-02 17:51] stepchowfun commented on #1430
I'd be happy to submit the PR. I can take a look some time in the next few days.

[2020-04-02 19:18] Dylan-DPC commented on #1325
hi @AimainaHito thanks for the issue. are you open to sending a PR that changes the behaviour ? (easy fix)

[2020-04-04 00:09] wucke13 opened #1780 "build fails for wasm32-wasi target"
### Rust Version

rustc 1.42.0 (b8cedc004 2020-03-09)

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run --target wasm32-wasi`

### Affected Version of `clap*`

master

### Actual Behavior Summary

The compilation does not finish due to 31 errors, mostly:

+ error[E0599]: no function or associated item named `from_bytes` found for struct `std::ffi::OsStr` in the current scope
+

[2020-04-04 01:50] Dylan-DPC commented on #1780
Yeah i don't think we support or have focused supporting this target. Will need to investigate a way out. If possible can you share all the errors? Thanks

[2020-04-04 03:32] pickfire commented on #1764
I believe this is fixed.

[2020-04-04 10:11] wucke13 commented on #1780
Sure, it is really just those too errors.

[code]

[2020-04-04 11:20] benjumanji commented on #568
Here is a proposal that I think would be relatively simple. I haven't checked how zsh completion is done, but it's my understanding that it understands bash so you could just re-use it?

The generated scripts for both fish and bash _already_ support dynamic completions. Both compgen for bash and complete for fish honor parameter expansion, including shell substitution and word split. That is to sa

[2020-04-04 13:02] inevity opened #1783 "subsubcommand option q cannot use delimiter"
### Rust Version

rustc 1.42.0 (b8cedc004 2020-03-09)

### Code

[code]

### Steps to reproduce the issue

1. Run `sharec ghost list post -q limit:9,status:draft.`

2.
[code]
### Affected Version of `clap*`

master

### Actual Behavior Summary

q is String, "limit:9",

### Expected Behavior Summary

Should as array. so we can use list_matches.value_of("query").unwrap().collect::<Vec<_>>()

### Add

[2020-04-04 15:11] d-e-s-o commented on #1764
Mind sharing details as to why you believe that to be the case?

[2020-04-04 15:27] pksunkara commented on #1764
@pickfire How is this fixed?

[2020-04-04 15:50] #1325 closed

[2020-04-04 16:14] 8573 commented on #568
I've forgotten almost all I once knew about the Zsh completion system, but I recall that it's much more powerful/expressive(/fancy) than Bash's such that, if I recall correctly, telling it to use Bash completion, while the easy way out, could provide a needlessly suboptimal user experience. That said, I would think that such a project could start with telling Zsh to use Bash completion and come ba

[2020-04-04 21:49] chungy opened #1786 "Allow abbreviated/unambiguous shortened long options"
### Describe your use case

The GNU getopts function in many C programs (especially ones from the GNU project) allows abbreviated versions of long options to be used when the text matches one and only one long option. One such example that I use with extreme frequency is in the `ls` command, `--group-directories-first` can be used simply with `ls --g` since no other long option starts with `g`.

#

[2020-04-05 02:33] #1783 closed

[2020-04-05 02:33] inevity commented on #1783
not bug.

[2020-04-05 03:44] huntj88 opened #1787 "Missing file mentioned in readme"
### Clap version

3.0.0-beta.1

### Where
https://github.com/clap-rs/clap#quick-example

Missing file: 01d_quick_example.rs

### How to fix

Add the example file

[2020-04-05 10:40] pksunkara commented on #1787
Derive examples live in [`clap_derive/examples`](https://github.com/clap-rs/clap/tree/master/clap_derive/examples). I'm closing this particular issue in favor of #1652 (catchall)

[2020-04-05 10:40] #1787 closed

[2020-04-05 10:45] pksunkara commented on #1786
We can do something like `InferArgs` which behaves similar to `InferSubcommands`

[2020-04-05 11:03] #1430 closed

[2020-04-05 14:16] pickfire commented on #1764
Because there was a pull request for it?

[2020-04-05 15:40] tzakharko opened #1788 "Allow more flexible configuration of the output steam (stdout vs. stderr)"
### Describe your use case

Some command line tools are used exclusively as components within larger configurations and their `stdout` might be  piped into other tools. `Clap` is currently hard-coded in `Error::use_stderr()` to print certain messages (e.g. the help block) to `stdout`, which might lead to surprising behavior.

### Describe the solution you'd like

It would be nice to have an option

[2020-04-05 16:40] pksunkara commented on #1764
And it was closed without merging because it didn't actually fix the issue.

[2020-04-05 22:31] Dylan-DPC commented on #1788
@tzakharko hi thanks for the issue, would you be willing to send us a pr that makes this change? thanks

[2020-04-05 22:48] kahing commented on #1452
will there be a release soon with `default_values`?

[2020-04-05 22:50] pksunkara commented on #1452
It won't be backported to v2 since it is a feature. Expect this to be in v3

[2020-04-05 22:56] kahing commented on #1452
@pksunkara thanks for the super quick response! It's a little hard to figure out how to use this from https://github.com/clap-rs/clap/commit/c3b7c01f54d95c4907e33256f9d4dfe5f20ce1cc . Could you provide a small example?

[2020-04-06 08:00] tzakharko commented on #1788
@Dylan-DPC I am afraid I am neither familiar enough with the Clap codebase nor with Rust to figure out the best way of doing it at the moment. I suppose one would hav etc decouple the output settings  from the `Error` struct, so it's probably not trivial.

I have opened the issue mainly because @pksunkara asked me to do so in a discussion thread. I understand this might be lower priority.

[2020-04-06 08:42] NilsIrl commented on #1452
https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html is what you're looking for.

[2020-04-06 14:41] Dylan-DPC commented on #1788
@tzakharko that's fine we will mentor you if needed. It's a good way to learn rust :D

[2020-04-07 07:09] pickfire opened #1790 "Ability to style help messages"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Describe your use case

Configuration to allows styling help messages. It is helpful for example when styling help messages in a way to improves discover-ability of sub-commands or even **bold** and *emphasize* command description, or

[2020-04-07 07:48] tzakharko commented on #1788
@Dylan-DPC fair enough :) I will have a look, but I won't be able to allocate any time for this short term. I will put it on my agenda and let's keep the issue open for now.

[2020-04-07 09:00] pksunkara commented on #1790
What happens currently if you actually use the ansi escape codes in the usage messages right now?

[2020-04-07 09:12] pksunkara commented on #1452
This is an example in the test, https://github.com/clap-rs/clap/commit/c3b7c01f54d95c4907e33256f9d4dfe5f20ce1cc#diff-d8218b866ec5a9148d9d1d31ca8c87b3R457

[2020-04-07 13:53] CreepySkeleton commented on #1762
In fact, this there's a way to use string literals for long options:
[code]

But `-("...")` for short options is not supported. @pksunkara , what do you think about it?

[2020-04-07 13:58] pksunkara commented on #1762
Because we did not support `expr` for `short` in our macro definition.

Something similar to this line, https://github.com/clap-rs/clap/blob/master/src/macros.rs#L755, should be enough. But, as I said, I am leery about supporting `expr` like this.

[2020-04-07 14:00] CreepySkeleton commented on #1780
It's really weird. The only platform-dependent code in clap is located [here](https://github.com/clap-rs/clap/blob/master/src/util/osstringext.rs), and wasm32 is covered. I'll investigate it further later.

[2020-04-07 14:04] CreepySkeleton commented on #1762
We already have support for long options, just not for short ones which feels inconsistent.

[2020-04-07 14:15] CreepySkeleton commented on #1787
@pksunkara Copy-pasting comments, huh? 😉

[2020-04-07 15:54] pksunkara commented on #1777
This should be covered by the hooks suggestion in https://github.com/clap-rs/clap/issues/1634

[2020-04-07 15:54] #1777 closed

[2020-04-07 19:52] Dylan-DPC commented on #1786
hi @chungy , will you be willing to send in a pull request that adds this feature? thanks

[2020-04-07 20:50] chungy commented on #1786
I'll give a hand at it when I have time, yes.

[2020-04-08 13:18] nayeemrmn opened #1794 "Bug when grouping positional args with options"
### Rust Version

`rustc 1.42.0 (b8cedc004 2020-03-09)`

### Code

[code]

### Steps to reproduce the issue

`cargo run -- -h`

### Affected Version of `clap*`

2.33.0

### Actual Behavior Summary

[code]

`cargo run -- --option1 abcd` binds `abcd` to `pos1` and complains about conflict between `option1` and `pos1`

Blocks https://github.com/denoland/deno/pull/4635, ref https://github.com/denoland

[2020-04-08 13:29] pickfire commented on #1790
@pksunkara Oh, right now the ansi escape codes does not even work.
[code]
[code]

[2020-04-08 16:48] intgr commented on #850
By pksunkara's request, I tested with the example program in PR #1793, this issue is fixed.

[2020-04-08 17:22] #850 closed

[2020-04-08 17:52] OAyomide opened #1796 "Example 01b_quick_examples error"
### Clap version
2.33.0

### Where
https://github.com/clap-rs/clap/blob/master/examples/01b_quick_example.rs

### What's wrong
On line 40 and 53, the "short" examples were written as chars instead of strings. I tried just copy/pasting to try the code and I got compile errors.

I can make a PR for this. Unless I am missing something.
### How to fix
I changed to a string (double quotes) to get it to

[2020-04-08 18:08] CreepySkeleton commented on #1796
You see, the master branch is the development branch. Currently we're striving for 3.x release which won't be backward compatible with 2.x; the difference you outlined is one of the changes.

If you want examples for 2.x, you should checkout the appropriate tag, like this:

![image](https://user-images.githubusercontent.com/50968528/78818267-124d2380-79dd-11ea-8843-09b5a16616f8.png)

[2020-04-08 18:08] #1796 closed

[2020-04-08 18:55] Dylan-DPC commented on #1790
@pickfire hey, thanks for reporting this. do you want to work on this issue? feel free to submit a PR :)

[2020-04-09 04:23] arucil opened #1798 "Calling get_matches() after write_long_helpI() reports Non-unique argument name"
### Rust Version

`rustc 1.44.0-nightly (6dee5f112 2020-04-06)`

### Code

[code]

### Steps to reproduce the issue

1. Run `cargo run`
2. The program panics at the line where `get_matches()` is called:
<details>
<summary>Backtrace</summary>

[code]
</details>

### Affected Version of `clap*`

2.33.0

### Actual Behavior Summary

Calling `get_matches()` after calling the `write_long_help()` method

[2020-04-09 06:46] pksunkara commented on #572
Related to #1471

[2020-04-09 06:51] pksunkara commented on #568
#1793 is an attempt at fixing this in zsh.

[2020-04-09 07:13] pksunkara commented on #1073
@pickfire Since you worked on https://github.com/clap-rs/clap/pull/1710, do you think you can make a PR for this after testing that this is still an issue?

[2020-04-09 07:24] pksunkara commented on #1285
Should be fixed by #1736. cc @CreepySkeleton

[2020-04-09 07:25] pksunkara commented on #1297
Unfortunately, it is an issue with Rust `macro_rules!`. We use `$ident` and it does not allow `-`.

[2020-04-09 07:48] pksunkara commented on #1385
When you say its a global arg, it means you can specify it in any subcommand, not that you actually get that value in the subcommand.

[code]

@CreepySkeleton Do you concur?

[2020-04-09 08:03] pksunkara commented on #1506
You should be able to achieve this with `clap_derive` now. For normal clap use, this issue about feature request to add some helpers.

[2020-04-09 08:06] pksunkara commented on #1519
#1693 should be fixing this. I would like to close this issue in favour of that. Please reopen with arguments if I missed something.

[2020-04-09 08:06] #1519 closed

[2020-04-09 08:09] pksunkara commented on #1532
**NOTE**: `.help_short()` has been changed to `.mut_arg()`

[code]

[2020-04-09 08:29] pksunkara commented on #1750
@pickfire Did your suggestions PR fix this issue?

[2020-04-09 08:38] pksunkara commented on #1794
Yeah, this definitely looks like a bug. cc @CreepySkeleton

[2020-04-09 09:51] lf- opened #1800 "Regression in 3.x: trailing commas do not mix well with arg_enum!"
Hi! It looks like #1244 got lost in the move to v3.x. Based on my poking at the git log, it seems like it just never made it into the history of `master`. #1097 also. Below is a bug report for the bug itself:

### Rust Version

`rustc 1.44.0-nightly (485c5fb6e 2020-04-08)`

### Code

[code]

### Steps to reproduce the issue

1. `cargo new`; add the dependency to `Cargo.toml`
2. paste the above int

[2020-04-09 10:05] AuroransSolis opened #1801 "required_unless, required_unless_one, and required_unless_all for ArgGroup"
### Describe your use case

The issue this aims to solve is the lack of `required_unless`, `required_unless_one`, and `required_unless_all` for `ArgGroup`. For example, one might have the following:
[code]
One might imagine a different situation where `required_unless_one` or `required_unless_all` might be of use as well, but the only short example I could come up with is one demonstrating the use

[2020-04-09 10:09] pksunkara commented on #1800
Would appreciate if you can make a PR cherry picking those commits.

[2020-04-09 13:31] michael-smythe commented on #1693
@pksunkara Glad too see this is being worked on! I just wanted to add a comment since this is closing out #1519. I think the spec described by @CreepySkeleton is a really good step and a useful starting point. One thing that I think it lacks is the ability to have comments within your config file. This would be useful if you have a large number of options that are presented by the app, and it woul

[2020-04-09 16:09] pksunkara commented on #1351
Okay, so we cannot find what is an arg and what is not thus we cannot panic here and the current behaviour is the correct one.

[2020-04-09 16:09] #1351 closed

[2020-04-09 20:24] CreepySkeleton commented on #1385
@pksunkara Speaking for my personal intuition, I would expect global args to be accessible from everywhere. "Global" is in the tittle, anyway.

Not really sure if it would worth the effort, but I'd like to see it implemented. I'll be looking into it when I get to bugfixing, I'll decide then.

[2020-04-09 23:06] casey commented on #552
I just wanted to jump in and +1 the idea of producing output in an intermediate format, which can then be fed in to various back ends.

Since this output will be produced and consumed by code, JSON seems like a good choice, since it's simple and universally supported. TOML is also simple, but deep nesting in TOML gets weird.

This would also make the initial implementation very simple, just output

[2020-04-09 23:15] pksunkara commented on #1800
#1124 which is fix for #1067 is in v3.

[2020-04-09 23:19] lf- commented on #1800
That's super strange since I tried the above steps which are mentioned in the readme as how to install the latest development version and it definitely isn't doing trailing commas. That commit *is* in master_orig but I assume there was some restructuring since then that could have excluded it?

[2020-04-09 23:34] pksunkara commented on #1800
No, I meant, I checked the code and that code is in v3.

[2020-04-10 01:10] pickfire commented on #1790
@Dylan-DPC Nope, I will probably not work on this. Maybe I will work on the extra line config #1642.

[2020-04-10 01:12] Dylan-DPC commented on #1790
@pickfire sure no issues

[2020-04-10 02:00] #929 closed

[2020-04-10 02:00] #1491 closed

[2020-04-10 02:00] #1532 closed

[2020-04-10 02:00] #1644 closed

[2020-04-10 02:00] #1743 closed

[2020-04-10 02:11] CreepySkeleton commented on #1297
We could allow `($expr)` along with `$ident` so people can use `clap_app!( ("cool-ap") ...)`

[2020-04-10 02:12] CreepySkeleton commented on #1285
Yeah, right. Will get to it 11, should be done in a couple of days from then.

[2020-04-10 07:25] pksunkara opened #1803 "Improve debug implementation of Id"
I have an idea: Id can be represented as
[code]

instead of `type Id = u64`, possibly along with `Deref<u64>`, `PartialEq` and so on. This would also allow for nicer `Debug` impls for `Arg & App`.

I'll work on it after I'm done with interpolation.

_Originally posted by @CreepySkeleton in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjUyMjU2ODA4OnYy/pull_request_review_thre

[2020-04-10 08:41] #1480 closed

[2020-04-10 08:41] #1800 closed

[2020-04-10 12:18] j-delaney commented on #1801
I'm happy to take a shot at this if that's okay!

[2020-04-10 12:18] Dylan-DPC commented on #1801
Go ahead. Thanks

[2020-04-10 19:58] CreepySkeleton commented on #1790
Sidenote: on Windows < 10 ascii escape codes are not supported AFAIK. Do we care?

[2020-04-10 22:55] objectorange opened #1806 "Unable to get any Argument neither from options nor subcommand options"
### Rust Version

rustc 1.43.0-nightly (96bb8b31c 2020-03-05)

### Code

[code]

### Steps to reproduce the issues

This works (no arguments):
1. cargo run aliases

Main option does not work:
1. cargo run --alias 'alice' send --message 'hi' --to 'bob'
2. error: Found argument '--alias' which wasn't expected, or isn't valid in this context

Subcommand option does not work:
1. cargo run send --messa

[2020-04-10 22:59] CreepySkeleton commented on #1806
If I get this right, you're trying to run the binary as `cargo run <args>`. If so, you are doing it wrong because the args get passed to `cargo`, not to the binary. Do `cargo run -- <args>` instead.

[2020-04-10 23:02] objectorange commented on #1806
Tried but didn't work:
cargo run -- send --to 'Bob' --message 'hello'

[2020-04-10 23:04] objectorange commented on #1806
How do I run it through the binary?

[2020-04-10 23:14] CreepySkeleton commented on #1806
I can't reproduce.

Code:
[code]

[code]

[code]

Are you sure you're running it exactly as I do? Could you please post the error?

[2020-04-10 23:17] objectorange commented on #1806
Finished dev [unoptimized + debuginfo] target(s) in 0.04s
     Running `target/debug/main send --to 'YMTvOFRfdnacb5sQd8cJR40oqjdThxY0TW3F~0azZggrbeOHnytUJY~bf4z7o~4QYa6kKptNZ2wZGcua2LdDRh-8cTWJhLJ39jsaPFkW~650udTFpY4mObyLUQVA30vKdRBdTLp~2M-MNlMZnfTk7be1dQg-inNV7G0~M9Tp1yxxzGWa6Ll9TVYIvNL90n838~hmPk0M27duxNHtgfJq3m1BLkHRDDuptnNRizk48suLA9QC9eYB24zx5CfueP8jtozePDO15gNoHae9erRIpo3WtQkenqlr62LKh7B481~

[2020-04-10 23:19] CreepySkeleton commented on #1806
`clap` exits with 1 on parsing error. This is something unrelated to clap.

Just to be sure, could you please post the whole invocation, including the part you typed in and the output you get from it?

[2020-04-10 23:20] objectorange commented on #1806
$ cargo run -- send --to 'Bob' --message 'hello'
    Finished dev [unoptimized + debuginfo] target(s) in 0.02s
     Running `target/debug/main send --to Bob --message hello`
No 'message' parameter.

$ cargo run -- --alias Alice send --to Bob --message hello
Finished dev [unoptimized + debuginfo] target(s) in 0.02s
     Running `target/debug/main --alias Alice send --to Bob --message hello`
error:

[2020-04-10 23:21] CreepySkeleton commented on #1806
I think this is the part to blame:
[code]

[2020-04-10 23:26] CreepySkeleton commented on #1806
OK, the first fails because you're defining the argument as part of subcommand but yoy're trying to get it's value from top level. Use `ArgMatches::subcommand_matches` or `ArgMatches::subcommand`.

[2020-04-10 23:35] objectorange commented on #1806
Replaced with:

[code]
But still get same error.

[2020-04-10 23:41] objectorange commented on #1806
If I put this piece of code:
[code]
I get this output:
    Finished dev [unoptimized + debuginfo] target(s) in 0.84s
     Running `target/debug/main send --to Bob --message hello`
subcmd: send
No 'message' parameter.

[2020-04-10 23:41] CreepySkeleton commented on #1806
You were supposed to use this methods to get "submatches", and then extract the value from them. Please read the documentation to corresponding methods: https://docs.rs/clap/2.33.0/clap/struct.ArgMatches.html#method.subcommand_matches

Actually, if you're having trouble to wrap you head around raw clap, I recommend you to consider [`structopt`](https://github.com/TeXitoi/structopt) which has consi

[2020-04-10 23:45] CreepySkeleton commented on #1806
Then again, this is not how `.subcommand()` is supposed to be used. See the example: https://github.com/clap-rs/clap/blob/master/examples/20_subcommands.rs

[2020-04-10 23:45] CreepySkeleton commented on #1806
Oops, wrong link: https://github.com/clap-rs/clap/blob/v2.33.0/examples/20_subcommands.rs

[2020-04-10 23:47] objectorange commented on #1806
Sorry, trying to understand this. Based on what you can see I'm doing, what's the simplest way to use this library? I see a lot of examples but they seem to be portions of solutions and I'm unsure how to put them together.

[2020-04-10 23:47] CreepySkeleton commented on #1806
Sidenote: You seem to be using `.min/max_values` to limit the *size* of the value. This is not what these methods do, they limit *number* of values.

[2020-04-10 23:48] CreepySkeleton commented on #1806
I believe `structopt` will fit you charmingly.

[2020-04-10 23:50] CreepySkeleton commented on #1806
I'm converting this into discussion since it's not an issue with clap

[2020-04-10 23:50] #1806 closed

[2020-04-11 03:21] CreepySkeleton commented on #1297
This *is* allowed in 3.x

https://github.com/clap-rs/clap/blob/9060e3e56343c86f6a97c1e97aed83a9ac248e65/tests/macros.rs#L36-L42

Closing as solved

[2020-04-11 09:47] pickfire commented on #1750
I don't understand the problem.

[2020-04-11 10:17] pksunkara commented on #1750
This is exactly the same issue as #878. Marking this as duplicate and closing. @pickfire Maybe you can understand the problem from that issue better.

[2020-04-11 10:17] #1750 closed

[2020-04-11 10:19] pksunkara commented on #1750
@kamilogorek Could you check that issue and try the options that are mentioned there?

[2020-04-11 11:55] pickfire commented on #1073
@pksunkara Thanks for pinging me on this old issue, I am surprised you still remembered it. I will check and add it to the tests.

[2020-04-11 14:06] I60R opened #1807 "Add display_after for easier arg positioning in --help message"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Describe your use case

The same as for `Arg::display_order(usize)` but should be easier to apply

### Describe the solution you'd like

Add `Arg::display_after(&str)` method to position argument after another in `--help` output

### A

[2020-04-11 15:23] pickfire commented on #1073
@pksunkara No, that PR does not affect this. The output is still the same, probably.
[code]
But yes, the issue @BurntSushi is fixed. It recommends `--files-without-match` now. Should I still write a test for this?

[2020-04-11 15:35] staszewski commented on #220
@Vinatorul @milgner How did you manage to run this code? When i do `cargo run --features yaml` with cargo.toml looking like in this
[code]

i get error ```
:!cargo run --features yaml
error: Package `fun v0.1.0 (/Users/XXX/Projekty/rust/fun)` does not have these fe
atures: `yaml`

shell returned 101
[code]

[2020-04-11 15:43] pksunkara commented on #1073
Yes, please add a test. If you see [here](https://github.com/clap-rs/clap/blob/5d2876163028b71c5b170d290c730bf472de7b97/tests/opts.rs#L6), the current test works with only 1 option.

[2020-04-11 15:46] pickfire commented on #1630
Maybe we could also merge configuration with the commands, with the configuration in file overwritten by the configuration specified by command arguments?

[2020-04-11 15:48] pksunkara commented on #220
You have to do just `cargo run`.

[2020-04-11 16:43] #1285 closed

[2020-04-11 17:15] pksunkara commented on #847
Fixed by #963

[2020-04-11 17:15] #847 closed

[2020-04-11 23:58] pksunkara commented on #836
I made a refactor attempt at https://github.com/clap-rs/clap/tree/color. Wasn't enough.

@BurntSushi I am missing some functions for termcolor's Buffer.

* Appending buffers to each other
* Getting display width of buffer (not `len()`)

[2020-04-12 00:12] CreepySkeleton opened #1809 "Replace value_t* macros with functions"
### Make sure you completed the following tasks

- [x] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [x] Searched the closes issues

### Describe your use case

I'm trying to cure the `#[doc(hidden)]` infestation that is spread largely thought our codebase. I'm hitting the wall in the form of `Cannot leak crate-visible type in public interface`.

The problem is that cer

[2020-04-12 08:44] pksunkara commented on #1672
https://github.com/TeXitoi/structopt/commit/c1cd192c8ac12f0d59d144fd88c8085c71d3e8b8

[2020-04-12 08:53] #1297 closed

[2020-04-12 09:59] pksunkara commented on #1035
With the upcoming PR which would close this issue, for certain characters, you would need to wrap them in `"`. Otherwise, numbers will be allowed now

[code]

[2020-04-12 10:19] pksunkara commented on #1330
We could create an assert also.

[2020-04-12 11:41] BurntSushi commented on #836
@pksunkara Sorry, but I don't understand what you're asking. Could you please say more words? Examples and context would help a lot.

[2020-04-12 16:58] #1073 closed

[2020-04-12 17:26] CreepySkeleton commented on #1672
I tried to take it as is, it didn't work for some reason. I'll get to it a bit later, after I'll have dealt with my current list of things to do.

[2020-04-12 17:27] pksunkara commented on #1672
Yeah, was just noting it down here for future reference.

[2020-04-12 17:31] CreepySkeleton commented on #1035
Um, I don't get what problem is about.
[code]

There's no way to distinguish between `"string literal"` and `<any other expression>` so I think requiring values to be `&str` is a fair compromise.

[2020-04-12 17:59] pksunkara commented on #836
What's happening is, when we try to print help, currently clap treats them as ansi strings and creates severals strings and combines them later. A good example is [this](https://github.com/clap-rs/clap/blob/333b993481396d84197bd6e5b54c526a3b04e6a1/src/output/help.rs#L439) function. If I am passing around just 1 buffer for everything to write into, this  will not work. So, I wanted to create buffer

[2020-04-12 21:16] CreepySkeleton opened #1815 "clap_derive: Arg::short does not accept "..." anymore, it needs char"
`Arg::short` in clap 2.x is defined as `.short("...")` while in clap 3.0 it's going to take `char`.

All the examples/tests for the derive use the obsoleted `"..."` form, which is supported by [this hack](https://github.com/clap-rs/clap/blob/81457178fa7e055775867ca659b37798b5ae9584/clap_derive/src/attrs.rs#L150-L154).

This should be fixed: tests/examples/docs need to be adjusted, the hack should

[2020-04-12 21:56] pksunkara commented on #984
The issue in the original comment has been fixed on master. `takes_value` and `default_value` situation is described in https://github.com/clap-rs/clap/issues/1545

[2020-04-12 21:56] #984 closed

[2020-04-12 22:19] pksunkara commented on #1772
The `min_values` and `occurrences` issue should be fixed in #1026. Let's leave it out of the discussion here.

Can you explain what this means? I don't understand the sentence.

I think we should have `min_values = 0` and `multiple = true` for both but `required = true` for `Vec<T>`.

[2020-04-12 22:28] #1035 closed

[2020-04-12 22:28] #1347 closed

[2020-04-12 22:28] #1762 closed

[2020-04-13 08:04] TeXitoi commented on #1772
I really disagree. Most of the time you're using a Vec, you just want the list of parameters, and you don't really care if an empty parameter was provided. Forcing using an option of vec in the most common case would impact a lot the ergonomics.

[2020-04-13 08:07] #1809 closed

[2020-04-13 12:20] BurntSushi commented on #836
@pksunkara Thanks, that helps a bit. It might help for you to read the docs on the internal `WindowBuffer` type to get an idea of what `termcolor` is doing here: https://docs.rs/termcolor/1.1.0/src/termcolor/lib.rs.html#1467

In particular, the whole point of `termcolor` is to provide a _cross platform_ API that works even with the Windows console API. When using the Windows console APIs, `termcol

[2020-04-13 13:36] pksunkara commented on #836
Yup, I got that part from reading the code. What I was asking was basically if we can support the append somehow. Maybe refactoring the WindowsBuffer to be like:

[code]

(basically `Vec<current WindowsBuffer>`). This would make it easy for us to support appending buffers to each other without recalculating the `colors` field all the time.

Because non-windows buffer has the ansi codes in the stri

[2020-04-13 13:52] BurntSushi commented on #836
@pksunkara That's a possibility. I'm open to PRs for that. I don't think there should be any breaking changes. It still seems to me like you should be able to refactor the code so that you don't append to buffers. That is, instead of:

[code]

you would do

[code]

And then at that point, it should be possible to swap out `String` for `termcolor::Buffer`.

Yes. But wasn't that true before? I'm mis

[2020-04-13 14:00] pksunkara commented on #836
It is a problem currently too. I was hoping to fix it with this refactor and thats why I mentioned it originally.

I will give it another attempt and see if I really need the appending. Thanks for letting me bounce my thoughts with you.

[2020-04-13 14:13] BurntSushi commented on #836
@pksunkara No problem. If it ends up being impossible, then I'm open to making it possible to append `termcolor::Buffer` values.

Note that I would definitely recommend against using a `regex` to strip ANSI formatting because of the weight of that dependency. My link was mostly just meant as an example. I think a small hand written search routine would be best. :-) (Arguably, `tabwriter` should do

[2020-04-13 14:14] pksunkara commented on #836
I will probably end up building a non colored string at the same time and using it for calculation

[2020-04-13 17:11] sharkdp commented on #1026
In [`fd`](https://github.com/sharkdp/fd), we also have a use case for this: We have a `--exec`/`-x` option that takes a "command" in the form of multiple values, such that users do not have to add quotes and we do not have to shell-split it:
[code]

We would now like to [allow users to execute several commands](https://github.com/sharkdp/fd/issues/406):
[code]
However, with the limitation describe

[2020-04-13 17:53] pksunkara commented on #1026
We will be definitely fixing this before 3.0 is out. This is one of the highest priority issue IMO.

[2020-04-13 23:16] NickHackman commented on #1361
I think this would be a cool feature to implement, if you don't mind I'd like to clarify my approach and see if that's a good one. Prior to proceeding forward. :slightly_smiling_face:

First problem clarification,
The goal is to be able to have sub-commands of both `long` and `short` that are in the form of Flags and allow them to be combined with flags?

## Potential Syntax
[code]

Only downside

[2020-04-13 23:18] CreepySkeleton commented on #836
Whenever I see a technical dispute is going on, I can't resist the urge to jump in, you know me.

I would probably end up with storing an error as `Vec<(String, Color)>` on both Unix and Windows instead of melding escapes into it. When the time comes and error is *requested* to be rendered, we just check where it's being rendered to - if it's console/TTY, we're using coloring API/escapes, but if i

[2020-04-13 23:41] casey opened #1820 "Allow accepting an argument by position and by flag"
It would be nice to allow CLIs to a single argument both by position, and by flag.

A possible API for this would be to add `Arg::positional(bool)`, that when passed `true` makes an arg be accepted by position, even if it already has a long or short flag.

The reason this came up is that wrote a CLI with Clap that takes all of it arguments by flag. After releasing the binary, it's clear that one o

[2020-04-13 23:58] pksunkara commented on #1820
I am really hesitant about making this part of clap itself. Clap gives users the tools to do this themselves and I think that is enough for the scope of Clap.

Relevant discussion in #1818

[2020-04-14 00:11] CreepySkeleton commented on #1820
I'll go ahead an close this because the described use case is already possible - and not too complicated - with two args and `required_unless`.

[2020-04-14 00:15] Dylan-DPC commented on #1820
I don't see why this can't be a part of clap. Keeping it open for future exploration

[2020-04-14 00:27] CreepySkeleton commented on #1820
If I get it right, this snipped is exactly what @casey wants:
[code]

This is done already, what's left to explore?

[2020-04-14 00:54] CreepySkeleton commented on #1361
@NickHackman Nice to see you're interested! 👌  Feel free to ask for anything you need.

Regarding syntax: we must support both long and short option subcommands, like `-Q` and `--query` in the first comment. I have some ideas but I'd like to hear your fresh opinion first 😉

Implementation... well, it will most certainly require modifications in `App`, and it will also require modifications in the

[2020-04-14 05:07] NickHackman commented on #1361
Exactly, so I think the easiest solution would be...

## Solution
1. use enum mentioned above
2. add `App::new_flag`
3. In `parse_short_arg` and `parse_long_arg` add a check for any of the `flag_subcommands` then call `parse_subcommand` instead of `parse_flag`
4. Slight modification of `parse_subcommand` to play nice with the `Enum`

## Performance

- In `parse_short_arg` this will not cause an is

[2020-04-14 05:23] casey commented on #1820
Thanks for the workaround, I'll do that for now. I'm not so much thinking of it as deprecating the option for the positional, since options can be more readable, for example in shell scripts.

There are some negatives to using two args. One is that because I'm calling a number of additional methods, those need to be duplicated. Using structopt, but would likely be similar with clap-derive:

[code]

[2020-04-14 08:30] pksunkara commented on #1820
You can use an arg group for that.

You would be adding just one more condition to check if the argument is present or not. You wouldn't be needing anymore duplication. Please give some example if I am wrong.

I am still not convinced that this is needed to be handled by clap. Let's leave this open and see if more people ask for this.

[2020-04-14 09:10] casey commented on #1820
I should have been more clear, what I was referring to was the additional configuration of each arg that needs to be duplicated and now kept in sync, in this case `empty_values = false` and `parse(try_from_os_str = InputTarget::try_from_os_str)`.

[2020-04-14 12:08] kamilogorek commented on #878
Answering question from https://github.com/clap-rs/clap/issues/1750

As mentioned in the original issue, when `InferSubcommands` or `AllowExternalSubcommands` is used it works just fine. However, we cannot use them, as our CLI requires multiple subcommands, as well as arguments and it's too easy to miss incorrect input.

[2020-04-14 14:34] kpcyrd opened #1822 "zsh: optional flag with takes_value breaks completions"
### Make sure you completed the following tasks

- [X] Searched the [discussions](https://github.com/clap-rs/clap/discussions)
- [X] Searched the closes issues

### Code

[code]

### Steps to reproduce the issue

[code]

### Version

* **Rust**: 1.42.0
* **Clap**: 2.33.0

### Actual Behavior Summary

`completion-bug -f x z<tab>` doesn't complete anything.

This affects https://github.com/kpcyrd/sn

[2020-04-14 17:07] pksunkara opened #1823 "Rename Arg::help to Arg::about"
Rename `Arg::help` to `Arg::about` to make it consistent with `App`. Similarly `Arg::long_help`. Also rename the respective field names.

[2020-04-14 20:39] creativcoder commented on #1823
Hey @pksunkara, Can I take this up?

[2020-04-14 20:48] CreepySkeleton commented on #1820
This is totally expected when you want to use the same message for different args. For example, consider this `clap`-unrelated code:
[code]

`clap` is no different here.

Yeah, `structopt` isn't that handy when it comes to `requires_if*`; this is a [known problem](https://github.com/TeXitoi/structopt/issues/104). So far, nobody has been able to propose a design that unambiguous _and_ easy to use _

[2020-04-14 20:55] CreepySkeleton commented on #1823
@creativcoder Sure, go ahead!

[2020-04-14 21:38] #1803 closed

[2020-04-14 21:43] pksunkara commented on #1820
Can he do `flatten` to reuse the defined arg?

[2020-04-14 21:45] CreepySkeleton commented on #1820
He can't since the flags are not *the same*. And even if he could, I hardly see a point.15.04.2020, 00:43, "Pavan Kumar Sunkara" <notifications@github.com>:
Can he do flatten to reuse the defined arg?

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-14 22:01] pksunkara commented on #1695
I actually removed the colorizing for default values in #1824. I wanted to rethink quite a bit on how to display all kinds of things like these. But, it's for v3.1

[2020-04-14 22:03] pksunkara commented on #1456
I actually removed the colorizing for default values and possible values and aliases in #1824. I wanted to rethink quite a bit on how to display this stuff while also taking #1695 into account. I am renaming this issue.

[2020-04-14 22:06] pksunkara commented on #1246
This is fixed in #1824 because I removed the colors for arg metadata. Re-adding them back will be addressed in #1456. And that should address this properly. Keeping this open until then.

[2020-04-14 22:46] Dylan-DPC commented on #1823
I don't see the point of renaming this, it will be another change for a user upgrading from 2.x land to 3.x without much reason.